Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

chore: Update playground `package-lock.json` (#4029)
  web/playground/package-lock.json
Due: none

.
  prqlc/prqlc/Project.prql
  prqlc/prqlc/artists.prql
Due: none

.
  prqlc/prqlc/src/cli.rs
Due: no-dbg

devops: task to run coverage locally
  .gitignore
  Taskfile.yml
Due: none

Update prqlc/prqlc/tests/test.rs
  prqlc/prqlc/tests/test.rs
Due: no-dbg

tests: Add tests for prqlc CLI
  prqlc/prqlc/tests/snapshots/test__debug.snap
  prqlc/prqlc/tests/test.rs
Due: no-dbg

.
  .pre-commit-config.yaml
  prqlc/prqlc/tests/snapshots/test__debug.snap
Due: none

Fix colors
  prqlc/prql-compiler/src/error_message.rs
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli.rs
  prqlc/prqlc/tests/snapshots/test__debug.snap
  prqlc/prqlc/tests/test.rs
Due: no-dbg

Actually much easier, just use concolor
  Cargo.lock
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli.rs
Due: no-dbg

Update prqlc/prqlc/src/cli.rs
  prqlc/prqlc/src/cli.rs
Due: no-dbg

test: Add tests for prqlc CLI, fix colors (#4031)
  .pre-commit-config.yaml
  Cargo.lock
  prqlc/prql-compiler/src/error_message.rs
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli.rs
  prqlc/prqlc/tests/snapshots/test__debug.snap
  prqlc/prqlc/tests/test.rs
Due: no-dbg

Add root to `SourceTree`
  prqlc/prql-compiler/src/lib.rs
  prqlc/prql-compiler/src/semantic/mod.rs
  prqlc/prql-compiler/src/sql/operators.rs
  prqlc/prqlc/src/cli.rs
  prqlc/prqlc/tests/project/Project.prql
  prqlc/prqlc/tests/test.rs
Due: no-dbg

upgrade
  prqlc/prql-compiler/src/error_message.rs
  prqlc/prqlc/src/cli.rs
Due: no-dbg

test: Allow `prqlc fmt` to work on paths (#4028)
  CHANGELOG.md
  prqlc/prql-compiler/src/lib.rs
  prqlc/prql-compiler/src/semantic/mod.rs
  prqlc/prql-compiler/src/sql/operators.rs
  prqlc/prqlc/src/cli.rs
  prqlc/prqlc/tests/project/Project.prql
  prqlc/prqlc/tests/project/artists.prql
  prqlc/prqlc/tests/test.rs
Due: no-dbg, prql-codeblock

feat: named unions
  prqlc/prql-compiler/src/codegen/types.rs
  prqlc/prql-compiler/src/semantic/resolver/types.rs
  prqlc/prql-compiler/tests/integration/resolving.rs
  prqlc/prql-compiler/tests/integration/snapshots/integration__resolving__resolve_types_04.snap
  prqlc/prqlc-parser/src/types.rs
Due: no-dbg

fix
  prqlc/Taskfile.yaml
  prqlc/prql-compiler/src/codegen/types.rs
  prqlc/prql-compiler/src/sql/gen_expr.rs
  prqlc/prql-compiler/tests/integration/error_messages.rs
  prqlc/prql-compiler/tests/integration/sql.rs
  prqlc/prqlc-parser/src/interpolation.rs
  prqlc/prqlc/tests/snapshots/test__debug.snap
Due: no-dbg

fix
  prqlc/prql-compiler/tests/integration/snapshots/integration__resolving__resolve_types_04.snap
Due: none

feat: named unions (#4038)
  prqlc/Taskfile.yaml
  prqlc/prql-compiler/src/codegen/types.rs
  prqlc/prql-compiler/src/semantic/resolver/types.rs
  prqlc/prql-compiler/src/sql/gen_expr.rs
  prqlc/prql-compiler/tests/integration/error_messages.rs
  prqlc/prql-compiler/tests/integration/resolving.rs
  prqlc/prql-compiler/tests/integration/sql.rs
  prqlc/prqlc-parser/src/interpolation.rs
  prqlc/prqlc-parser/src/types.rs
  prqlc/prqlc/tests/snapshots/test__debug.snap
Due: no-dbg

devops(prqlc): test coverage
  .gitignore
  flake.nix
  prqlc/Taskfile.yaml
Due: none

feat: improve codegen for functions
  prqlc/prql-compiler/src/codegen/ast.rs
  prqlc/prql-compiler/tests/integration/bad_error_messages.rs
  prqlc/prql-compiler/tests/integration/resolving.rs
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__cast.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__set_ops_remove.snap
Due: no-dbg

docs(changelog): Add sloc
  CHANGELOG.md
Due: prql-codeblock

docs(changelog): Add sloc (#4039)
  CHANGELOG.md
Due: prql-codeblock

devops: Add `nextest` to `task setup-dev`
  Taskfile.yml
Due: none

devops: Add `nextest` to `task setup-dev` (#4042)
  Taskfile.yml
Due: none

ci: Use `llvm-cov` in CI
  .github/workflows/tests.yaml
  .gitignore
Due: none

.
  .github/workflows/tests.yaml
Due: none

ci: Use `llvm-cov` in CI (#4044)
  .github/workflows/tests.yaml
  .gitignore
Due: none

ci: Use branch coverage
  .github/workflows/tests.yaml
Due: none

chore: Remove `tarpaulin` references
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/elixir/native/prql/src/lib.rs
Due: no-dbg

chore: Remove `tarpaulin` references (#4046)
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/elixir/native/prql/src/lib.rs
Due: no-dbg

Change to using `llvm-cov`
  Taskfile.yml
Due: none

feat: improve codegen for functions (#4040)
  prqlc/prql-compiler/src/codegen/ast.rs
  prqlc/prql-compiler/tests/integration/bad_error_messages.rs
  prqlc/prql-compiler/tests/integration/resolving.rs
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__cast.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__set_ops_remove.snap
Due: no-dbg

ci: Temporarily disable zig tests
  .github/workflows/test-clib.yaml
Due: none

ci: Temporarily disable zig tests (#4051)
  .github/workflows/test-clib.yaml
Due: none

ci: Pin Zig compiler version
  .github/workflows/test-clib.yaml
Due: none

ci: Pin Zig compiler version (#4053)
  .github/workflows/test-clib.yaml
Due: none

refine: Add notes to generic ast code
  prqlc/prqlc-ast/src/expr/generic.rs
Due: no-dbg

refine: Add notes to generic ast code (#4054)
  prqlc/prqlc-ast/src/expr/generic.rs
Due: no-dbg

feat: Allow nested interpolated strings in lexer
  prqlc/prql-compiler/tests/integration/parser.rs
  prqlc/prqlc-parser/src/expr.rs
  prqlc/prqlc-parser/src/interpolation.rs
  prqlc/prqlc-parser/src/lexer.rs
Due: no-dbg

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
