Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.(rs|snap)$'
  - repo: https://github.com/crate-ci/typos
    rev: v1
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          # TODO: This doesn't seem to work, would be great to fix.
          # https://github.com/PRQL/prql/issues/3078
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.5
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: clippy
        stages: [manual]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint
  # Link checker using local hooks with language: rust
  # Pre-commit will automatically install lychee via cargo
  - repo: local
    hooks:
      - id: lychee
        name: lychee (local links only)
        entry: lychee
        language: rust
        additional_dependencies: ["cli:lychee:0.20.1"]
        files: \.(md|rst)$
        exclude: ^web/website/themes/
        args:
          - --no-progress
          # For PRs: whitelist PRQL domains and local files only
          # Pattern matches:
          #   - github.com/PRQL/* and github.com/prql/*
          #   - prql-lang.org/*
          #   - raw.githubusercontent.com/PRQL/* and raw.githubusercontent.com/prql/*
          #   - file://* (local/relative links)
          # All other external links are skipped for faster PR checks
          - --include=^(https://(github\.com/(PRQL|prql)|prql-lang\.org|raw\.githubusercontent\.com/(PRQL|prql))|file://)
      - id: lychee-all
        name: lychee-all (all links)
        entry: lychee
        language: rust
        additional_dependencies: ["cli:lychee:0.20.1"]
        stages: [manual]
        files: \.(md|rst)$
        exclude: ^web/website/themes/
        args: ["--config=.config/lychee.toml", "--no-progress"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote

ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, lychee, lychee-all]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

fix: Improve error messages for missing main pipeline (#5565)
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/tests/integration/error_messages.rs
Due: no-dbg

fix: Provide clear error for empty tuple/array in from (#4317)
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/tests/integration/bad_error_messages.rs
Due: no-dbg

fix: improve error message for negative numbers in transforms
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/tests/integration/bad_error_messages.rs
Due: no-dbg

fix: Provide clear error for empty tuple/array in from (#5564)
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/tests/integration/bad_error_messages.rs
Due: no-dbg

refactor: Remove 2nd person from error messages
  CLAUDE.md
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/tests/integration/bad_error_messages.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: lychee, no-dbg

refactor: Remove 2nd person from error messages (#5567)
  CLAUDE.md
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/tests/integration/bad_error_messages.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: lychee, no-dbg

refactor: Move improved error messages to error_messages.rs
  prqlc/prqlc/tests/integration/bad_error_messages.rs
  prqlc/prqlc/tests/integration/error_messages.rs
Due: no-dbg

fix: improve error message for negative numbers in transforms (#5566)
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/tests/integration/bad_error_messages.rs
  prqlc/prqlc/tests/integration/error_messages.rs
Due: no-dbg

chore: upgrade mdbook to 0.5.0
  Cargo.lock
  web/book/Cargo.toml
  web/book/book.toml
  web/book/src/lib.rs
  web/book/src/main.rs
  web/book/src/reference/stdlib/transforms/sort.md
Due: lychee, no-dbg

Fix: Reorder imports in `web/book/src/lib.rs`
  web/book/src/lib.rs
Due: no-dbg

fix: lock mdbook to 0.4.52 to avoid breaking changes in 0.5.0
  .github/workflows/build-web.yaml
  .github/workflows/tests.yaml
Due: none

fix: lock mdbook to 0.4.52 to avoid breaking changes in 0.5.0 (#5572)
  .github/workflows/build-web.yaml
  .github/workflows/tests.yaml
Due: none

Revert book.toml changes
  web/book/book.toml
Due: none

fix: DISTINCT ON to include wildcard when projection is empty (#5562)
  CLAUDE.md
  prqlc/prqlc/src/sql/gen_query.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: lychee, no-dbg

Update current status date to December 2025
  README.md
Due: lychee

Update current status date to December 2025 (#5573)
  README.md
Due: lychee

feat: Add Raku grammar
  grammars/raku/README.md
  grammars/raku/prql.rakumod
  grammars/raku/t/arithmetics.rakutest
  grammars/raku/t/arrays.rakutest
  grammars/raku/t/datetime.rakutest
  grammars/raku/t/full_queries.rakutest
  grammars/raku/t/identifiers.rakutest
  grammars/raku/t/misc.rakutest
  grammars/raku/t/numbers.rakutest
  grammars/raku/t/operators.rakutest
  grammars/raku/t/strings.rakutest
  grammars/raku/t/tuples.rakutest
Due: lychee

Add Raku grammar file to changelog
  CHANGELOG.md
Due: lychee, prql-codeblock

fix: lock mdbook preprocessors to versions compatible with mdbook 0.4.x
  .github/workflows/build-web.yaml
Due: none

fix: compute Cargo.lock hash with shell to avoid hashFiles traversal issue
  .github/actions/build-prqlc-c/action.yaml
  .github/actions/build-prqlc/action.yaml
  .github/actions/time-compilation/action.yaml
  .github/workflows/build-web.yaml
  .github/workflows/claude.yaml
  .github/workflows/release.yaml
  .github/workflows/test-java.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-php.yaml
  .github/workflows/test-prqlc-c.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-rust.yaml
  .github/workflows/tests.yaml
Due: none

fix: lock mdbook preprocessors to versions compatible with mdbook 0.4.x (#5577)
  .github/actions/build-prqlc-c/action.yaml
  .github/actions/build-prqlc/action.yaml
  .github/actions/time-compilation/action.yaml
  .github/workflows/build-web.yaml
  .github/workflows/claude.yaml
  .github/workflows/release.yaml
  .github/workflows/test-java.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-php.yaml
  .github/workflows/test-prqlc-c.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-rust.yaml
  .github/workflows/tests.yaml
Due: none

Move into lib/ directory
  grammars/raku/lib/prql.rakumod
  grammars/raku/t/arithmetics.rakutest
  grammars/raku/t/arrays.rakutest
  grammars/raku/t/datetime.rakutest
  grammars/raku/t/full_queries.rakutest
  grammars/raku/t/identifiers.rakutest
  grammars/raku/t/misc.rakutest
  grammars/raku/t/numbers.rakutest
  grammars/raku/t/operators.rakutest
  grammars/raku/t/strings.rakutest
  grammars/raku/t/tuples.rakutest
Due: none

fix: resolve actionlint pre-commit failure by properly disabling test-taskfile job
  .github/workflows/tests.yaml
Due: none

Add META6.json file
  grammars/README.md
  grammars/raku/META6.json
  grammars/raku/README.md
Due: lychee

Add RAKU_RAKU_ARGUMENTS to mega-linter configuration
  .mega-linter.yaml
Due: none

Update RAKU_RAKU_ARGUMENTS path to relative
  .mega-linter.yaml
Due: none

feat: Add Raku grammar (#5576)
  .mega-linter.yaml
  CHANGELOG.md
  grammars/README.md
  grammars/raku/META6.json
  grammars/raku/README.md
  grammars/raku/lib/prql.rakumod
  grammars/raku/t/arithmetics.rakutest
  grammars/raku/t/arrays.rakutest
  grammars/raku/t/datetime.rakutest
  grammars/raku/t/full_queries.rakutest
  grammars/raku/t/identifiers.rakutest
  grammars/raku/t/misc.rakutest
  grammars/raku/t/numbers.rakutest
  grammars/raku/t/operators.rakutest
  grammars/raku/t/strings.rakutest
  grammars/raku/t/tuples.rakutest
Due: lychee, prql-codeblock

fix: Lineage traces through CTEs to source tables
  prqlc/prqlc/src/semantic/resolver/inference.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__genre_counts.snap
Due: no-dbg

refactor: simplify lineage tracing and add missing test
  .typos.toml
  prqlc/prqlc/src/semantic/resolver/inference.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
Due: no-dbg

test: add coverage for direct table lineage fallback path
  prqlc/prqlc/src/semantic/resolver/mod.rs
Due: no-dbg

chore: add worktrunk config with CoW for target directory
  .config/wt.toml
Due: none

chore: add worktrunk config with CoW for target directory (#5582)
  .config/wt.toml
Due: none

fix: Add ORDER BY fallback for Snowflake window functions
  prqlc/prqlc/src/sql/dialect.rs
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: Add ORDER BY fallback for Snowflake window functions (#5583)
  prqlc/prqlc/src/sql/dialect.rs
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: error when table variable used in scalar context
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: Handle lineage correctly when group pipeline simplifies to non-TransformCall
  prqlc/prqlc/src/semantic/resolver/flatten.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: error when table variable used in scalar context (#5585)
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

chore: Lock mdbook dependencies to versions compatible with 0.4.x
  Taskfile.yaml
Due: none

fix: Handle lineage correctly when group pipeline simplifies to non-TransformCall (#5584)
  prqlc/prqlc/src/semantic/resolver/flatten.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: return error for join referencing inaccessible table (#5280)
  CLAUDE.md
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/inference.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/sql/gen_query.rs
Due: lychee, no-dbg
