Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

chore: Changelog for 0.9.2
  CHANGELOG.md
Due: prql-codeblock

chore: Bump versions to 0.9.2
  .github/actions/build-prql-python/action.yaml
  .github/actions/build-prqlc/action.yaml
  .github/actions/time-compilation/action.yaml
  .github/workflows/build-web.yaml
  .github/workflows/check-links-book.yaml
  .github/workflows/test-all.yaml
  .github/workflows/test-lib.yaml
  .github/workflows/test-rust.yaml
  .github/workflows/test-taskfile.yaml
  Cargo.lock
  Cargo.toml
  bindings/prql-elixir/native/prql/Cargo.toml
  bindings/prql-js/package-lock.json
  bindings/prql-js/package.json
  crates/prql-compiler-macros/Cargo.toml
  crates/prql-compiler/Cargo.toml
  crates/prql-parser/Cargo.toml
  crates/prqlc/Cargo.toml
  crates/tests_misc/Cargo.toml
  web/book/src/project/target.md
  web/playground/package-lock.json
  web/playground/package.json
Due: none

web: Try removing slash for playground data
  web/playground/src/workbench/duckdb.js
Due: none

test: Ignore `*.html` in prettier until go-template is fixed (#3067)
  .prettierignore
  .prettierrc.yaml
  bindings/prql-js/tests/test_all.js
  web/book/highlight-prql.js
  web/book/mdbook-admonish.css
  web/book/src/reference/syntax/README.md
  web/playground/generateBook.js
  web/playground/src/index.css
  web/playground/src/index.js
  web/playground/src/sidebar/Sidebar.js
  web/playground/src/workbench/Workbench.js
  web/playground/src/workbench/duckdb.js
  web/website/themes/prql-theme/static/style.css
Due: none

web: Try reverting duckdb-wasm
  web/playground/package.json
Due: none

chore: Fix some book links (#3068)
  web/website/content/posts/2023-02-02-one-year/_index.md
Due: none

chore: Fix some links (#3066)
  CHANGELOG.md
  web/book/src/project/contributing/development.md
  web/website/content/posts/2023-02-02-one-year/_index.md
Due: prql-codeblock

chore: Changelog for 0.9.2 (#3069)
  CHANGELOG.md
Due: prql-codeblock

docs: Changes from prettier
  CHANGELOG.md
  bindings/prql-js/tests/test_all.js
  web/book/highlight-prql.js
  web/book/mdbook-admonish.css
  web/book/src/reference/syntax/README.md
  web/playground/generateBook.js
  web/playground/src/index.css
  web/playground/src/index.js
  web/playground/src/sidebar/Sidebar.js
  web/playground/src/workbench/Workbench.js
  web/playground/src/workbench/duckdb.js
  web/website/content/posts/2023-02-02-one-year/_index.md
  web/website/themes/prql-theme/static/style.css
Due: prql-codeblock

web: Fix prefect link
  web/website/content/_index.md
Due: none

web: Try reverting duckdb-wasm (#3072)
  web/playground/package-lock.json
  web/playground/package.json
Due: none

web: Try removing slash for playground data (#3071)
  web/playground/src/workbench/duckdb.js
Due: none

docs: Changes from prettier (#3073)
  CHANGELOG.md
  web/website/content/posts/2023-02-02-one-year/_index.md
Due: prql-codeblock

chore: Bump versions to 0.9.2 (#3070)
  .github/actions/build-prql-python/action.yaml
  .github/actions/build-prqlc/action.yaml
  .github/actions/time-compilation/action.yaml
  .github/workflows/build-web.yaml
  .github/workflows/check-links-book.yaml
  .github/workflows/test-all.yaml
  .github/workflows/test-lib.yaml
  .github/workflows/test-rust.yaml
  .github/workflows/test-taskfile.yaml
  Cargo.lock
  Cargo.toml
  bindings/prql-elixir/native/prql/Cargo.toml
  bindings/prql-js/package-lock.json
  bindings/prql-js/package.json
  crates/prql-compiler-macros/Cargo.toml
  crates/prql-compiler/Cargo.toml
  crates/prql-parser/Cargo.toml
  crates/prqlc/Cargo.toml
  crates/prqlc/src/cli.rs
  crates/tests_misc/Cargo.toml
  web/book/src/project/target.md
  web/playground/package-lock.json
  web/playground/package.json
Due: no-dbg

web: Fix prefect link (#3075)
  web/website/content/_index.md
Due: none

fix
  web/playground/src/workbench/Workbench.js
  web/playground/src/workbench/duckdb.js
Due: none

fix: playground csv loading (#3076)
  web/playground/src/workbench/Workbench.js
  web/playground/src/workbench/duckdb.js
Due: none

web: Upgrade duckdb-wasm
  web/playground/package-lock.json
  web/playground/package.json
Due: none

web: Upgrade duckdb-wasm (#3079)
  web/playground/package-lock.json
  web/playground/package.json
Due: none

web: Add bootstrap map files
  web/website/themes/prql-theme/static/plugins/bootstrap/bootstrap.bundle.min.js.map
  web/website/themes/prql-theme/static/plugins/bootstrap/bootstrap.min.css.map
Due: none

chore: Backport #3079 to `web` (#3082)
  web/playground/package-lock.json
  web/playground/package.json
Due: none

Revert "[pre-commit.ci] auto fixes from pre-commit.com hooks"
  web/website/themes/prql-theme/static/plugins/bootstrap/bootstrap.bundle.min.js.map
  web/website/themes/prql-theme/static/plugins/bootstrap/bootstrap.min.css.map
Due: none

devops: Remove prettier overlap with .gitignore
  .prettierignore
Due: none

.
  .pre-commit-config.yaml
Due: none

devops: Remove prettier overlap with .gitignore (#3084)
  .pre-commit-config.yaml
  .prettierignore
Due: none

build: not require VCRUNTIME140.dll for prqlc.exe
  .github/actions/build-prqlc/action.yaml
Due: none

web: Fix links
  .github/CONTRIBUTING.md
  .github/workflows/README.md
  CHANGELOG.md
  README.md
  web/book/src/project/contributing/README.md
  web/playground/README.md
  web/website/config.yml
  web/website/content/faq.md
  web/website/content/posts/2022-05-19-examples.md
Due: prql-codeblock

web: Fix links (#3085)
  .github/CONTRIBUTING.md
  .github/workflows/README.md
  CHANGELOG.md
  README.md
  web/book/src/project/contributing/README.md
  web/playground/README.md
  web/website/config.yml
  web/website/content/faq.md
  web/website/content/posts/2022-05-19-examples.md
Due: prql-codeblock

First cut draft of revised Tutorial pages - Relations, Filtering, Aggregation
  web/book/src/tutorial/aggregation.md
  web/book/src/tutorial/filtering.md
  web/book/src/tutorial/relations.md
Due: none

ci: fix GITHUB_ENV
  .github/actions/build-prqlc/action.yaml
Due: none

chore: Backport #3085 to `web` (#3087)
  .github/CONTRIBUTING.md
  .github/workflows/README.md
  CHANGELOG.md
  README.md
  web/book/src/project/contributing/README.md
  web/playground/README.md
  web/website/config.yml
  web/website/content/faq.md
  web/website/content/posts/2022-05-19-examples.md
Due: prql-codeblock

web: Add bootstrap map files (#3083)
  web/website/themes/prql-theme/static/plugins/bootstrap/bootstrap.bundle.min.js.map
  web/website/themes/prql-theme/static/plugins/bootstrap/bootstrap.min.css.map
Due: none

chore: Backport #3083 to `web` (#3089)
  web/website/themes/prql-theme/static/plugins/bootstrap/bootstrap.bundle.min.js.map
  web/website/themes/prql-theme/static/plugins/bootstrap/bootstrap.min.css.map
Due: none

ci: only sets the flag when releasing
  .github/actions/build-prqlc/action.yaml
Due: none

ci: not require VCRUNTIME140.dll for to execute release version of prqlc.exe (#3086)
  .github/actions/build-prqlc/action.yaml
Due: none

ci: update iFaxity/wait-on-action to use node.js 16
  .github/workflows/test-rust.yaml
Due: none

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
