Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.(rs|snap)$'
  - repo: https://github.com/crate-ci/typos
    rev: v1
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          # TODO: This doesn't seem to work, would be great to fix.
          # https://github.com/PRQL/prql/issues/3078
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.5
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: clippy
        stages: [manual]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint
  # Link checker using local hooks with language: rust
  # Pre-commit will automatically install lychee via cargo
  - repo: local
    hooks:
      - id: lychee
        name: lychee (local links only)
        entry: lychee
        language: rust
        additional_dependencies: ["cli:lychee:0.20.1"]
        files: \.(md|rst)$
        exclude: ^web/website/themes/
        args:
          - --no-progress
          # For PRs: whitelist PRQL domains and local files only
          # Pattern matches:
          #   - github.com/PRQL/* and github.com/prql/*
          #   - prql-lang.org/*
          #   - raw.githubusercontent.com/PRQL/* and raw.githubusercontent.com/prql/*
          #   - file://* (local/relative links)
          # All other external links are skipped for faster PR checks
          - --include=^(https://(github\.com/(PRQL|prql)|prql-lang\.org|raw\.githubusercontent\.com/(PRQL|prql))|file://)
      - id: lychee-all
        name: lychee-all (all links)
        entry: lychee
        language: rust
        additional_dependencies: ["cli:lychee:0.20.1"]
        stages: [manual]
        files: \.(md|rst)$
        exclude: ^web/website/themes/
        args: ["--config=.config/lychee.toml", "--no-progress"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote

ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, lychee, lychee-all]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

fix: remove nonexistent `task install-pre-commit` from devcontainer
  .devcontainer/devcontainer.json
Due: none

fix: use `uv tool install pre-commit` instead of install-hooks
  .devcontainer/devcontainer.json
Due: none

ci: add devcontainer CI test using devcontainers/ci
  .github/workflows/tests.yaml
Due: none

fix: install uv before tasks that depend on it
  .devcontainer/devcontainer.json
Due: none

fix: use pipx to install uv (PEP 668 externally-managed-environment)
  .devcontainer/devcontainer.json
Due: none

fix: correct aarch64 target path in Java cross-compilation script
  prqlc/bindings/java/cross.sh
Due: none

docs: fix missing "to" in filtering tutorial
  web/book/src/tutorial/filtering.md
Due: lychee

fix: correct aarch64 target path in commented-out apple-darwin block
  prqlc/bindings/java/cross.sh
Due: none

docs: fix missing "to" in filtering tutorial (#5782)
  web/book/src/tutorial/filtering.md
Due: lychee

fix: correct aarch64 target path in Java cross-compilation script (#5781)
  prqlc/bindings/java/cross.sh
Due: none

chore: regenerate workflows with tend 0.0.9
  .config/tend.toml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
Due: none

chore: regenerate workflows with tend 0.0.9 (#5783)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-triage.yaml
Due: none

chore: fix tend 0.0.9 workflow drift and update skill
  .claude/skills/running-tend/SKILL.md
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-nightly.yaml
Due: lychee

chore: fix tend 0.0.9 workflow drift and update skill (#5785)
  .claude/skills/running-tend/SKILL.md
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-nightly.yaml
Due: lychee

chore: update tend workflows
  .github/workflows/tend-mention.yaml
Due: none

fix(playground): correct decimal regex and transforms list in syntax highlighting
  web/playground/src/workbench/prql-syntax.js
Due: none

docs: fix typos and duplicate comments in stdlib reference
  web/book/src/reference/stdlib/math.md
  web/book/src/reference/stdlib/transforms/window.md
  web/book/src/reference/syntax/strings.md
Due: lychee

docs: fix typos and duplicate comments in stdlib reference (#5789)
  web/book/src/reference/stdlib/math.md
  web/book/src/reference/stdlib/transforms/window.md
  web/book/src/reference/syntax/strings.md
Due: lychee

fix(playground): correct decimal regex and transforms list in syntax highlighting (#5788)
  web/playground/src/workbench/prql-syntax.js
Due: none

docs: fix grammar in ranges reference
  web/book/src/reference/syntax/ranges.md
Due: lychee

refine: fix typo in positional_mapping comment
  prqlc/prqlc/src/sql/pq/positional_mapping.rs
Due: no-dbg

chore: update tend workflows (#5786)
  .github/workflows/tend-mention.yaml
Due: none

refine: fix typo in positional_mapping comment (#5791)
  prqlc/prqlc/src/sql/pq/positional_mapping.rs
Due: no-dbg

docs: fix grammar in ranges reference (#5790)
  web/book/src/reference/syntax/ranges.md
Due: lychee

fix: correct Annotate display, fix typos, update stale docs
  grammars/prql-lezer/README.md
  prqlc/prqlc-parser/src/lexer/lr.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
Due: lychee, no-dbg

Add Kakoune integration to CHANGELOG
  CHANGELOG.md
Due: lychee, prql-codeblock

docs: Add Kakoune integration to CHANGELOG (#5794)
  CHANGELOG.md
Due: lychee, prql-codeblock

fix(grammars): correct emacs regex and align keywords with lexer
  grammars/emacs/prql-mode.el
  grammars/nano/prql.nanorc
Due: none

fix(grammars): correct emacs regex and align keywords with lexer (#5795)
  grammars/emacs/prql-mode.el
  grammars/nano/prql.nanorc
Due: none

chore: bump connector_arrow to 0.11.0 and rusqlite to 0.39.0
  Cargo.lock
  prqlc/prqlc/Cargo.toml
Due: none

chore: bump duckdb to 1.10501.0 to match connector_arrow
  prqlc/prqlc/Cargo.toml
Due: none

chore: update tend workflows
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
Due: none

docs: fix typos in tuples, pi-day post, and READMEs
  grammars/emacs/README.md
  prqlc/prqlc/README.md
  web/book/src/reference/syntax/tuples.md
  web/website/content/posts/2023-03-14-pi-day.md
Due: lychee

ci: pin zig to 0.15.2
  .github/workflows/test-prqlc-c.yaml
Due: none

ci: pin zig to 0.15.2 (#5801)
  .github/workflows/test-prqlc-c.yaml
Due: none

docs: fix typos in tuples, pi-day post, and READMEs (#5800)
  grammars/emacs/README.md
  prqlc/prqlc/README.md
  web/book/src/reference/syntax/tuples.md
  web/website/content/posts/2023-03-14-pi-day.md
Due: lychee

chore: update tend workflows (#5799)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
Due: none

ci: update minimal-zig to Zig 0.16 API and unpin
  .github/workflows/test-prqlc-c.yaml
  prqlc/bindings/prqlc-c/examples/minimal-zig/build.zig
Due: none

fix: update minimal-zig build.zig to Zig 0.16 API and unpin
  .github/workflows/test-prqlc-c.yaml
  prqlc/bindings/prqlc-c/examples/minimal-zig/build.zig
Due: none
