Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.(rs|snap)$'
  - repo: https://github.com/crate-ci/typos
    rev: v1
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          # TODO: This doesn't seem to work, would be great to fix.
          # https://github.com/PRQL/prql/issues/3078
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.5
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: clippy
        stages: [manual]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint
  # Link checker using local hooks with language: rust
  # Pre-commit will automatically install lychee via cargo
  - repo: local
    hooks:
      - id: lychee
        name: lychee (local links only)
        entry: lychee
        language: rust
        additional_dependencies: ["cli:lychee:0.20.1"]
        files: \.(md|rst)$
        exclude: ^web/website/themes/
        args:
          - --no-progress
          # For PRs: whitelist PRQL domains and local files only
          # Pattern matches:
          #   - github.com/PRQL/* and github.com/prql/*
          #   - prql-lang.org/*
          #   - raw.githubusercontent.com/PRQL/* and raw.githubusercontent.com/prql/*
          #   - file://* (local/relative links)
          # All other external links are skipped for faster PR checks
          - --include=^(https://(github\.com/(PRQL|prql)|prql-lang\.org|raw\.githubusercontent\.com/(PRQL|prql))|file://)
      - id: lychee-all
        name: lychee-all (all links)
        entry: lychee
        language: rust
        additional_dependencies: ["cli:lychee:0.20.1"]
        stages: [manual]
        files: \.(md|rst)$
        exclude: ^web/website/themes/
        args: ["--config=.config/lychee.toml", "--no-progress"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote

ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, lychee, lychee-all]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

docs: fix grammar in join transform reference
  web/book/src/reference/stdlib/transforms/join.md
Due: lychee

chore: update tend workflows (0.1.3 → 0.1.4) (#5986)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

docs: fix grammar in join transform reference (#5998)
  web/book/src/reference/stdlib/transforms/join.md
Due: lychee

skills(running-tend): scope tend workflow-update Notable changes to consumer-relevant entries
  .claude/skills/running-tend/SKILL.md
Due: lychee

fix: LSP server should only exit on the `exit` notification
  prqlc/prqlc/src/cli/lsp.rs
  prqlc/prqlc/src/cli/test.rs
Due: no-dbg

docs: correct aggregation function list in aggregate.md
  web/book/src/reference/stdlib/transforms/aggregate.md
Due: lychee

fix: LSP server should only exit on the `exit` notification (#6001)
  prqlc/prqlc/src/cli/lsp.rs
  prqlc/prqlc/src/cli/test.rs
Due: no-dbg

docs: correct aggregation function list in aggregate.md (#6002)
  web/book/src/reference/stdlib/transforms/aggregate.md
Due: lychee

chore: Prepare 0.13.13 release changelog
  CHANGELOG.md
Due: lychee, prql-codeblock

chore: correct #5910 attribution to @max-sixty
  CHANGELOG.md
Due: lychee, prql-codeblock

Switch tend harness to claude-interactive
  .config/tend.yaml
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

chore: Prepare 0.13.13 release changelog (#6004)
  CHANGELOG.md
Due: lychee, prql-codeblock

chore: switch tend harness to claude-interactive (#6003)
  .config/tend.yaml
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

chore: Release
  Cargo.lock
  Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/packages/snap/snapcraft.yaml
  prqlc/prqlc-macros/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: lychee, no-dbg

chore: Bump version to 0.13.14 for next development cycle (#6005)
  Cargo.lock
  Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/packages/snap/snapcraft.yaml
  prqlc/prqlc-macros/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: lychee, no-dbg

docs: refresh README Current Status and clarify release changelog step
  README.md
  web/book/src/project/contributing/development.md
Due: lychee

docs: refresh README Current Status and clarify release changelog step (#6006)
  README.md
  web/book/src/project/contributing/development.md
Due: lychee

docs: fix the release runbook's changelog and version-bump steps
  web/book/src/project/contributing/development.md
Due: lychee

docs: fix the release runbook's changelog and version-bump steps (#6007)
  web/book/src/project/contributing/development.md
Due: lychee

fix: don't leak joined branch's sort into implicit ORDER BY for take
  prqlc/prqlc/src/semantic/resolver/flatten.rs
  prqlc/prqlc/src/sql/gen_query.rs
Due: no-dbg

chore: roll back to the default claude harness
  .config/tend.yaml
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

chore: roll back to the default claude harness (#6016)
  .config/tend.yaml
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

fix: don't leak joined branch's sort into implicit ORDER BY for take (#6015)
  prqlc/prqlc/src/semantic/resolver/flatten.rs
  prqlc/prqlc/src/sql/gen_query.rs
Due: no-dbg

fix: escape quotes when both quote types are at string boundaries (#5987)
  prqlc/prqlc-parser/src/lexer/lr.rs
Due: no-dbg

fix: unique wrapper param names for nested currying (#5979)
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

chore: update tend workflows (0.1.4 → 0.1.6)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

test: cover ClickHouse translate_chrono_item
  prqlc/prqlc/src/sql/dialect.rs
Due: no-dbg

test: cover ClickHouse translate_chrono_item (#6019)
  prqlc/prqlc/src/sql/dialect.rs
Due: no-dbg

fix: allow a column to share its name with the source relation
  CHANGELOG.md
  prqlc/prqlc/src/semantic/mod.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/names.rs
  prqlc/prqlc/src/sql/gen_projection.rs
Due: lychee, no-dbg, prql-codeblock

chore: update tend workflows (0.1.4 → 0.1.6) (#6018)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

internal: cap CI poll at sub-Bash-cap chunks to avoid gated-review deadlock
  .claude/skills/running-tend/SKILL.md
Due: lychee

fix: exclude non-let definitions from docs Functions index
  prqlc/prqlc/src/cli/docs_generator.rs
Due: no-dbg

fix: return error instead of panicking on append with mismatched columns
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
Due: no-dbg

fix: return error instead of panicking on append with mismatched columns (#6025)
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
Due: no-dbg

fix: exclude non-let definitions from docs Functions index (#6024)
  prqlc/prqlc/src/cli/docs_generator.rs
Due: no-dbg

chore: hold back mdbook/indexmap to preserve MSRV 1.81
  Cargo.lock
Due: none

fix: sync syntax highlighters with std lib
  grammars/KSyntaxHighlighting/prql.xml
  web/book/highlight-prql.js
Due: none

fix: correct error handling in infer_lineage
  prqlc/prqlc/src/semantic/resolver/transforms.rs
Due: no-dbg

chore: update tend workflows (0.1.6 → 0.1.7)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

chore: exclude max-sixty/tend from Dependabot
  .claude/skills/running-tend/SKILL.md
  .github/dependabot.yaml
Due: lychee
