Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, prql-codeblock

lychee:
  name: lychee (local links only)
  entry: lychee
  language: rust
  additional_dependencies:
  - cli:lychee:0.20.1
  args:
  - --no-progress
  - --include=^(https://(github\.com/(PRQL|prql)|prql-lang\.org|raw\.githubusercontent\.com/(PRQL|prql))|file://)

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

ci: update minimal-zig example to Zig 0.16 API (#5803)
  .github/workflows/test-prqlc-c.yaml
  prqlc/bindings/prqlc-c/examples/minimal-zig/build.zig
Due: none

docs: fix grammar in doc comments and book pages
  prqlc/bindings/elixir/native/prql/src/lib.rs
  prqlc/bindings/js/README.md
  web/book/src/reference/data/relation-literals.md
  web/book/src/reference/stdlib/transforms/README.md
Due: lychee, no-dbg

docs: fix grammar in doc comments and book pages (#5805)
  prqlc/bindings/elixir/native/prql/src/lib.rs
  prqlc/bindings/js/README.md
  web/book/src/reference/data/relation-literals.md
  web/book/src/reference/stdlib/transforms/README.md
Due: lychee, no-dbg

docs: remove stale 0.12.0 removal claim for std.prql_version
  prqlc/prqlc/src/semantic/std.prql
  web/book/src/project/target.md
Due: lychee

feat: remove deprecated std.prql_version
  prqlc/bindings/prqlc-python/src/lib.rs
  prqlc/prqlc/src/cli/test.rs
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__append_union_different_tables.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__frames_and_names-2.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__frames_and_names-3.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__frames_and_names.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prqlc/src/semantic/std.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__append_select.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__append_select_multiple_with_null.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__append_select_nulls.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__append_select_simple.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__arithmetic.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__cast.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__constants_only.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__date_to_text.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__distinct.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__distinct_on.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__genre_counts.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_all.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort_filter_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort_limit_take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__invoice_totals.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__loop_01.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__pipelines.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__read_csv.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__set_ops_remove.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__sort_2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__sort_3.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__switch.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__text_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__window.snap
  web/book/src/project/target.md
Due: lychee, no-dbg

docs: add CHANGELOG entry for std.prql_version removal
  CHANGELOG.md
Due: lychee, prql-codeblock

fix: apply clippy::manual_saturating_arithmetic on new toolchain
  prqlc/prqlc/src/codegen/mod.rs
Due: no-dbg

build: Update rust toolchain version (#5807)
  prqlc/prqlc/src/codegen/mod.rs
  rust-toolchain.toml
Due: no-dbg

test(js): fix silent test bugs in prqlc-js
  prqlc/bindings/js/tests/test_all.mjs
Due: none

test(js): fix silent test bugs in prqlc-js (#5808)
  prqlc/bindings/js/tests/test_all.mjs
Due: none

chore: update tend workflows
  .github/workflows/tend-review.yaml
Due: none

fix: correct stale macro name in prqlc-macros panic message
  prqlc/prqlc-macros/src/lib.rs
Due: no-dbg

skills(running-tend): close bot-opened issues when resolved
  .claude/skills/running-tend/SKILL.md
Due: lychee

chore: close bot-opened issues when resolved (#5812)
  .claude/skills/running-tend/SKILL.md
Due: lychee

chore: update tend workflows (#5810)
  .github/workflows/tend-review.yaml
Due: none

fix: correct stale macro name in prqlc-macros panic message (#5811)
  prqlc/prqlc-macros/src/lib.rs
Due: no-dbg

docs: fix stale Elixir binding docs
  prqlc/bindings/elixir/README.md
  prqlc/bindings/elixir/lib/prql.ex
Due: lychee

docs: fix stale Elixir binding docs (#5813)
  prqlc/bindings/elixir/README.md
  prqlc/bindings/elixir/lib/prql.ex
Due: lychee

feat: add DuckDB target to Elixir bindings
  prqlc/bindings/elixir/lib/prql.ex
  prqlc/bindings/elixir/native/prql/src/lib.rs
Due: no-dbg

fix: grammar in error message and docs
  prqlc/prqlc/src/sql/gen_projection.rs
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/reference/stdlib/transforms/sort.md
Due: lychee, no-dbg

ci: drop CLICOLOR_FORCE=1 from tend-setup action
  .github/actions/tend-setup/action.yaml
Due: none

ci: drop CLICOLOR_FORCE=1 from tend-setup action (#5819)
  .github/actions/tend-setup/action.yaml
Due: none

fix: grammar in error message and docs (#5818)
  prqlc/prqlc/src/sql/gen_projection.rs
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/reference/stdlib/transforms/sort.md
Due: lychee, no-dbg

feat: add DuckDB target to Elixir bindings (#5817)
  prqlc/bindings/elixir/lib/prql.ex
  prqlc/bindings/elixir/native/prql/src/lib.rs
Due: no-dbg

feat: add basic oracle_sql dialect support
  prqlc/bindings/elixir/lib/prql.ex
  prqlc/bindings/elixir/lib/prql/native.ex
  prqlc/bindings/elixir/native/prql/src/lib.rs
  prqlc/prqlc/src/cli/test.rs
  prqlc/prqlc/src/sql/dialect.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix file lint
  prqlc/prqlc/src/cli/test.rs
Due: no-dbg

fix: rename dialect to Oracle
  prqlc/bindings/elixir/lib/prql.ex
  prqlc/bindings/elixir/lib/prql/native.ex
  prqlc/bindings/elixir/native/prql/src/lib.rs
  prqlc/prqlc/src/cli/test.rs
  prqlc/prqlc/src/sql/dialect.rs
  web/book/src/project/target.md
Due: lychee, no-dbg

Update prqlc/prqlc/tests/integration/sql.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

docs: note that Oracle dialect support is very early
  CHANGELOG.md
  web/book/src/project/target.md
Due: lychee, prql-codeblock

feat: add oracle_sql dialect support (#5821)
  CHANGELOG.md
  prqlc/bindings/elixir/lib/prql.ex
  prqlc/bindings/elixir/lib/prql/native.ex
  prqlc/bindings/elixir/native/prql/src/lib.rs
  prqlc/prqlc/src/cli/test.rs
  prqlc/prqlc/src/sql/dialect.rs
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/project/target.md
Due: lychee, no-dbg, prql-codeblock

fix: sync :duckdb into PRQL.Native.CompileOptions target typespec
  prqlc/bindings/elixir/lib/prql/native.ex
Due: none

fix: sync :duckdb into PRQL.Native.CompileOptions target typespec (#5823)
  prqlc/bindings/elixir/lib/prql/native.ex
Due: none

fix: update stale docs and fix typos
  prqlc/bindings/java/java/build.sh
  web/prql-codemirror-demo/src/lang-prql/complete.ts
  web/website/content/faq.md
Due: lychee

docs(running-tend): remove stale automerge claim
  .claude/skills/running-tend/SKILL.md
Due: lychee

docs(running-tend): remove stale automerge claim (#5825)
  .claude/skills/running-tend/SKILL.md
Due: lychee

fix: update stale docs and fix typos (#5824)
  prqlc/bindings/java/java/build.sh
  web/prql-codemirror-demo/src/lang-prql/complete.ts
  web/website/content/faq.md
Due: lychee

ci: correct test-elixir cache paths
  .github/workflows/test-elixir.yaml
Due: none

docs: update stale terminology and fix double negative
  prqlc/bindings/prqlc-c/examples/minimal-c/README.md
  web/book/src/reference/spec/type-system.md
  web/book/src/reference/syntax/pipes.md
Due: lychee

docs: update stale terminology and fix double negative (#5827)
  prqlc/bindings/prqlc-c/examples/minimal-c/README.md
  web/book/src/reference/spec/type-system.md
  web/book/src/reference/syntax/pipes.md
Due: lychee

Path conditions:
  lychee: any of: \.(md|rst)$, but not: ^web/website/themes/
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
