Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, prql-codeblock

lychee:
  name: lychee (local links only)
  entry: lychee
  language: rust
  additional_dependencies:
  - cli:lychee:0.20.1
  args:
  - --no-progress
  - --include=^(https://(github\.com/(PRQL|prql)|prql-lang\.org|raw\.githubusercontent\.com/(PRQL|prql))|file://)

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

refine: remove the unused UnOp enum from the RQ IR (#6310)
  prqlc/prqlc/src/ir/rq/expr.rs
  prqlc/prqlc/src/ir/rq/mod.rs
Due: no-dbg

refactor: throw java.lang.Exception by descriptor in Java bindings
  prqlc/bindings/java/src/lib.rs
Due: no-dbg

fix: report a missing operator implementation instead of panicking (#6352)
  CHANGELOG.md
  prqlc/prqlc/src/sql/operators.rs
  prqlc/prqlc/src/sql/std.sql.prql
  web/book/src/reference/stdlib/date.md
Due: lychee, no-dbg, prql-codeblock

fix: report a repeated argument in the prql query header
  CHANGELOG.md
  prqlc/prqlc-parser/src/parser/stmt.rs
Due: lychee, no-dbg, prql-codeblock

fix: name the unsupported specifier in `date.to_text` errors (#6351)
  CHANGELOG.md
  prqlc/prqlc/src/sql/dialect.rs
  web/book/src/reference/stdlib/date.md
Due: lychee, no-dbg, prql-codeblock

fix: report an `internal std.<name>` naming a module instead of panicking
  prqlc/prqlc/src/sql/operators.rs
Due: no-dbg

docs: add changelog entry for #6388
  CHANGELOG.md
Due: lychee, prql-codeblock

fix: report an `internal std.<name>` that names a module instead of panicking (#6388)
  CHANGELOG.md
  prqlc/prqlc/src/sql/operators.rs
Due: lychee, no-dbg, prql-codeblock

fix: report a missing main pipeline in `prqlc debug lineage` instead of panicking
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/mod.rs
Due: no-dbg

Add CHANGELOG entry
  CHANGELOG.md
Due: lychee, prql-codeblock

chore: update tend workflows (0.3.4 → 0.3.5)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention-relay.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

fix: report a missing main pipeline in `prqlc debug lineage` instead of panicking (#6389)
  CHANGELOG.md
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/mod.rs
Due: lychee, no-dbg, prql-codeblock

chore: update tend workflows (0.3.4 → 0.3.5) (#6390)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention-relay.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

internal: drop the Dependabot-batch polling rule from running-tend
  .claude/skills/running-tend/SKILL.md
Due: lychee

internal: drop the Dependabot-batch polling rule that tend 0.3.5 made obsolete (#6392)
  .claude/skills/running-tend/SKILL.md
Due: lychee

docs: fix dead self-equality anchor in the syntax summary table
  web/book/src/reference/syntax/README.md
Due: lychee

docs: fix dead self-equality anchor in the syntax summary table (#6393)
  web/book/src/reference/syntax/README.md
Due: lychee

fix: count token spans in chars so non-ASCII text doesn't shift or crash error labels (#6378)
  CHANGELOG.md
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/lexer/test.rs
  prqlc/prqlc-parser/src/parser/interpolation.rs
  prqlc/prqlc-parser/src/parser/mod.rs
  prqlc/prqlc-parser/src/test.rs
  prqlc/prqlc/tests/integration/error_messages.rs
Due: lychee, no-dbg, prql-codeblock

test: record f-string error labels that land left of the name after escapes or triple quotes
  prqlc/prqlc/tests/integration/bad_error_messages.rs
Due: no-dbg

test: record f-string error labels that land left of the name after escapes or triple quotes (#6397)
  prqlc/prqlc/tests/integration/bad_error_messages.rs
Due: no-dbg

build: Update rust toolchain version (#6398)
  rust-toolchain.toml
Due: none

test: enable pow right-associativity test, which now passes
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

test: cover an expression as an aggregate's argument
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

chore: update tend workflows (0.3.5 → 0.3.6)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention-relay.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

test: enable the pow right-associativity integration test, which now passes (#6399)
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

test: cover an expression as an aggregate's argument (#6400)
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

ci: update minimal-zig example to the Zig 0.17 build API
  prqlc/bindings/prqlc-c/examples/minimal-zig/build.zig
  prqlc/bindings/prqlc-c/examples/minimal-zig/src/main.zig
Due: none

ci: pin Zig to 0.17.0 for the minimal-zig example
  .github/workflows/test-prqlc-c.yaml
Due: none

ci: update minimal-zig example to the Zig 0.17 build API (#6402)
  .github/workflows/test-prqlc-c.yaml
  prqlc/bindings/prqlc-c/examples/minimal-zig/build.zig
  prqlc/bindings/prqlc-c/examples/minimal-zig/src/main.zig
Due: none

chore: update tend workflows (0.3.6 → 0.3.7)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention-relay.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

test: cover a cast inside an aggregate's argument
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

chore: update tend workflows (0.3.5 → 0.3.7) (#6401)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention-relay.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

docs: fix stale references in resolver and parser comments and the prqlc-c README
  prqlc/bindings/prqlc-c/README.md
  prqlc/prqlc-parser/src/parser/pr/expr.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
Due: lychee, no-dbg

test: cover a cast inside an aggregate's argument (#6404)
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

docs: fix stale references in resolver and parser comments and the prqlc-c README (#6405)
  prqlc/bindings/prqlc-c/README.md
  prqlc/prqlc-parser/src/parser/pr/expr.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
Due: lychee, no-dbg

chore: raise the playground's dompurify override to 3.4.16
  web/playground/package-lock.json
  web/playground/package.json
Due: none

chore: raise the playground's dompurify override to 3.4.16 (#6406)
  web/playground/package-lock.json
  web/playground/package.json
Due: none

chore: bump go-task/setup-task pinned version 3.53.1 → 3.54.0
  .github/actions/tend-setup/action.yaml
  .github/workflows/build-web.yaml
  .github/workflows/test-php.yaml
  .github/workflows/test-prqlc-c.yaml
Due: none

chore: bump go-task/setup-task pinned version 3.53.1 → 3.54.0 (#6407)
  .github/actions/tend-setup/action.yaml
  .github/workflows/build-web.yaml
  .github/workflows/test-php.yaml
  .github/workflows/test-prqlc-c.yaml
Due: none

ci: upgrade Tend to 0.3.9 and scope PR metadata permissions
  .github/workflows/pull-request-target.yaml
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention-relay.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

Path conditions:
  lychee: any of: \.(md|rst)$, but not: ^web/website/themes/
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
