Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.(rs|snap)$'
  - repo: https://github.com/crate-ci/typos
    rev: v1.21.0
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    # This does seem to work again, but might need to be disabled if it doesn't;
    # ref https://github.com/prettier/prettier/issues/15742
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          # TODO: This doesn't seem to work, would be great to fix.
          # https://github.com/PRQL/prql/issues/3078
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.5
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: clippy
        stages: [manual]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.0
    hooks:
      - id: actionlint
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.12.2
    hooks:
      - id: markdown-link-check
        name: markdown-link-check-local
        types: [markdown]
        args: ["--config=.config/.markdown-link-check-local.json"]
        # To run across everything (see nightly.yaml for more details)
      - id: markdown-link-check
        name: markdown-link-check-all
        stages: [manual]
        types: [markdown]
        args: ["--config=.config/.markdown-link-check-all.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote

ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

re-exports should be done at the module level
  prqlc/prqlc-parser/src/parser/pr/mod.rs
  prqlc/prqlc/src/ir/pl/mod.rs
  prqlc/prqlc/src/ir/pl/stmt.rs
Due: no-dbg

refactor: clean up exports (#4645)
  lutra/lutra/src/compile.rs
  lutra/lutra/src/editing.rs
  lutra/lutra/src/execute.rs
  lutra/lutra/src/pull_schema.rs
  prqlc/bindings/prqlc-python/src/lib.rs
  prqlc/prqlc-parser/src/generic.rs
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/lexer/test.rs
  prqlc/prqlc-parser/src/lib.rs
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/parser/mod.rs
  prqlc/prqlc-parser/src/parser/pr/expr.rs
  prqlc/prqlc-parser/src/parser/pr/mod.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/error_message.rs
  prqlc/prqlc/src/ir/mod.rs
  prqlc/prqlc/src/ir/pl/expr.rs
  prqlc/prqlc/src/ir/pl/mod.rs
  prqlc/prqlc/src/ir/pl/stmt.rs
  prqlc/prqlc/src/ir/rq/mod.rs
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/eval.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/src/sql/gen_query.rs
  prqlc/prqlc/src/sql/srq/ast.rs
  prqlc/prqlc/src/sql/srq/preprocess.rs
Due: no-dbg

rename srq to pq
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/src/sql/gen_projection.rs
  prqlc/prqlc/src/sql/gen_query.rs
  prqlc/prqlc/src/sql/mod.rs
  prqlc/prqlc/src/sql/pq/anchor.rs
  prqlc/prqlc/src/sql/pq/ast.rs
  prqlc/prqlc/src/sql/pq/context.rs
  prqlc/prqlc/src/sql/pq/gen_query.rs
  prqlc/prqlc/src/sql/pq/mod.rs
  prqlc/prqlc/src/sql/pq/postprocess.rs
  prqlc/prqlc/src/sql/pq/preprocess.rs
  prqlc/prqlc/tests/integration/cli.rs
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion-2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion-3.snap
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion-4.snap
Due: no-dbg

replace ast import references to pr
  lutra/lutra/src/cli.rs
  lutra/lutra/src/pull_schema.rs
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/codegen/mod.rs
  prqlc/prqlc/src/codegen/types.rs
  prqlc/prqlc/src/ir/constant.rs
  prqlc/prqlc/src/ir/decl.rs
  prqlc/prqlc/src/ir/generic.rs
  prqlc/prqlc/src/ir/pl/expr.rs
  prqlc/prqlc/src/ir/pl/extra.rs
  prqlc/prqlc/src/ir/pl/fold.rs
  prqlc/prqlc/src/ir/pl/mod.rs
  prqlc/prqlc/src/ir/pl/stmt.rs
  prqlc/prqlc/src/ir/pl/utils.rs
  prqlc/prqlc/src/ir/rq/expr.rs
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/parser.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/eval.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/mod.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/reporting.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/inference.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/src/semantic/resolver/names.rs
  prqlc/prqlc/src/semantic/resolver/stmt.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/src/sql/pq/mod.rs
Due: no-dbg

update architecure.md
  prqlc/ARCHITECTURE.md
Due: none

some work towards referencing asts with full qualifiers
  prqlc/prqlc/src/ir/decl.rs
  prqlc/prqlc/src/semantic/reporting.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/sql/gen_expr.rs
Due: no-dbg

feat: prqlc compile --debug-log
  .gitignore
  prqlc/bindings/prqlc-python/src/lib.rs
  prqlc/prqlc-parser/src/lexer/lr/mod.rs
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/lexer/test.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/debug.rs
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/parser.rs
  prqlc/prqlc/src/semantic/mod.rs
  prqlc/prqlc/src/sql/operators.rs
  prqlc/prqlc/tests/integration/cli.rs
  prqlc/prqlc/tests/integration/queries.rs
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion-2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion-3.snap
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion-4.snap
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__arithmetic.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__cast.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__constants_only.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__date_to_text.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__distinct.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__distinct_on.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__genre_counts.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__group_all.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__group_sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__group_sort_limit_take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__invoice_totals.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__loop_01.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__pipelines.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__read_csv.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__set_ops_remove.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__switch.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__text_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__window.snap
Due: no-dbg

internal: Remove static lifetime in parser
  prqlc/prqlc-parser/src/parser/expr.rs
Due: no-dbg

internal: Remove static lifetime in parser (#4649)
  prqlc/prqlc-parser/src/parser/expr.rs
Due: no-dbg

I think now working + with docs
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/test.rs
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__frames_and_names-2.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__frames_and_names-3.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__frames_and_names.snap
  prqlc/prqlc/src/sql/std.sql.prql
  prqlc/prqlc/tests/integration/queries/math_module.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__arithmetic.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__arithmetic.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__math_module.snap
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/reference/syntax/operators.md
Due: no-dbg

.
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/sql/std.sql.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__math_module.snap
  prqlc/prqlc/tests/integration/sql.rs
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__other-examples__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__math__example__0.snap
Due: no-dbg

refactor: Move `into_` methods onto their originating classes
  prqlc/prqlc-parser/src/parser/common.rs
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/parser/interpolation.rs
  prqlc/prqlc-parser/src/parser/pr/expr.rs
  prqlc/prqlc-parser/src/parser/pr/types.rs
  prqlc/prqlc-parser/src/parser/types.rs
Due: no-dbg

docs: Add an `etc` in the operators summary
  web/book/src/reference/syntax/README.md
Due: none

docs: Add an `etc` in the operators summary (#4652)
  web/book/src/reference/syntax/README.md
Due: none

refactor: Move `into_` methods onto their originating classes (#4651)
  prqlc/prqlc-parser/src/parser/common.rs
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/parser/interpolation.rs
  prqlc/prqlc-parser/src/parser/pr/expr.rs
  prqlc/prqlc-parser/src/parser/pr/types.rs
  prqlc/prqlc-parser/src/parser/types.rs
Due: no-dbg

refactor: Split up giant `expr` func in parser
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/parser/interpolation.rs
  prqlc/prqlc-parser/src/parser/pr/expr.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc-parser/src/test.rs
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__arithmetic.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__date_to_text.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__distinct.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_all.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__invoice_totals.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__set_ops_remove.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__text_module.snap
Due: no-dbg

perf: Redo benchmarks
  .github/workflows/nightly.yaml
  Cargo.lock
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/benches/bench.rs
Due: no-dbg

perf: Redo benchmarks (#4654)
  .github/workflows/nightly.yaml
  CHANGELOG.md
  Cargo.lock
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/benches/bench.rs
Due: no-dbg, prql-codeblock

ci: Use standard CI env vars throughout to enable caching
  .github/workflows/build-web.yaml
  .github/workflows/nightly.yaml
  .github/workflows/publish-web.yaml
  .github/workflows/release.yaml
  .github/workflows/test-dotnet.yaml
  .github/workflows/test-elixir.yaml
  .github/workflows/test-java.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-php.yaml
  .github/workflows/test-prqlc-c.yaml
  .github/workflows/test-python.yaml
  .github/workflows/tests.yaml
Due: none

ci: Use standard CI env vars throughout to enable caching (#4655)
  .github/workflows/build-web.yaml
  .github/workflows/nightly.yaml
  .github/workflows/publish-web.yaml
  .github/workflows/release.yaml
  .github/workflows/test-dotnet.yaml
  .github/workflows/test-elixir.yaml
  .github/workflows/test-java.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-php.yaml
  .github/workflows/test-prqlc-c.yaml
  .github/workflows/test-python.yaml
  .github/workflows/tests.yaml
Due: none

.
  prqlc/prqlc-parser/src/parser/expr.rs
Due: no-dbg

ci: Adding one missing env vars in CI
  .github/workflows/nightly.yaml
  .github/workflows/tests.yaml
Due: none

ci: Adding one missing env vars in CI (#4656)
  .github/workflows/nightly.yaml
  .github/workflows/tests.yaml
Due: none

Fix formatting of Operators table
  web/book/src/reference/syntax/operators.md
Due: none

chore: fix comment
  .github/workflows/tests.yaml
Due: none

chore: fix comment (#4658)
  .github/workflows/tests.yaml
Due: none

more logging, better HTML output
  prqlc/prqlc/src/debug.rs
  prqlc/prqlc/src/debug/log.rs
  prqlc/prqlc/src/debug/mod.rs
  prqlc/prqlc/src/debug/render_html.rs
  prqlc/prqlc/src/sql/mod.rs
Due: no-dbg

fmt
  prqlc/prqlc/src/debug/log.rs
Due: no-dbg

docs: Update URLs
  prqlc/prqlc/src/sql/std.sql.prql
Due: none

feat: replace env logger with debug log
  Cargo.lock
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/debug/log.rs
  prqlc/prqlc/src/debug/messages.rs
  prqlc/prqlc/src/debug/mod.rs
  prqlc/prqlc/src/debug/render_html.rs
  prqlc/prqlc/src/parser.rs
  prqlc/prqlc/src/semantic/mod.rs
  prqlc/prqlc/src/sql/operators.rs
Due: no-dbg

fix for rustc 1.70
  prqlc/prqlc/src/debug/mod.rs
Due: no-dbg

feat: power operator with right associativity (#4125)
  prqlc/prqlc-parser/src/lexer/lr/token.rs
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/test.rs
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/sql/std.sql.prql
  prqlc/prqlc/tests/integration/queries/math_module.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__math_module.snap
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/reference/syntax/operators.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__operators__0.snap
Due: no-dbg

docs: Update URLs (#4660)
  prqlc/prqlc/src/sql/std.sql.prql
Due: none

chore: Backport #4660 to `web` (#4664)
  prqlc/prqlc/src/sql/std.sql.prql
Due: none

fix: Fix merge
  prqlc/prqlc-parser/src/parser/expr.rs
Due: no-dbg

fix: Fix merge (#4665)
  prqlc/prqlc-parser/src/parser/expr.rs
Due: no-dbg

Unify arrow version, add in arrow cases to lutra
  Cargo.lock
  lutra/bindings/python/Cargo.toml
  lutra/lutra/Cargo.toml
  lutra/lutra/src/pull_schema.rs
Due: no-dbg

refactor: Split up giant `expr` func in parser (#4653)
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/parser/interpolation.rs
  prqlc/prqlc-parser/src/parser/pr/expr.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc-parser/src/test.rs
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__arithmetic.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__date_to_text.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__distinct.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_all.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__invoice_totals.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__set_ops_remove.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__text_module.snap
  web/book/src/reference/syntax/keywords.md
Due: no-dbg
