Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.rs$'
  - repo: https://github.com/crate-ci/typos
    rev: v1.16.1
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    # Upgrading to the bare `v3.0.0` seems to break the plugin; contributions welcome to fix.
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.278
    hooks:
      - id: ruff
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
      - id: clippy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
      - id: mypy
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.11.2
    hooks:
      - id: markdown-link-check
        name: markdown-link-check-local
        files: \.md$
        args: ["--config=.config/.markdown-link-check-local.json"]
        # To run across everything (see nightly.yaml for more details)
      - id: markdown-link-check
        name: markdown-link-check-all
        stages: [manual]
        files: \.md$
        args: ["--config=.config/.markdown-link-check-all.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote
ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, clippy, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

tests: Demo of printing the stack
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/semantic/module.rs
Due: no-dbg

internal: Add comments to the lexer
  prqlc/prqlc-parser/src/lexer.rs
  prqlc/prqlc-parser/src/lib.rs
Due: no-dbg

clippy
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
Due: no-dbg

internal: Add comments to the lexer (#4105)
  prqlc/prqlc-parser/src/lexer.rs
  prqlc/prqlc-parser/src/lib.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__arithmetic.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__cast.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__date_to_text.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__distinct.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__distinct_on.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__genre_counts.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__group_all.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__group_sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__group_sort_limit_take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__invoice_totals.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__loop_01.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__pipelines.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__read_csv.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__set_ops_remove.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__switch.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__text_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__window.snap
Due: no-dbg

ci: Fix `cargo doc` `if` condition
  .github/workflows/test-rust.yaml
Due: none

ci: Fix `cargo doc` `if` condition (#4107)
  .github/workflows/test-rust.yaml
Due: none

docs: Fix `cargo doc`
  prqlc/prqlc-ast/src/span.rs
Due: no-dbg

docs: Fix `cargo doc` (#4108)
  prqlc/prqlc-ast/src/span.rs
Due: no-dbg

perf: reduce amount of stack memory usage (#4103)
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/tests/integration/cli.rs
Due: no-dbg

internal: Add line wrap to the lexer
  prqlc/prqlc-parser/src/lexer.rs
  prqlc/prqlc-parser/src/lib.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__date_to_text.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__genre_counts.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__group_sort_limit_take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__loop_01.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__pipelines.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__read_csv.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__switch.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__window.snap
Due: no-dbg

internal: Add line wrap to the lexer (#4109)
  prqlc/prqlc-parser/src/lexer.rs
  prqlc/prqlc-parser/src/lib.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__date_to_text.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__genre_counts.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__group_sort_limit_take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__loop_01.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__pipelines.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__read_csv.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__switch.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__window.snap
Due: no-dbg

internal: Add doc comments to lexer
  Taskfile.yml
  prqlc/prqlc-parser/src/lexer.rs
  prqlc/prqlc-parser/src/lib.rs
  prqlc/prqlc/tests/integration/queries/invoice_totals.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__invoice_totals.snap
Due: no-dbg

build: Disable test binaries in `prql-compiler
  prqlc/prql-compiler/Cargo.toml
Due: none

build: Disable test binaries in `prql-compiler (#4111)
  prqlc/prql-compiler/Cargo.toml
Due: none

internal: Add doc comments to lexer (#4110)
  Taskfile.yml
  prqlc/prqlc-parser/src/lexer.rs
  prqlc/prqlc-parser/src/lib.rs
  prqlc/prqlc/tests/integration/queries/invoice_totals.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__invoice_totals.snap
Due: no-dbg

build: Remove old dependency patch
  Cargo.lock
  prqlc/prqlc/Cargo.toml
Due: none

docs: Small changes to `Expr` docstring
  prqlc/prqlc-ast/src/expr.rs
  prqlc/prqlc/src/ir/pl/expr.rs
Due: no-dbg

feat: parse annotations for all kinds of statements
  prqlc/prqlc-parser/src/stmt.rs
Due: no-dbg

feat: generic type arguments
  prqlc/prqlc-ast/src/expr.rs
  prqlc/prqlc-ast/src/types.rs
  prqlc/prqlc-parser/src/expr.rs
  prqlc/prqlc-parser/src/test.rs
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/codegen/types.rs
  prqlc/prqlc/src/ir/pl/expr.rs
  prqlc/prqlc/src/ir/pl/fold.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/eval.rs
  prqlc/prqlc/src/semantic/mod.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/inference.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/tests/integration/ast_code_matches.rs
  prqlc/prqlc/tests/integration/resolving.rs
  prqlc/prqlc/tests/integration/snapshots/integration__cli__debug.snap
Due: no-dbg

feat: parse annotations for all kinds of statements (#4121)
  prqlc/prqlc-parser/src/stmt.rs
Due: no-dbg

docs: Small changes to `Expr` docstring (#4115)
  prqlc/prqlc-ast/src/expr.rs
  prqlc/prqlc/src/ir/pl/expr.rs
Due: no-dbg

feat: generic type arguments (#4122)
  prqlc/prqlc-ast/src/expr.rs
  prqlc/prqlc-ast/src/types.rs
  prqlc/prqlc-parser/src/expr.rs
  prqlc/prqlc-parser/src/test.rs
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/codegen/types.rs
  prqlc/prqlc/src/ir/pl/expr.rs
  prqlc/prqlc/src/ir/pl/fold.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/eval.rs
  prqlc/prqlc/src/semantic/mod.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/inference.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/tests/integration/ast_code_matches.rs
  prqlc/prqlc/tests/integration/resolving.rs
  prqlc/prqlc/tests/integration/snapshots/integration__cli__debug.snap
Due: no-dbg

Add PL/PRQL documentation
  web/book/src/SUMMARY.md
  web/book/src/project/integrations/README.md
  web/book/src/project/integrations/postgresql.md
  web/website/content/_index.md
Due: none

binary_operator_right
  prqlc/prqlc-parser/src/expr.rs
Due: no-dbg

uncomment pow operator
  prqlc/prqlc-parser/src/expr.rs
  prqlc/prqlc-parser/src/lexer.rs
Due: no-dbg

Update README.md
  grammars/README.md
Due: none

refactor: remove internal impl of std.from
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__frames_and_names-3.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__frames_and_names.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__functions_pipeline-2.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__functions_pipeline.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/semantic/std.prql
  prqlc/prqlc/tests/integration/snapshots/integration__cli__debug.snap
Due: no-dbg

Set SQL code block language
  web/book/src/project/integrations/postgresql.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: prql-codeblock

feat: Add Sublime Text grammar to README (#4127)
  CHANGELOG.md
  grammars/README.md
Due: prql-codeblock

devops: Add dependabot for devcontainers
  .github/dependabot.yml
Due: none

devops: Add dependabot for devcontainers (#4129)
  .github/dependabot.yml
Due: none

feat: static eval to a const expr
  prqlc/prqlc/src/ir/constant.rs
  prqlc/prqlc/src/ir/mod.rs
  prqlc/prqlc/src/semantic/mod.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/static_eval.rs
  prqlc/prqlc/src/semantic/resolver/stmt.rs
Due: no-dbg

a few tests
  prqlc/prqlc/src/ir/constant.rs
  prqlc/prqlc/src/ir/mod.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/static_eval.rs
  prqlc/prqlc/tests/integration/main.rs
  prqlc/prqlc/tests/integration/static_eval.rs
Due: no-dbg

refactor: remove internal impl of std.from (#4133)
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__frames_and_names-3.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__frames_and_names.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__functions_pipeline-2.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__functions_pipeline.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/semantic/std.prql
  prqlc/prqlc/tests/integration/snapshots/integration__cli__debug.snap
Due: no-dbg

feat: static eval to a const expr (#4132)
  prqlc/prqlc/src/ir/constant.rs
  prqlc/prqlc/src/ir/mod.rs
  prqlc/prqlc/src/semantic/mod.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/static_eval.rs
  prqlc/prqlc/src/semantic/resolver/stmt.rs
  prqlc/prqlc/tests/integration/main.rs
  prqlc/prqlc/tests/integration/static_eval.rs
Due: no-dbg

make relational vars without value references to local tables
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/resolver/stmt.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

add compiler parameter for database module
  prqlc/prqlc-ast/src/error.rs
  prqlc/prqlc-ast/src/expr/ident.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/mod.rs
  prqlc/prqlc/tests/integration/bad_error_messages.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

uncommit a file that should not be commited
  prqlc/prqlc/src/semantic/resolver/generic.rs
Due: no-dbg

a few more tests
  flake.nix
  prqlc/Taskfile.yaml
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/tests/integration/resolving.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg
