Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.rs$'
  - repo: https://github.com/crate-ci/typos
    rev: v1.16.1
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    # Upgrading to the bare `v3.0.0` seems to break the plugin; contributions welcome to fix.
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.278
    hooks:
      - id: ruff
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
      - id: clippy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
      - id: mypy
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.11.2
    hooks:
      - id: markdown-link-check
        name: markdown-link-check-local
        files: \.md$
        args: ["--config=.config/.markdown-link-check-local.json"]
        # To run across everything (see nightly.yaml for more details)
      - id: markdown-link-check
        name: markdown-link-check-all
        stages: [manual]
        files: \.md$
        args: ["--config=.config/.markdown-link-check-all.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote
ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, clippy, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

build(playground): Use `npm ci` for install (#4212)
  Taskfile.yml
Due: none

web: Update python links (#4218)
  prqlc/bindings/prqlc-python/README.md
  web/website/content/_index.md
Due: none

remove generics from SourceTree
  prqlc/prqlc-parser/src/file_tree.rs
  prqlc/prqlc-parser/src/lib.rs
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/parser.rs
Due: no-dbg

refactor: clean imports
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/codegen/mod.rs
  prqlc/prqlc/src/codegen/types.rs
  prqlc/prqlc/src/error_message.rs
  prqlc/prqlc/src/ir/constant.rs
  prqlc/prqlc/src/ir/decl.rs
  prqlc/prqlc/src/ir/generic.rs
  prqlc/prqlc/src/ir/mod.rs
  prqlc/prqlc/src/ir/pl/expr.rs
  prqlc/prqlc/src/ir/pl/extra/expr.rs
  prqlc/prqlc/src/ir/pl/fold.rs
  prqlc/prqlc/src/ir/pl/mod.rs
  prqlc/prqlc/src/ir/pl/stmt.rs
  prqlc/prqlc/src/ir/pl/utils.rs
  prqlc/prqlc/src/ir/rq/expr.rs
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/parser.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/eval.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/inference.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/src/semantic/resolver/names.rs
  prqlc/prqlc/src/semantic/resolver/static_eval.rs
  prqlc/prqlc/src/semantic/resolver/stmt.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/src/sql/gen_query.rs
  prqlc/prqlc/src/sql/srq/ast.rs
  prqlc/prqlc/src/sql/srq/preprocess.rs
Due: no-dbg

merge
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/tests/integration/snapshots/integration__cli__debug.snap
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion-2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion-3.snap
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion-4.snap
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion.snap
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__0.snap
Due: no-dbg

fix
  prqlc/prqlc-parser/src/file_tree.rs
  prqlc/prqlc-parser/src/lib.rs
  prqlc/prqlc/src/ir/pl/fold.rs
Due: no-dbg

fix
  prqlc/bindings/js/src/lib.rs
Due: no-dbg

fix
  prqlc/bindings/js/tests/test_all.mjs
  prqlc/prqlc/src/semantic/mod.rs
  prqlc/prqlc/src/semantic/pass1/mod.rs
Due: no-dbg

fix
  prqlc/prqlc/src/semantic/pass1/mod.rs
Due: no-dbg

fix
  prqlc/prqlc/src/semantic/mod.rs
Due: no-dbg

feat: `select {alias = this}`
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

tweak: Use reference types
  prqlc/prqlc/src/parser.rs
Due: no-dbg

feat: `select {alias = this}` (#4221)
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

tweak: Use reference types (#4222)
  prqlc/prqlc/src/parser.rs
Due: no-dbg

tweak: fix Changelog
  CHANGELOG.md
Due: prql-codeblock

tweak: fix Changelog (#4224)
  CHANGELOG.md
Due: prql-codeblock

Add documentation generator to changelog
  CHANGELOG.md
Due: prql-codeblock

Add documentation generator to changelog (#4225)
  CHANGELOG.md
Due: prql-codeblock

tests: Pin mysql image
  prqlc/prqlc/tests/integration/dbs/docker-compose.yml
Due: none

test: Integration tests work with a single dialect
  prqlc/prqlc/tests/integration/queries.rs
Due: no-dbg

ci: Add features to cache key
  .github/actions/build-prqlc-c/action.yaml
  .github/actions/build-prqlc/action.yaml
  .github/workflows/test-rust.yaml
Due: none

test: Comment out MySql tests temporarily
  prqlc/prqlc/tests/integration/queries.rs
Due: no-dbg

test: Show url when failing to connect to test db
  prqlc/prqlc/tests/integration/dbs/protocol/mysql.rs
Due: no-dbg

test: Comment out MySql tests temporarily (#4230)
  prqlc/prqlc/tests/integration/queries.rs
Due: no-dbg

test: Integration tests work with a single dialect (#4228)
  prqlc/prqlc/tests/integration/queries.rs
Due: no-dbg

test: Show url when failing to connect to test db (#4231)
  prqlc/prqlc/tests/integration/dbs/protocol/mysql.rs
Due: no-dbg

ci: Add features to cache key (#4229)
  .github/actions/build-prqlc-c/action.yaml
  .github/actions/build-prqlc/action.yaml
  .github/workflows/test-rust.yaml
Due: none

test: Pin mysql image (#4227)
  .github/workflows/test-rust.yaml
  prqlc/prqlc/tests/integration/dbs/docker-compose.yml
Due: none

test: Enable ClickHouse tests
  prqlc/prqlc/tests/integration/queries.rs
Due: no-dbg

test: Enable ClickHouse tests (#4232)
  prqlc/prqlc/tests/integration/queries.rs
Due: no-dbg

ci: Fix cache keys
  .github/actions/build-prqlc-c/action.yaml
  .github/actions/build-prqlc/action.yaml
  .github/workflows/test-rust.yaml
  .github/workflows/tests.yaml
Due: none

ci: Fix cache keys (#4233)
  .github/actions/build-prqlc-c/action.yaml
  .github/actions/build-prqlc/action.yaml
  .github/workflows/test-rust.yaml
  .github/workflows/tests.yaml
Due: none

build: cleanup nix flake
  flake.nix
Due: none

internal: Implement `partial_cmp` for `Span`
  prqlc/prqlc-ast/src/span.rs
Due: no-dbg

devops: Don't remove snapshots in `bacon` `test`
  bacon.toml
Due: none

devops: Don't remove snapshots in `bacon` `test` (#4237)
  bacon.toml
Due: none

internal: Implement `partial_cmp` for `Span` (#4236)
  prqlc/prqlc-ast/src/span.rs
Due: no-dbg

docs: Add resolution approach to Code of Conduct (#4202)
  .github/CODE_OF_CONDUCT.md
Due: none
