Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, prql-codeblock

lychee:
  name: lychee (local links only)
  entry: lychee
  language: rust
  additional_dependencies:
  - cli:lychee:0.20.1
  args:
  - --no-progress
  - --include=^(https://(github\.com/(PRQL|prql)|prql-lang\.org|raw\.githubusercontent\.com/(PRQL|prql))|file://)

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

ci: upgrade Tend to 0.3.9 and scope PR metadata permissions (#6408)
  .github/workflows/pull-request-target.yaml
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention-relay.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

fix: pass parser options to cmark_with_options for pulldown-cmark-to-cmark 23
  web/book/src/lib.rs
Due: no-dbg

fix: drop redundant into_iter for cmark_with_options
  web/book/src/lib.rs
Due: no-dbg

fix: report malformed relation literals instead of panicking in lowering
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/tests/integration/error_messages.rs
Due: no-dbg

docs: add CHANGELOG entry for #6413
  CHANGELOG.md
Due: lychee, prql-codeblock

chore: update tend workflows (0.3.9 → 0.3.10)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention-relay.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

fix: parenthesize a modulo or division on the right of a multiplication
  prqlc/prqlc/src/sql/gen_expr.rs
Due: no-dbg

docs: add changelog entry for #6418
  CHANGELOG.md
Due: lychee, prql-codeblock

fix: parenthesize a modulo or division on the right of a multiplication (#6418)
  CHANGELOG.md
  prqlc/prqlc/src/sql/gen_expr.rs
Due: lychee, no-dbg, prql-codeblock

chore: update tend workflows (0.3.9 → 0.3.10) (#6416)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention-relay.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

docs: correct the website Top N example's comment to say it keeps the earliest joiner
  web/website/data/examples/top-n.yaml
Due: none

docs: list get_targets and describe the thrown error shape in the prqlc-js README
  prqlc/bindings/js/README.md
Due: lychee

docs: add changelog entry for #6424
  CHANGELOG.md
Due: lychee, prql-codeblock

fix: parse and highlight the unary `!` operator in the lezer grammar
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/operators.txt
Due: none

Add changelog entry for #6425
  CHANGELOG.md
Due: lychee, prql-codeblock

Format changelog entry
  CHANGELOG.md
Due: lychee, prql-codeblock

fix: stop rounding the remainder of `%` on the sql.mysql target
  prqlc/prqlc/src/sql/std.sql.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__arithmetic.snap
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

Add changelog entry for #6426
  CHANGELOG.md
Due: lychee, prql-codeblock

chore: ignore Zig's .zig-cache directory in the minimal-zig example
  prqlc/bindings/prqlc-c/examples/minimal-zig/.gitignore
Due: none

fix: report malformed relation literals instead of panicking in lowering (#6413)
  CHANGELOG.md
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/tests/integration/error_messages.rs
Due: lychee, no-dbg, prql-codeblock

fix: parse and highlight the unary `!` operator in the lezer grammar (#6425)
  CHANGELOG.md
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/operators.txt
Due: lychee, prql-codeblock

docs: list get_targets and describe the thrown error shape in the prqlc-js README (#6424)
  CHANGELOG.md
  prqlc/bindings/js/README.md
Due: lychee, prql-codeblock

docs: correct the website Top N example's comment to say it keeps the earliest joiner (#6423)
  web/website/data/examples/top-n.yaml
Due: none

chore: ignore Zig's .zig-cache directory in the minimal-zig example (#6427)
  prqlc/bindings/prqlc-c/examples/minimal-zig/.gitignore
Due: none

fix: handle `take` bounds near the limits of i64 (#6347)
  CHANGELOG.md
  prqlc/prqlc/src/sql/gen_expr.rs
Due: lychee, no-dbg, prql-codeblock

Path conditions:
  lychee: any of: \.(md|rst)$, but not: ^web/website/themes/
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
