Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

chore: bump actions/upload-artifact and actions/download-artifact from 3 to 4
  .github/actions/build-prql-python/action.yaml
  .github/actions/build-prqlc/action.yaml
  .github/actions/time-compilation/action.yaml
  .github/workflows/lint-megalinter.yaml
  .github/workflows/release.yaml
  .github/workflows/test-python.yaml
  .github/workflows/tests.yaml
Due: none

feat: add `std.prql` module and rename the `std.prql_version` function to `std.prql.version`
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-2.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-3.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prql-compiler/src/semantic/std.prql
  prqlc/prql-compiler/tests/integration/sql.rs
  web/book/src/project/target.md
Due: no-dbg

feat: add `std.prql` module and rename the `std.prql_version` function to `std.prql.version` (#4006)
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-2.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-3.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prql-compiler/src/semantic/std.prql
  prqlc/prql-compiler/tests/integration/sql.rs
  web/book/src/project/target.md
Due: no-dbg

docs(changelog): update about the prql module
  CHANGELOG.md
Due: prql-codeblock

Update CHANGELOG.md
  CHANGELOG.md
Due: prql-codeblock

docs: Changelog for 0.11.1 (#4002)
  CHANGELOG.md
Due: prql-codeblock

chore: Bump to 0.11.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/prql-compiler-macros/Cargo.toml
  prqlc/prql-compiler/Cargo.toml
  prqlc/prql-compiler/tests/integration/sql.rs
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/Cargo.toml
  web/book/src/project/contributing/development.md
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: no-dbg, prql-codeblock

chore: Bump to 0.11.2 (#4011)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/prql-compiler-macros/Cargo.toml
  prqlc/prql-compiler/Cargo.toml
  prqlc/prql-compiler/tests/integration/sql.rs
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/Cargo.toml
  web/book/src/project/contributing/development.md
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: no-dbg, prql-codeblock

test: type resolver
  prqlc/prql-compiler/src/codegen/ast.rs
  prqlc/prql-compiler/src/lib.rs
  prqlc/prql-compiler/src/semantic/resolver/stmt.rs
  prqlc/prql-compiler/src/semantic/resolver/types.rs
  prqlc/prql-compiler/tests/integration/main.rs
  prqlc/prql-compiler/tests/integration/resolving.rs
Due: no-dbg

test: type resolver (#4012)
  prqlc/prql-compiler/src/codegen/ast.rs
  prqlc/prql-compiler/src/lib.rs
  prqlc/prql-compiler/src/semantic/resolver/stmt.rs
  prqlc/prql-compiler/src/semantic/resolver/types.rs
  prqlc/prql-compiler/tests/integration/main.rs
  prqlc/prql-compiler/tests/integration/resolving.rs
Due: no-dbg

fix: type normalization
  prqlc/prql-compiler/src/semantic/resolver/types.rs
  prqlc/prql-compiler/tests/integration/resolving.rs
Due: no-dbg

chore: update the lock file
  Cargo.lock
Due: none

fix
  prqlc/prql-compiler/src/semantic/resolver/types.rs
Due: no-dbg

build: Bump rust toolchain to 1.74.0
  rust-toolchain.toml
Due: none

internal: Update JS tests
  prqlc/bindings/js/tests/test_all.js
Due: none

build: Bump rust toolchain to 1.74.0 (#4016)
  prqlc/prql-compiler/src/semantic/lowering.rs
  rust-toolchain.toml
Due: no-dbg

internal: Update JS tests (#4017)
  prqlc/bindings/js/tests/test_all.mjs
Due: none

ci: Run non-fork, non-dependabot jobs again
  .github/workflows/nightly.yaml
Due: none

tweak(ci): Remove additional npm step
  .github/workflows/release.yaml
Due: none

feat(Lezer grammar): Add module
  grammars/prql-lezer/src/highlight.js
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/misc.txt
Due: none

ci: Run non-fork, non-dependabot jobs again (#4018)
  .github/workflows/nightly.yaml
Due: none

feat: Syntax highlight for CotEditor
  CHANGELOG.md
  grammars/CotEditor/PRQL.yml
  grammars/CotEditor/README.md
Due: prql-codeblock

chore: Backport #4018 to `web` (#4022)
  .github/workflows/nightly.yaml
Due: none

Update PRQL.yml
  grammars/CotEditor/PRQL.yml
Due: none

ci: Turn off toolchain-update workflow
  .github/workflows/nightly.yaml
Due: none

ci: Turn off toolchain-update workflow (#4023)
  .github/workflows/nightly.yaml
Due: none

fix: type normalization (#4013)
  prqlc/prql-compiler/src/semantic/resolver/types.rs
  prqlc/prql-compiler/tests/integration/resolving.rs
Due: no-dbg

chore: bump rusqlite from 0.29.0 to 0.30.0
  Cargo.lock
  prqlc/prql-compiler/Cargo.toml
Due: none

test: should round for decimal outputs
  prqlc/prql-compiler/tests/integration/queries/group_all.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__group_all.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__group_all.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__group_all.snap
Due: none

feat: Syntax highlight for CotEditor (#4021)
  CHANGELOG.md
  grammars/CotEditor/PRQL.yml
  grammars/CotEditor/README.md
Due: prql-codeblock

chore: bump rusqlite from 0.29.0 to 0.30.0 (#4024)
  Cargo.lock
  prqlc/prql-compiler/Cargo.toml
  prqlc/prql-compiler/tests/integration/queries/group_all.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__group_all.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__group_all.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__group_all.snap
Due: none

test: unit tests for jinja templates/dbt
  prqlc/prqlc/src/jinja.rs
Due: no-dbg

ci: Run code cov on every PR
  .github/workflows/tests.yaml
Due: none

ci: Run code cov on every PR (#4026)
  .github/workflows/tests.yaml
Due: none

test: unit tests for jinja templates/dbt (#4025)
  prqlc/prqlc/src/jinja.rs
Due: no-dbg

ci: Disable clang-format in megalinter
  .mega-linter.yaml
Due: none

ci: Disable clang-format in megalinter (#4027)
  .mega-linter.yaml
Due: none

tests: Add coverage to `prqlc fmt`
  prqlc/prqlc/tests/project/artists.prql
  prqlc/prqlc/tests/test.rs
Due: no-dbg

chore: Update playground `package-lock.json`
  web/playground/package-lock.json
Due: none

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
