Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

test: separate snapshots
  prql-compiler/prqlc/tests/snapshots/test__shell_completion-2.snap
  prql-compiler/prqlc/tests/snapshots/test__shell_completion-3.snap
  prql-compiler/prqlc/tests/snapshots/test__shell_completion-4.snap
  prql-compiler/prqlc/tests/snapshots/test__shell_completion.snap
  prql-compiler/prqlc/tests/test.rs
Due: no-dbg

auto formatting
  prql-compiler/prqlc/tests/test.rs
Due: no-dbg

feat(prqlc): add the `prqlc shell-completion` command to generate shell completions (#2611)
  Cargo.lock
  prql-compiler/prqlc/Cargo.toml
  prql-compiler/prqlc/README.md
  prql-compiler/prqlc/src/cli.rs
  prql-compiler/prqlc/tests/snapshots/test__shell_completion-2.snap
  prql-compiler/prqlc/tests/snapshots/test__shell_completion-3.snap
  prql-compiler/prqlc/tests/snapshots/test__shell_completion-4.snap
  prql-compiler/prqlc/tests/snapshots/test__shell_completion.snap
  prql-compiler/prqlc/tests/test.rs
Due: no-dbg

docs: minor update
  prql-compiler/prqlc/README.md
Due: none

Some more switches
  CHANGELOG.md
  web/book/src/transforms/aggregate.md
  web/book/src/transforms/append.md
  web/book/src/transforms/sort.md
  web/book/src/transforms/take.md
  web/book/src/transforms/window.md
Due: prql-codeblock

fix brew install name
  web/website/content/_index.md
Due: none

book page
  web/book/src/SUMMARY.md
  web/book/src/syntax/lists.md
  web/book/src/syntax/tuples.md
  web/book/tests/snapshots/snapshot__syntax__lists-0.snap
  web/book/tests/snapshots/snapshot__syntax__tuples-0.snap
  web/book/tests/snapshots/snapshot__syntax__tuples-1.snap
  web/book/tests/snapshots/snapshot__syntax__tuples-2.snap
Due: none

Add note to book re list name
  web/book/src/syntax/tuples.md
Due: none

add changelog
  CHANGELOG.md
Due: prql-codeblock

chore: Add changelog entry for #2609
  CHANGELOG.md
Due: prql-codeblock

docs(prqlc): add packaging status badge and minor tweaks (#2614)
  prql-compiler/prqlc/README.md
  web/website/content/_index.md
Due: none

chore: Add changelog entry for #2609 (#2615)
  CHANGELOG.md
Due: prql-codeblock

docs: Update Ordering guarantees in Book
  web/book/src/transforms/sort.md
  web/book/tests/snapshots/snapshot__transforms__sort-5.snap
Due: none

test: Assert failures fail (#2608)
  web/book/src/language-features/target.md
  web/book/src/syntax/expressions-and-operators.md
  web/book/tests/snapshot.rs
  web/book/tests/snapshots/snapshot__syntax__expressions-and-operators-2.snap
  web/book/tests/snapshots/snapshot__syntax__expressions-and-operators-3.snap
Due: no-dbg

test: Assert pass/fail in book snapshot tests
  web/book/src/lib.rs
  web/book/tests/snapshot.rs
Due: no-dbg

test: Assert pass/fail in book snapshot tests (#2619)
  web/book/src/lib.rs
  web/book/tests/snapshot.rs
Due: no-dbg

No need for the extra variant!
  prql-compiler/src/ast/rq/fold.rs
  prql-compiler/src/ast/rq/transform.rs
  prql-compiler/src/sql/srq/anchor.rs
  prql-compiler/src/sql/srq/gen_query.rs
  prql-compiler/src/sql/srq/preprocess.rs
Due: no-dbg

build: Bump toolchain, test `prqlc` for `msrv`
  .github/workflows/test-all.yaml
  prql-compiler/prqlc/Cargo.toml
  rust-toolchain.toml
Due: none

fix working dir
  .github/workflows/test-all.yaml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: prql-codeblock

build: Bump toolchain, test `prqlc` for `msrv` (#2621)
  .github/workflows/test-all.yaml
  prql-compiler/prqlc/Cargo.toml
  rust-toolchain.toml
Due: none

docs: link to prqlc
  README.md
Due: none

docs: fix link to eitsupi
  web/book/src/contributing/README.md
Due: none

chore: remove Dockerfile in favor of pre-built devcontainer image
  .github/workflows/test-all.yaml
  Dockerfile
Due: none

docs: fix some links (#2623)
  README.md
  web/book/src/contributing/README.md
Due: none

docs: `ghcr.io/prql/prql-devcontainer-base` is also built for linux/arm64
  web/book/src/contributing/developing-with-dev-containers.md
Due: none

docs: update about installing task
  web/book/src/contributing/development.md
Due: none

docs: move devcontainers page to the development page
  web/book/src/SUMMARY.md
  web/book/src/contributing/developing-with-dev-containers.md
  web/book/src/contributing/development.md
Due: none

docs: tweak about devcontainer
  web/book/src/contributing/development.md
Due: none

docs: remove developing with docker page
  web/book/src/SUMMARY.md
  web/book/src/contributing/developing-with-docker.md
Due: none

docs: wording
  web/book/src/contributing/development.md
Due: none

docs: format call out blocks and add some minor notes
  web/book/src/contributing/development.md
Due: none

feat: Use `DISTINCT ON` for dialects which support it (#2244)
  prql-compiler/src/ast/rq/fold.rs
  prql-compiler/src/sql/dialect.rs
  prql-compiler/src/sql/gen_query.rs
  prql-compiler/src/sql/srq/anchor.rs
  prql-compiler/src/sql/srq/ast.rs
  prql-compiler/src/sql/srq/preprocess.rs
  prql-compiler/src/tests/test.rs
Due: no-dbg

build: Reenable toolchain updates
  .github/workflows/nightly.yaml
Due: none

docs: Proposed CHANGELOG with one-line entries (#2613)
  CHANGELOG.md
Due: prql-codeblock

chore: Remove broken link
  web/book/src/integrations/README.md
Due: none

build: Reenable toolchain updates (#2626)
  .github/workflows/nightly.yaml
Due: none

chore: Remove broken link (#2628)
  .github/workflows/nightly.yaml
  web/book/src/integrations/README.md
Due: none

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
