Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.rs$'
  - repo: https://github.com/crate-ci/typos
    rev: v1.16.1
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    # Upgrading to the bare `v3.0.0` seems to break the plugin; contributions welcome to fix.
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.278
    hooks:
      - id: ruff
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
      - id: clippy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
      - id: mypy
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.11.2
    hooks:
      - id: markdown-link-check
        name: markdown-link-check-local
        files: \.md$
        args: ["--config=.config/.markdown-link-check-local.json"]
        # To run across everything (see nightly.yaml for more details)
      - id: markdown-link-check
        name: markdown-link-check-all
        stages: [manual]
        files: \.md$
        args: ["--config=.config/.markdown-link-check-all.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote
ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, clippy, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

devops: Update ics file for new dev call time (#3961)
  web/book/src/project/contributing/fortnightly-dev-call.ics
Due: none

0.11.0 changelog
  CHANGELOG.md
Due: prql-codeblock

package.json updates for GitHub packages
  prqlc/bindings/js/package.json
Due: none

Update README
  prqlc/bindings/js/README.md
Due: none

docs(CHANGELOG): Vite and Lezer
  CHANGELOG.md
Due: prql-codeblock

refactor: rename string to text
  CHANGELOG.md
  prqlc/prql-compiler/src/semantic/std.prql
  prqlc/prql-compiler/src/sql/gen_expr.rs
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/error_messages.rs
  prqlc/prql-compiler/tests/integration/queries/date_to_string.prql
  prqlc/prql-compiler/tests/integration/queries/date_to_text.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__date_to_string.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__date_to_text.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__date_to_text.snap
  prqlc/prql-compiler/tests/integration/sql.rs
  web/book/src/reference/syntax/date-time/index.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__date-time__index__date-and-time__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__date-time__index__date-and-time__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__date-time__index__date-and-time__2.snap
Due: no-dbg, prql-codeblock

fix: ensure parentheses are set for sub expr
  prqlc/prql-compiler/src/sql/operators.rs
  prqlc/prql-compiler/tests/integration/queries/basic_operations.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__basic_operations.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__pipelines.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__basic_operations.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__basic_operations.snap
  prqlc/prql-compiler/tests/integration/sql.rs
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__operators__wrapping-lines__1.snap
  web/website/data/examples/expressions.yaml
  web/website/data/examples/functions.yaml
Due: no-dbg

fix: Patch division precedence issues
  prqlc/prql-compiler/src/sql/gen_expr.rs
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/parser.rs
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__arithmetic.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__pipelines.snap
  prqlc/prql-compiler/tests/integration/sql.rs
Due: no-dbg

fix: Patch division precedence issues (#3969)
  prqlc/prql-compiler/src/sql/gen_expr.rs
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/parser.rs
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__arithmetic.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__pipelines.snap
  prqlc/prql-compiler/tests/integration/sql.rs
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__late-binding__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__piping-values-into-functions__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__piping-values-into-functions__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__piping-values-into-functions__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__README__standard-library__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__README__standard-library__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__operators__division-and-integer-division__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__operators__parentheses__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__operators__wrapping-lines__1.snap
  web/website/data/examples/expressions.yaml
  web/website/data/examples/functions.yaml
Due: no-dbg

feat: add `date.to_text` for MySQL, Postgres, MSSQL and Clickhouse + doc (#3955)
  CHANGELOG.md
  prqlc/prql-compiler/src/semantic/std.prql
  prqlc/prql-compiler/src/sql/dialect.rs
  prqlc/prql-compiler/src/sql/gen_expr.rs
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/error_messages.rs
  prqlc/prql-compiler/tests/integration/queries/date_to_string.prql
  prqlc/prql-compiler/tests/integration/queries/date_to_text.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__date_to_string.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__date_to_text.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__date_to_text.snap
  prqlc/prql-compiler/tests/integration/sql.rs
  web/book/src/SUMMARY.md
  web/book/src/reference/syntax/date-time/format-specifiers.md
  web/book/src/reference/syntax/date-time/index.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__date-time__index__date-and-time__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__date-time__index__date-and-time__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__date-time__index__date-and-time__2.snap
Due: no-dbg, prql-codeblock

fix: Correct division precedence without paretheses everywhere
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__arithmetic.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__pipelines.snap
  prqlc/prql-compiler/tests/integration/sql.rs
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__late-binding__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__piping-values-into-functions__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__piping-values-into-functions__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__piping-values-into-functions__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__README__standard-library__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__README__standard-library__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__operators__division-and-integer-division__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__operators__parentheses__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__operators__wrapping-lines__1.snap
  web/website/data/examples/expressions.yaml
  web/website/data/examples/functions.yaml
Due: no-dbg

fix: Correct division precedence without paretheses everywhere (#3970)
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__arithmetic.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__pipelines.snap
  prqlc/prql-compiler/tests/integration/sql.rs
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__late-binding__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__piping-values-into-functions__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__piping-values-into-functions__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__piping-values-into-functions__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__README__standard-library__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__README__standard-library__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__operators__division-and-integer-division__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__operators__parentheses__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__operators__wrapping-lines__1.snap
  web/website/data/examples/expressions.yaml
  web/website/data/examples/functions.yaml
Due: no-dbg

docs: details on new added modules
  web/book/src/SUMMARY.md
  web/book/src/reference/stdlib/other-functions/README.md
  web/book/src/reference/stdlib/other-functions/date-time-format-specifiers.md
  web/book/src/reference/stdlib/other-functions/date.md
  web/book/src/reference/stdlib/other-functions/math.md
  web/book/src/reference/stdlib/other-functions/string.md
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__other-functions__date__date-functions__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__other-functions__date__date-functions__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__other-functions__date__date-functions__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__other-functions__math__example__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__other-functions__string__example__0.snap
Due: none

Fix confusion: "celsius_to_fahrenhent" is more clear than f_FROM_c, especially since we have the opposite function called "fahrenheit_to_celsius"
  web/website/data/examples/functions.yaml
Due: none

docs: Fix confusion: "celsius_to_fahrenhent" is more clear ... (#3972)
  web/website/data/examples/functions.yaml
Due: none

Reformat for modern PRQL (select and sort use `{}`) Fix s-strings to use single-quotes around arguments to avoid interpolation
  web/website/content/posts/2023-01-28-format-pretty-reports/_index.md
Due: none

refactor: rearrange files
  web/book/src/SUMMARY.md
  web/book/src/reference/stdlib/date.md
  web/book/src/reference/stdlib/math.md
  web/book/src/reference/stdlib/other-functions/README.md
  web/book/src/reference/stdlib/other-functions/date.md
  web/book/src/reference/stdlib/string.md
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__date__date-functions__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__date__date-functions__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__date__date-functions__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__math__example__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__string__example__0.snap
Due: none

docs: details on new added modules (#3971)
  web/book/src/SUMMARY.md
  web/book/src/reference/stdlib/date.md
  web/book/src/reference/stdlib/math.md
  web/book/src/reference/stdlib/string.md
  web/book/src/reference/syntax/date-time/index.md
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__date__date-functions__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__date__date-functions__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__date__date-functions__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__math__example__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__string__example__0.snap
Due: none

refactor: rename string module into text
  CHANGELOG.md
  prqlc/prql-compiler/src/semantic/std.prql
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/parser.rs
  prqlc/prql-compiler/tests/integration/queries/math_module.prql
  prqlc/prql-compiler/tests/integration/queries/string.prql
  prqlc/prql-compiler/tests/integration/queries/text_module.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__math.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__math_module.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__text_module.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__math.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__math_module.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__string.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__text_module.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__math.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__math_module.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__text_module.snap
  prqlc/prql-compiler/tests/integration/sql.rs
  web/book/src/SUMMARY.md
  web/book/src/reference/declarations/functions.md
  web/book/src/reference/stdlib/text.md
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__other-examples__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__text__example__0.snap
Due: no-dbg, prql-codeblock

Update CHANGELOG.md
  CHANGELOG.md
Due: prql-codeblock

refactor: rename string module into text (#3973)
  CHANGELOG.md
  prqlc/prql-compiler/src/semantic/std.prql
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/parser.rs
  prqlc/prql-compiler/tests/integration/queries/math_module.prql
  prqlc/prql-compiler/tests/integration/queries/string.prql
  prqlc/prql-compiler/tests/integration/queries/text_module.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__math.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__math_module.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__text_module.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__math.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__math_module.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__string.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__text_module.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__math.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__math_module.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__text_module.snap
  prqlc/prql-compiler/tests/integration/sql.rs
  web/book/src/SUMMARY.md
  web/book/src/reference/declarations/functions.md
  web/book/src/reference/stdlib/text.md
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__other-examples__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__text__example__0.snap
Due: no-dbg, prql-codeblock

docs(CHANGELOG): Vite and Lezer (#3967)
  CHANGELOG.md
Due: prql-codeblock

docs: 0.11.0 changelog (#3966)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/prql-compiler-macros/Cargo.toml
  prqlc/prql-compiler/Cargo.toml
  prqlc/prql-compiler/tests/integration/sql.rs
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/Cargo.toml
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: no-dbg, prql-codeblock

build: Bump versions to 0.11.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/prql-compiler-macros/Cargo.toml
  prqlc/prql-compiler/Cargo.toml
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/Cargo.toml
  web/book/src/project/target.md
  web/playground/package-lock.json
  web/playground/package.json
Due: prql-codeblock

chore: Backport #3965 to `web` (#3975)
  .github/workflows/build-web.yaml
Due: none

web: Roll back pages deployment actions
  .github/workflows/build-web.yaml
  .github/workflows/publish-web.yaml
Due: none

web: Revert pages deployment's action upgrades (#3976)
  .github/workflows/build-web.yaml
  .github/workflows/publish-web.yaml
Due: none

chore: Backport #3976 to `web` (#3977)
  .github/workflows/build-web.yaml
  .github/workflows/publish-web.yaml
Due: none

Fix the other `select`
  web/website/content/posts/2023-01-28-format-pretty-reports/_index.md
Due: none

docs: Fix "pretty" blog post (#3978)
  web/website/content/posts/2023-01-28-format-pretty-reports/_index.md
Due: none

docs: Add 0.11.1 changelog template (#3974)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/prql-compiler-macros/Cargo.toml
  prqlc/prql-compiler/Cargo.toml
  prqlc/prql-compiler/tests/integration/sql.rs
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/Cargo.toml
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: no-dbg, prql-codeblock

test: add serde test for prqlc-ast span
  Cargo.lock
  prqlc/prqlc-ast/Cargo.toml
  prqlc/prqlc-ast/src/span.rs
Due: no-dbg

remove redundant use
  prqlc/prqlc-ast/src/span.rs
Due: no-dbg

test: add serde test for prqlc-ast span (#3985)
  Cargo.lock
  prqlc/prqlc-ast/Cargo.toml
  prqlc/prqlc-ast/src/span.rs
Due: no-dbg

devops: Include CLI tests in code coverage
  .github/.codecov.yml
  .github/workflows/tests.yaml
Due: none

devops: Include CLI tests in code coverage (#3987)
  .github/.codecov.yml
  .github/workflows/tests.yaml
Due: none

fix: support group with take more than 1
  CHANGELOG.md
  prqlc/prql-compiler/src/sql/srq/preprocess.rs
  prqlc/prql-compiler/tests/integration/queries/group_sort_limit_take_1.prql
  prqlc/prql-compiler/tests/integration/queries/group_sort_limit_take_3.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__group_sort_limit_take_1.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__group_sort_limit_take_3.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__group_sort_limit_take_1.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__group_sort_limit_take_3.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__group_sort_limit_take_1.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__group_sort_limit_take_3.snap
  prqlc/prql-compiler/tests/integration/sql.rs
Due: no-dbg, prql-codeblock
