Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

build: Bump MSRV to 1.70
  Cargo.toml
  crates/prql-compiler/Cargo.toml
Due: none

docs: fix typo of link
  crates/prql-compiler/src/lib.rs
Due: no-dbg

docs: fix typo of link (#3583)
  crates/prql-compiler/src/lib.rs
Due: no-dbg

Rework grammar with semantic parse tree
  grammars/prql-lezer/package.json
  grammars/prql-lezer/src/highlight.js
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/arithmetics.txt
  grammars/prql-lezer/test/arrays.txt
  grammars/prql-lezer/test/datetime.txt
  grammars/prql-lezer/test/identifiers.txt
  grammars/prql-lezer/test/misc.txt
  grammars/prql-lezer/test/numbers.txt
  grammars/prql-lezer/test/operators.txt
  grammars/prql-lezer/test/strings.txt
  grammars/prql-lezer/test/tuples.txt
Due: none

Update grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/src/prql.grammar
Due: none

Update prql.grammar
  grammars/prql-lezer/src/prql.grammar
Due: none

feat(Lezer grammar): Rework grammar with semantic parse tree (#3588)
  grammars/prql-lezer/package.json
  grammars/prql-lezer/src/highlight.js
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/arithmetics.txt
  grammars/prql-lezer/test/arrays.txt
  grammars/prql-lezer/test/datetime.txt
  grammars/prql-lezer/test/identifiers.txt
  grammars/prql-lezer/test/misc.txt
  grammars/prql-lezer/test/numbers.txt
  grammars/prql-lezer/test/operators.txt
  grammars/prql-lezer/test/strings.txt
  grammars/prql-lezer/test/tuples.txt
Due: none

Revert "chore: bump duckdb from 0.8.1 to 0.9.0 (#3590)"
  Cargo.lock
  crates/prql-compiler/Cargo.toml
Due: none

Revert "chore: bump insta from 1.32.0 to 1.33.0 (#3591)"
  Cargo.lock
  bindings/prql-python/Cargo.toml
  crates/prql-compiler/Cargo.toml
  crates/prql-parser/Cargo.toml
  crates/prqlc/Cargo.toml
  crates/tests_misc/Cargo.toml
  web/book/Cargo.toml
Due: none

revert: #3590 (#3593)
  Cargo.lock
  crates/prql-compiler/Cargo.toml
Due: none

Revert "revert: #3590 (#3593)"
  Cargo.lock
  crates/prql-compiler/Cargo.toml
Due: none

Sort by both columns
  crates/prql-compiler/tests/integration/queries/invoice_totals.prql
Due: none

revert: re-revert #3590 (#3595)
  Cargo.lock
  crates/prql-compiler/Cargo.toml
  crates/prql-compiler/tests/integration/queries/invoice_totals.prql
  crates/prql-compiler/tests/integration/snapshots/integration__fmt@invoice_totals.prql.snap
  crates/prql-compiler/tests/integration/snapshots/integration__sql@invoice_totals.prql.snap
Due: none

Add chroma
  grammars/README.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: prql-codeblock

feat: Add chroma grammar (#3597)
  CHANGELOG.md
  grammars/README.md
Due: prql-codeblock

feat!: std.sql.read_csv is compiled to read_csv by default
  crates/prql-compiler/src/sql/std.sql.prql
  crates/prql-compiler/src/tests/test.rs
Due: no-dbg

docs(book): update the page
  web/book/src/how-do-i/read-files.md
  web/book/tests/documentation/snapshots/documentation__book__how-do-i__read-files__how-do-i-read-files__1.snap
Due: none

docs(changelog): update about read_csv
  CHANGELOG.md
Due: prql-codeblock

docs(book): add a section about division
  web/book/src/reference/syntax/operators.md
Due: none

test: update snapshots
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__operators__division-and-integer-division__0.snap
Due: none

chore: Add SCC to CHANGELOG.md (#3601)
  CHANGELOG.md
Due: prql-codeblock

Update web/book/src/reference/syntax/operators.md
  web/book/src/reference/syntax/operators.md
Due: none

docs(book): add a section about division operators (#3603)
  web/book/src/reference/syntax/operators.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__operators__division-and-integer-division__0.snap
Due: none

chore: Backport #3603 to `web` (#3604)
  web/book/src/reference/syntax/operators.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__operators__division-and-integer-division__0.snap
Due: none

feat!: `std.sql.read_csv` is compiled to `read_csv` in SQL by default (#3599)
  CHANGELOG.md
  crates/prql-compiler/src/sql/std.sql.prql
  crates/prql-compiler/src/tests/test.rs
  web/book/src/how-do-i/read-files.md
  web/book/tests/documentation/snapshots/documentation__book__how-do-i__read-files__how-do-i-read-files__1.snap
Due: no-dbg, prql-codeblock

docs(changelog): link to the division docs
  CHANGELOG.md
Due: prql-codeblock

docs(changelog): link to the division docs (#3605)
  CHANGELOG.md
Due: prql-codeblock

web: Add CodeMirror demo
  web/prql-codemirror-demo/.gitignore
  web/prql-codemirror-demo/README.md
  web/prql-codemirror-demo/index.html
  web/prql-codemirror-demo/package-lock.json
  web/prql-codemirror-demo/package.json
  web/prql-codemirror-demo/src/codemirror.ts
  web/prql-codemirror-demo/src/lang-prql/complete.ts
  web/prql-codemirror-demo/src/lang-prql/prql.ts
  web/prql-codemirror-demo/src/main.ts
  web/prql-codemirror-demo/src/style.css
  web/prql-codemirror-demo/src/vite-env.d.ts
  web/prql-codemirror-demo/tsconfig.json
Due: none

web: Add Vite to playground
  web/playground/.eslintrc.cjs
  web/playground/index.html
  web/playground/package-lock.json
  web/playground/package.json
  web/playground/src/app/App.jsx
  web/playground/src/main.jsx
  web/playground/src/output/Output.jsx
  web/playground/src/sidebar/Sidebar.jsx
  web/playground/src/workbench/Workbench.jsx
  web/playground/vite.config.js
Due: none

Rename generateBook.js to generateBook.cjs
  web/playground/generateBook.cjs
  web/playground/package.json
Due: none

Remove wasm-react-scripts package
  web/playground/package-lock.json
  web/playground/package.json
Due: none

Update packages and remove npm-watch
  web/playground/package-lock.json
  web/playground/package.json
Due: none

Update README.md
  web/prql-codemirror-demo/README.md
Due: none

web: Update mdbook-admonish assets to v3
  web/book/book.toml
  web/book/mdbook-admonish.css
Due: none

web: Update mdbook-admonish assets to v3 (#3613)
  web/book/book.toml
  web/book/mdbook-admonish.css
Due: none

docs(changelog): Add gcloc and cloc (#3612)
  CHANGELOG.md
Due: prql-codeblock

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
