Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, prql-codeblock

lychee:
  name: lychee (local links only)
  entry: lychee
  language: rust
  additional_dependencies:
  - cli:lychee:0.20.1
  args:
  - --no-progress
  - --include=^(https://(github\.com/(PRQL|prql)|prql-lang\.org|raw\.githubusercontent\.com/(PRQL|prql))|file://)

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

docs: correct the MSSQL row-limiting claim in the website Dialects example (#6300)
  web/website/data/examples/dialects.yaml
Due: none

ci: run the cargo doc check, which its boolean gate had disabled
  .github/workflows/test-rust.yaml
Due: none

fix: report which option was invalid in the Python binding's compile
  prqlc/bindings/prqlc-python/python/tests/test_all.py
  prqlc/bindings/prqlc-python/src/lib.rs
Due: no-dbg

docs: fix broken import paths in the prqlc-js README examples
  prqlc/bindings/js/README.md
Due: lychee

docs: correct the target list in the prqlc-js README Notes
  prqlc/bindings/js/README.md
Due: lychee

ci: correct the --no-deps rationale comment
  .github/workflows/test-rust.yaml
Due: none

fix: name the rejected display value and the accepted ones
  CHANGELOG.md
  prqlc/bindings/prqlc-python/python/tests/test_all.py
  prqlc/bindings/prqlc-python/src/lib.rs
  prqlc/prqlc/src/lib.rs
Due: lychee, no-dbg, prql-codeblock

docs: fix stale import paths and target list in the prqlc-js README (#6304)
  prqlc/bindings/js/README.md
Due: lychee

test: cover the invalid display option message in a Rust unit test
  prqlc/bindings/prqlc-python/src/lib.rs
Due: no-dbg

refactor: read the accepted display values from DisplayOptions::VARIANTS
  Cargo.lock
  prqlc/bindings/prqlc-python/Cargo.toml
  prqlc/bindings/prqlc-python/src/lib.rs
  prqlc/prqlc/src/lib.rs
Due: no-dbg

docs: narrow the changelog claim about the two Python entry points
  CHANGELOG.md
Due: lychee, prql-codeblock

ci: run the cargo doc check, which its boolean gate had disabled (#6302)
  .github/workflows/test-rust.yaml
Due: none

fix: report which option was invalid in the Python binding's compile (#6303)
  CHANGELOG.md
  Cargo.lock
  prqlc/bindings/prqlc-python/Cargo.toml
  prqlc/bindings/prqlc-python/python/tests/test_all.py
  prqlc/bindings/prqlc-python/src/lib.rs
  prqlc/prqlc/src/lib.rs
Due: lychee, no-dbg, prql-codeblock

fix: omit AS before table aliases on the sql.oracle target
  prqlc/prqlc/src/sql/dialect.rs
  prqlc/prqlc/src/sql/gen_query.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

docs: add changelog entry for #6306
  CHANGELOG.md
Due: lychee, prql-codeblock

fix: omit AS before table aliases on the sql.oracle target (#6306)
  CHANGELOG.md
  prqlc/prqlc/src/sql/dialect.rs
  prqlc/prqlc/src/sql/gen_query.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: lychee, no-dbg, prql-codeblock

fix: highlight the case and prql keywords and the brackets in the lezer grammar
  grammars/prql-lezer/src/highlight.js
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/test-highlight.js
Due: none

docs: drop the broken template-literal examples from the prqlc-js README
  prqlc/bindings/js/README.md
Due: lychee

chore: update tend workflows (0.2.5 → 0.2.6)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

docs: add changelog entry for the prqlc-js README fix
  CHANGELOG.md
Due: lychee, prql-codeblock

test: pin the prql and case nodes and check every highlight selector resolves
  grammars/prql-lezer/src/highlight.js
  grammars/prql-lezer/test/misc.txt
  grammars/prql-lezer/test/test-highlight.js
Due: none

chore: update tend workflows (0.2.5 → 0.2.6) (#6308)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

docs: drop the broken template-literal examples from the prqlc-js README (#6309)
  CHANGELOG.md
  prqlc/bindings/js/README.md
Due: lychee, prql-codeblock

refine: remove the unused UnOp enum from the RQ IR
  prqlc/prqlc/src/ir/rq/expr.rs
  prqlc/prqlc/src/ir/rq/mod.rs
Due: no-dbg

fix: keep the type annotation on a defaulted function parameter in fmt
  prqlc/prqlc/src/codegen/ast.rs
Due: no-dbg

chore: update tend workflows (0.2.6 → 0.2.7)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

test: build the no-default parameter AST directly rather than parse and mutate
  prqlc/prqlc/src/codegen/ast.rs
Due: no-dbg

fix: write a function parameter as what it holds, not as what its list implies
  CHANGELOG.md
  prqlc/prqlc/src/codegen/ast.rs
Due: lychee, no-dbg, prql-codeblock

docs: name only the default as what decides a parameter's list
  CHANGELOG.md
Due: lychee, prql-codeblock

fix: keep the type and the default on a function parameter in fmt (#6311)
  CHANGELOG.md
  prqlc/prqlc/src/codegen/ast.rs
Due: lychee, no-dbg, prql-codeblock

chore: update tend workflows (0.2.6 → 0.2.7) (#6312)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

fix: keep watching when a file in the tree fails to compile
  CHANGELOG.md
  prqlc/prqlc/src/cli/watch.rs
Due: lychee, no-dbg, prql-codeblock

docs: reference the PR number in the changelog entry
  CHANGELOG.md
Due: lychee, prql-codeblock

fix: report the errors the initial watch pass discards
  prqlc/prqlc/src/cli/watch.rs
Due: no-dbg

docs: cover the watch loop's silent errors in the changelog entry
  CHANGELOG.md
Due: lychee, prql-codeblock

chore: bump quinn-proto and rand in the lockfile
  Cargo.lock
Due: none

chore: bump quinn-proto and rand in the lockfile to clear two advisories (#6314)
  Cargo.lock
Due: none

fix: highlight the case and prql keywords and the brackets in the lezer grammar (#6307)
  grammars/prql-lezer/src/highlight.js
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/misc.txt
  grammars/prql-lezer/test/test-highlight.js
Due: none

fix: keep backticks on names containing `$` in `fmt`
  prqlc/prqlc/src/codegen/ast.rs
Due: no-dbg

devops: scope the `-diff` gitattribute to the minified highlight.js
  .gitattributes
Due: none

Path conditions:
  lychee: any of: \.(md|rst)$, but not: ^web/website/themes/
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
