Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, prql-codeblock

lychee:
  name: lychee (local links only)
  entry: lychee
  language: rust
  additional_dependencies:
  - cli:lychee:0.20.1
  args:
  - --no-progress
  - --include=^(https://(github\.com/(PRQL|prql)|prql-lang\.org|raw\.githubusercontent\.com/(PRQL|prql))|file://)

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

chore: Lock mdbook dependencies to versions compatible with 0.4.x (#5586)
  Taskfile.yaml
Due: none

fix: return error for join referencing inaccessible table (#5587)
  CLAUDE.md
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/inference.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/sql/gen_query.rs
Due: lychee, no-dbg

fix: Lineage traces through CTEs to source tables (#5581)
  .typos.toml
  prqlc/prqlc/src/semantic/resolver/inference.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__genre_counts.snap
Due: no-dbg

chore: use Opus model for Claude Code GitHub Action
  .github/workflows/claude.yaml
  .github/workflows/test-claude.yaml
Due: none

chore: use Opus model for Claude Code GitHub Action (#5595)
  .github/workflows/claude.yaml
  .github/workflows/test-claude.yaml
Due: none

chore: Update macOS runners to version 15
  .github/actionlint.yaml
  .github/workflows/release.yaml
  .github/workflows/test-rust.yaml
  .github/workflows/tests.yaml
Due: none

chore: Update macOS runners to version 15 (#5596)
  .github/actionlint.yaml
  .github/workflows/release.yaml
  .github/workflows/test-rust.yaml
  .github/workflows/tests.yaml
Due: none

fix: Close HTML comment in sort.md documentation
  web/book/src/reference/stdlib/transforms/sort.md
Due: lychee

fix: Update CI to use mdbook 0.5.0
  .github/workflows/build-web.yaml
  .github/workflows/tests.yaml
  web/book/book.toml
Due: none

refactor: Replace mdbook-admonish with native admonitions
  web/book/book.toml
  web/book/src/project/bindings/r.md
  web/book/src/project/contributing/development.md
  web/book/src/project/integrations/qstudio.md
  web/book/src/project/target.md
  web/book/src/reference/data/from.md
  web/book/src/reference/data/read-files.md
  web/book/src/reference/spec/modules.md
  web/book/src/reference/spec/name-resolution.md
  web/book/src/reference/stdlib/README.md
  web/book/src/reference/stdlib/date.md
  web/book/src/reference/stdlib/transforms/aggregate.md
  web/book/src/reference/stdlib/transforms/loop.md
  web/book/src/reference/stdlib/transforms/sort.md
  web/book/src/reference/syntax/arrays.md
  web/book/src/reference/syntax/literals.md
  web/book/src/reference/syntax/operators.md
  web/book/src/reference/syntax/ranges.md
  web/book/src/reference/syntax/s-strings.md
  web/book/src/reference/syntax/strings.md
  web/book/src/reference/syntax/tuples.md
  web/book/src/tutorial/filtering.md
  web/book/src/tutorial/relations.md
Due: lychee

fix: Close HTML comment in sort.md documentation (#5597)
  web/book/src/reference/stdlib/transforms/sort.md
Due: lychee

fix: Exclude criterion from WASM builds to fix test-all
  prqlc/prqlc/Cargo.toml
Due: none

fix: Update preprocessor to support mdbook 0.5.0 native admonitions
  Cargo.lock
  web/book/Cargo.toml
  web/book/src/lib.rs
  web/book/src/project/bindings/r.md
  web/book/src/project/contributing/development.md
  web/book/src/project/integrations/qstudio.md
  web/book/src/project/target.md
  web/book/src/reference/data/from.md
  web/book/src/reference/data/read-files.md
  web/book/src/reference/spec/modules.md
  web/book/src/reference/spec/name-resolution.md
  web/book/src/reference/stdlib/README.md
  web/book/src/reference/stdlib/date.md
  web/book/src/reference/stdlib/transforms/aggregate.md
  web/book/src/reference/stdlib/transforms/loop.md
  web/book/src/reference/stdlib/transforms/sort.md
  web/book/src/reference/syntax/arrays.md
  web/book/src/reference/syntax/literals.md
  web/book/src/reference/syntax/operators.md
  web/book/src/reference/syntax/ranges.md
  web/book/src/reference/syntax/s-strings.md
  web/book/src/reference/syntax/strings.md
  web/book/src/reference/syntax/tuples.md
  web/book/src/tutorial/filtering.md
  web/book/src/tutorial/relations.md
Due: lychee, no-dbg

fix: Add --dnd flag to cargo insta for nextest doctest compatibility
  .github/workflows/test-rust.yaml
  prqlc/Taskfile.yaml
Due: none

chore: Remove mdbook version locking from CI
  .github/workflows/build-web.yaml
  .github/workflows/tests.yaml
Due: none

fix: Add --dnd flag to cargo insta for nextest doctest compatibility (#5599)
  .github/workflows/test-rust.yaml
  prqlc/Taskfile.yaml
Due: none

fix: Add mdbook-footnote to check-links-book CI job
  .github/workflows/tests.yaml
Due: none

fix: Update shell completion snapshots for clap update
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-2.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-3.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-4.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion.snap
Due: none

fix: Exclude criterion from WASM builds to fix test-all (#5598)
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/benches/bench.rs
  prqlc/prqlc/benches/bench_impl.rs
Due: no-dbg

chore: bump minimum clap version to 4.5.53
  prqlc/prqlc/Cargo.toml
Due: none

chore: upgrade mdbook to 0.5.0 (#5568)
  .github/workflows/build-web.yaml
  .github/workflows/tests.yaml
  Cargo.lock
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-2.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-3.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-4.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion.snap
  web/book/Cargo.toml
  web/book/book.toml
  web/book/src/lib.rs
  web/book/src/main.rs
  web/book/src/project/bindings/r.md
  web/book/src/project/contributing/development.md
  web/book/src/project/integrations/qstudio.md
  web/book/src/project/target.md
  web/book/src/reference/data/from.md
  web/book/src/reference/data/read-files.md
  web/book/src/reference/spec/modules.md
  web/book/src/reference/spec/name-resolution.md
  web/book/src/reference/stdlib/README.md
  web/book/src/reference/stdlib/date.md
  web/book/src/reference/stdlib/transforms/aggregate.md
  web/book/src/reference/stdlib/transforms/loop.md
  web/book/src/reference/stdlib/transforms/sort.md
  web/book/src/reference/syntax/arrays.md
  web/book/src/reference/syntax/literals.md
  web/book/src/reference/syntax/operators.md
  web/book/src/reference/syntax/ranges.md
  web/book/src/reference/syntax/s-strings.md
  web/book/src/reference/syntax/strings.md
  web/book/src/reference/syntax/tuples.md
  web/book/src/tutorial/filtering.md
  web/book/src/tutorial/relations.md
Due: lychee, no-dbg

fix: Return error instead of panicking when window rows/range is not a range
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/tests/integration/error_messages.rs
Due: no-dbg

fix: Return error instead of panicking when window rows/range is not a range (#5603)
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/tests/integration/error_messages.rs
Due: no-dbg

fix: Snowflake interval quoting style
  prqlc/prqlc/src/sql/dialect.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: Snowflake interval quoting style (#5604)
  prqlc/prqlc/src/sql/dialect.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

chore: Prepare release 0.13.8
  CHANGELOG.md
Due: lychee, prql-codeblock

chore: Prepare release 0.13.8 (#5605)
  CHANGELOG.md
Due: lychee, prql-codeblock

chore: Release
  Cargo.lock
  Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/packages/snap/snapcraft.yaml
  prqlc/prqlc-macros/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: lychee, no-dbg

chore: Bump version to 0.13.9 for next development cycle (#5606)
  Cargo.lock
  Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/packages/snap/snapcraft.yaml
  prqlc/prqlc-macros/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: lychee, no-dbg

build: Update rust toolchain version (#5607)
  rust-toolchain.toml
Due: none

added support for read_json for duckdb and clickhouse
  grammars/CotEditor/PRQL.yaml
  grammars/GtkSourceView/prql.lang
  prqlc/prqlc/src/semantic/std.prql
  prqlc/prqlc/src/sql/std.sql.prql
  prqlc/prqlc/tests/integration/data/chinook/albums.json
  web/book/highlight-prql.js
  web/book/src/reference/data/read-files.md
  web/prql-codemirror-demo/src/lang-prql/complete.ts
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: lychee

build: Use OIDC for npm publishing
  .github/workflows/release.yaml
Due: none

build: Use OIDC for npm publishing (#5609)
  .github/workflows/release.yaml
Due: none

chore: Prepare release 0.13.9
  CHANGELOG.md
Due: lychee, prql-codeblock

chore: Prepare release 0.13.9 (#5610)
  CHANGELOG.md
Due: lychee, prql-codeblock

chore: Bump version to 0.13.10 for next development cycle
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/packages/snap/snapcraft.yaml
  prqlc/prqlc-macros/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: lychee, no-dbg, prql-codeblock

Update documentation snapshot for read-files example
  web/book/tests/documentation/snapshots/documentation__book__reference__data__read-files__reading-files__0.snap
Due: none

docs: Add CLAUDE.md testing guide for prqlc tests
  prqlc/prqlc/tests/CLAUDE.md
Due: lychee

Path conditions:
  lychee: any of: \.(md|rst)$, but not: ^web/website/themes/
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
