Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.rs$'
  - repo: https://github.com/crate-ci/typos
    rev: v1.16.1
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    # Upgrading to the bare `v3.0.0` seems to break the plugin; contributions welcome to fix.
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.278
    hooks:
      - id: ruff
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
      - id: clippy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
      - id: mypy
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.11.2
    hooks:
      - id: markdown-link-check
        name: markdown-link-check-local
        files: \.md$
        args: ["--config=.config/.markdown-link-check-local.json"]
        # To run across everything (see nightly.yaml for more details)
      - id: markdown-link-check
        name: markdown-link-check-all
        stages: [manual]
        files: \.md$
        args: ["--config=.config/.markdown-link-check-all.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote
ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, clippy, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

ci(Snap): Fix build failure (#3839)
  prqlc/packages/snap/snapcraft.yaml
Due: none

feat: Fix Playground tabs and error message (#3838)
  web/playground/src/output/Output.jsx
  web/playground/src/workbench/Workbench.css
  web/playground/src/workbench/Workbench.jsx
Due: none

chore: Backport #3838 to `web` (#3840)
  web/playground/src/output/Output.jsx
  web/playground/src/workbench/Workbench.css
  web/playground/src/workbench/Workbench.jsx
Due: none

chore(prql-php): Require PHP 8.1
  prqlc/bindings/php/.editorconfig
  prqlc/bindings/php/composer.json
  web/website/content/demos/ace-demo.html
Due: none

fix(Lezer grammar): Only call expressions
  grammars/prql-lezer/package.json
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/misc.txt
  web/prql-codemirror-demo/package-lock.json
  web/prql-codemirror-demo/package.json
Due: none

fix(Lezer grammar): Only call expressions (#3843)
  grammars/prql-lezer/package.json
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/misc.txt
  web/prql-codemirror-demo/package-lock.json
  web/prql-codemirror-demo/package.json
Due: none

chore(prql-php): Require PHP 8.1 (#3842)
  prqlc/bindings/php/.editorconfig
  prqlc/bindings/php/composer.json
  web/website/content/demos/ace-demo.html
Due: none

ci: Update unused deps toolchain version
  .github/workflows/nightly.yaml
Due: none

ci: Update unused deps toolchain version (#3844)
  .github/workflows/nightly.yaml
Due: none

lineage and ty match assert and a refactor
  prqlc/prql-compiler/src/semantic/resolver/expr.rs
  prqlc/prql-compiler/src/semantic/resolver/transforms.rs
Due: no-dbg

fixes
  prqlc/prql-compiler/src/ir/decl.rs
  prqlc/prql-compiler/src/ir/pl/expr.rs
  prqlc/prql-compiler/src/ir/pl/fold.rs
  prqlc/prql-compiler/src/semantic/ast_expand.rs
  prqlc/prql-compiler/src/semantic/lowering.rs
  prqlc/prql-compiler/src/semantic/module.rs
  prqlc/prql-compiler/src/semantic/reporting.rs
  prqlc/prql-compiler/src/semantic/resolver/expr.rs
  prqlc/prql-compiler/src/semantic/resolver/functions.rs
  prqlc/prql-compiler/src/semantic/resolver/names.rs
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-3.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prql-compiler/src/semantic/resolver/transforms.rs
  prqlc/prql-compiler/src/semantic/resolver/types.rs
  prqlc/prql-compiler/tests/sql/sql.rs
Due: no-dbg

refactors and small fixes
  prqlc/prql-compiler/src/semantic/resolver/expr.rs
  prqlc/prql-compiler/src/semantic/resolver/transforms.rs
  prqlc/prql-compiler/src/semantic/resolver/types.rs
Due: no-dbg

hacks to make the tests pass
  prqlc/prql-compiler/src/semantic/lowering.rs
  prqlc/prql-compiler/src/semantic/module.rs
  prqlc/prql-compiler/src/semantic/resolver/expr.rs
  prqlc/prql-compiler/src/semantic/resolver/functions.rs
  prqlc/prql-compiler/src/semantic/resolver/names.rs
  prqlc/prql-compiler/src/semantic/resolver/types.rs
  prqlc/prql-compiler/tests/sql/sql.rs
Due: no-dbg

infer types of transforms
  prqlc/prql-compiler/src/semantic/resolver/functions.rs
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prql-compiler/src/semantic/resolver/transforms.rs
  prqlc/prql-compiler/src/semantic/resolver/types.rs
  prqlc/prql-compiler/tests/sql/bad_error_messages.rs
  prqlc/prqlc-ast/src/types.rs
Due: no-dbg

fix: Fix precedence
  prqlc/prql-compiler/src/sql/gen_expr.rs
  prqlc/prql-compiler/tests/sql/sql.rs
Due: no-dbg

fix: Fix precedence (#3846)
  CHANGELOG.md
  prqlc/prql-compiler/src/sql/gen_expr.rs
  prqlc/prql-compiler/tests/sql/sql.rs
Due: no-dbg, prql-codeblock

feat(Lezer grammar): Unary operator
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/full_queries.txt
  grammars/prql-lezer/test/operators.txt
Due: none

feat(Lezer grammar): Unary operator (#3847)
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/full_queries.txt
  grammars/prql-lezer/test/operators.txt
Due: none

fix
  prqlc/prql-compiler/src/semantic/resolver/transforms.rs
Due: no-dbg

feat: infer types of transforms (#3845)
  prqlc/prql-compiler/src/ir/decl.rs
  prqlc/prql-compiler/src/ir/pl/expr.rs
  prqlc/prql-compiler/src/ir/pl/fold.rs
  prqlc/prql-compiler/src/semantic/ast_expand.rs
  prqlc/prql-compiler/src/semantic/lowering.rs
  prqlc/prql-compiler/src/semantic/module.rs
  prqlc/prql-compiler/src/semantic/reporting.rs
  prqlc/prql-compiler/src/semantic/resolver/expr.rs
  prqlc/prql-compiler/src/semantic/resolver/functions.rs
  prqlc/prql-compiler/src/semantic/resolver/names.rs
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-3.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prql-compiler/src/semantic/resolver/transforms.rs
  prqlc/prql-compiler/src/semantic/resolver/types.rs
  prqlc/prql-compiler/tests/sql/bad_error_messages.rs
  prqlc/prql-compiler/tests/sql/sql.rs
  prqlc/prqlc-ast/src/types.rs
Due: no-dbg

feat(Lezer grammar): Highlight properties
  grammars/prql-lezer/src/highlight.js
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/full_queries.txt
  grammars/prql-lezer/test/misc.txt
  grammars/prql-lezer/test/tuples.txt
Due: none

refactor: make Debug of pl::Expr much more compact
  prqlc/prql-compiler/src/ir/pl/expr.rs
Due: no-dbg

fix
  prqlc/prql-compiler/tests/sql/ast_code_matches.rs
Due: no-dbg

refactor: make Debug of pl::Expr much more compact (#3850)
  prqlc/prql-compiler/src/ir/pl/expr.rs
  prqlc/prql-compiler/tests/sql/ast_code_matches.rs
Due: no-dbg

docs: Adjust variables docs
  web/book/src/reference/declarations/variables.md
  web/book/src/reference/syntax/README.md
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__variables__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__variables__2.snap
Due: none

Rename Property to AssignTupleItem
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/full_queries.txt
  grammars/prql-lezer/test/misc.txt
  grammars/prql-lezer/test/tuples.txt
Due: none

docs: Adjust variables docs (#3851)
  web/book/src/reference/declarations/variables.md
  web/book/src/reference/syntax/README.md
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__variables__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__variables__2.snap
Due: none

chore: Backport #3851 to `web` (#3860)
  web/book/src/reference/declarations/variables.md
  web/book/src/reference/syntax/README.md
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__variables__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__variables__2.snap
Due: none

docs: Add repology to README
  README.md
Due: none

Rename Assign to Parameter
  grammars/prql-lezer/src/prql.grammar
Due: none

refactor: wildcard resolution and pl::Expr::target_ids
  justfile
  prqlc/prql-compiler/src/ir/pl/expr.rs
  prqlc/prql-compiler/src/ir/pl/extra/expr.rs
  prqlc/prql-compiler/src/semantic/ast_expand.rs
  prqlc/prql-compiler/src/semantic/lowering.rs
  prqlc/prql-compiler/src/semantic/module.rs
  prqlc/prql-compiler/src/semantic/resolver/expr.rs
  prqlc/prql-compiler/src/semantic/resolver/functions.rs
  prqlc/prql-compiler/src/semantic/resolver/mod.rs
  prqlc/prql-compiler/src/semantic/resolver/names.rs
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-3.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prql-compiler/src/semantic/resolver/transforms.rs
  prqlc/prql-compiler/src/semantic/std.prql
  prqlc/prql-compiler/tests/sql/ast_code_matches.rs
  prqlc/prql-compiler/tests/sql/sql.rs
  prqlc/prqlc-ast/src/types.rs
Due: no-dbg

fix(Playground): Handle compiler crashing
  web/playground/src/workbench/Workbench.jsx
Due: none

refactor: wildcard resolution and pl::Expr::target_ids (#3863)
  justfile
  prqlc/prql-compiler/src/ir/pl/expr.rs
  prqlc/prql-compiler/src/ir/pl/extra/expr.rs
  prqlc/prql-compiler/src/semantic/ast_expand.rs
  prqlc/prql-compiler/src/semantic/lowering.rs
  prqlc/prql-compiler/src/semantic/module.rs
  prqlc/prql-compiler/src/semantic/resolver/expr.rs
  prqlc/prql-compiler/src/semantic/resolver/functions.rs
  prqlc/prql-compiler/src/semantic/resolver/mod.rs
  prqlc/prql-compiler/src/semantic/resolver/names.rs
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-3.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prql-compiler/src/semantic/resolver/transforms.rs
  prqlc/prql-compiler/src/semantic/std.prql
  prqlc/prql-compiler/tests/sql/ast_code_matches.rs
  prqlc/prql-compiler/tests/sql/sql.rs
  prqlc/prqlc-ast/src/types.rs
Due: no-dbg

justfile
  justfile
Due: none

test for each file
  Cargo.lock
  prqlc/prql-compiler/Cargo.toml
  prqlc/prql-compiler/tests/integration/queries.rs
  prqlc/prql-compiler/tests/integration/queries/loop_01.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt@aggregation.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt@arithmetic.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt@cast.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt@constants_only.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt@distinct.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt@distinct_on.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt@genre_counts.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt@group_all.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt@group_sort.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt@invoice_totals.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt@loop_01.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt@pipelines.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt@read_csv.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt@set_ops_remove.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt@sort.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt@switch.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt@window.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results@loop_01.prql.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__sql@aggregation.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__sql@arithmetic.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__sql@cast.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__sql@constants_only.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__sql@distinct.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__sql@distinct_on.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__sql@genre_counts.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__sql@group_all.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__sql@group_sort.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__sql@invoice_totals.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__sql@loop_01.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__sql@pipelines.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__sql@read_csv.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__sql@set_ops_remove.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__sql@sort.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__sql@switch.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__sql@window.snap
Due: no-dbg

fmt
  prqlc/prql-compiler/tests/integration/dbs/connection.rs
Due: no-dbg

nextest
  flake.nix
  justfile
Due: none

fix
  Cargo.lock
  prqlc/prql-compiler/Cargo.toml
Due: none
