Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html)'
      - id: check-yaml
      - id: mixed-line-ending
  - repo: https://github.com/crate-ci/typos
    rev: v1.14.8
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          - prettier-plugin-go-template
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.262
    hooks:
      - id: ruff
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
      - id: clippy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.2.0
    hooks:
      - id: mypy
        additional_dependencies: ["types-PyYAML==6.0.12.4"]
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.11.1
    hooks:
      - id: markdown-link-check
        files: \.md$
        args: ["--config=.github/.markdown-link-check.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        # A regex searching sql files for either `prj-` or 'tgs-'.
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote
ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, clippy, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

clippy
  prql-compiler/src/codegen.rs
Due: no-dbg

Revert "test: use `allow_duplicates` in integration test (#2859)"
  prql-compiler/tests/integration/main.rs
  prql-compiler/tests/integration/snapshots/integration__results@pipelines.prql.snap
Due: no-dbg

fix: unsupported window frames
  prql-compiler/src/sql/gen_expr.rs
  prql-compiler/src/sql/gen_query.rs
  prql-compiler/src/sql/operators.rs
  prql-compiler/src/sql/std.sql.prql
  prql-compiler/src/tests/test.rs
  prql-compiler/tests/integration/main.rs
  prql-compiler/tests/integration/queries/window.prql
  prql-compiler/tests/integration/snapshots/integration__fmt@window.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@window.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@genre_counts.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@invoice_totals.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@window.prql.snap
  web/book/tests/documentation/snapshots/documentation__book__transforms__window__windowing-by-default__0.snap
  web/book/tests/documentation/snapshots/documentation__book__transforms__window__windowing-by-default__1.snap
Due: no-dbg

fix
  prql-compiler/tests/integration/queries/window.prql
Due: none

fix: unsupported window frames (#2938)
  prql-compiler/src/sql/gen_expr.rs
  prql-compiler/src/sql/gen_query.rs
  prql-compiler/src/sql/operators.rs
  prql-compiler/src/sql/std.sql.prql
  prql-compiler/src/tests/test.rs
  prql-compiler/tests/integration/main.rs
  prql-compiler/tests/integration/queries/window.prql
  prql-compiler/tests/integration/snapshots/integration__fmt@window.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@pipelines.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@window.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@genre_counts.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@invoice_totals.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@window.prql.snap
  web/book/tests/documentation/snapshots/documentation__book__transforms__window__windowing-by-default__0.snap
  web/book/tests/documentation/snapshots/documentation__book__transforms__window__windowing-by-default__1.snap
Due: no-dbg

feat: more aggregation functions, enforce ret type
  prql-compiler/src/parser/lexer.rs
  prql-compiler/src/semantic/resolver.rs
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-2.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-3.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__frames_and_names.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__transforms__tests__aggregate_positional_arg-2.snap
  prql-compiler/src/semantic/std.prql
  prql-compiler/src/semantic/transforms.rs
  prql-compiler/src/sql/gen_expr.rs
  prql-compiler/src/sql/gen_query.rs
  prql-compiler/src/sql/mod.rs
  prql-compiler/src/sql/operators.rs
  prql-compiler/src/sql/std.sql.prql
  prql-compiler/src/tests/test.rs
  prql-compiler/tests/integration/queries/aggregation.prql
  prql-compiler/tests/integration/snapshots/integration__fmt@aggregation.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@aggregation.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@aggregation.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@group_all.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@group_sort.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@invoice_totals.prql.snap
  web/book/tests/documentation/snapshots/documentation__book__examples__variables__0.snap
  web/book/tests/documentation/snapshots/documentation__book__introduction__0.snap
  web/book/tests/documentation/snapshots/documentation__book__queries__variables__0.snap
  web/book/tests/documentation/snapshots/documentation__book__queries__variables__2.snap
  web/book/tests/documentation/snapshots/documentation__book__syntax__expressions-and-operators__parentheses__0.snap
Due: no-dbg

fix
  prql-compiler/tests/integration/queries/aggregation.prql
Due: none

fix
  prql-compiler/src/sql/std.sql.prql
Due: none

fix
  prql-compiler/src/sql/std.sql.prql
  prql-compiler/tests/integration/snapshots/integration__sql@aggregation.prql.snap
Due: none

feat: more aggregation functions, enforce ret type (#2940)
  prql-compiler/src/parser/lexer.rs
  prql-compiler/src/semantic/resolver.rs
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-2.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-3.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__frames_and_names.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__transforms__tests__aggregate_positional_arg-2.snap
  prql-compiler/src/semantic/std.prql
  prql-compiler/src/semantic/transforms.rs
  prql-compiler/src/sql/gen_expr.rs
  prql-compiler/src/sql/gen_query.rs
  prql-compiler/src/sql/mod.rs
  prql-compiler/src/sql/operators.rs
  prql-compiler/src/sql/std.sql.prql
  prql-compiler/src/tests/test.rs
  prql-compiler/tests/integration/queries/aggregation.prql
  prql-compiler/tests/integration/snapshots/integration__fmt@aggregation.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@aggregation.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@aggregation.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@group_all.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@group_sort.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@invoice_totals.prql.snap
  web/book/tests/documentation/snapshots/documentation__book__examples__variables__0.snap
  web/book/tests/documentation/snapshots/documentation__book__introduction__0.snap
  web/book/tests/documentation/snapshots/documentation__book__queries__variables__0.snap
  web/book/tests/documentation/snapshots/documentation__book__queries__variables__2.snap
  web/book/tests/documentation/snapshots/documentation__book__syntax__expressions-and-operators__parentheses__0.snap
Due: no-dbg

Update CHANGELOG.md
  CHANGELOG.md
Due: prql-codeblock

fix: enforce that window params are plain exprs
  prql-compiler/src/sql/srq/anchor.rs
  prql-compiler/src/tests/test.rs
Due: no-dbg

fix: enforce that window params are plain exprs (#2943)
  prql-compiler/src/sql/srq/anchor.rs
  prql-compiler/src/tests/test.rs
Due: no-dbg

chore: bump clio from 0.2.7 to 0.3.3
  Cargo.lock
  prql-compiler/prqlc/Cargo.toml
  prql-compiler/prqlc/src/cli.rs
Due: no-dbg

chore: bump clio from 0.3.1 to 0.3.3 (#2885)
  Cargo.lock
  prql-compiler/prqlc/Cargo.toml
  prql-compiler/prqlc/src/cli.rs
Due: no-dbg

fix: anchoring sorts produces empty SELECTs
  prql-compiler/src/sql/srq/anchor.rs
  prql-compiler/src/tests/test.rs
Due: no-dbg

fix a previous commit
  prql-compiler/tests/integration/queries/window.prql
Due: none

fix
  web/book/tests/documentation/snapshots/documentation__book__transforms__sort__ordering-guarantees__0.snap
Due: none

fix: anchoring sorts produces empty SELECTs (#2944)
  prql-compiler/src/sql/srq/anchor.rs
  prql-compiler/src/tests/test.rs
  prql-compiler/tests/integration/queries/window.prql
  web/book/tests/documentation/snapshots/documentation__book__transforms__sort__ordering-guarantees__0.snap
Due: no-dbg

fix: empty selects & refactor SRQ
  prql-compiler/src/ast/rq/mod.rs
  prql-compiler/src/sql/gen_projection.rs
  prql-compiler/src/sql/gen_query.rs
  prql-compiler/src/sql/mod.rs
  prql-compiler/src/sql/srq/anchor.rs
  prql-compiler/src/sql/srq/ast.rs
  prql-compiler/src/sql/srq/context.rs
  prql-compiler/src/sql/srq/gen_query.rs
  prql-compiler/src/sql/srq/postprocess.rs
  prql-compiler/src/sql/srq/preprocess.rs
  prql-compiler/src/tests/test.rs
  prql-compiler/tests/integration/queries/constants_only.prql
  prql-compiler/tests/integration/snapshots/integration__fmt@constants_only.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@constants_only.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@constants_only.prql.snap
Due: no-dbg

fix: empty selects & refactor SRQ (#2945)
  prql-compiler/src/ast/rq/mod.rs
  prql-compiler/src/sql/gen_projection.rs
  prql-compiler/src/sql/gen_query.rs
  prql-compiler/src/sql/mod.rs
  prql-compiler/src/sql/srq/anchor.rs
  prql-compiler/src/sql/srq/ast.rs
  prql-compiler/src/sql/srq/context.rs
  prql-compiler/src/sql/srq/gen_query.rs
  prql-compiler/src/sql/srq/postprocess.rs
  prql-compiler/src/sql/srq/preprocess.rs
  prql-compiler/src/tests/test.rs
  prql-compiler/tests/integration/queries/constants_only.prql
  prql-compiler/tests/integration/snapshots/integration__fmt@constants_only.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@constants_only.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@constants_only.prql.snap
Due: no-dbg

fix: annotation parsing
  prql-compiler/src/parser/mod.rs
  prql-compiler/src/parser/stmt.rs
Due: no-dbg

fix: annotation parsing (#2946)
  prql-compiler/src/parser/mod.rs
  prql-compiler/src/parser/stmt.rs
Due: no-dbg

Apply suggestions from code review
  CHANGELOG.md
  _typos.toml
Due: prql-codeblock

feat(prqlc): add comments for some prqlc compile options
  prql-compiler/prqlc/src/cli.rs
  prql-compiler/prqlc/tests/snapshots/test__shell_completion-2.snap
  prql-compiler/prqlc/tests/snapshots/test__shell_completion-3.snap
  prql-compiler/prqlc/tests/snapshots/test__shell_completion-4.snap
  prql-compiler/prqlc/tests/test.rs
Due: no-dbg

Update prql-compiler/prqlc/src/cli.rs
  prql-compiler/prqlc/src/cli.rs
Due: no-dbg

test: update snapshots
  prql-compiler/prqlc/tests/snapshots/test__shell_completion-2.snap
  prql-compiler/prqlc/tests/snapshots/test__shell_completion-3.snap
  prql-compiler/prqlc/tests/snapshots/test__shell_completion-4.snap
  prql-compiler/prqlc/tests/test.rs
Due: no-dbg

formatting
  prql-compiler/prqlc/tests/test.rs
Due: no-dbg

feat(prqlc): add comments for some prqlc compile options (#2955)
  prql-compiler/prqlc/src/cli.rs
  prql-compiler/prqlc/tests/snapshots/test__shell_completion-2.snap
  prql-compiler/prqlc/tests/snapshots/test__shell_completion-3.snap
  prql-compiler/prqlc/tests/snapshots/test__shell_completion-4.snap
  prql-compiler/prqlc/tests/test.rs
Due: no-dbg

feat: improve ambigious inference error message
  prql-compiler/src/semantic/context.rs
  prql-compiler/src/semantic/module.rs
Due: no-dbg

fix
  prql-compiler/src/tests/test_error_messages.rs
Due: no-dbg

feat: improve ambigious inference error message (#2956)
  prql-compiler/src/semantic/context.rs
  prql-compiler/src/semantic/module.rs
  prql-compiler/src/tests/test_error_messages.rs
Due: no-dbg

feat: improve ambigious error message
  prql-compiler/src/semantic/context.rs
  prql-compiler/src/semantic/lowering.rs
  prql-compiler/src/semantic/resolver.rs
  prql-compiler/src/semantic/type_resolver.rs
  prql-compiler/src/sql/srq/preprocess.rs
  prql-compiler/src/tests/test.rs
  prql-compiler/src/tests/test_error_messages.rs
Due: no-dbg

fix
  prql-compiler/src/semantic/context.rs
  prql-compiler/src/tests/test_error_messages.rs
Due: no-dbg

feat: improve ambigious error message (#2958)
  prql-compiler/src/semantic/context.rs
  prql-compiler/src/semantic/lowering.rs
  prql-compiler/src/semantic/resolver.rs
  prql-compiler/src/semantic/type_resolver.rs
  prql-compiler/src/sql/srq/preprocess.rs
  prql-compiler/src/tests/test.rs
  prql-compiler/src/tests/test_error_messages.rs
Due: no-dbg

feat: elide parentheses in aliases in tuples (#2851)
  prql-compiler/src/codegen.rs
Due: no-dbg

touchup
  CHANGELOG.md
Due: prql-codeblock
