Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.(rs|snap)$'
  - repo: https://github.com/crate-ci/typos
    rev: v1
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          # TODO: This doesn't seem to work, would be great to fix.
          # https://github.com/PRQL/prql/issues/3078
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.5
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: clippy
        stages: [manual]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint
  # Link checker using local hooks with language: rust
  # Pre-commit will automatically install lychee via cargo
  - repo: local
    hooks:
      - id: lychee
        name: lychee (local links only)
        entry: lychee
        language: rust
        additional_dependencies: ["cli:lychee:0.20.1"]
        files: \.(md|rst)$
        exclude: ^web/website/themes/
        args:
          - --no-progress
          # For PRs: whitelist PRQL domains and local files only
          # Pattern matches:
          #   - github.com/PRQL/* and github.com/prql/*
          #   - prql-lang.org/*
          #   - raw.githubusercontent.com/PRQL/* and raw.githubusercontent.com/prql/*
          #   - file://* (local/relative links)
          # All other external links are skipped for faster PR checks
          - --include=^(https://(github\.com/(PRQL|prql)|prql-lang\.org|raw\.githubusercontent\.com/(PRQL|prql))|file://)
      - id: lychee-all
        name: lychee-all (all links)
        entry: lychee
        language: rust
        additional_dependencies: ["cli:lychee:0.20.1"]
        stages: [manual]
        files: \.(md|rst)$
        exclude: ^web/website/themes/
        args: ["--config=.config/lychee.toml", "--no-progress"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote

ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, lychee, lychee-all]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

fix(grammars): close single-quoted r-string at trailing quote in GtkSourceView
  grammars/GtkSourceView/prql.lang
Due: none

fix: opt back into text/html content for Hugo 0.162.0
  web/website/config.yaml
Due: none

fix: allow text/html content in Hugo config
  web/website/config.yaml
Due: none

fix: opt back into text/html content for Hugo 0.162.0 (#5959)
  web/website/config.yaml
Due: none

fix(grammars): close single-quoted r-string in GtkSourceView (#5957)
  grammars/GtkSourceView/prql.lang
Due: none

chore: update tend workflows (0.0.24 → 0.1.2)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

docs: fix decl_2 typo in modules spec example
  web/book/src/reference/spec/modules.md
Due: lychee

docs: fix grammar in codemirror demo file-header comment
  web/prql-codemirror-demo/src/codemirror.ts
Due: none

docs: fix decl_2 typo in modules spec example (#5963)
  web/book/src/reference/spec/modules.md
Due: lychee

chore: update tend workflows (0.0.24 → 0.1.2) (#5962)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

docs: fix grammar in codemirror demo file-header comment (#5964)
  web/prql-codemirror-demo/src/codemirror.ts
Due: none

fix: correct dotnet path filter in tests.yaml
  .github/workflows/tests.yaml
Due: none

fix: correct dotnet path filter in tests.yaml (#5965)
  .github/workflows/tests.yaml
Due: none

fix: address Rust 1.95 clippy lints
  prqlc/prqlc/src/semantic/reporting.rs
  prqlc/prqlc/src/sql/pq/positional_mapping.rs
  prqlc/prqlc/src/sql/pq/postprocess.rs
Due: no-dbg

build: Update rust toolchain version (#5966)
  prqlc/prqlc/src/semantic/reporting.rs
  prqlc/prqlc/src/sql/pq/positional_mapping.rs
  prqlc/prqlc/src/sql/pq/postprocess.rs
  rust-toolchain.toml
Due: no-dbg

ci: remove dead --no-deps ternary in cargo doc step
  .github/workflows/test-rust.yaml
Due: none

fix: resolve idents up the parent module chain, not by stripping outermost path segments
  prqlc/prqlc/src/semantic/resolver/names.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

ci: remove dead --no-deps ternary in cargo doc step (#5974)
  .github/workflows/test-rust.yaml
Due: none

refine: avoid per-iteration clone in module-walk loop
  prqlc/prqlc/src/semantic/resolver/names.rs
Due: no-dbg

fix: resolve idents up the parent module chain (#5976)
  prqlc/prqlc/src/semantic/resolver/names.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: update reportWebVitals to web-vitals 5.x API
  web/playground/src/reportWebVitals.js
Due: none

fix: update reportWebVitals to web-vitals 5.x API (#5977)
  web/playground/src/reportWebVitals.js
Due: none

fix: unique wrapper param names for nested currying
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

feat: tuple_map propagates aliases from its input
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

Update prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
Due: no-dbg

feat: tuple_map propagates aliases from its input (#5980)
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

docs: fix grammar in function-calls reference
  web/book/src/reference/syntax/function-calls.md
Due: lychee

docs: fix grammar in function-calls reference (#5981)
  web/book/src/reference/syntax/function-calls.md
Due: lychee

docs: fix grammar in s-strings reference
  web/book/src/reference/syntax/s-strings.md
Due: lychee

docs: fix grammar in s-strings reference (#5982)
  web/book/src/reference/syntax/s-strings.md
Due: lychee

chore: update tend workflows (0.0.21 → 0.1.3), fixing bot-token drift
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

fix: escape quotes when both quote types are at string boundaries
  prqlc/prqlc-parser/src/lexer/lr.rs
Due: no-dbg

docs: correct %S second range to 00-60 in date specifiers
  web/book/src/reference/stdlib/date.md
Due: lychee

docs: correct %S second range to 00-60 in date specifiers (#5992)
  web/book/src/reference/stdlib/date.md
Due: lychee

chore: regenerate tend workflows with 0.1.3
  .config/tend.yaml
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

chore: regenerate tend workflows with 0.1.3 (#5993)
  .config/tend.yaml
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

chore: replace org bot token with repo-scoped TEND_BOT_TOKEN
  .config/tend.yaml
  .github/workflows/pull-request-target.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
Due: none

chore: replace org bot token with repo-scoped TEND_BOT_TOKEN (#5994)
  .config/tend.yaml
  .github/workflows/pull-request-target.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
Due: none

fix: tolerate Twitter CDN failures in web testimonials build
  web/website/themes/prql-theme/layouts/partials/section-testimonials.html
Due: none

chore: update tend workflows (0.1.3 → 0.1.4)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none
