Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.(rs|snap)$'
  - repo: https://github.com/crate-ci/typos
    rev: v1.21.0
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    # This does seem to work again, but might need to be disabled if it doesn't;
    # ref https://github.com/prettier/prettier/issues/15742
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          # TODO: This doesn't seem to work, would be great to fix.
          # https://github.com/PRQL/prql/issues/3078
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.5
    hooks:
      - id: clang-format
        types_or: [c, c++]
  #  - repo: https://github.com/r0x0d/pre-commit-rust
  #    rev: v1.0.1
  #    hooks:
  #      - id: fmt
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: clippy
        stages: [manual]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.0
    hooks:
      - id: actionlint
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.12.1
    hooks:
      - id: markdown-link-check
        name: markdown-link-check-local
        types: [markdown]
        args: ["--config=.config/.markdown-link-check-local.json"]
        # To run across everything (see nightly.yaml for more details)
      - id: markdown-link-check
        name: markdown-link-check-all
        stages: [manual]
        types: [markdown]
        args: ["--config=.config/.markdown-link-check-all.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote

ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

bump code coverage
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: Add support for expressions on left hand side of std.in operator (#4498)
  CHANGELOG.md
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg, prql-codeblock

Allow join side: to take an ident that resolves to a literal
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

comment and changelog
  CHANGELOG.md
  prqlc/prqlc/src/semantic/resolver/transforms.rs
Due: no-dbg, prql-codeblock

update comment
  prqlc/prqlc/src/semantic/resolver/transforms.rs
Due: no-dbg

report resolved value in err msg
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

Update CHANGELOG.md
  CHANGELOG.md
Due: prql-codeblock

pre-commit update
  CHANGELOG.md
Due: prql-codeblock

feat: Allow join side to take an ident that resolves to a literal (#4499)
  CHANGELOG.md
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg, prql-codeblock

build: Name binaries consistently
  .github/actions/build-prqlc-c/action.yaml
  .github/actions/build-prqlc/action.yaml
Due: none

build: Name binaries consistently (#4504)
  .github/actions/build-prqlc-c/action.yaml
  .github/actions/build-prqlc/action.yaml
Due: none

tests: Enable insta's `require_full_match`
  .config/insta.yaml
  prqlc/prqlc/tests/integration/snapshots/integration__cli__debug.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__text_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__window.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__text_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__window.snap
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__from__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__from__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__from__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__read-files__reading-files__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__relation-literals__array-literals__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__variables__variables--__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__variables__variables--__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__variables__variables--__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__distinct__how-do-i-remove-duplicates__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__distinct__how-do-i-remove-duplicates__1.snap
Due: none

.
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__text_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__window.snap
Due: none

tweak: Add a config to `task build-all`
  Taskfile.yml
Due: none

.
  Taskfile.yml
Due: none

build: Can't put serde behind a feature
  prqlc/prqlc/Cargo.toml
Due: none

build: Can't put serde behind a feature (#4511)
  prqlc/prqlc/Cargo.toml
Due: none

tweak: Add a config to `task build-all` (#4510)
  Taskfile.yml
  prqlc/Taskfile.yaml
Due: none

Update pre-commit reference for Prettier
  .pre-commit-config.yaml
Due: none

.
  .pre-commit-config.yaml
Due: none

test: Update pre-commit reference for Prettier (#4512)
  .pre-commit-config.yaml
Due: none

devops: Switch `setup-dev` to using `brew` for `maturin` & `pre-commit`
  Taskfile.yml
Due: none

build: Bump MSRV to 1.74.0
  Cargo.toml
  prqlc/prql-compiler/Cargo.toml
  prqlc/prqlc/Cargo.toml
Due: none

docs: Replace GitHub link
  CHANGELOG.md
Due: prql-codeblock

docs: Replace GitHub link (#4515)
  CHANGELOG.md
Due: prql-codeblock

actually install maturin with `pipx`
  Taskfile.yml
Due: none

devops: Switch `setup-dev` to using `brew` for `pre-commit` (#4513)
  Taskfile.yml
Due: none

tweak: Better deprecation message for `color`
  prqlc/prqlc/src/lib.rs
Due: no-dbg

tweak: Better deprecation message for `color` (#4516)
  prqlc/prqlc/src/lib.rs
Due: no-dbg

refactor: more error info, span merge
  Cargo.lock
  prqlc/prqlc-ast/Cargo.toml
  prqlc/prqlc-ast/src/expr.rs
  prqlc/prqlc-ast/src/lib.rs
  prqlc/prqlc-ast/src/span.rs
  prqlc/prqlc-ast/src/types.rs
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc-parser/src/err/error.rs
  prqlc/prqlc-parser/src/err/mod.rs
  prqlc/prqlc-parser/src/err/parse_error.rs
  prqlc/prqlc-parser/src/err/test.rs
  prqlc/prqlc-parser/src/error.rs
  prqlc/prqlc-parser/src/expr.rs
  prqlc/prqlc-parser/src/interpolation.rs
  prqlc/prqlc-parser/src/lexer.rs
  prqlc/prqlc-parser/src/lib.rs
  prqlc/prqlc-parser/src/span.rs
  prqlc/prqlc-parser/src/stmt.rs
  prqlc/prqlc-parser/src/test.rs
  prqlc/prqlc-parser/src/types.rs
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/src/error_message.rs
  prqlc/prqlc/src/ir/mod.rs
  prqlc/prqlc/src/ir/pl/stmt.rs
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/tests/integration/bad_error_messages.rs
  prqlc/prqlc/tests/integration/error_messages.rs
  prqlc/prqlc/tests/integration/resolving.rs
  prqlc/prqlc/tests/integration/static_eval.rs
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__f-strings__2.snap
Due: no-dbg

remove some extra deps
  Cargo.lock
  prqlc/prqlc-parser/Cargo.toml
Due: none

remove randomstate to support lower rust version
  prqlc/prqlc-parser/src/err/parse_error.rs
Due: no-dbg

update serde
  prqlc/prqlc-parser/Cargo.toml
Due: none

cargo fixup
  prqlc/prqlc/Cargo.toml
Due: none

remove trace cause backtrace
  prqlc/prqlc/src/cli/mod.rs
Due: no-dbg

downgrade clap-verbosity-flag to maintain MSRV
  prqlc/prqlc/Cargo.toml
Due: none

formatting
  prqlc/prqlc/src/cli/mod.rs
Due: no-dbg

feat: add logging verbosity flags to cli
  Cargo.lock
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/tests/integration/cli.rs
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion-2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion-3.snap
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion-4.snap
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion.snap
Due: no-dbg

update lockfile
  Cargo.lock
Due: none
