Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

chore: Rename remaining `prql-compiler` references to `prqlc`
  prqlc/bindings/elixir/README.md
  prqlc/bindings/js/README.md
  prqlc/bindings/js/package.json
  prqlc/bindings/prqlc-c/prqlc.h
  prqlc/bindings/prqlc-c/prqlc.hpp
  prqlc/bindings/prqlc-c/src/lib.rs
  prqlc/prqlc/README.md
  web/book/src/project/bindings/README.md
  web/book/src/project/bindings/rust.md
  web/website/content/posts/2023-01-07-functional-relations.md
  web/website/content/posts/2023-02-02-one-year/_index.md
Due: no-dbg

chore: Rename remaining `prql-compiler` references to `prqlc` (#4189)
  prqlc/bindings/elixir/README.md
  prqlc/bindings/js/README.md
  prqlc/bindings/js/package.json
  prqlc/bindings/prqlc-c/prqlc.h
  prqlc/bindings/prqlc-c/prqlc.hpp
  prqlc/bindings/prqlc-c/src/lib.rs
  prqlc/prqlc/README.md
  web/book/src/project/bindings/README.md
  web/book/src/project/bindings/rust.md
  web/website/content/posts/2023-01-07-functional-relations.md
  web/website/content/posts/2023-02-02-one-year/_index.md
Due: no-dbg

fix: fix lock file
  Cargo.lock
  prqlc/prqlc/Cargo.toml
Due: none

fix: fix serde version
  Cargo.lock
  prqlc/prqlc-ast/Cargo.toml
  prqlc/prqlc/Cargo.toml
Due: none

fix: fix serde_yaml version
  Cargo.lock
  prqlc/prqlc/Cargo.toml
  web/book/Cargo.toml
Due: none

fix: fix semver version
  Cargo.lock
  prqlc/prqlc-ast/Cargo.toml
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/Cargo.toml
Due: none

fix: fix serde_json version
  Cargo.lock
  prqlc/bindings/prqlc-c/Cargo.toml
  prqlc/prqlc-ast/Cargo.toml
  prqlc/prqlc/Cargo.toml
  web/book/Cargo.toml
Due: none

fix: regen lock file
  Cargo.lock
Due: none

build(lutra): Resolve naming issues (#4187)
  lutra/bindings/python/Cargo.toml
  lutra/bindings/python/pyproject.toml
Due: none

build: Rename `prql-python` to `prqlc` / `prqlc-python` (#4188)
  .devcontainer/devcontainer.json
  .github/actions/build-prqlc-python/action.yaml
  .github/dependabot.yml
  .github/workflows/release.yaml
  .github/workflows/test-python.yaml
  .github/workflows/tests.yaml
  Cargo.lock
  Cargo.toml
  Taskfile.yml
  prqlc/Taskfile.yaml
  prqlc/bindings/prqlc-python/.gitignore
  prqlc/bindings/prqlc-python/Cargo.toml
  prqlc/bindings/prqlc-python/README.md
  prqlc/bindings/prqlc-python/Taskfile.yaml
  prqlc/bindings/prqlc-python/build.rs
  prqlc/bindings/prqlc-python/noxfile.py
  prqlc/bindings/prqlc-python/prqlc.pyi
  prqlc/bindings/prqlc-python/pyproject.toml
  prqlc/bindings/prqlc-python/python/tests/test_all.py
  prqlc/bindings/prqlc-python/src/lib.rs
  prqlc/bindings/python/README.md
  web/book/src/project/bindings/python.md
  web/book/src/project/contributing/development.md
  web/website/content/_index.md
Due: no-dbg

ci: Config to reduce link-check false positives
  .config/.markdown-link-check-all.json
  .config/.markdown-link-check-local.json
Due: none

ci: Config to reduce link-check false positives (#4199)
  .config/.markdown-link-check-all.json
  .config/.markdown-link-check-local.json
Due: none

chore: update connector_arrow
  Cargo.lock
  lutra/lutra/Cargo.toml
  lutra/lutra/src/pull_schema.rs
Due: no-dbg

chore: update connector_arrow (#4201)
  Cargo.lock
  lutra/lutra/Cargo.toml
  lutra/lutra/src/pull_schema.rs
Due: no-dbg

docs: Add Code of Conduct
  .github/CODE_OF_CONDUCT
Due: none

Add test
  prqlc/prqlc/src/cli/docs_generator.rs
Due: no-dbg

Ugly fix for broken test
  prqlc/prqlc/src/cli/docs_generator.rs
Due: no-dbg

Use char literal
  prqlc/prqlc/src/cli/docs_generator.rs
Due: no-dbg

Move into "experimental" subcommand
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/src/cli/mod.rs
Due: no-dbg

cargo fmt
  prqlc/prqlc/src/cli/mod.rs
Due: no-dbg

fix snap tests
  prqlc/prqlc/tests/integration/cli.rs
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion-2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion-3.snap
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion-4.snap
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion.snap
Due: no-dbg

ci: Use standard cache key for min-versions job
  .github/workflows/tests.yaml
Due: none

ci: Use standard cache key for min-versions job (#4205)
  .github/workflows/tests.yaml
Due: none

increase test coverage
  prqlc/prqlc/src/cli/docs_generator.rs
Due: no-dbg

fix previous commit
  prqlc/prqlc/src/cli/docs_generator.rs
Due: no-dbg

attempt to fix
  prqlc/prqlc/src/cli/docs_generator.rs
Due: no-dbg

feat: Add documentation generator (#4152)
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/tests/integration/cli.rs
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion-2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion-3.snap
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion-4.snap
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion.snap
Due: no-dbg

chore: Release notes for 0.11.3
  CHANGELOG.md
  web/book/src/project/contributing/development.md
Due: prql-codeblock

chore: Bump versions to 0.11.4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  lutra/lutra/Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/prql-compiler-macros/Cargo.toml
  prqlc/prql-compiler/Cargo.toml
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/Cargo.toml
  web/book/src/project/target.md
  web/playground/package-lock.json
  web/playground/package.json
Due: prql-codeblock

chore: Release notes for 0.11.3 (#4206)
  CHANGELOG.md
  web/book/src/project/contributing/development.md
Due: prql-codeblock

build: Move a few common deps to workspace deps
  Cargo.toml
  lutra/bindings/python/Cargo.toml
  lutra/lutra/Cargo.toml
  prqlc/bindings/prqlc-python/Cargo.toml
  prqlc/prqlc-ast/Cargo.toml
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/Cargo.toml
  web/book/Cargo.toml
Due: none

chore: Bump versions to 0.11.4 (#4207)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  lutra/lutra/Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/prql-compiler-macros/Cargo.toml
  prqlc/prql-compiler/Cargo.toml
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/project/contributing/development.md
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: no-dbg, prql-codeblock

build: Add description for `prqlc-python`
  prqlc/bindings/prqlc-python/Cargo.toml
Due: none

build: Add description for `prqlc-python` (#4209)
  prqlc/bindings/prqlc-python/Cargo.toml
Due: none

build: Move a few common deps to workspace deps (#4208)
  Cargo.toml
  lutra/bindings/python/Cargo.toml
  lutra/lutra/Cargo.toml
  prqlc/bindings/prqlc-python/Cargo.toml
  prqlc/prqlc-ast/Cargo.toml
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/Cargo.toml
  web/book/Cargo.toml
Due: none

build: Bump toolchain to 1.75.0
  rust-toolchain.toml
Due: none

build(playground): Use `npm ci` for install
  Taskfile.yml
Due: none

web: Update python links
  prqlc/bindings/prqlc-python/README.md
  web/website/content/_index.md
Due: none

build: Bump toolchain to 1.75.0 (#4211)
  prqlc/prqlc/src/semantic/lowering.rs
  rust-toolchain.toml
Due: no-dbg

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
