Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, prql-codeblock

lychee:
  name: lychee (local links only)
  entry: lychee
  language: rust
  additional_dependencies:
  - cli:lychee:0.20.1
  args:
  - --no-progress
  - --include=^(https://(github\.com/(PRQL|prql)|prql-lang\.org|raw\.githubusercontent\.com/(PRQL|prql))|file://)

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

feat(cli)!: Extract CLI binary into separate prqlc-cli crate
  .github/actions/build-prqlc/action.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  prqlc/Taskfile.yaml
  prqlc/prqlc-cli/Cargo.toml
  prqlc/prqlc-cli/build.rs
  prqlc/prqlc-cli/src/cli/docs_generator.rs
  prqlc/prqlc-cli/src/cli/highlight.rs
  prqlc/prqlc-cli/src/cli/jinja.rs
  prqlc/prqlc-cli/src/cli/lsp.rs
  prqlc/prqlc-cli/src/cli/mod.rs
  prqlc/prqlc-cli/src/cli/snapshots/prqlc__cli__test__shell_completion-2.snap
  prqlc/prqlc-cli/src/cli/snapshots/prqlc__cli__test__shell_completion-3.snap
  prqlc/prqlc-cli/src/cli/snapshots/prqlc__cli__test__shell_completion-4.snap
  prqlc/prqlc-cli/src/cli/snapshots/prqlc__cli__test__shell_completion.snap
  prqlc/prqlc-cli/src/cli/test.rs
  prqlc/prqlc-cli/src/cli/watch.rs
  prqlc/prqlc-cli/src/main.rs
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/error_message.rs
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/semantic/reporting.rs
  prqlc/prqlc/src/utils/mod.rs
Due: lychee, no-dbg, prql-codeblock

docs: update installation instructions to reference prqlc-cli
  prqlc/prqlc/README.md
  web/website/content/_index.md
Due: lychee

fix(ci): Fix display feature gating, color stripping, and bench target
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/java/Cargo.toml
  prqlc/bindings/js/Cargo.toml
  prqlc/bindings/prqlc-c/Cargo.toml
  prqlc/bindings/prqlc-python/Cargo.toml
  prqlc/prqlc-cli/Cargo.toml
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/utils/mod.rs
  web/book/Cargo.toml
Due: no-dbg

fix(ci): resolve codecov/patch coverage failure
  .github/.codecov.yaml
  prqlc/prqlc/src/error_message.rs
Due: no-dbg

chore: update insta snapshot format (#5750)
  .github/workflows/build-devcontainer.yaml
  .github/workflows/release.yaml
  .github/workflows/test-rust.yaml
  .github/workflows/tests.yaml
  prqlc/prqlc/tests/integration/bad_error_messages.rs
  prqlc/prqlc/tests/integration/error_messages.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__append_select.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__append_select_multiple_with_null.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__append_select_nulls.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_multiple_with_null.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_nulls.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_simple.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__cast.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__constants_only.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__distinct_on.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__group_all.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__group_sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__pipelines.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__read_csv.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__set_ops_remove.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__sort_2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__sort_3.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__switch.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__text_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__append_select_nulls.snap
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: remove leading blank lines from compileall snapshots
  prqlc/prqlc/tests/integration/queries.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_multiple_with_null.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_nulls.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_simple.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__arithmetic.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__cast.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__constants_only.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__distinct_on.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__group_all.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__group_sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__pipelines.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__read_csv.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__set_ops_remove.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__sort_2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__sort_3.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__switch.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__text_module.snap
Due: no-dbg

fix: remove leading blank lines from compileall snapshots (#5752)
  prqlc/prqlc/tests/integration/queries.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_multiple_with_null.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_nulls.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_simple.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__arithmetic.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__cast.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__constants_only.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__distinct_on.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__group_all.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__group_sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__pipelines.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__read_csv.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__set_ops_remove.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__sort_2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__sort_3.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__switch.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__text_module.snap
Due: no-dbg

ci: remove automerge job from pull-request-target workflow
  .github/workflows/pull-request-target.yaml
Due: none

ci: remove automerge job from pull-request-target (#5753)
  .github/workflows/pull-request-target.yaml
Due: none

chore: regenerate tend workflows with latest version
  .config/tend.toml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
Due: none

chore: regenerate tend workflows with latest version (#5760)
  .config/tend.toml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
Due: none

chore: switch from mypy to ty for Python type checking
  prqlc/bindings/prqlc-python/README.md
  prqlc/bindings/prqlc-python/noxfile.py
  prqlc/bindings/prqlc-python/pyproject.toml
  prqlc/bindings/prqlc-python/uv.lock
Due: lychee

fix: configure ty for native extension module
  prqlc/bindings/prqlc-python/pyproject.toml
  prqlc/bindings/prqlc-python/python/prqlc/__init__.py
  prqlc/bindings/prqlc-python/python/tests/test_all.py
Due: none

fix: revert test import, suppress ty submodule warning in config
  prqlc/bindings/prqlc-python/pyproject.toml
  prqlc/bindings/prqlc-python/python/tests/test_all.py
Due: none

fix: use correct ty rules config syntax
  prqlc/bindings/prqlc-python/pyproject.toml
Due: none

chore: switch from mypy to ty for Python type checking (#5761)
  prqlc/bindings/prqlc-python/README.md
  prqlc/bindings/prqlc-python/noxfile.py
  prqlc/bindings/prqlc-python/pyproject.toml
  prqlc/bindings/prqlc-python/python/prqlc/__init__.py
  prqlc/bindings/prqlc-python/uv.lock
Due: lychee

fix: remove stray backslash in free space script that swallowed group annotation
  .github/workflows/scripts/util_free_space.sh
Due: none

fix: remove stray backslash in free space script (#5763)
  .github/workflows/scripts/util_free_space.sh
Due: none

docs: remove stale date reference in modules spec
  web/book/src/reference/spec/modules.md
Due: lychee

docs: fix remaining stale date references in modules spec
  web/book/src/reference/spec/modules.md
Due: lychee

docs: remove stale date reference in modules spec (#5764)
  web/book/src/reference/spec/modules.md
Due: lychee

docs: fix typos in roadmap and Zig README
  prqlc/bindings/prqlc-c/examples/minimal-zig/README.md
  web/website/content/roadmap.md
Due: lychee

fix: correct devcontainer-build nightly-upstream trigger in CI
  .github/workflows/tests.yaml
Due: none

fix: correct devcontainer-build nightly-upstream trigger in CI (#5766)
  .github/workflows/tests.yaml
Due: none

docs: fix typos in roadmap and Zig README (#5765)
  prqlc/bindings/prqlc-c/examples/minimal-zig/README.md
  web/website/content/roadmap.md
Due: lychee

docs: fix missing space and dangling fragment in tutorial and bindings docs
  web/book/src/project/bindings/README.md
  web/book/src/tutorial/relations.md
Due: lychee

docs: fix missing space and dangling fragment in tutorial and bindings docs (#5767)
  web/book/src/project/bindings/README.md
  web/book/src/tutorial/relations.md
Due: lychee

ci: open nightly-failure issues with prql-bot PAT
  .github/workflows/tests.yaml
Due: none

ci: allow tend-triage on bot-authored nightly-failure issues
  .github/workflows/tend-triage.yaml
Due: none

Revert "ci: allow tend-triage on bot-authored nightly-failure issues"
  .github/workflows/tend-triage.yaml
Due: none

ci: open nightly-failure issues with prql-bot PAT (#5770)
  .github/workflows/tests.yaml
Due: none

fix: bump snap rust-deps toolchain to match MSRV
  prqlc/packages/snap/snapcraft.yaml
Due: none

docs: fix nano README typos and update copyright year
  grammars/nano/README.md
  web/website/config.yaml
Due: lychee

docs: fix nano README typos and update copyright year (#5772)
  grammars/nano/README.md
  web/website/config.yaml
Due: lychee

ci: skip test-dbs-external when Docker Hub secrets are unavailable
  .github/workflows/test-rust.yaml
Due: none

ci: simplify — fall back to unauthenticated Docker Hub pulls
  .github/workflows/test-rust.yaml
Due: none

ci: fix actionlint error — use env instead of secrets in step `if`
  .github/workflows/test-rust.yaml
Due: none

fix: bump snap rust-deps toolchain to match MSRV (#5771)
  prqlc/packages/snap/snapcraft.yaml
Due: none

fix: re-enable pre-commit in devcontainer
  .devcontainer/devcontainer.json
Due: none

chore: remove commented-out example from blog post
  web/website/content/posts/2022-05-19-examples.md
Due: lychee

Path conditions:
  lychee: any of: \.(md|rst)$, but not: ^web/website/themes/
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
