Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.(rs|snap)$'
  - repo: https://github.com/crate-ci/typos
    rev: v1.21.0
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    # This does seem to work again, but might need to be disabled if it doesn't;
    # ref https://github.com/prettier/prettier/issues/15742
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          # TODO: This doesn't seem to work, would be great to fix.
          # https://github.com/PRQL/prql/issues/3078
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.5
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: clippy
        stages: [manual]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.0
    hooks:
      - id: actionlint
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.12.2
    hooks:
      - id: markdown-link-check
        name: markdown-link-check-local
        types: [markdown]
        args: ["--config=.config/.markdown-link-check-local.json"]
        # To run across everything (see nightly.yaml for more details)
      - id: markdown-link-check
        name: markdown-link-check-all
        stages: [manual]
        types: [markdown]
        args: ["--config=.config/.markdown-link-check-all.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote

ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

Update tests and CLI
  prqlc/bindings/prqlc-python/Cargo.toml
  prqlc/bindings/prqlc-python/pyproject.toml
  prqlc/bindings/prqlc-python/python/prqlc/__init__.py
  prqlc/bindings/prqlc-python/python/prqlc/__init__.pyi
  prqlc/bindings/prqlc-python/python/prqlc/debug.pyi
  prqlc/bindings/prqlc-python/python/prqlc/py.typed
  prqlc/bindings/prqlc-python/src/lib.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion-2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion-3.snap
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion-4.snap
Due: no-dbg

pre-commit updates
  prqlc/bindings/prqlc-python/Cargo.toml
  prqlc/bindings/prqlc-python/python/prqlc/__init__.py
  prqlc/bindings/prqlc-python/python/tests/test_all.py
  prqlc/bindings/prqlc-python/src/lib.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/lib.rs
Due: no-dbg

clippy update
  prqlc/bindings/prqlc-python/src/lib.rs
Due: no-dbg

test debug::pl_to_lineage
  prqlc/prqlc/tests/integration/queries.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__arithmetic.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__constants_only.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__date_to_text.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__distinct.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__distinct_on.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__genre_counts.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_all.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort_limit_take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__invoice_totals.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__loop_01.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__pipelines.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__read_csv.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__switch.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__text_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__window.snap
Due: no-dbg

fix a couple of panics
  prqlc/prqlc/src/semantic/reporting.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__cast.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__set_ops_remove.snap
Due: no-dbg

add python snapshot tests and init comment
  prqlc/bindings/prqlc-python/python/prqlc/__init__.py
  prqlc/bindings/prqlc-python/src/lib.rs
Due: no-dbg

cargo fmt
  prqlc/prqlc/src/semantic/reporting.rs
  prqlc/prqlc/tests/integration/queries.rs
Due: no-dbg

update changelog
  CHANGELOG.md
Due: prql-codeblock

refactor: more error info, span merge (#4470)
  Cargo.lock
  prqlc/prqlc-ast/Cargo.toml
  prqlc/prqlc-ast/src/expr.rs
  prqlc/prqlc-ast/src/lib.rs
  prqlc/prqlc-ast/src/span.rs
  prqlc/prqlc-ast/src/types.rs
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc-parser/src/err/error.rs
  prqlc/prqlc-parser/src/err/mod.rs
  prqlc/prqlc-parser/src/err/parse_error.rs
  prqlc/prqlc-parser/src/err/test.rs
  prqlc/prqlc-parser/src/error.rs
  prqlc/prqlc-parser/src/expr.rs
  prqlc/prqlc-parser/src/interpolation.rs
  prqlc/prqlc-parser/src/lib.rs
  prqlc/prqlc-parser/src/span.rs
  prqlc/prqlc-parser/src/stmt.rs
  prqlc/prqlc-parser/src/test.rs
  prqlc/prqlc-parser/src/types.rs
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/error_message.rs
  prqlc/prqlc/src/ir/mod.rs
  prqlc/prqlc/src/ir/pl/stmt.rs
  prqlc/prqlc/src/ir/rq/mod.rs
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/tests/integration/bad_error_messages.rs
  prqlc/prqlc/tests/integration/error_messages.rs
  prqlc/prqlc/tests/integration/resolving.rs
  prqlc/prqlc/tests/integration/static_eval.rs
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__f-strings__2.snap
Due: no-dbg

fix postgres unit quotes
  prqlc/prqlc/src/sql/dialect.rs
  prqlc/prqlc/src/sql/gen_expr.rs
Due: no-dbg

update tests
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

prevent panic for issues 4474 and 4317
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
Due: no-dbg

fix: proper postgres unit quotes (#4537)
  prqlc/prqlc/src/sql/dialect.rs
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

ci: Remove dependabot codecov exception
  .github/workflows/tests.yaml
Due: none

ci: Remove dependabot codecov exception (#4539)
  .github/workflows/tests.yaml
Due: none

add span, tests in add_error_messages
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/tests/integration/bad_error_messages.rs
Due: no-dbg

fix: prevent panic for issues #4474 and #4317 (#4538)
  CHANGELOG.md
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/tests/integration/bad_error_messages.rs
Due: no-dbg, prql-codeblock

refactor: Move `Token` next to `Expr` (#4521)
  Cargo.toml
  prqlc/prqlc-ast/Cargo.toml
  prqlc/prqlc-ast/src/expr.rs
  prqlc/prqlc-ast/src/expr/literal.rs
  prqlc/prqlc-ast/src/lib.rs
  prqlc/prqlc-ast/src/token.rs
  prqlc/prqlc-parser/src/err/parse_error.rs
  prqlc/prqlc-parser/src/expr.rs
  prqlc/prqlc-parser/src/interpolation.rs
  prqlc/prqlc-parser/src/lexer.rs
  prqlc/prqlc-parser/src/lib.rs
  prqlc/prqlc-parser/src/stmt.rs
  prqlc/prqlc-parser/src/types.rs
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/ir/pl/expr.rs
  prqlc/prqlc/src/semantic/reporting.rs
  prqlc/prqlc/tests/integration/ast_code_matches.rs
Due: no-dbg

docs: Exclude substack from markdown-link-check-all
  .config/.markdown-link-check-all.json
Due: none

docs: Exclude substack from markdown-link-check-all (#4543)
  .config/.markdown-link-check-all.json
Due: none

tweak: Some clippy fixes
  prqlc/bindings/java/Cargo.toml
  prqlc/bindings/prqlc-c/Cargo.toml
  prqlc/prqlc/src/semantic/resolver/flatten.rs
  prqlc/prqlc/src/semantic/resolver/names.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/src/sql/srq/postprocess.rs
Due: no-dbg

add buildinfo on build
  Cargo.lock
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/build.rs
  prqlc/prqlc/src/sql/mod.rs
Due: no-dbg

tweak: Some clippy fixes (#4544)
  prqlc/bindings/java/Cargo.toml
  prqlc/bindings/prqlc-c/Cargo.toml
  prqlc/prqlc/src/semantic/resolver/flatten.rs
  prqlc/prqlc/src/semantic/resolver/names.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/src/sql/srq/postprocess.rs
Due: no-dbg

ci: Only publish codecov patch on PRs
  .github/.codecov.yml
Due: none

add git describe version to comment
  Cargo.lock
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/build.rs
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/sql/mod.rs
Due: no-dbg

gotta see what number the CI is getting that it doesnt like
  prqlc/prqlc/src/lib.rs
Due: no-dbg

replace lib with just git cmd
  Cargo.lock
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/build.rs
  prqlc/prqlc/src/lib.rs
Due: no-dbg

cleanup
  prqlc/prqlc/build.rs
  prqlc/prqlc/src/lib.rs
Due: no-dbg

List qStudio in Integrations
  web/book/src/SUMMARY.md
  web/book/src/project/integrations/README.md
  web/book/src/project/integrations/qstudio.md
  web/website/content/_index.md
Due: none

ci: Only publish codecov patch on PRs (#4545)
  .github/.codecov.yml
Due: none

Include instructions that qStudio relies on having `prqlc` installed on the path
  web/book/src/project/integrations/qstudio.md
Due: none

Re-order items in Integrations
  web/book/src/SUMMARY.md
  web/book/src/project/integrations/README.md
Due: none

Re-order integrations on Website; Add Databend to Integrations in Book
  web/book/src/SUMMARY.md
  web/book/src/project/integrations/README.md
  web/book/src/project/integrations/databend.md
  web/book/src/project/integrations/rill.md
  web/website/content/_index.md
Due: none

docs: List qStudio in Integrations (#4547)
  web/book/src/SUMMARY.md
  web/book/src/project/integrations/README.md
  web/book/src/project/integrations/databend.md
  web/book/src/project/integrations/qstudio.md
  web/book/src/project/integrations/rill.md
  web/website/content/_index.md
Due: none

chore: Fix substack link check exclusion
  .config/.markdown-link-check-all.json
Due: none

chore: Fix substack link check exclusion (#4552)
  .config/.markdown-link-check-all.json
Due: none

Add syntax highlighting for micro
  grammars/micro/README.md
Due: none

Create prql.yaml
  grammars/micro/prql.yaml
Due: none
