Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

docs(changelog): add items about #3703
  CHANGELOG.md
Due: prql-codeblock

fix: disable compiling to `distinct on`
  prqlc/prql-compiler/src/sql/dialect.rs
  prqlc/prql-compiler/tests/integration/queries/window.prql
  prqlc/prql-compiler/tests/sql/sql.rs
  web/book/src/how-do-i/distinct.md
  web/book/tests/documentation/snapshots/documentation__book__how-do-i__distinct__remove-duplicates-from-each-group__2.snap
Due: no-dbg

docs(changelog): add items about #3703 (#3787)
  CHANGELOG.md
Due: prql-codeblock

chore: Backport #3787 to `web` (#3789)
  CHANGELOG.md
Due: prql-codeblock

docs(changelog): add an item
  CHANGELOG.md
Due: prql-codeblock

fix: disable compiling to `distinct on` (#3788)
  CHANGELOG.md
  prqlc/prql-compiler/src/sql/dialect.rs
  prqlc/prql-compiler/tests/integration/queries/window.prql
  prqlc/prql-compiler/tests/sql/sql.rs
  web/book/src/how-do-i/distinct.md
  web/book/tests/documentation/snapshots/documentation__book__how-do-i__distinct__remove-duplicates-from-each-group__2.snap
Due: no-dbg, prql-codeblock

fix
  prqlc/prql-compiler/src/ir/pl/stmt.rs
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-2.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-3.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline-2.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prql-compiler/tests/sql/parser.rs
  prqlc/prql-compiler/tests/sql/snapshots/sql__parser__pipeline_parse_tree.snap
  prqlc/prqlc-ast/src/stmt.rs
  prqlc/prqlc/src/cli.rs
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__keywords__identifiers--keywords__2.snap
Due: no-dbg

Switch to numbered points in the Releasing section
  web/book/src/project/contributing/development.md
Due: none

chore: add edition settings
  prqlc/bindings/dotnet/.editorconfig
  prqlc/bindings/dotnet/.gitignore
  prqlc/bindings/dotnet/README.md
  prqlc/bindings/dotnet/prql-logo.png
Due: none

build: move build settings to props and targets
  prqlc/bindings/dotnet/Directory.Build.props
  prqlc/bindings/dotnet/Directory.Build.targets
  prqlc/bindings/dotnet/PrqlCompiler.Tests/PrqlCompiler.Tests.csproj
  prqlc/bindings/dotnet/PrqlCompiler/PrqlCompiler.csproj
  prqlc/bindings/dotnet/prql-net.sln
Due: none

refactor: improve function descriptions and exception messages
  prqlc/bindings/dotnet/PrqlCompiler/PrqlCompiler.cs
Due: none

fix: update name of the native dll to import
  prqlc/bindings/dotnet/PrqlCompiler/PrqlCompiler.cs
Due: none

refactor: make PrqlCompilerOptions immutable
  prqlc/bindings/dotnet/PrqlCompiler/PrqlCompilerOptions.cs
Due: none

Fix DISTINCT ON
  prqlc/prql-compiler/src/sql/dialect.rs
  prqlc/prql-compiler/src/sql/gen_query.rs
  prqlc/prql-compiler/src/sql/srq/anchor.rs
  prqlc/prql-compiler/tests/sql/sql.rs
Due: no-dbg

checkpoint 2
  prqlc/prql-compiler/src/sql/srq/gen_query.rs
  prqlc/prql-compiler/tests/sql/sql.rs
Due: no-dbg

test: update snapshot
  prqlc/prql-compiler/tests/sql/sql.rs
Due: no-dbg

test: disable this query again
  prqlc/prql-compiler/tests/integration/queries/window.prql
Due: none

test: Disable `long_query` test on Windows
  prqlc/prqlc/tests/test.rs
Due: no-dbg

docs(CHANGELOG): Add integrations (#3767)
  CHANGELOG.md
Due: prql-codeblock

docs: Adjust docstring on binary size
  Cargo.toml
  prqlc/prql-compiler/src/lib.rs
Due: no-dbg

test: Disable `long_query` test on Windows (#3798)
  prqlc/prqlc/tests/test.rs
Due: no-dbg

docs: Fix book layout (#3785)
  web/book/src/project/contributing/development.md
Due: none

chore: Backport #3785 to `web` (#3802)
  web/book/src/project/contributing/development.md
Due: none

docs: Update development.md (#3777)
  web/book/src/project/contributing/development.md
Due: none

fix: distinct on (#3792)
  prqlc/prql-compiler/src/sql/dialect.rs
  prqlc/prql-compiler/src/sql/gen_query.rs
  prqlc/prql-compiler/src/sql/srq/anchor.rs
  prqlc/prql-compiler/src/sql/srq/gen_query.rs
  prqlc/prql-compiler/tests/integration/queries/window.prql
  prqlc/prql-compiler/tests/sql/sql.rs
Due: no-dbg

docs: add release notes for 0.10.1
  CHANGELOG.md
Due: prql-codeblock

docs: add release notes for 0.10.1 (#3790)
  CHANGELOG.md
Due: prql-codeblock

chore: bump to 0.10.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/prql-compiler-macros/Cargo.toml
  prqlc/prql-compiler/Cargo.toml
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/Cargo.toml
  web/book/src/project/target.md
  web/playground/package-lock.json
  web/playground/package.json
Due: prql-codeblock

test: update snapshots
  prqlc/prql-compiler/tests/sql/sql.rs
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
Due: no-dbg

chore: bump versions to 0.10.2 (#3804)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/prql-compiler-macros/Cargo.toml
  prqlc/prql-compiler/Cargo.toml
  prqlc/prql-compiler/tests/sql/sql.rs
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/Cargo.toml
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: no-dbg, prql-codeblock

docs: Adjust docstring on binary size (#3799)
  Cargo.toml
  prqlc/prql-compiler/src/lib.rs
Due: no-dbg

build: Rename `clib` binary name
  prqlc/bindings/clib/Cargo.toml
Due: none

ci: Release .deb and .rpm packages
  .github/workflows/release.yaml
Due: none

Update release.yaml
  .github/workflows/release.yaml
Due: none

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
