Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, prql-codeblock

lychee:
  name: lychee (local links only)
  entry: lychee
  language: rust
  additional_dependencies:
  - cli:lychee:0.20.1
  args:
  - --no-progress
  - --include=^(https://(github\.com/(PRQL|prql)|prql-lang\.org|raw\.githubusercontent\.com/(PRQL|prql))|file://)

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

fix: update expected snapshots for debug lineage tests
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__date__top-level-date-functions__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__date__top-level-date-functions__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__date__top-level-date-functions__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__date__top-level-date-functions__3.snap
Due: none

feat: add 'now' function for current timestamp support
  prqlc/prqlc/src/semantic/std.prql
  prqlc/prqlc/src/sql/std.sql.prql
  prqlc/prqlc/tests/integration/sql.rs
  web/book/highlight-prql.js
  web/book/src/reference/stdlib/date.md
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: lychee, no-dbg

fix: remove outdated snapshot files for date functions
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__date__date-functions__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__date__date-functions__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__date__date-functions__2.snap
Due: none

feat: update 'now' function to use date module and adjust related documentation
  prqlc/prqlc/src/semantic/std.prql
  prqlc/prqlc/src/sql/std.sql.prql
  prqlc/prqlc/tests/integration/sql.rs
  web/book/highlight-prql.js
  web/book/src/reference/stdlib/README.md
  web/book/src/reference/stdlib/date.md
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__README__standard-library__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__date__date-functions__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__date__date-functions__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__date__date-functions__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__date__date-functions__3.snap
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: lychee, no-dbg

Remove unreferenced top-level-date-functions snapshots
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__date__top-level-date-functions__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__date__top-level-date-functions__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__date__top-level-date-functions__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__date__top-level-date-functions__3.snap
Due: none

fux: restore content deleted by mistake
  web/book/src/reference/stdlib/date.md
Due: lychee

update: snapshot tests for successful 'cargo test'
  prqlc/bindings/prqlc-python/src/lib.rs
  prqlc/prqlc/src/cli/test.rs
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__append_union_different_tables.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__frames_and_names-2.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__frames_and_names-3.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__frames_and_names.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__append_select.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__append_select_multiple_with_null.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__append_select_nulls.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__append_select_simple.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__arithmetic.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__cast.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__constants_only.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__date_to_text.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__distinct.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__distinct_on.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__genre_counts.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_all.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort_filter_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort_limit_take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__invoice_totals.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__loop_01.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__pipelines.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__read_csv.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__set_ops_remove.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__sort_2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__sort_3.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__switch.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__text_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__window.snap
Due: no-dbg

feat: add 'date.trunc' function for date trunc support
  prqlc/prqlc/src/semantic/std.prql
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/src/sql/std.sql.prql
  prqlc/prqlc/tests/integration/error_messages.rs
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/reference/stdlib/date.md
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__date__date-functions__3.snap
Due: lychee, no-dbg

update: integration snapshots and documentation for date functions
  prqlc/bindings/prqlc-python/src/lib.rs
  prqlc/prqlc/src/cli/test.rs
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__append_union_different_tables.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__frames_and_names-2.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__frames_and_names-3.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__frames_and_names.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__append_select.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__append_select_multiple_with_null.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__append_select_nulls.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__append_select_simple.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__arithmetic.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__cast.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__constants_only.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__date_to_text.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__distinct.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__distinct_on.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__genre_counts.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_all.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort_filter_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort_limit_take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__invoice_totals.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__loop_01.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__pipelines.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__read_csv.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__set_ops_remove.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__sort_2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__sort_3.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__switch.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__text_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__window.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__date__date-functions__3.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__date__date-functions__4.snap
Due: no-dbg

fix: add missing newline at end of date functions snapshot
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__date__date-functions__4.snap
Due: none

fix: correct formatting of SQL output table in date documentation
  web/book/src/reference/stdlib/date.md
Due: lychee

fix: remove unquoted date truncation functions for BigQuery and MSSQL
  prqlc/prqlc/src/sql/std.sql.prql
Due: none

fix: correct Vec::from_raw_parts element type in prqlc-c
  prqlc/bindings/prqlc-c/src/lib.rs
Due: no-dbg

fix: date.trunc returns error for SQLite instead of invalid SQL
  prqlc/prqlc/src/sql/std.sql.prql
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: date.trunc returns error for SQLite instead of invalid SQL (#5733)
  prqlc/prqlc/src/sql/std.sql.prql
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: correct Vec::from_raw_parts element type in prqlc-c (#5732)
  prqlc/bindings/prqlc-c/src/lib.rs
Due: no-dbg

Fix SQLite integer division producing wrong results when |dividend| < |divisor|
  prqlc/prqlc/src/sql/std.sql.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__arithmetic.snap
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: correct SQLite div_i formula for small dividends
  prqlc/prqlc/src/sql/std.sql.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__arithmetic.snap
  prqlc/prqlc/tests/integration/sql.rs
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__README__standard-library__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__operators__division-and-integer-division__0.snap
Due: no-dbg

fix: BETWEEN optimization now triggers by comparing expr kind, not span
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

Fix BETWEEN optimization never triggering due to span comparison
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

Update book documentation snapshots for SQLite div_i formula change
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__README__standard-library__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__operators__division-and-integer-division__0.snap
Due: none

fix: correct SQLite div_i formula for small dividends (#5736)
  prqlc/prqlc/src/sql/std.sql.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__arithmetic.snap
  prqlc/prqlc/tests/integration/sql.rs
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__README__standard-library__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__operators__division-and-integer-division__0.snap
Due: no-dbg

fix: update date.md prettier
  web/book/src/reference/stdlib/date.md
Due: lychee

fix: adjust formatting in date.md for SQL output table
  web/book/src/reference/stdlib/date.md
Due: lychee

feat: add 'array_agg' function with coalesce handling for DuckDB and SQLite
  prqlc/prqlc/src/sql/std.sql.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__aggregation.snap
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

chore: update insta snapshot format
  prqlc/prqlc/tests/integration/bad_error_messages.rs
  prqlc/prqlc/tests/integration/error_messages.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__append_select.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__append_select_multiple_with_null.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_multiple_with_null.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__pipelines.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__set_ops_remove.snap
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

chore: update stale snapshot metadata and content
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__append_select_nulls.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_multiple_with_null.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_nulls.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_simple.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__cast.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__constants_only.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__distinct_on.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__group_all.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__group_sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__pipelines.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__read_csv.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__set_ops_remove.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__sort_2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__sort_3.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__switch.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__text_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__append_select_nulls.snap
Due: none

ci: add Docker Hub login to workflows pulling Docker images
  .github/workflows/build-devcontainer.yaml
  .github/workflows/test-rust.yaml
Due: none

ci: pass secrets to reusable workflows for Docker Hub login
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
Due: none

fix(ci): pass --target and --target-dir in on-demand prqlc build
  prqlc/prqlc-cli/build.rs
  prqlc/prqlc-cli/src/cli/test_utils.rs
Due: no-dbg

fix: resolve CI failures for dead code and binary discovery
  prqlc/prqlc-cli/src/cli/docs_generator.rs
  prqlc/prqlc-cli/src/cli/highlight.rs
  prqlc/prqlc-cli/src/cli/mod.rs
  prqlc/prqlc-cli/src/cli/test.rs
  prqlc/prqlc-cli/src/cli/test_utils.rs
  prqlc/prqlc/src/utils/mod.rs
Due: no-dbg

fix(ci): Fix CI failures — formatting, binary lookup, unused deps
  Cargo.lock
  prqlc/prqlc-cli/Cargo.toml
  prqlc/prqlc-cli/src/cli/mod.rs
  prqlc/prqlc-cli/src/cli/test.rs
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/error_message.rs
  prqlc/prqlc/src/lib.rs
Due: no-dbg

fix(ci): split build-prqlc action and fix post-crate-split CI failures
  .github/actions/build-prqlc-cli/action.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  Cargo.lock
  prqlc/bindings/js/tests/test_all.mjs
  prqlc/prqlc/Cargo.toml
Due: none

Path conditions:
  lychee: any of: \.(md|rst)$, but not: ^web/website/themes/
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
