Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

readme
  lutra/README.md
Due: none

replace connector-x with connector_arrow
  Cargo.lock
  lutra/Taskfile.yml
  lutra/lutra/Cargo.toml
  lutra/lutra/src/cli.rs
  lutra/lutra/src/compile.rs
  lutra/lutra/src/execute.rs
  lutra/lutra/src/lib.rs
  lutra/lutra/src/project.rs
  prqlc/prqlc/Cargo.toml
Due: no-dbg

fix
  lutra/lutra/src/lib.rs
Due: no-dbg

a few tests
  Cargo.lock
  lutra/lutra/Cargo.toml
  lutra/lutra/src/cli.rs
  lutra/lutra/src/execute.rs
  lutra/lutra/src/lib.rs
  lutra/lutra/tests/it/main.rs
Due: no-dbg

don't test on wasm
  lutra/lutra/tests/it/main.rs
Due: no-dbg

feat: lutra query runner (#4134)
  .github/workflows/tests.yaml
  Cargo.lock
  Cargo.toml
  Taskfile.yml
  lutra/.gitignore
  lutra/README.md
  lutra/Taskfile.yml
  lutra/example-project/Project.prql
  lutra/example-project/chinook.db
  lutra/example-project/genres.prql
  lutra/lutra/Cargo.toml
  lutra/lutra/src/cli.rs
  lutra/lutra/src/compile.rs
  lutra/lutra/src/discover.rs
  lutra/lutra/src/execute.rs
  lutra/lutra/src/lib.rs
  lutra/lutra/src/project.rs
  lutra/lutra/tests/it/main.rs
  prqlc/prqlc/src/semantic/mod.rs
Due: no-dbg

feat: lutra python bindings
  Cargo.lock
  Cargo.toml
  flake.nix
  lutra/Taskfile.yml
  lutra/bindings/python/.gitignore
  lutra/bindings/python/Cargo.toml
  lutra/bindings/python/README.md
  lutra/bindings/python/Taskfile.yaml
  lutra/bindings/python/build.rs
  lutra/bindings/python/lutra.pyi
  lutra/bindings/python/noxfile.py
  lutra/bindings/python/pyproject.toml
  lutra/bindings/python/python/tests/test_all.py
  lutra/bindings/python/src/lib.rs
Due: no-dbg

reorganization fix
  lutra/bindings/python/src/lib.rs
Due: no-dbg

refactor(lutra): reorganize stages, docs
  lutra/lutra/src/cli.rs
  lutra/lutra/src/compile.rs
  lutra/lutra/src/discover.rs
  lutra/lutra/src/execute.rs
  lutra/lutra/src/lib.rs
  lutra/lutra/src/project.rs
  lutra/lutra/tests/it/main.rs
Due: no-dbg

fix
  lutra/Taskfile.yml
  lutra/bindings/python/src/lib.rs
Due: no-dbg

add pyarrow dep
  lutra/bindings/python/pyproject.toml
Due: none

refactor(lutra): reorganize stages, docs (#4176)
  lutra/lutra/src/cli.rs
  lutra/lutra/src/compile.rs
  lutra/lutra/src/discover.rs
  lutra/lutra/src/execute.rs
  lutra/lutra/src/lib.rs
  lutra/lutra/src/project.rs
  lutra/lutra/tests/it/main.rs
Due: no-dbg

fix
  lutra/bindings/python/Cargo.toml
Due: none

fix
  Cargo.lock
  lutra/bindings/python/Cargo.toml
  lutra/bindings/python/src/lib.rs
Due: no-dbg

Change to Markdown
  prqlc/prql-doc/src/Cargo.lock
  prqlc/prql-doc/src/Cargo.toml
  prqlc/prql-doc/src/docgen.rs
  prqlc/prql-doc/src/main.rs
  prqlc/prqlc/src/cli/docgen.rs
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/tests/integration/cli.rs
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion-2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion-3.snap
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion-4.snap
Due: no-dbg

ci: Longer time-outs for link checks
  .config/.markdown-link-check-local.json
Due: none

ci: Longer time-outs for link checks (#4178)
  .config/.markdown-link-check-local.json
Due: none

ci: Exclude codecov job with dependabot
  .github/workflows/tests.yaml
Due: none

ci: Exclude codecov job with dependabot (#4180)
  .github/workflows/tests.yaml
Due: none

fix
  lutra/bindings/python/noxfile.py
  lutra/bindings/python/pyproject.toml
Due: none

fix
  .pre-commit-config.yaml
Due: none

feat: lutra python bindings (#4174)
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  flake.nix
  lutra/Taskfile.yml
  lutra/bindings/python/.gitignore
  lutra/bindings/python/Cargo.toml
  lutra/bindings/python/README.md
  lutra/bindings/python/Taskfile.yaml
  lutra/bindings/python/build.rs
  lutra/bindings/python/lutra.pyi
  lutra/bindings/python/pyproject.toml
  lutra/bindings/python/python/tests/test_all.py
  lutra/bindings/python/src/lib.rs
Due: no-dbg

feat: pull schema
  Cargo.lock
  lutra/example-project/chinook.db
  lutra/lutra/Cargo.toml
  lutra/lutra/src/cli.rs
  lutra/lutra/src/connection.rs
  lutra/lutra/src/execute.rs
  lutra/lutra/src/lib.rs
  lutra/lutra/src/pull_schema.rs
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/tests/integration/dbs/runner.rs
Due: no-dbg

feat: editing
  lutra/example-project/chinook.db
  lutra/lutra/src/cli.rs
  lutra/lutra/src/compile.rs
  lutra/lutra/src/editing.rs
  lutra/lutra/src/execute.rs
  lutra/lutra/src/lib.rs
  lutra/lutra/src/project.rs
  lutra/lutra/src/pull_schema.rs
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
Due: no-dbg

fix
  lutra/lutra/src/editing.rs
Due: no-dbg

fix
  prqlc/prqlc/src/cli/mod.rs
Due: no-dbg

feat(lutra): pull database schema into source (#4182)
  Cargo.lock
  lutra/example-project/chinook.db
  lutra/lutra/Cargo.toml
  lutra/lutra/src/cli.rs
  lutra/lutra/src/compile.rs
  lutra/lutra/src/connection.rs
  lutra/lutra/src/editing.rs
  lutra/lutra/src/execute.rs
  lutra/lutra/src/lib.rs
  lutra/lutra/src/project.rs
  lutra/lutra/src/pull_schema.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/tests/integration/dbs/runner.rs
Due: no-dbg

build: disable cargo doc on crates that don't have docs
  lutra/bindings/python/Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/java/Cargo.toml
  prqlc/bindings/js/Cargo.toml
  prqlc/bindings/prqlc-c/Cargo.toml
  prqlc/bindings/python/Cargo.toml
  prqlc/prqlc/examples/compile-files/Cargo.toml
  web/book/Cargo.toml
Due: none

Update prqlc/bindings/prqlc-c/Cargo.toml
  prqlc/bindings/prqlc-c/Cargo.toml
Due: none

build: disable cargo doc on crates that don't have docs (#4183)
  lutra/bindings/python/Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/java/Cargo.toml
  prqlc/bindings/js/Cargo.toml
  prqlc/bindings/prqlc-c/Cargo.toml
  prqlc/bindings/python/Cargo.toml
  prqlc/prqlc/examples/compile-files/Cargo.toml
  web/book/Cargo.toml
Due: none

chore: Release notes for 0.11.2
  CHANGELOG.md
Due: prql-codeblock

chore: Release notes for 0.11.2 (#4184)
  CHANGELOG.md
Due: prql-codeblock

chore: Bump versions to 0.11.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/prql-compiler-macros/Cargo.toml
  prqlc/prql-compiler/Cargo.toml
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/project/contributing/development.md
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: no-dbg, prql-codeblock

build: Add `prqlc` version to `lutra` Cargo
  lutra/lutra/Cargo.toml
Due: none

chore: Bump versions to 0.11.3 (#4185)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/prql-compiler-macros/Cargo.toml
  prqlc/prql-compiler/Cargo.toml
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/project/contributing/development.md
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: no-dbg, prql-codeblock

build: Add `prqlc` version to `lutra` Cargo (#4186)
  lutra/lutra/Cargo.toml
Due: none

build(lutra): Resolve naming issues
  lutra/bindings/python/Cargo.toml
  lutra/bindings/python/pyproject.toml
Due: none

.
  lutra/bindings/python/Cargo.toml
Due: none

build: Rename `prql_python` to `prqlc`
  Cargo.lock
  Cargo.toml
  prqlc/bindings/prqlc-python/.gitignore
  prqlc/bindings/prqlc-python/Cargo.toml
  prqlc/bindings/prqlc-python/README.md
  prqlc/bindings/prqlc-python/Taskfile.yaml
  prqlc/bindings/prqlc-python/build.rs
  prqlc/bindings/prqlc-python/noxfile.py
  prqlc/bindings/prqlc-python/prqlc.pyi
  prqlc/bindings/prqlc-python/pyproject.toml
  prqlc/bindings/prqlc-python/python/tests/test_all.py
  prqlc/bindings/prqlc-python/src/lib.rs
Due: no-dbg

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
