Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

Add missing field 'sample'
  prqlc/prqlc/src/sql/gen_query.rs
Due: no-dbg

build: Update rust toolchain version (#5161)
  prqlc/prqlc/src/parser.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/mod.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/stmt.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  rust-toolchain.toml
Due: no-dbg

Update status
  README.md
Due: none

fix: escape BigQuery reserved keywords (#5166)
  prqlc/prqlc/src/sql/keywords.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: escape BigQuery reserved keywords (#5166) (#5173)
  prqlc/prqlc/src/sql/keywords.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

feat: Add syntax highlighting for KSyntaxHighlighting
  grammars/KSyntaxHighlighting/README.md
  grammars/KSyntaxHighlighting/prql.xml
  grammars/README.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: prql-codeblock

docs: Update status (#5167)
  README.md
Due: none

Fix typo
  .typos.toml
  grammars/KSyntaxHighlighting/prql.xml
  grammars/README.md
Due: none

feat: Add syntax highlighting for KSyntaxHighlighting (#5177)
  .typos.toml
  CHANGELOG.md
  grammars/KSyntaxHighlighting/README.md
  grammars/KSyntaxHighlighting/prql.xml
  grammars/README.md
Due: prql-codeblock

feat: Add syntax highlighting for Vim
  grammars/README.md
  grammars/vim/README.md
  grammars/vim/prql.vim
Due: none

feat: Add syntax highlighting for Vim (#5185)
  CHANGELOG.md
  grammars/README.md
  grammars/vim/README.md
  grammars/vim/prql.vim
Due: prql-codeblock

Add Helix
  grammars/README.md
Due: none

docs: Add Helix (#5187)
  grammars/README.md
Due: none

feat: Add syntax highlighting for Emacs
  grammars/README.md
  grammars/emacs/README.md
  grammars/emacs/prql-mode.el
Due: none

feat: Add syntax highlighting for Emacs (#5189)
  CHANGELOG.md
  grammars/README.md
  grammars/emacs/README.md
  grammars/emacs/prql-mode.el
Due: prql-codeblock

fix(Lezer grammar): Pipelines require paranthesis
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/misc.txt
Due: none

fix(Lezer grammar): Pipelines require paranthesis (#5194)
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/misc.txt
Due: none

fix(Lezer grammar): Add support for exponentiation
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/arithmetics.txt
Due: none

fix(Lezer grammar): Add support for exponentiation (#5196)
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/arithmetics.txt
Due: none

feat: Add LSP stub
  Cargo.lock
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/lsp.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/cli/test.rs
Due: no-dbg

Make dependency optional
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/mod.rs
Due: no-dbg

feat: Add syntax highlighting for Kakoune
  CHANGELOG.md
  grammars/README.md
Due: prql-codeblock

https
  CHANGELOG.md
Due: prql-codeblock

feat: Add syntax highlighting for Kakoune (#5199)
  CHANGELOG.md
  grammars/README.md
Due: prql-codeblock

Update test.rs
  prqlc/prqlc/src/cli/test.rs
Due: no-dbg

Update Cargo.toml
  prqlc/prqlc/Cargo.toml
Due: none

Add shell completion
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-2.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-3.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-4.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion.snap
Due: none

Remove lsp from cli
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/cli/test.rs
Due: no-dbg

docs: Neovim has syntax highlighting
  CHANGELOG.md
  grammars/README.md
  grammars/vim/prql.vim
Due: prql-codeblock

docs: Neovim has syntax highlighting (#5203)
  CHANGELOG.md
  grammars/README.md
  grammars/vim/prql.vim
Due: prql-codeblock

chore: CHANGELOG.md for version 0.13.4 release
  CHANGELOG.md
Due: prql-codeblock

chore: CHANGELOG.md for version 0.13.4 release (#5204)
  CHANGELOG.md
Due: prql-codeblock

maybe fix
  web/playground/package-lock.json
  web/playground/package.json
Due: none

chore: Bump version to 0.13.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/packages/snap/snapcraft.yaml
  prqlc/prqlc-macros/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: no-dbg, prql-codeblock

feat: Add LSP stub (#5197)
  Cargo.lock
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/lsp.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-2.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-3.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-4.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion.snap
  prqlc/prqlc/src/cli/test.rs
Due: no-dbg

chore: Bump version to 0.13.5 (#5206)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/packages/snap/snapcraft.yaml
  prqlc/prqlc-macros/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: no-dbg, prql-codeblock

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
