Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.rs$'
  - repo: https://github.com/crate-ci/typos
    rev: v1.16.1
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    # Upgrading to the bare `v3.0.0` seems to break the plugin; contributions welcome to fix.
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.278
    hooks:
      - id: ruff
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
      - id: clippy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
      - id: mypy
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.11.2
    hooks:
      - id: markdown-link-check
        name: markdown-link-check-local
        files: \.md$
        args: ["--config=.config/.markdown-link-check-local.json"]
        # To run across everything (see nightly.yaml for more details)
      - id: markdown-link-check
        name: markdown-link-check-all
        stages: [manual]
        files: \.md$
        args: ["--config=.config/.markdown-link-check-all.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote
ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, clippy, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

chore: Bump versions to 0.11.5 (#4259)
  Cargo.lock
  Cargo.toml
  lutra/lutra/Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/prql-compiler-macros/Cargo.toml
  prqlc/prql-compiler/Cargo.toml
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: no-dbg

ci: Redo markdown link regex
  .config/.markdown-link-check-all.json
Due: none

ci: Redo markdown link regex (#4266)
  .config/.markdown-link-check-all.json
Due: none

tweak: Fix capitalization
  CHANGELOG.md
  Taskfile.yml
  prqlc/prqlc-parser/Cargo.toml
Due: prql-codeblock

tweak: Fix capitalization (#4267)
  CHANGELOG.md
  Taskfile.yml
  prqlc/prqlc-parser/Cargo.toml
Due: prql-codeblock

ci: Fix mac prqlc tar
  .github/actions/build-prqlc/action.yaml
Due: none

docs: Add framework for bindings' separate repos (#4262)
  web/book/src/project/contributing/development.md
Due: none

chore: Backport #4262 to `web` (#4269)
  web/book/src/project/contributing/development.md
Due: none

ci: Fix mac prqlc tar (#4268)
  .github/actions/build-prqlc/action.yaml
Due: none

ci: Align `prqlc` cli build (#4260)
  .github/actions/build-prqlc/action.yaml
  .github/workflows/release.yaml
Due: none

web: switch browser build to '--target web' for ESM module usage
  prqlc/bindings/js/README.md
  prqlc/bindings/js/package.json
Due: none

web: switch browser build to '--target web' for ESM module usage (#4274)
  prqlc/bindings/js/README.md
  prqlc/bindings/js/package.json
Due: none

web: add CHANGELOG for ESM change
  CHANGELOG.md
Due: prql-codeblock

web: add CHANGELOG for ESM change (#4276)
  CHANGELOG.md
Due: prql-codeblock

fix: variable docs
  web/book/src/reference/declarations/variables.md
Due: none

build: update nix flake
  flake.lock
  flake.nix
Due: none

build: update nix flake (#4264)
  flake.lock
  flake.nix
Due: none

docs: Improve pipe docs
  web/book/src/reference/syntax/pipes.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__pipes__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__pipes__3.snap
Due: none

docs: Improve pipe docs (#4283)
  web/book/src/reference/syntax/pipes.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__pipes__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__pipes__cest-ne-pas-un-pipe__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__pipes__cest-ne-pas-un-pipe__1.snap
Due: none

chore: Fix changelog dates
  CHANGELOG.md
Due: prql-codeblock

chore: Fix changelog dates (#4284)
  CHANGELOG.md
Due: prql-codeblock

fix: Prevent panic on `a -> b` query
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/tests/integration/bad_error_messages.rs
Due: no-dbg

fix: variable docs (#4278)
  web/book/src/reference/declarations/variables.md
Due: none

fix: intersection without refs into top
  prqlc/prqlc/src/sql/srq/preprocess.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: intersection without refs into top (#4286)
  prqlc/prqlc/src/sql/srq/preprocess.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

build: update the dev rust toolchain
  flake.nix
  prqlc/prqlc-ast/src/expr/ident.rs
  prqlc/prqlc/src/semantic/eval.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/src/sql/mod.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

build: update the dev rust toolchain (#4287)
  flake.nix
  prqlc/prqlc-ast/src/expr/ident.rs
  prqlc/prqlc/src/semantic/eval.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/src/sql/mod.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

refactor: rename types::TupleField to types::TyTupleField
  lutra/lutra/src/pull_schema.rs
  prqlc/prqlc-ast/src/types.rs
  prqlc/prqlc-parser/src/types.rs
  prqlc/prqlc/src/codegen/types.rs
  prqlc/prqlc/src/ir/pl/fold.rs
  prqlc/prqlc/src/ir/pl/mod.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/inference.rs
  prqlc/prqlc/src/semantic/resolver/stmt.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
Due: no-dbg

refactor: all TupleField
  prqlc/prqlc/src/ir/constant.rs
  prqlc/prqlc/src/ir/pl/expr.rs
  prqlc/prqlc/src/ir/pl/fold.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/eval.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prqlc/src/semantic/resolver/static_eval.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/src/sql/operators.rs
  prqlc/prqlc/tests/integration/ast_code_matches.rs
  prqlc/prqlc/tests/integration/static_eval.rs
Due: no-dbg

fix: Prevent panic on `a -> b` query (#4285)
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/tests/integration/bad_error_messages.rs
Due: no-dbg

tweak: Small rust code improvement
  prqlc/prqlc/src/semantic/module.rs
Due: no-dbg

tweak: Small rust code improvement (#4292)
  prqlc/prqlc/src/semantic/module.rs
Due: no-dbg

docs: Move `from` out of `transforms`, rip "How do I"
  web/book/src/SUMMARY.md
  web/book/src/how-do-i/distinct.md
  web/book/src/reference/data/README.md
  web/book/src/reference/data/from.md
  web/book/src/reference/data/read-files.md
  web/book/src/reference/data/relation-literals.md
  web/book/src/reference/declarations/variables.md
  web/book/src/reference/stdlib/distinct.md
Due: none

docs: Move `from` out of `transforms` (#4293)
  web/book/src/SUMMARY.md
  web/book/src/how-do-i/distinct.md
  web/book/src/overview.md
  web/book/src/reference/data/README.md
  web/book/src/reference/data/from.md
  web/book/src/reference/data/read-files.md
  web/book/src/reference/data/relation-literals.md
  web/book/src/reference/declarations/variables.md
  web/book/src/reference/stdlib/distinct.md
  web/book/src/reference/stdlib/transforms/README.md
  web/book/tests/documentation/snapshots/documentation__book__reference__data__from__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__from__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__from__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__read-files__reading-files__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__read-files__reading-files__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__relation-literals__array-literals__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__relation-literals__array-literals__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__relation-literals__array-literals__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__relation-literals__array-literals__3.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__relation-literals__array-literals__4.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__variables__variables--__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__variables__variables--__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__variables__variables--__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__distinct__how-do-i-remove-duplicates__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__distinct__how-do-i-remove-duplicates__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__distinct__remove-duplicates-from-each-group__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__distinct__remove-duplicates-from-each-group__1.snap
Due: none

docs: Move `from` out of `transforms` (#4293)
  web/book/src/SUMMARY.md
  web/book/src/overview.md
  web/book/src/reference/data/README.md
  web/book/src/reference/data/from.md
  web/book/src/reference/data/read-files.md
  web/book/src/reference/data/relation-literals.md
  web/book/src/reference/declarations/variables.md
  web/book/src/reference/stdlib/distinct.md
  web/book/src/reference/stdlib/transforms/README.md
  web/book/tests/documentation/snapshots/documentation__book__reference__data__from__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__from__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__from__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__read-files__reading-files__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__read-files__reading-files__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__relation-literals__array-literals__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__relation-literals__array-literals__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__relation-literals__array-literals__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__relation-literals__array-literals__3.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__relation-literals__array-literals__4.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__variables__variables--__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__variables__variables--__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__variables__variables--__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__distinct__how-do-i-remove-duplicates__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__distinct__how-do-i-remove-duplicates__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__distinct__remove-duplicates-from-each-group__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__distinct__remove-duplicates-from-each-group__1.snap
Due: none

docs: Move `from` out of `transforms` (#4293) (#4294)
  web/book/src/SUMMARY.md
  web/book/src/overview.md
  web/book/src/reference/data/README.md
  web/book/src/reference/data/from.md
  web/book/src/reference/data/read-files.md
  web/book/src/reference/data/relation-literals.md
  web/book/src/reference/declarations/variables.md
  web/book/src/reference/stdlib/distinct.md
  web/book/src/reference/stdlib/transforms/README.md
  web/book/tests/documentation/snapshots/documentation__book__reference__data__from__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__from__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__from__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__read-files__reading-files__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__read-files__reading-files__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__relation-literals__array-literals__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__relation-literals__array-literals__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__relation-literals__array-literals__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__relation-literals__array-literals__3.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__relation-literals__array-literals__4.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__variables__variables--__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__variables__variables--__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__variables__variables--__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__distinct__how-do-i-remove-duplicates__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__distinct__how-do-i-remove-duplicates__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__distinct__remove-duplicates-from-each-group__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__distinct__remove-duplicates-from-each-group__1.snap
Due: none

devops: Add clippy to `task test-rust`
  Taskfile.yml
Due: none

devops: Add clippy to `task test-rust` (#4295)
  Taskfile.yml
Due: none

tuple field
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/eval.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
Due: no-dbg
