Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

internal: Add parens to PRQL files to reduce #4775 diff 2 (#4779)
  prqlc/prqlc/tests/integration/queries/math_module.prql
  prqlc/prqlc/tests/integration/queries/text_module.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__text_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__text_module.snap
Due: none

internal: Add parens to PRQL files to reduce #4775 diff (#4778)
  web/book/src/reference/stdlib/date.md
  web/book/src/reference/stdlib/text.md
Due: none

fix alias at pipeline start
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__functions_pipeline-2.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__functions_pipeline.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prqlc/src/semantic/std.prql
  prqlc/prqlc/tests/integration/error_messages.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__set_ops_remove.snap
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/reference/stdlib/math.md
Due: no-dbg

feat!: Require parentheses around pipelines (#4775)
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc-parser/src/test.rs
  prqlc/prqlc/tests/integration/error_messages.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort_limit_take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__invoice_totals.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__window.snap
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/reference/stdlib/math.md
Due: no-dbg

refine: Exclude ignored test from coverage
  prqlc/prqlc-parser/src/parser/expr.rs
Due: no-dbg

refine: Exclude ignored test from coverage (#4780)
  prqlc/prqlc-parser/src/parser/expr.rs
Due: no-dbg

chore: Add changelog for #4775
  CHANGELOG.md
Due: prql-codeblock

chore: Add changelog for #4775 (#4782)
  CHANGELOG.md
Due: prql-codeblock

build: Release snap to stable channel
  .github/workflows/release.yaml
  prqlc/packages/snap/snapcraft.yaml
Due: none

build: Release snap to stable channel (#4784)
  .github/workflows/release.yaml
  prqlc/packages/snap/snapcraft.yaml
Due: none

docs: 0.13.0 Changelog
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  lutra/lutra/Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/packages/snap/snapcraft.yaml
  prqlc/prqlc-macros/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: no-dbg, prql-codeblock

Add note about Snap on release channel
  CHANGELOG.md
Due: prql-codeblock

docs: 0.13.0 Changelog (#4785)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  lutra/lutra/Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/packages/snap/snapcraft.yaml
  prqlc/prqlc-macros/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: no-dbg, prql-codeblock

chore: Bump version to 0.13.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  lutra/lutra/Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/packages/snap/snapcraft.yaml
  prqlc/prqlc-macros/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: no-dbg, prql-codeblock

devops: Use `cargo nextest` as runner in tasks
  Taskfile.yaml
Due: none

ci: Use `cargo-nextest` in CI
  .github/workflows/test-rust.yaml
Due: none

chore: Bump version to 0.13.1 (#4786)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  lutra/lutra/Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/packages/snap/snapcraft.yaml
  prqlc/prqlc-macros/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: no-dbg, prql-codeblock

chore: Add `**` to changelog
  CHANGELOG.md
Due: prql-codeblock

chore: Add `**` to changelog (#4789)
  CHANGELOG.md
Due: prql-codeblock

build: Update rust toolchain version (#4790)
  rust-toolchain.toml
Due: none

feat(prqlc): Add HTML format to docs generator
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/src/cli/mod.rs
Due: no-dbg

Update CHANGELOG.md
  CHANGELOG.md
Due: prql-codeblock

fmt
  prqlc/prqlc/src/cli/mod.rs
Due: no-dbg

Fix FTBFS
  prqlc/prqlc/src/cli/mod.rs
Due: no-dbg

cargo insta review
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-2.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-3.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-4.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion.snap
Due: no-dbg

use is_empty() instead of len() > 0
  prqlc/prqlc/src/cli/docs_generator.rs
Due: no-dbg

Add unit test
  prqlc/prqlc/src/cli/docs_generator.rs
Due: no-dbg

feat(prqlc): Add HTML format to docs generator (#4791)
  CHANGELOG.md
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-2.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-3.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-4.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion.snap
Due: no-dbg, prql-codeblock

ci: Use `cargo-nextest` in CI (#4788)
  .config/nextest.toml
  .github/workflows/test-rust.yaml
Due: none

chore: Unpin cargo-binstall
  Taskfile.yaml
Due: none

chore: Unpin cargo-binstall (#4792)
  Taskfile.yaml
Due: none

devops: Use `cargo nextest` as runner in tasks (#4787)
  Taskfile.yaml
Due: none

refine: Add doc comment to `pr` module
  prqlc/prqlc-parser/src/parser/pr/mod.rs
  prqlc/prqlc/src/codegen/mod.rs
Due: no-dbg

refine: Add doc comment to `pr` module (#4793)
  prqlc/prqlc-parser/src/parser/pr/mod.rs
  prqlc/prqlc/src/codegen/mod.rs
Due: no-dbg

refine(docs): Add architecture.md to the `prqlc` docstring
  prqlc/ARCHITECTURE.md
  prqlc/prqlc/src/lib.rs
Due: no-dbg

ci: Longer timeouts for nextest
  .config/nextest.toml
  .github/workflows/tests.yaml
Due: none

ci: Longer timeouts for nextest (#4795)
  .config/nextest.toml
  .github/workflows/tests.yaml
Due: none

refactor: Remove `source` arg from parser
  prqlc/prqlc-parser/src/parser/mod.rs
  prqlc/prqlc-parser/src/parser/test.rs
  prqlc/prqlc-parser/src/test.rs
  prqlc/prqlc/src/parser.rs
Due: no-dbg

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
