Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

refactor: cleanup TyFunc
  prqlc/prqlc-ast/src/types.rs
  prqlc/prqlc-parser/src/types.rs
  prqlc/prqlc/src/ir/pl/fold.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
Due: no-dbg

docs: Update `modules` page to state they do not work in a PRQL query (#4473)
  web/book/src/reference/spec/modules.md
Due: none

chore: Backport #4473 to `web` (#4476)
  web/book/src/reference/spec/modules.md
Due: none

fix: excluding fields
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

test commit hook
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: none

use mine?
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  prqlc/prqlc-parser/src/lib.rs
Due: no-dbg

clippy and fmt default on
  .pre-commit-config.yaml
Due: none

clippy on manual
  .pre-commit-config.yaml
Due: none

add rustfmt edition
  rustfmt.toml
Due: none

build: Fix msrv
  Cargo.lock
Due: none

build: Fix msrv (#4479)
  Cargo.lock
Due: none

fix: organize tests, minor fixes
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/lowering/inline.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

feat: infer type as array
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/inference.rs
  prqlc/prqlc/src/semantic/resolver/tuple.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
Due: no-dbg

refactor: scope
  prqlc/prqlc/src/semantic/lowering/flatten.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/inference.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/src/semantic/resolver/names.rs
  prqlc/prqlc/src/semantic/resolver/scope.rs
  prqlc/prqlc/src/semantic/resolver/tuple.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
Due: no-dbg

fix: lowering aggregate
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/lowering/flatten.rs
Due: no-dbg

refactor: minor cleanup
  prqlc/prqlc/src/ir/pl/expr.rs
  prqlc/prqlc/src/ir/pl/fold.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/src/semantic/resolver/tuple.rs
Due: no-dbg

tweak: Add a couple docstrings
  prqlc/prqlc/src/codegen/mod.rs
Due: no-dbg

tweak: Add a couple docstrings (#4480)
  prqlc/prqlc/src/codegen/mod.rs
Due: no-dbg

test: Add test & example for `prepare_stream`
  prqlc/prqlc-parser/src/lib.rs
  prqlc/prqlc-parser/src/span.rs
Due: no-dbg

test: Add test & example for `prepare_stream` (#4481)
  prqlc/prqlc-parser/src/lib.rs
  prqlc/prqlc-parser/src/span.rs
Due: no-dbg

internal: Use `TableExternRef`
  prqlc/prqlc/src/ir/pl/extra.rs
  prqlc/prqlc/src/ir/rq/mod.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/mod.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/sql/srq/context.rs
Due: no-dbg

fix: Allow all tokens to be written as YAML
  Cargo.lock
  Cargo.toml
  prqlc/prqlc-ast/Cargo.toml
  prqlc/prqlc-ast/src/expr.rs
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc-parser/src/lexer.rs
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/mod.rs
Due: no-dbg

fix: Allow all tokens to be written as YAML (#4484)
  Cargo.lock
  Cargo.toml
  prqlc/prqlc-ast/Cargo.toml
  prqlc/prqlc-ast/src/expr.rs
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc-parser/src/lexer.rs
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/tests/integration/ast_code_matches.rs
Due: no-dbg

tweak(build): Move `serde_yaml` to optional
  Cargo.toml
  prqlc/bindings/prqlc-c/Cargo.toml
  prqlc/prqlc-ast/Cargo.toml
  prqlc/prqlc/Cargo.toml
  web/book/Cargo.toml
Due: none

tweak(build): Move `serde_yaml` to optional (#4485)
  Cargo.toml
  prqlc/bindings/prqlc-c/Cargo.toml
  prqlc/prqlc-ast/Cargo.toml
  prqlc/prqlc/Cargo.toml
  web/book/Cargo.toml
Due: none

test: Skip `glaredb` test, which starting raising an error
  prqlc/prqlc/tests/integration/queries/window.prql
Due: none

test: Skip `glaredb` test, which starting raising an error (#4492)
  prqlc/prqlc/tests/integration/queries/text_module.prql
  prqlc/prqlc/tests/integration/queries/window.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__text_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__window.snap
Due: none

tweak: Rename `_typos.toml`
  .typos.toml
Due: none

tweak: Rename `_typos.toml` (#4493)
  .typos.toml
Due: none

internal: Use `TableExternRef` (#4483)
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/ir/pl/extra.rs
  prqlc/prqlc/src/ir/rq/mod.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/mod.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/sql/srq/context.rs
Due: no-dbg

web: Add link for Databend integration
  prqlc/prqlc/Cargo.toml
  web/website/content/_index.md
Due: none

docs(book): Give the book a home page
  web/book/src/SUMMARY.md
Due: none

web: Add link for Databend integration (#4494)
  prqlc/prqlc/Cargo.toml
  web/website/content/_index.md
Due: none

docs(book): Give the book a home page (#4495)
  README.md
  web/book/src/README.md
  web/book/src/SUMMARY.md
  web/book/tests/documentation/snapshots/documentation__book__README__prql-language-book__0.snap
  web/book/tests/documentation/snapshots/documentation__book__README__prql-language-book__1.snap
Due: none

Add support for expressions on left hand side of std.in operator
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

cargo fmt
  prqlc/prqlc/src/sql/gen_expr.rs
Due: no-dbg

changelog update
  CHANGELOG.md
Due: prql-codeblock

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
