Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

more lowering & test cases
  prqlc/Taskfile.yaml
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/tests/integration/ast_code_matches.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

feat: remove obsolete type machinery
  prqlc/prqlc-ast/src/expr.rs
  prqlc/prqlc-ast/src/types.rs
  prqlc/prqlc-parser/src/expr.rs
  prqlc/prqlc-parser/src/types.rs
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/codegen/types.rs
  prqlc/prqlc/src/ir/pl/fold.rs
  prqlc/prqlc/src/semantic/resolve_decls/init_modules.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/src/semantic/resolver/stmt.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/src/semantic/std.prql
Due: no-dbg

feat: rewire lowering to work with indirections
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/mod.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
Due: no-dbg

feat: implicit closures and joins
  prqlc/prqlc/src/ir/pl/expr.rs
  prqlc/prqlc/src/ir/pl/fold.rs
  prqlc/prqlc/src/ir/pl/stmt.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/src/semantic/resolver/stmt.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/src/semantic/std.prql
  prqlc/prqlc/tests/integration/resolving.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fmt
  prqlc/prqlc-parser/src/expr.rs
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/std.prql
Due: no-dbg

refactor: generic type parameters
  prqlc/prqlc-ast/src/types.rs
  prqlc/prqlc/src/codegen/types.rs
  prqlc/prqlc/src/ir/decl.rs
  prqlc/prqlc/src/ir/pl/fold.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/reporting.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
Due: no-dbg

feat: tuple unpacking
  prqlc/prqlc-ast/src/types.rs
  prqlc/prqlc-parser/src/types.rs
  prqlc/prqlc/src/codegen/types.rs
  prqlc/prqlc/src/ir/pl/expr.rs
  prqlc/prqlc/src/ir/pl/fold.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolve_decls/names.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/inference.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/tests/integration/resolving.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

refactors and fixes
  prqlc/prqlc/src/codegen/types.rs
  prqlc/prqlc/src/ir/pl/fold.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/inference.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/src/semantic/resolver/names.rs
  prqlc/prqlc/src/semantic/resolver/special_functions.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
Due: no-dbg

cleanup inference
  prqlc/prqlc/src/ir/decl.rs
  prqlc/prqlc/src/semantic/mod.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/inference.rs
  prqlc/prqlc/src/semantic/resolver/names.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
Due: no-dbg

feat: ty tuple exclude
  prqlc/prqlc-ast/src/types.rs
  prqlc/prqlc-parser/src/types.rs
  prqlc/prqlc/src/codegen/types.rs
  prqlc/prqlc/src/ir/pl/fold.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/src/semantic/std.prql
  prqlc/prqlc/tests/integration/resolving.rs
Due: no-dbg

fix: a few tests
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/inference.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

feat: wildcard includes and excludes
  prqlc/prqlc/src/ir/pl/expr.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/resolve_decls/names.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/src/semantic/resolver/names.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/tests/integration/error_messages.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

feat: global generic arguments for table inference
  .config/nextest.toml
  prqlc/prqlc-ast/src/expr/ident.rs
  prqlc/prqlc-ast/src/types.rs
  prqlc/prqlc/src/codegen/types.rs
  prqlc/prqlc/src/ir/decl.rs
  prqlc/prqlc/src/ir/pl/fold.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/reporting.rs
  prqlc/prqlc/src/semantic/resolve_decls/names.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/inference.rs
  prqlc/prqlc/src/semantic/resolver/names.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/tests/integration/resolving.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

feat: move flatten and special functions into lowering
  prqlc/prqlc/src/codegen/types.rs
  prqlc/prqlc/src/ir/pl/expr.rs
  prqlc/prqlc/src/ir/pl/fold.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/lowering/flatten.rs
  prqlc/prqlc/src/semantic/lowering/special_functions.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/src/semantic/resolver/special_functions.rs
  prqlc/prqlc/src/semantic/resolver/stmt.rs
  prqlc/prqlc/src/semantic/std.prql
  prqlc/prqlc/tests/integration/resolving.rs
Due: no-dbg

docs(changelog): Add VSCode Great Icons
  CHANGELOG.md
Due: prql-codeblock

docs(changelog): Add VSCode Great Icons (#4375)
  CHANGELOG.md
Due: prql-codeblock

docs: improve `join` docs
  web/book/src/reference/stdlib/transforms/join.md
Due: none

build: split-up web-related taskfile
  .github/workflows/build-web.yaml
  Taskfile.yml
  web/Taskfile.yaml
  web/book/README.md
  web/book/src/project/contributing/development.md
  web/book/src/project/integrations/postgresql.md
  web/book/src/reference/syntax/README.md
  web/playground/README.md
  web/prql-codemirror-demo/tsconfig.json
Due: none

fix
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__join__examples__4.snap
Due: none

fix
  .config/nextest.toml
Due: none

fix
  web/playground/README.md
Due: none

build: split-up web-related taskfile (#4377)
  .github/workflows/build-web.yaml
  Taskfile.yml
  web/Taskfile.yaml
  web/book/README.md
  web/book/src/project/contributing/development.md
  web/book/src/project/integrations/postgresql.md
  web/book/src/reference/syntax/README.md
  web/playground/README.md
  web/prql-codemirror-demo/tsconfig.json
Due: none

fix
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__join__self-equality-operator__0.snap
Due: none

docs: improve `join` docs (#4376)
  .config/nextest.toml
  web/book/src/reference/stdlib/transforms/join.md
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__join__examples__4.snap
Due: none

fix
  lutra/lutra/src/connection.rs
  lutra/lutra/src/execute.rs
Due: no-dbg

refactor: validate_type
  prqlc/prqlc/src/semantic/resolver/types.rs
Due: no-dbg

feat: inference between generics
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/tests/integration/bad_error_messages.rs
  prqlc/prqlc/tests/integration/resolving.rs
Due: no-dbg

refactor: merge local and global _generic modules
  prqlc/prqlc/src/ir/pl/expr.rs
  prqlc/prqlc/src/ir/pl/fold.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
Due: no-dbg

bump connector_arrow to 0.4.1 to fix rusqlite version
  lutra/lutra/Cargo.toml
Due: none

chore: bump connector_arrow and rusqlite (#4387)
  Cargo.lock
  lutra/lutra/Cargo.toml
  prqlc/prqlc/Cargo.toml
Due: none

docs: Update current status
  README.md
Due: none

refactor: cosmetic tweaks for types
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/tests/integration/resolving.rs
Due: no-dbg

feat: split pl::FuncApplication from pl::Func
  prqlc/prqlc-ast/src/types.rs
  prqlc/prqlc-parser/src/types.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/codegen/types.rs
  prqlc/prqlc/src/ir/decl.rs
  prqlc/prqlc/src/ir/pl/expr.rs
  prqlc/prqlc/src/ir/pl/fold.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolve_decls/names.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/inference.rs
  prqlc/prqlc/src/semantic/resolver/stmt.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/src/semantic/std.prql
  prqlc/prqlc/tests/integration/resolving.rs
Due: no-dbg

docs: Update current status (#4388)
  README.md
Due: none

.
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/codegen/mod.rs
  prqlc/prqlc/src/codegen/types.rs
  prqlc/prqlc/src/lib.rs
Due: no-dbg

internal: Add `ast` to ast references in ast_expand
  prqlc/prqlc/src/semantic/ast_expand.rs
Due: no-dbg

test: Disable tests in crates without tests
  lutra/bindings/python/Cargo.toml
  lutra/lutra/Cargo.toml
Due: none

internal: Clarify docstring re nested enums
  prqlc/prqlc/src/lib.rs
Due: no-dbg

test: Disable tests in crates without tests (#4399)
  lutra/bindings/python/Cargo.toml
  lutra/lutra/Cargo.toml
Due: none

internal: Add `ast` to ast references in ast_expand (#4398)
  prqlc/prqlc/src/semantic/ast_expand.rs
Due: no-dbg

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
