Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.(rs|snap)$'
  - repo: https://github.com/crate-ci/typos
    rev: typos-dict-v0.11.35
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.3.3
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          # TODO: This doesn't seem to work, would be great to fix.
          # https://github.com/PRQL/prql/issues/3078
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.3
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: clippy
        stages: [manual]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.4
    hooks:
      - id: actionlint
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.13.6
    hooks:
      - id: markdown-link-check
        name: markdown-link-check-local
        types: [markdown]
        args: ["--config=.config/.markdown-link-check-local.json"]
        # To run across everything (see nightly.yaml for more details)
      - id: markdown-link-check
        name: markdown-link-check-all
        stages: [manual]
        types: [markdown]
        args: ["--config=.config/.markdown-link-check-all.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote

ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

docs: Add guide for Claude code
  CLAUDE.md
Due: none

docs: Add guide for Claude code (#5211)
  CLAUDE.md
Due: none

Add documentation commands for cargo doc and viewing crate docs
  CLAUDE.md
Due: none

docs: Add documentation commands for cargo doc and viewing crate docs (#5212)
  CLAUDE.md
Due: none

build: Upgrade sqlparser to 0.55
  Cargo.lock
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/test.rs
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/src/sql/gen_projection.rs
  prqlc/prqlc/src/sql/gen_query.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__group_all.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__group_sort_limit_take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__invoice_totals.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__sort_2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__sort_3.snap
  prqlc/prqlc/tests/integration/sql.rs
  web/book/tests/documentation/snapshots/documentation__book__reference__data__read-files__reading-files__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__relation-literals__array-literals__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__spec__name-resolution__translating-to-sql__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__join__examples__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__join__examples__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__join__examples__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__join__examples__3.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__join__examples__4.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__sort__ordering-guarantees__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__keywords__identifiers--keywords__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__keywords__quoting__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__s-strings__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__s-strings__3.snap
Due: no-dbg

web: disable html warning
  web/website/config.yml
  web/website/content/roadmap.md
  web/website/themes/prql-theme/layouts/shortcodes/cite.html
Due: none

web: disable html warning (#5214)
  web/website/content/roadmap.md
  web/website/themes/prql-theme/layouts/shortcodes/cite.html
Due: none

docs: TEA has syntax highlighting
  CHANGELOG.md
  grammars/README.md
Due: prql-codeblock

docs: TEA has syntax highlighting (#5220)
  CHANGELOG.md
  grammars/README.md
Due: prql-codeblock

build: Upgrade sqlparser to 0.55 (#5213)
  Cargo.lock
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/test.rs
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/src/sql/gen_projection.rs
  prqlc/prqlc/src/sql/gen_query.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__group_all.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__group_sort_limit_take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__invoice_totals.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__sort_2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__sort_3.snap
  prqlc/prqlc/tests/integration/sql.rs
  web/book/tests/documentation/snapshots/documentation__book__reference__data__read-files__reading-files__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__data__relation-literals__array-literals__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__spec__name-resolution__translating-to-sql__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__join__examples__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__join__examples__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__join__examples__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__join__examples__3.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__join__examples__4.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__sort__ordering-guarantees__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__keywords__identifiers--keywords__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__keywords__quoting__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__s-strings__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__s-strings__3.snap
  web/book/tests/documentation/website.rs
  web/website/data/examples/joins.yaml
Due: no-dbg

refactor: Prepare lexer for chumsky 0.10 update
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc-parser/src/error.rs
  prqlc/prqlc-parser/src/lexer/chumsky_0_10.rs
  prqlc/prqlc-parser/src/lexer/chumsky_0_9.rs
  prqlc/prqlc-parser/src/lexer/mod.rs
Due: no-dbg

docs: Add pre-commit instructions into Claude.md
  CLAUDE.md
Due: none

docs: Add pre-commit instructions into Claude.md (#5221)
  CLAUDE.md
Due: none

stubs
  Cargo.lock
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc-parser/src/lexer/chumsky_0_10.rs
  prqlc/prqlc-parser/src/parser/mod.rs
  prqlc/prqlc-parser/src/span.rs
Due: no-dbg

compiles successfully
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc-parser/src/lexer/chumsky_0_10.rs
  prqlc/prqlc-parser/src/parser/mod.rs
  prqlc/prqlc-parser/src/span.rs
Due: no-dbg

Phase II: Implement minimal chumsky 0.10 lexer
  prqlc/prqlc-parser/src/lexer/chumsky_0_10.rs
  prqlc/prqlc-parser/src/lexer/test.rs
Due: no-dbg

wip, currently big func we need to split up
  prqlc/prqlc-parser/src/lexer/chumsky_0_10.rs
Due: no-dbg

docs: Clarify snapshot instructions for Claude
  CLAUDE.md
Due: none

docs: Clarify snapshot instructions for Claude (#5222)
  CLAUDE.md
Due: none

split up a bit
  prqlc/prqlc-parser/src/lexer/chumsky_0_10.rs
  prqlc/prqlc-parser/src/lexer/test.rs
Due: no-dbg

instructions for running tests
  prqlc/prqlc-parser/src/lexer/chumsky_0_10.rs
Due: no-dbg

midway through
  prqlc/prqlc-parser/src/lexer/chumsky_0_10.rs
Due: no-dbg

Phase II: Implement parser combinators structure for chumsky 0.10
  prqlc/prqlc-parser/src/lexer/chumsky_0_10.rs
  prqlc/prqlc-parser/src/lexer/mod.rs
Due: no-dbg

remove chumsky 10 test
  prqlc/prqlc-parser/src/lexer/test.rs
Due: no-dbg

start using actual combinators
  prqlc/prqlc-parser/src/lexer/chumsky_0_10.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc-parser/src/parser/test.rs
  prqlc/prqlc-parser/src/test.rs
Due: no-dbg

.
  prqlc/prqlc-parser/src/lexer/chumsky_0_10.rs
Due: no-dbg

fix errors outside chumsky_0_10.rs
  prqlc/prqlc-parser/src/lexer/chumsky_0_10.rs
Due: no-dbg

getting there
  prqlc/prqlc-parser/src/lexer/chumsky_0_10.rs
  prqlc/prqlc-parser/src/lexer/test.rs
Due: no-dbg

Migrate lexer to Chumsky 0.10
  prqlc/prqlc-parser/src/lexer/test.rs
Due: no-dbg

more progress
  prqlc/prqlc-parser/src/lexer/chumsky_0_10.rs
  prqlc/prqlc-parser/src/lexer/test.rs
Due: no-dbg

tests pass on old chumsky
  prqlc/prqlc-parser/src/lexer/chumsky_0_10.rs
  prqlc/prqlc-parser/src/lexer/chumsky_0_9.rs
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/lexer/test.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc-parser/src/parser/test.rs
  prqlc/prqlc-parser/src/test.rs
Due: no-dbg

.
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc-parser/src/error.rs
  prqlc/prqlc-parser/src/lexer/chumsky_0_10.rs
  prqlc/prqlc-parser/src/lexer/chumsky_0_9.rs
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/lexer/test.rs
  prqlc/prqlc-parser/src/parser/mod.rs
Due: no-dbg

`--check`
  prqlc/prqlc-parser/src/lexer/chumsky_0_10.rs
Due: no-dbg

better span handling
  prqlc/prqlc-parser/src/lexer/chumsky_0_10.rs
Due: no-dbg

.
  prqlc/prqlc-parser/src/lexer/chumsky_0_10.rs
  prqlc/prqlc-parser/src/lexer/test.rs
Due: no-dbg

don't accept resuts with feature enabled
  prqlc/prqlc-parser/src/lexer/chumsky_0_10.rs
Due: no-dbg
