Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.rs$'
  - repo: https://github.com/crate-ci/typos
    rev: v1.16.1
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    # Upgrading to the bare `v3.0.0` seems to break the plugin; contributions welcome to fix.
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.278
    hooks:
      - id: ruff
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
      - id: clippy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
      - id: mypy
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.11.2
    hooks:
      - id: markdown-link-check
        name: markdown-link-check-local
        files: \.md$
        args: ["--config=.config/.markdown-link-check-local.json"]
        # To run across everything (see nightly.yaml for more details)
      - id: markdown-link-check
        name: markdown-link-check-all
        stages: [manual]
        files: \.md$
        args: ["--config=.config/.markdown-link-check-all.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote
ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, clippy, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

ci: Upgrade node version (#3729)
  .github/workflows/build-web.yaml
  .github/workflows/test-js.yaml
Due: none

test: run unit tests by default for all crates
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/Cargo.toml
Due: none

test: run unit tests by default for all crates (#3735)
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/Cargo.toml
Due: none

devops: Add task to exclude some crates
  Taskfile.yml
Due: none

feat: improve codegen
  prqlc/prql-compiler/src/codegen/ast.rs
  prqlc/prql-compiler/src/codegen/mod.rs
  prqlc/prql-compiler/src/lib.rs
Due: no-dbg

a test
  prqlc/prql-compiler/tests/integration/snapshots/integration__fmt@group_all.prql.snap
Due: none

test: unconditionally compile and format integration tests
  prqlc/prql-compiler/tests/integration/connection.rs
  prqlc/prql-compiler/tests/integration/main.rs
  prqlc/prql-compiler/tests/integration/test_dbs.rs
Due: no-dbg

feat: improve codegen (#3737)
  prqlc/prql-compiler/src/codegen/ast.rs
  prqlc/prql-compiler/src/codegen/mod.rs
  prqlc/prql-compiler/src/lib.rs
  prqlc/prql-compiler/tests/integration/snapshots/integration__fmt@group_all.prql.snap
Due: no-dbg

test: unconditionally compile and format integration tests (#3738)
  prqlc/prql-compiler/tests/integration/connection.rs
  prqlc/prql-compiler/tests/integration/main.rs
  prqlc/prql-compiler/tests/integration/test_dbs.rs
Due: no-dbg

source to modules
  prqlc/prql-compiler/src/codegen/decl.rs
  prqlc/prql-compiler/src/codegen/mod.rs
  prqlc/prql-compiler/src/semantic/ast_expand.rs
  prqlc/prql-compiler/src/semantic/mod.rs
  prqlc/prql-compiler/src/semantic/resolver/mod.rs
  prqlc/prqlc-ast/src/stmt.rs
Due: no-dbg

collect and expand-pl
  prqlc/prql-compiler/src/codegen/decl.rs
  prqlc/prql-compiler/src/codegen/mod.rs
  prqlc/prql-compiler/src/semantic/mod.rs
  prqlc/prql-compiler/src/semantic/resolver/mod.rs
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-2.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-3.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prql-compiler/src/semantic/resolver/stmt.rs
  prqlc/prql-compiler/src/sql/operators.rs
  prqlc/prql-compiler/tests/sql/ast_code_matches.rs
  prqlc/prqlc/src/cli.rs
  prqlc/prqlc/tests/snapshots/test__shell_completion-2.snap
  prqlc/prqlc/tests/snapshots/test__shell_completion-3.snap
  prqlc/prqlc/tests/snapshots/test__shell_completion-4.snap
  prqlc/prqlc/tests/snapshots/test__shell_completion.snap
  prqlc/prqlc/tests/test.rs
Due: no-dbg

restrict module back to module_def
  prqlc/prql-compiler/src/codegen/ast.rs
  prqlc/prql-compiler/src/ir/pl/expr.rs
  prqlc/prql-compiler/src/ir/pl/extra/expr.rs
  prqlc/prql-compiler/src/semantic/ast_expand.rs
  prqlc/prql-compiler/src/semantic/reporting.rs
  prqlc/prql-compiler/tests/sql/ast_code_matches.rs
  prqlc/prql-compiler/tests/sql/bad_error_messages.rs
  prqlc/prqlc-ast/src/expr.rs
  prqlc/prqlc-ast/src/lib.rs
  prqlc/prqlc/src/cli.rs
  prqlc/prqlc/tests/snapshots/test__shell_completion-2.snap
  prqlc/prqlc/tests/snapshots/test__shell_completion-3.snap
  prqlc/prqlc/tests/snapshots/test__shell_completion-4.snap
  prqlc/prqlc/tests/snapshots/test__shell_completion.snap
Due: no-dbg

feat: cli commands `collect` and `expand-pl` (#3739)
  prqlc/prql-compiler/src/codegen/ast.rs
  prqlc/prql-compiler/src/ir/pl/expr.rs
  prqlc/prql-compiler/src/ir/pl/extra/expr.rs
  prqlc/prql-compiler/src/semantic/ast_expand.rs
  prqlc/prql-compiler/src/semantic/mod.rs
  prqlc/prql-compiler/src/semantic/reporting.rs
  prqlc/prql-compiler/src/semantic/resolver/mod.rs
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-2.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-3.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prql-compiler/src/semantic/resolver/stmt.rs
  prqlc/prql-compiler/src/sql/operators.rs
  prqlc/prql-compiler/tests/sql/ast_code_matches.rs
  prqlc/prql-compiler/tests/sql/bad_error_messages.rs
  prqlc/prqlc-ast/src/expr.rs
  prqlc/prqlc-ast/src/lib.rs
  prqlc/prqlc-ast/src/stmt.rs
  prqlc/prqlc/src/cli.rs
  prqlc/prqlc/tests/snapshots/test__shell_completion-2.snap
  prqlc/prqlc/tests/snapshots/test__shell_completion-3.snap
  prqlc/prqlc/tests/snapshots/test__shell_completion-4.snap
  prqlc/prqlc/tests/snapshots/test__shell_completion.snap
  prqlc/prqlc/tests/test.rs
Due: no-dbg

docs: Add release notes for 0.10.0
  CHANGELOG.md
Due: prql-codeblock

devops: Fix release replacements
  prqlc/bindings/js/Cargo.toml
Due: none

devops: Fix release replacements (#3741)
  prqlc/bindings/js/Cargo.toml
Due: none

feat(Lezer grammar): Allow tabs
  grammars/prql-lezer/src/highlight.js
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/misc.txt
Due: none

feat(Lezer grammar): Allow tabs (#3742)
  grammars/prql-lezer/src/highlight.js
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/misc.txt
Due: none

docs: Add release notes for 0.10.0 (#3740)
  CHANGELOG.md
Due: prql-codeblock

chore: Bump versions to 0.10.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/prql-compiler-macros/Cargo.toml
  prqlc/prql-compiler/Cargo.toml
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/Cargo.toml
  web/book/src/project/target.md
  web/playground/package-lock.json
  web/playground/package.json
Due: prql-codeblock

feat(Lezer grammar): Highlight functions
  grammars/prql-lezer/src/highlight.js
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/identifiers.txt
  grammars/prql-lezer/test/misc.txt
Due: none

feat(Lezer grammar): Highlight functions (#3746)
  grammars/prql-lezer/src/highlight.js
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/identifiers.txt
  grammars/prql-lezer/test/misc.txt
Due: none

chore: Update playground `package-lock.json`
  web/playground/package-lock.json
Due: none

test: enable integration tests for GlareDB
  prqlc/prql-compiler/src/sql/dialect.rs
  prqlc/prql-compiler/tests/integration/queries/loop.prql
Due: no-dbg

chore: Update playground `package-lock.json` (#3748)
  web/playground/package-lock.json
Due: none

chore: Backport #3748 to `web` (#3750)
  web/playground/package-lock.json
Due: none

fix(test): read_csv for glaredb is not implimented yet
  prqlc/prql-compiler/tests/integration/queries/read_csv.prql
Due: none

web: Fix vite base
  web/playground/package-lock.json
  web/playground/vite.config.js
Due: none

web: Fix vite base (#3751)
  web/playground/vite.config.js
Due: none

chore: Backport #3751 to `web` (#3752)
  web/playground/vite.config.js
Due: none

fix(test): skip the switch query test
  prqlc/prql-compiler/tests/integration/queries/switch.prql
Due: none

chore: Bump versions to 0.10.1 (#3744)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/prql-compiler-macros/Cargo.toml
  prqlc/prql-compiler/Cargo.toml
  prqlc/prql-compiler/tests/sql/sql.rs
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/Cargo.toml
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: no-dbg, prql-codeblock

docs(changelog): update about glaredb tests
  CHANGELOG.md
Due: prql-codeblock

docs(book): sql.glaredb is now supported
  web/book/src/project/target.md
Due: none

test: add note about glaredb
  prqlc/prql-compiler/tests/integration/queries/loop.prql
Due: none

feat: `std.sql.read_csv` and `std.sql.read_parquet` for GlareDB
  CHANGELOG.md
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/queries/read_csv.prql
Due: prql-codeblock

chore: Backport #3753 to `web` (#3754)
  web/playground/package-lock.json
  web/playground/package.json
Due: none

feat: enable integration tests for GlareDB and `std.sql.read_csv` and `std.sql.read_parquet` for GlareDB (#3749)
  CHANGELOG.md
  prqlc/prql-compiler/src/sql/dialect.rs
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/queries/loop.prql
  prqlc/prql-compiler/tests/integration/queries/switch.prql
  web/book/src/project/target.md
Due: no-dbg, prql-codeblock
