Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, prql-codeblock

lychee:
  name: lychee (local links only)
  entry: lychee
  language: rust
  additional_dependencies:
  - cli:lychee:0.20.1
  args:
  - --no-progress
  - --include=^(https://(github\.com/(PRQL|prql)|prql-lang\.org|raw\.githubusercontent\.com/(PRQL|prql))|file://)

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

docs: Add CLAUDE.md testing guide for prqlc tests (#5612)
  prqlc/prqlc/tests/CLAUDE.md
Due: lychee

style: ran `cargo clippy --allow-dirty --fix -- -Wclippy::use_self`
  prqlc/bindings/elixir/native/prql/src/lib.rs
  prqlc/bindings/prqlc-python/src/lib.rs
  prqlc/prqlc-parser/src/error.rs
  prqlc/prqlc-parser/src/generic.rs
  prqlc/prqlc-parser/src/lexer/lr.rs
  prqlc/prqlc-parser/src/parser/perror.rs
  prqlc/prqlc-parser/src/parser/pr/expr.rs
  prqlc/prqlc-parser/src/parser/pr/ident.rs
  prqlc/prqlc-parser/src/parser/pr/stmt.rs
  prqlc/prqlc-parser/src/parser/pr/types.rs
  prqlc/prqlc-parser/src/span.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/codegen/mod.rs
  prqlc/prqlc/src/debug/log.rs
  prqlc/prqlc/src/error_message.rs
  prqlc/prqlc/src/ir/decl.rs
  prqlc/prqlc/src/ir/generic.rs
  prqlc/prqlc/src/ir/pl/expr.rs
  prqlc/prqlc/src/ir/pl/extra.rs
  prqlc/prqlc/src/ir/rq/ids.rs
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/mod.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/flatten.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/sql/dialect.rs
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/src/sql/mod.rs
  prqlc/prqlc/src/sql/pq/anchor.rs
  prqlc/prqlc/src/sql/pq/ast.rs
  prqlc/prqlc/src/sql/pq/context.rs
  prqlc/prqlc/src/utils/id_gen.rs
  prqlc/prqlc/src/utils/mod.rs
Due: no-dbg

fix: text.length on Snowflake
  prqlc/prqlc/src/sql/std.sql.prql
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: text.length on Snowflake (#5614)
  prqlc/prqlc/src/sql/std.sql.prql
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

chore: Bump version to 0.13.10 for next development cycle (#5611)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/packages/snap/snapcraft.yaml
  prqlc/prqlc-macros/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: lychee, no-dbg, prql-codeblock

build: Upgrade to Node 24 for npm OIDC trusted publishing
  .github/workflows/release.yaml
Due: none

build: Upgrade to Node 24 for npm OIDC trusted publishing (#5619)
  .github/workflows/release.yaml
Due: none

chore: Prepare release 0.13.10
  .github/workflows/release.yaml
  CHANGELOG.md
  web/book/src/project/contributing/development.md
Due: lychee, prql-codeblock

chore: Prepare release 0.13.10 (#5620)
  .github/workflows/release.yaml
  CHANGELOG.md
  web/book/src/project/contributing/development.md
Due: lychee, prql-codeblock

chore: Bump version to 0.13.11 for next development cycle
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/packages/snap/snapcraft.yaml
  prqlc/prqlc-macros/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  web/playground/package-lock.json
  web/playground/package.json
Due: lychee, no-dbg, prql-codeblock

fix: Update version snapshot for book tests
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
Due: none

chore: Bump version to 0.13.11 for next development cycle (#5622)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/packages/snap/snapcraft.yaml
  prqlc/prqlc-macros/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: lychee, no-dbg, prql-codeblock

fix: Fix system prompt parsing in Claude GHA workflow
  .github/workflows/claude.yaml
  .mega-linter.yaml
Due: none

fix: Fix system prompt parsing in Claude GHA workflow (#5623)
  .github/workflows/claude.yaml
  .mega-linter.yaml
Due: none

debug: Enable show_full_output to debug Claude GHA failure
  .github/workflows/claude.yaml
Due: none

ci: Enable show_full_output to debug Claude GHA failure (#5625)
  .github/workflows/claude.yaml
Due: none

ci: Use anthropic_api_key instead of oauth_token
  .github/workflows/claude.yaml
Due: none

ci: Use anthropic_api_key instead of oauth_token (#5626)
  .github/workflows/claude.yaml
Due: none

ci: Revert to claude_code_oauth_token for subscription usage
  .github/workflows/claude.yaml
Due: none

docs: Use tiered testing approach in CLAUDE.md
  CLAUDE.md
Due: lychee

fix: Fix invalid MSSQL SQL when DISTINCT and FETCH are combined
  prqlc/prqlc/src/sql/gen_query.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

chore: Update worktrunk config to table format
  .config/wt.toml
Due: none

docs: Use tiered testing approach in CLAUDE.md (#5629)
  CLAUDE.md
Due: lychee

fix: Fix invalid MSSQL SQL when DISTINCT and FETCH are combined (#5630)
  prqlc/prqlc/src/sql/gen_query.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

chore: Update worktrunk config to table format (#5631)
  .config/wt.toml
Due: none

test: Add coverage for MSSQL DISTINCT+FETCH fix
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

test: Add coverage for MSSQL DISTINCT+FETCH fix (#5632)
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: Prevent DISTINCT ON internal sorting from leaking past joins
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/sql/pq/postprocess.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: Prevent DISTINCT ON internal sorting from leaking past joins (#5633)
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/sql/pq/postprocess.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: Return proper error for bare lambda expressions
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/tests/integration/bad_error_messages.rs
Due: no-dbg

fix: Return proper error for bare lambda expressions (#5634)
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/tests/integration/bad_error_messages.rs
Due: no-dbg

fix: Preserve sort with empty group `{}`
  prqlc/prqlc/src/semantic/resolver/flatten.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: Preserve sort with empty group `{}` (#5635)
  prqlc/prqlc/src/semantic/resolver/flatten.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

test: Move bare_lambda_expression test to error_messages.rs
  prqlc/prqlc/tests/integration/bad_error_messages.rs
  prqlc/prqlc/tests/integration/error_messages.rs
Due: no-dbg

test: Move bare_lambda_expression test to error_messages.rs (#5636)
  prqlc/prqlc/tests/integration/bad_error_messages.rs
  prqlc/prqlc/tests/integration/error_messages.rs
Due: no-dbg

test: Add regression tests for closed issues #5094, #4723, #4432
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

test: Add regression tests for closed issues #5094, #4723, #4432 (#5637)
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: Preserve sort before take in CTE (#5401)
  prqlc/prqlc/src/sql/pq/postprocess.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: Preserve sort before take in CTE (#5638)
  prqlc/prqlc/src/sql/pq/postprocess.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

Path conditions:
  lychee: any of: \.(md|rst)$, but not: ^web/website/themes/
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
