Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, prql-codeblock

lychee:
  name: lychee (local links only)
  entry: lychee
  language: rust
  additional_dependencies:
  - cli:lychee:0.20.1
  args:
  - --no-progress
  - --include=^(https://(github\.com/(PRQL|prql)|prql-lang\.org|raw\.githubusercontent\.com/(PRQL|prql))|file://)

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

chore: exclude max-sixty/tend from Dependabot (#6034)
  .claude/skills/running-tend/SKILL.md
  .github/dependabot.yaml
Due: lychee

fix: adapt to itertools 0.15 Position struct API
  prqlc/prqlc/src/ir/pl/lineage.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
Due: no-dbg

First pass - add append-by named argument
  prqlc/prqlc/src/ir/pl/extra.rs
  prqlc/prqlc/src/ir/pl/fold.rs
  prqlc/prqlc/src/ir/rq/fold.rs
  prqlc/prqlc/src/ir/rq/transform.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/reporting.rs
  prqlc/prqlc/src/semantic/resolver/flatten.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/semantic/std.prql
  prqlc/prqlc/src/sql/dialect.rs
  prqlc/prqlc/src/sql/gen_query.rs
  prqlc/prqlc/src/sql/pq/ast.rs
  prqlc/prqlc/src/sql/pq/gen_query.rs
  prqlc/prqlc/src/sql/pq/preprocess.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__set_ops_remove.snap
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

Update tests
  prqlc/prqlc/tests/integration/error_messages.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__set_ops_remove.snap
Due: no-dbg

More test coverage
  prqlc/prqlc/tests/integration/error_messages.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

ci: opt into v7 fork-PR checkout so tend-review runs on fork PRs
  .github/workflows/tend-review.yaml
Due: none

ci: opt into v7 fork-PR checkout so tend-review runs on fork PRs (#6038)
  .github/workflows/tend-review.yaml
Due: none

fix: correct error handling in infer_lineage (#6032)
  prqlc/prqlc/src/semantic/resolver/transforms.rs
Due: no-dbg

fix: add date/time to website highlighter DATATYPES
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: none

fix: drop int128 from remaining grammar definitions
  grammars/CotEditor/PRQL.yaml
  grammars/GtkSourceView/prql.lang
  grammars/emacs/prql-mode.el
  web/prql-codemirror-demo/src/lang-prql/complete.ts
Due: none

fix: sync GtkSourceView date functions with std lib
  grammars/GtkSourceView/prql.lang
Due: none

fix: sync syntax highlighters with std lib (#6028)
  grammars/CotEditor/PRQL.yaml
  grammars/GtkSourceView/prql.lang
  grammars/KSyntaxHighlighting/prql.xml
  grammars/emacs/prql-mode.el
  web/book/highlight-prql.js
  web/prql-codemirror-demo/src/lang-prql/complete.ts
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: none

chore: update tend workflows (0.1.6 → 0.1.7) (#6033)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

ci: remove duplicate allow-unsafe-pr-checkout key in tend-review
  .github/workflows/tend-review.yaml
Due: none

chore: update tend workflows
  .github/workflows/tend-review.yaml
Due: none

internal: warn against hand-editing generated tend workflows during regen
  .claude/skills/running-tend/SKILL.md
Due: lychee

ci: remove duplicate allow-unsafe-pr-checkout key in tend-review (#6039)
  .github/workflows/tend-review.yaml
Due: none

Partial implementation, getting stuck on lineage
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/src/sql/pq/preprocess.rs
  prqlc/prqlc/tests/integration/error_messages.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

chore: update tend workflows (0.1.7 → 0.1.8)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

docs: fix stale MessageKind doc comment in PHP binding
  prqlc/bindings/php/src/MessageKind.php
Due: none

chore: update tend workflows (0.1.7 → 0.1.8) (#6042)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

docs: fix stale MessageKind doc comment in PHP binding (#6043)
  prqlc/bindings/php/src/MessageKind.php
Due: none

fix: include computed columns in `this.*` wildcard expansion
  .claude/settings.local.json
  prqlc/prqlc/src/semantic/mod.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/names.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

chore: drop accidentally committed .claude/settings.local.json
  .claude/settings.local.json
  .gitignore
Due: none

refactor: return early from Module::lookup when keeping direct `_self`
  prqlc/prqlc/src/semantic/module.rs
Due: no-dbg

refactor: prefer direct module hits over redirects in lookup()
  prqlc/prqlc/src/semantic/module.rs
Due: no-dbg

Add tests for tuple_reverse and tuple_uniq
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

Add append by:name argument
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/semantic/std.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__set_ops_remove.snap
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

docs: remove stale author TODO comments in relations tutorial
  web/book/src/tutorial/relations.md
Due: lychee

docs: remove stale author TODO comments in relations tutorial (#6047)
  web/book/src/tutorial/relations.md
Due: lychee

Add documentation
  web/book/src/SUMMARY.md
  web/book/src/reference/stdlib/transforms/append.md
  web/book/src/reference/stdlib/tuple.md
Due: lychee

Clippy fixes
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/names.rs
Due: no-dbg

add missing doc test snaps
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__set_ops_remove.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__append__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__tuple__tuple-functions__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__tuple__tuple-functions__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__tuple__tuple-functions__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__tuple__tuple-functions__3.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__tuple__tuple-functions__4.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__tuple__tuple-functions__5.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__tuple__tuple-functions__6.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__tuple__tuple-functions__7.snap
Due: none

increase test coverage a bit
  prqlc/prqlc/tests/integration/error_messages.rs
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/reference/stdlib/tuple.md
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__tuple__tuple-functions__7.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__tuple__tuple-functions__8.snap
Due: lychee, no-dbg

docs: run /code-review in tend PR review, scaled to change core-ness
  .claude/skills/running-tend/SKILL.md
Due: lychee

fix: tolerate Twitter CDN failures in web testimonials build (#5995)
  web/website/themes/prql-theme/layouts/partials/section-testimonials.html
Due: none

Add more input validation and error messages
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/tests/integration/error_messages.rs
Due: no-dbg

Path conditions:
  lychee: any of: \.(md|rst)$, but not: ^web/website/themes/
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
