Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html)'
      - id: check-yaml
      - id: mixed-line-ending
  - repo: https://github.com/crate-ci/typos
    rev: v1.14.8
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          - prettier-plugin-go-template
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.262
    hooks:
      - id: ruff
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
      - id: clippy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.2.0
    hooks:
      - id: mypy
        additional_dependencies: ["types-PyYAML==6.0.12.4"]
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.11.1
    hooks:
      - id: markdown-link-check
        files: \.md$
        args: ["--config=.github/.markdown-link-check.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        # A regex searching sql files for either `prj-` or 'tgs-'.
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote
ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, clippy, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

build: Upgrade duckdb to `0.8.1`
  Cargo.lock
Due: none

ci: Version code-cov cache (#2904)
  .github/workflows/test-all.yaml
  prql-compiler/Cargo.toml
Due: none

ci: Disable running integration tests on windows (#2903)
  .github/workflows/test-all.yaml
  .github/workflows/test-rust.yaml
Due: none

build: Upgrade duckdb to `0.8.1` (#2896)
  Cargo.lock
  prql-compiler/Cargo.toml
Due: none

Revert "revert: #2901 (#2905)"
  prql-compiler/prqlc/tests/project/Project.prql
  prql-compiler/prqlc/tests/project/long_query.prql
  prql-compiler/prqlc/tests/test.rs
Due: no-dbg

internal: Add a few more structs to `debug ast`
  prql-compiler/src/ast/pl/mod.rs
Due: no-dbg

internal: Add a few more structs to `debug ast` (#2909)
  prql-compiler/src/ast/pl/mod.rs
Due: no-dbg

build: Speed up playground build
  Taskfile.yml
  bindings/prql-js/README.md
  bindings/prql-js/package.json
  bindings/prql-js/src/lib.rs
  web/playground/README.md
  web/playground/package.json
  web/playground/prql-playground-0.8.1.tgz
Due: no-dbg

tweak: Minor changes from #2907
  Taskfile.yml
  bindings/prql-js/src/lib.rs
  web/playground/package.json
Due: no-dbg

tweak: Minor changes from #2907 (#2910)
  Taskfile.yml
  bindings/prql-js/src/lib.rs
  web/playground/package.json
Due: no-dbg

tweak: Update package-lock.json
  web/playground/package-lock.json
Due: none

tweak: Update package-lock.json (#2916)
  web/playground/package-lock.json
Due: none

feat(prql-python): add type hints
  bindings/prql-python/prql_python.pyi
Due: none

test(prql-python): test types with mypy
  .github/workflows/test-python.yaml
  bindings/prql-python/noxfile.py
  bindings/prql-python/pyproject.toml
  bindings/prql-python/python/tests/test_all.py
Due: none

feat(prql-python): add type hints (#2912)
  .github/workflows/test-python.yaml
  bindings/prql-python/noxfile.py
  bindings/prql-python/prql_python.pyi
  bindings/prql-python/pyproject.toml
  bindings/prql-python/python/tests/test_all.py
Due: none

Update introuction.prql to describe most concepts with comments.
  web/playground/src/examples.js
Due: none

Update web/playground/src/examples.js
  web/playground/src/examples.js
Due: none

Tweak up PRQL example
  web/playground/src/examples.js
Due: none

docs: Update playground queries (#2918)
  web/playground/src/examples.js
Due: none

chore: Add changelog for prql-python type hints (#2912)
  CHANGELOG.md
Due: prql-codeblock

chore: Add changelog for prql-python type hints (#2912) (#2919)
  CHANGELOG.md
Due: prql-codeblock

test: Add back prqlc test
  prql-compiler/prqlc/tests/test.rs
Due: no-dbg

test: Add back prqlc test (#2923)
  prql-compiler/prqlc/tests/test.rs
Due: no-dbg

test: Update prqlc tests
  prql-compiler/prqlc/tests/test.rs
Due: no-dbg

test: Update prqlc tests (#2927)
  prql-compiler/prqlc/tests/test.rs
Due: no-dbg

devops: install binary cargo-binstall via Taskfile
  Taskfile.yml
Due: none

devops: install binary cargo-binstall via Taskfile (#2932)
  Taskfile.yml
Due: none

build: npm audit
  web/playground/package-lock.json
Due: none

build: npm audit (#2934)
  web/playground/package-lock.json
Due: none

feat: use `this` to refer to current relation in a pipeline
  prql-compiler/src/semantic/context.rs
  prql-compiler/src/semantic/mod.rs
  prql-compiler/src/semantic/module.rs
  prql-compiler/src/semantic/resolver.rs
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__functions_1.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__functions_nested.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline-2.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__named_args.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__variables_1.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__transforms__tests__aggregate_positional_arg-2.snap
  prql-compiler/src/semantic/transforms.rs
  prql-compiler/src/tests/test.rs
  prql-compiler/src/tests/test_bad_error_messages.rs
Due: no-dbg

feat: use `this` to refer to current relation in a pipeline (#2935)
  prql-compiler/src/semantic/context.rs
  prql-compiler/src/semantic/mod.rs
  prql-compiler/src/semantic/module.rs
  prql-compiler/src/semantic/resolver.rs
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__functions_1.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__functions_nested.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline-2.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__named_args.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__variables_1.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__transforms__tests__aggregate_positional_arg-2.snap
  prql-compiler/src/semantic/transforms.rs
  prql-compiler/src/tests/test.rs
  prql-compiler/src/tests/test_bad_error_messages.rs
Due: no-dbg

feat: replace `count s"*"` with `count this`
  prql-compiler/examples/compile-files/queries/variables.prql
  prql-compiler/src/codegen.rs
  prql-compiler/src/parser/snapshots/prql_compiler__parser__test__pipeline_parse_tree.snap
  prql-compiler/src/semantic/std.prql
  prql-compiler/src/sql/std.sql.prql
  prql-compiler/src/tests/test.rs
  web/book/src/examples/variables.md
  web/book/tests/documentation/snapshots/documentation__book__syntax__inner-transforms__0.snap
  web/book/tests/documentation/snapshots/documentation__book__transforms__aggregate__examples__0.snap
  web/book/tests/documentation/snapshots/documentation__book__transforms__aggregate__examples__1.snap
  web/book/tests/documentation/snapshots/documentation__book__transforms__group__0.snap
  web/website/content/_index.md
Due: no-dbg

feat: replace `count s"*"` with `count this` (#2936)
  prql-compiler/examples/compile-files/queries/variables.prql
  prql-compiler/src/codegen.rs
  prql-compiler/src/parser/snapshots/prql_compiler__parser__test__pipeline_parse_tree.snap
  prql-compiler/src/semantic/std.prql
  prql-compiler/src/sql/std.sql.prql
  prql-compiler/src/tests/test.rs
  web/book/src/examples/variables.md
  web/book/tests/documentation/snapshots/documentation__book__syntax__inner-transforms__0.snap
  web/book/tests/documentation/snapshots/documentation__book__transforms__aggregate__examples__0.snap
  web/book/tests/documentation/snapshots/documentation__book__transforms__aggregate__examples__1.snap
  web/book/tests/documentation/snapshots/documentation__book__transforms__group__0.snap
  web/website/content/_index.md
Due: no-dbg

feat: multiline function definition syntax
  prql-compiler/src/parser/expr.rs
  prql-compiler/src/parser/lexer.rs
  prql-compiler/src/parser/mod.rs
  prql-compiler/src/semantic/std.prql
  web/book/src/syntax/keywords.md
Due: no-dbg

feat: multiline function definition syntax (#2937)
  prql-compiler/src/parser/expr.rs
  prql-compiler/src/parser/lexer.rs
  prql-compiler/src/parser/mod.rs
  prql-compiler/src/semantic/std.prql
  web/book/src/syntax/keywords.md
Due: no-dbg

Revert "Squashed commit of the following:"
  prql-compiler/src/codegen.rs
Due: no-dbg

improve codegen
  prql-compiler/src/codegen.rs
Due: no-dbg
