Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

Revert "fix: support install prql-compiler from GitHub by old Rust version"
  prql-compiler/Cargo.toml
Due: none

fix: let else -> let if let else
  prql-compiler/src/sql/gen_expr.rs
  prql-compiler/src/sql/preprocess.rs
Due: no-dbg

fix: support install prql-compiler from GitHub by old Rust version
  prql-compiler/Cargo.toml
Due: none

build: Bump `prql-js` in playground
  web/playground/package-lock.json
Due: none

build: Bump `prql-js` in playground (#2513)
  web/playground/package-lock.json
Due: none

build: Add missing release replacement
  bindings/prql-js/Cargo.toml
Due: none

chore: Backport #2513 to `web` (#2514)
  web/playground/package-lock.json
Due: none

build: Add missing release replacement (#2515)
  bindings/prql-js/Cargo.toml
Due: none

internal: Remove old unused file
  web/website/content/book_integrated.html
Due: none

internal: Remove old unused file (#2516)
  web/website/content/book_integrated.html
Due: none

web: Add `run-web` task
  Taskfile.yml
  web/playground/package.json
Due: none

web: Add `run-web` task (#2517)
  Taskfile.yml
  web/playground/package.json
Due: none

chore: Backport #2517 to `web` (#2519)
  Taskfile.yml
  web/playground/package.json
Due: none

Revert "chore: bump @duckdb/duckdb-wasm from 1.24.0 to 1.25.0 in /web/playground (#2468)"
  web/playground/package-lock.json
  web/playground/package.json
Due: none

revert: duckdb-wasm 1.25 from #2468 (#2521)
  web/playground/package-lock.json
  web/playground/package.json
Due: none

chore: Backport #2521 to `web` (#2522)
  web/playground/package-lock.json
  web/playground/package.json
Due: none

chore: Backport #2516 to `web` (#2520)
  web/website/content/book_integrated.html
Due: none

ci: Separate markdown-link-check into local and full versions
  .config/.markdown-link-check-full.json
  .config/.markdown-link-check-local.json
  .github/workflows/build-web.yaml
  .github/workflows/nightly.yaml
  .github/workflows/pull-request.yaml
  .pre-commit-config.yaml
Due: none

ci: Fix `udeps` check
  .github/workflows/nightly.yaml
Due: none

.
  .config/.markdown-link-check-all.json
Due: none

Update .github/workflows/nightly.yaml
  .github/workflows/nightly.yaml
Due: none

ci: Fix `udeps` check (#2524)
  .github/workflows/nightly.yaml
Due: none

.
  web/book/src/language-features/regex.md
  web/book/tests/snapshots/snapshot__tests__prql__language-features__regex-0.prql.snap
  web/book/tests/snapshots/snapshot__tests__prql__language-features__regex-1.prql.snap
  web/book/tests/snapshots/snapshot__tests__prql__language-features__regex-2.prql.snap
  web/book/tests/snapshots/snapshot__tests__prql__language-features__regex-3.prql.snap
Due: none

internal(docs): Use the updated language in md blocks
  web/book/highlight-prql.js
  web/book/src/internals/functional-lang.md
  web/book/src/language-features/dates-and-times.md
  web/book/src/language-features/distinct.md
  web/book/src/language-features/s-strings.md
  web/book/src/language-features/standard-library/README.md
  web/book/src/language-features/standard-library/loop.md
  web/book/src/queries/pipelines.md
  web/book/src/transforms/aggregate.md
  web/book/src/transforms/append.md
  web/book/src/transforms/derive.md
  web/book/src/transforms/filter.md
  web/book/src/transforms/from.md
  web/book/src/transforms/group.md
  web/book/src/transforms/join.md
  web/book/src/transforms/select.md
  web/book/src/transforms/sort.md
  web/book/src/transforms/take.md
  web/book/src/transforms/window.md
  web/book/tests/snapshot.rs
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: no-dbg

internal(docs): Use the updated language in md blocks (#2525)
  web/book/highlight-prql.js
  web/book/src/internals/functional-lang.md
  web/book/src/language-features/dates-and-times.md
  web/book/src/language-features/distinct.md
  web/book/src/language-features/s-strings.md
  web/book/src/language-features/standard-library/README.md
  web/book/src/language-features/standard-library/loop.md
  web/book/src/queries/pipelines.md
  web/book/src/transforms/aggregate.md
  web/book/src/transforms/append.md
  web/book/src/transforms/derive.md
  web/book/src/transforms/filter.md
  web/book/src/transforms/from.md
  web/book/src/transforms/group.md
  web/book/src/transforms/join.md
  web/book/src/transforms/select.md
  web/book/src/transforms/sort.md
  web/book/src/transforms/take.md
  web/book/src/transforms/window.md
  web/book/tests/snapshot.rs
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: no-dbg

chore: Backport #2525 to `web` (#2526)
  web/book/highlight-prql.js
  web/book/src/internals/functional-lang.md
  web/book/src/language-features/dates-and-times.md
  web/book/src/language-features/distinct.md
  web/book/src/language-features/s-strings.md
  web/book/src/language-features/standard-library/README.md
  web/book/src/language-features/standard-library/loop.md
  web/book/src/queries/pipelines.md
  web/book/src/transforms/aggregate.md
  web/book/src/transforms/append.md
  web/book/src/transforms/derive.md
  web/book/src/transforms/filter.md
  web/book/src/transforms/from.md
  web/book/src/transforms/group.md
  web/book/src/transforms/join.md
  web/book/src/transforms/select.md
  web/book/src/transforms/sort.md
  web/book/src/transforms/take.md
  web/book/src/transforms/window.md
  web/book/tests/snapshot.rs
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: no-dbg

ci: Separate markdown-link-check into local and full versions (#2523)
  .config/.markdown-link-check-all.json
  .config/.markdown-link-check-local.json
  .github/workflows/build-web.yaml
  .github/workflows/nightly.yaml
  .github/workflows/pull-request.yaml
  .pre-commit-config.yaml
Due: none

Remove incorrect changes
  prql-compiler/src/semantic/resolver.rs
Due: no-dbg

feat: add regex search operator (#2458)
  CHANGELOG.md
  grammars/prql-lezer/src/prql.grammar
  prql-compiler/src/ast/pl/expr.rs
  prql-compiler/src/parser/expr.rs
  prql-compiler/src/parser/lexer.rs
  prql-compiler/src/parser/mod.rs
  prql-compiler/src/semantic/lowering.rs
  prql-compiler/src/sql/dialect.rs
  prql-compiler/src/sql/gen_expr.rs
  prql-compiler/src/sql/std.rs
  prql-compiler/src/tests/test.rs
  prql-compiler/tests/integration/queries/pipelines.prql
  prql-compiler/tests/integration/snapshots/integration__pipelines.prql@pipelines.prql.snap
  prql-compiler/tests/integration/snapshots/integration__rdbms@pipelines.prql.snap
  web/book/src/SUMMARY.md
  web/book/src/language-features/regex.md
  web/book/tests/snapshots/snapshot__tests__prql__language-features__regex-0.prql.snap
  web/book/tests/snapshots/snapshot__tests__prql__language-features__regex-1.prql.snap
  web/book/tests/snapshots/snapshot__tests__prql__language-features__regex-2.prql.snap
  web/book/tests/snapshots/snapshot__tests__prql__language-features__regex-3.prql.snap
  web/playground/src/workbench/prql-syntax.js
Due: no-dbg, prql-codeblock

chore: Backport #2530 to `web` (#2531)
  web/playground/package-lock.json
  web/playground/package.json
Due: none

refactor: `unpack` & `try_unpack`
  prql-compiler/src/sql/gen_expr.rs
  prql-compiler/src/sql/preprocess.rs
  prql-compiler/src/sql/std.rs
  prql-compiler/src/tests/test.rs
Due: no-dbg

Fix "or" in examples.js
  web/playground/src/examples.js
Due: none

fix: incorrect "or" syntax in examples.js (#2533)
  web/playground/src/examples.js
Due: none

consolidate fall-through cases
  prql-compiler/src/sql/gen_expr.rs
Due: no-dbg

notes
  prql-compiler/src/sql/gen_expr.rs
Due: no-dbg

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
