Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

fix
  .github/workflows/test-rust.yaml
  web/book/src/project/contributing/development.md
Due: none

Update web/playground/src/workbench/Workbench.jsx
  web/playground/src/workbench/Workbench.jsx
Due: none

fix(Playground): Handle compiler crashing (#3864)
  web/playground/src/workbench/Workbench.jsx
Due: none

chore: Backport #3864 to `web` (#3867)
  web/playground/src/workbench/Workbench.jsx
Due: none

fix
  prqlc/prql-compiler/tests/integration/dbs/docker-compose.yml
Due: none

fix
  flake.nix
  prqlc/prql-compiler/tests/integration/dbs/docker-compose.yml
Due: none

test: move a few tests from unit to integration
  prqlc/prql-compiler/src/sql/gen_expr.rs
  prqlc/prql-compiler/tests/sql/sql.rs
Due: no-dbg

tweak: Remove unused items
  prqlc/prql-compiler/src/ir/pl/expr.rs
Due: no-dbg

test: move a few tests from unit to integration (#3868)
  prqlc/prql-compiler/src/sql/gen_expr.rs
  prqlc/prql-compiler/tests/sql/sql.rs
Due: no-dbg

tweak: Remove unused items (#3869)
  prqlc/prql-compiler/src/ir/pl/expr.rs
Due: no-dbg

fix
  prqlc/prql-compiler/tests/integration/dbs/protocol/duckdb.rs
  prqlc/prql-compiler/tests/integration/dbs/protocol/mysql.rs
  prqlc/prql-compiler/tests/integration/dbs/protocol/postgres.rs
  prqlc/prql-compiler/tests/integration/dbs/protocol/sqlite.rs
Due: no-dbg

fix
  prqlc/prql-compiler/tests/integration/dbs/mod.rs
  prqlc/prql-compiler/tests/integration/dbs/runner.rs
Due: no-dbg

fix
  Cargo.lock
  justfile
  prqlc/prql-compiler/Cargo.toml
  prqlc/prql-compiler/tests/integration/dbs/mod.rs
  prqlc/prql-compiler/tests/integration/queries.rs
Due: no-dbg

chore: bump anstream from 0.3.2 to 0.5.0
  Cargo.lock
  prqlc/prql-compiler/Cargo.toml
  prqlc/prqlc/Cargo.toml
  web/book/Cargo.toml
Due: none

Rename to Declaration and DeclarationTuple
  grammars/prql-lezer/src/highlight.js
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/full_queries.txt
  grammars/prql-lezer/test/misc.txt
  grammars/prql-lezer/test/tuples.txt
Due: none

feat(Lezer grammar): Highlight properties (#3849)
  grammars/prql-lezer/src/highlight.js
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/full_queries.txt
  grammars/prql-lezer/test/misc.txt
  grammars/prql-lezer/test/tuples.txt
Due: none

tweak: Remove db toml files
  prqlc/prql-compiler/tests/integration/dbs/connections/clickhouse.toml
  prqlc/prql-compiler/tests/integration/dbs/connections/duckdb.toml
  prqlc/prql-compiler/tests/integration/dbs/connections/glaredb.toml
  prqlc/prql-compiler/tests/integration/dbs/connections/mssql.toml
  prqlc/prql-compiler/tests/integration/dbs/connections/mysql.toml
  prqlc/prql-compiler/tests/integration/dbs/connections/postgres.toml
  prqlc/prql-compiler/tests/integration/dbs/connections/sqlite.toml
Due: none

tweak: Remove db toml files (#3874)
  prqlc/prql-compiler/tests/integration/dbs/connections/clickhouse.toml
  prqlc/prql-compiler/tests/integration/dbs/connections/duckdb.toml
  prqlc/prql-compiler/tests/integration/dbs/connections/glaredb.toml
  prqlc/prql-compiler/tests/integration/dbs/connections/mssql.toml
  prqlc/prql-compiler/tests/integration/dbs/connections/mysql.toml
  prqlc/prql-compiler/tests/integration/dbs/connections/postgres.toml
  prqlc/prql-compiler/tests/integration/dbs/connections/sqlite.toml
Due: none

Tweak panic message in Playground to tell how to report the panic
  web/playground/src/workbench/Workbench.jsx
Due: none

chore: bump prql-compiler's MSRV to 1.70.0
  Cargo.toml
  prqlc/prql-compiler/Cargo.toml
  prqlc/prqlc/Cargo.toml
Due: none

docs: update changelog
  CHANGELOG.md
Due: prql-codeblock

build: migrate just to task
  .config/nextest.toml
  Cargo.lock
  Taskfile.yml
  flake.nix
  justfile
  prqlc/Taskfile.yaml
  prqlc/bindings/python/Taskfile.yaml
Due: none

cargo.lock
  Cargo.lock
Due: none

chore: bump prql-compiler's MSRV to 1.70.0 (#3876)
  CHANGELOG.md
  Cargo.toml
  prqlc/prql-compiler/Cargo.toml
  prqlc/prqlc/Cargo.toml
Due: prql-codeblock

build: Add explicit `msrv` for the `cargo msrv` test
  prqlc/prql-compiler/Cargo.toml
  prqlc/prqlc/Cargo.toml
Due: none

build: Add explicit `msrv` for the `cargo msrv` test (#3879)
  prqlc/prql-compiler/Cargo.toml
  prqlc/prqlc/Cargo.toml
Due: none

docs: Tweak panic message in Playground to tell how to report the panic (#3875)
  web/playground/src/workbench/Workbench.jsx
Due: none

chore: Backport #3875 to `web` (#3880)
  web/playground/src/workbench/Workbench.jsx
Due: none

Update prqlc/Taskfile.yaml
  prqlc/Taskfile.yaml
Due: none

feat(Lezer grammar): Add self equals operator
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/operators.txt
Due: none

Update prql.grammar
  grammars/prql-lezer/src/prql.grammar
Due: none

build: migrate just to task (#3877)
  .config/nextest.toml
  Taskfile.yml
  flake.nix
  justfile
  prqlc/Taskfile.yaml
  prqlc/bindings/python/Taskfile.yaml
Due: none

test: prepare case for in values
  prqlc/prql-compiler/tests/integration/sql.rs
Due: no-dbg

test: add case with lt for range
  prqlc/prql-compiler/tests/integration/sql.rs
Due: no-dbg

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
