Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

devops: task to run coverage locally (#4030)
  .gitignore
  Taskfile.yml
Due: none

tests: Add tests for Lexer output
  prqlc/prql-compiler/tests/integration/queries.rs
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__aggregation.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__arithmetic.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__cast.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__constants_only.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__date_to_text.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__distinct.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__distinct_on.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__genre_counts.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__group_all.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__group_sort.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__group_sort_limit_take.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__invoice_totals.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__loop_01.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__math_module.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__pipelines.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__read_csv.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__set_ops_remove.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__sort.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__switch.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__take.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__text_module.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__window.snap
  prqlc/prqlc-parser/src/lexer.rs
  prqlc/prqlc-parser/src/lib.rs
Due: no-dbg

Use debug output
  prqlc/prql-compiler/tests/integration/queries.rs
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__aggregation.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__arithmetic.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__cast.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__constants_only.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__date_to_text.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__distinct.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__distinct_on.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__genre_counts.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__group_all.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__group_sort.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__group_sort_limit_take.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__invoice_totals.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__loop_01.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__math_module.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__pipelines.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__read_csv.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__set_ops_remove.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__sort.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__switch.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__take.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__text_module.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__window.snap
  prqlc/prqlc-parser/src/lexer.rs
Due: no-dbg

add test coverage
  prqlc/prqlc-parser/src/lib.rs
Due: no-dbg

refactor: Move `WithErrorInfo` to `prqlc-ast`, use in `prqlc-parser`
  Cargo.lock
  prqlc/prql-compiler/src/error_message.rs
  prqlc/prqlc-ast/Cargo.toml
  prqlc/prqlc-ast/src/error.rs
  prqlc/prqlc-parser/src/lib.rs
Due: no-dbg

.
  prqlc/prqlc/Cargo.toml
Due: none

feat: Add syntax highlighting for GtkSourceView
  grammars/GtkSourceView/README.md
  grammars/GtkSourceView/prql.lang
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: prql-codeblock

.
  .github/actions/build-prqlc/action.yaml
  .github/workflows/test-rust.yaml
Due: none

feat: Add syntax highlighting for GtkSourceView (#4062)
  CHANGELOG.md
  grammars/GtkSourceView/README.md
  grammars/GtkSourceView/prql.lang
Due: prql-codeblock

refactor: Move `WithErrorInfo` to `prqlc-ast`, use in `prqlc-parser` (#4060)
  .github/actions/build-prqlc/action.yaml
  .github/workflows/test-rust.yaml
  .github/workflows/tests.yaml
  Cargo.lock
  Taskfile.yml
  bacon.toml
  prqlc/Taskfile.yaml
  prqlc/prql-compiler/src/error_message.rs
  prqlc/prqlc-ast/Cargo.toml
  prqlc/prqlc-ast/src/error.rs
  prqlc/prqlc-parser/src/lib.rs
  prqlc/prqlc/Cargo.toml
  web/book/src/project/contributing/development.md
Due: no-dbg

changes
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__aggregation.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__arithmetic.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__cast.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__constants_only.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__date_to_text.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__distinct.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__distinct_on.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__genre_counts.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__group_all.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__group_sort.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__group_sort_limit_take.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__invoice_totals.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__loop_01.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__math_module.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__pipelines.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__read_csv.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__set_ops_remove.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__sort.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__switch.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__take.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__text_module.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__window.snap
  prqlc/prqlc-parser/src/lexer.rs
  prqlc/prqlc-parser/src/lib.rs
Due: no-dbg

feat(Lezer grammar): Add module (#4020)
  grammars/prql-lezer/src/highlight.js
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/misc.txt
Due: none

test: Add tests for Lexer output (#4056)
  prqlc/prql-compiler/tests/integration/queries.rs
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__aggregation.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__arithmetic.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__cast.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__constants_only.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__date_to_text.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__distinct.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__distinct_on.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__genre_counts.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__group_all.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__group_sort.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__group_sort_limit_take.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__invoice_totals.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__loop_01.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__math_module.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__pipelines.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__read_csv.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__set_ops_remove.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__sort.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__switch.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__take.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__text_module.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__lex__window.snap
  prqlc/prqlc-parser/src/lexer.rs
  prqlc/prqlc-parser/src/lib.rs
Due: no-dbg

feat: Add function to python binding with JSON error
  prqlc/bindings/python/prql_python.pyi
  prqlc/bindings/python/pyproject.toml
  prqlc/bindings/python/python/tests/test_all.py
  prqlc/bindings/python/src/lib.rs
Due: no-dbg

devops: Add dependabot for `prql-python`
  .github/dependabot.yml
Due: none

feat: Add function to python binding with JSON error (#4066)
  prqlc/bindings/python/prql_python.pyi
  prqlc/bindings/python/pyproject.toml
  prqlc/bindings/python/python/tests/test_all.py
  prqlc/bindings/python/src/lib.rs
Due: no-dbg

devops: Add dependabot for `prql-python` (#4067)
  .github/dependabot.yml
Due: none

devops: Consolidate python dependencies in `pyproject.toml`
  prqlc/bindings/python/noxfile.py
  prqlc/bindings/python/pyproject.toml
  prqlc/bindings/python/requirements.txt
Due: none

devops: Consolidate python dependencies in `pyproject.toml` (#4070)
  .github/actions/build-prql-python/action.yaml
  .github/workflows/test-python.yaml
  prqlc/bindings/python/noxfile.py
  prqlc/bindings/python/pyproject.toml
  prqlc/bindings/python/requirements.txt
Due: none

ci: Switch to PyO3 maturin action
  .github/actions/build-prql-python/action.yaml
  .github/workflows/release.yaml
Due: none

Remove `=`
  .github/actions/build-prql-python/action.yaml
Due: none

ci: Use codecov token
  .github/workflows/tests.yaml
Due: none

ci: Switch to PyO3 maturin action (#4071)
  .github/actions/build-prql-python/action.yaml
  .github/workflows/release.yaml
Due: none

ci: Use codecov token (#4072)
  .github/workflows/tests.yaml
Due: none

fix: Don't panic on nested `group`
  prqlc/prql-compiler/src/semantic/lowering.rs
  prqlc/prql-compiler/tests/integration/bad_error_messages.rs
  prqlc/prqlc-ast/src/error.rs
Due: no-dbg

fix: Don't panic on nested `group` (#4037)
  prqlc/prql-compiler/src/semantic/lowering.rs
  prqlc/prql-compiler/tests/integration/bad_error_messages.rs
  prqlc/prqlc-ast/src/error.rs
Due: no-dbg

test: Reenable Windows stack overflow test
  prqlc/prqlc/tests/test.rs
Due: no-dbg

Revert "feat: Add function to python binding with JSON error (#4066)"
  prqlc/bindings/python/prql_python.pyi
  prqlc/bindings/python/python/tests/test_all.py
  prqlc/bindings/python/src/lib.rs
Due: no-dbg

revert: Add function to python binding with JSON error (#4066) (#4074)
  prqlc/bindings/python/prql_python.pyi
  prqlc/bindings/python/python/tests/test_all.py
  prqlc/bindings/python/src/lib.rs
Due: no-dbg

ci: Build `prqlc-clib` as artifacts
  .github/actions/build-prqlc-clib/action.yaml
  .github/workflows/tests.yaml
Due: none

ci: Build `prqlc-clib` as artifacts (#4075)
  .github/actions/build-prqlc-clib/action.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  prqlc/bindings/clib/Cargo.toml
Due: none

refactor: Rename C bindings to `prqlc-c`
  .github/actions/build-prqlc-clib/action.yaml
  .github/actions/build-prqlc/action.yaml
  .github/workflows/release.yaml
  .github/workflows/test-dotnet.yaml
  .github/workflows/test-prqlc-c.yaml
  .github/workflows/tests.yaml
  Cargo.lock
  Cargo.toml
  Taskfile.yml
  prqlc/Taskfile.yaml
  prqlc/bindings/clib/examples/minimal-cpp/README.md
  prqlc/bindings/dotnet/README.md
  prqlc/bindings/prqlc-c/Cargo.toml
  prqlc/bindings/prqlc-c/README.md
  prqlc/bindings/prqlc-c/cbindgen.toml
  prqlc/bindings/prqlc-c/examples/minimal-c/Makefile
  prqlc/bindings/prqlc-c/examples/minimal-c/README.md
  prqlc/bindings/prqlc-c/examples/minimal-c/main.c
  prqlc/bindings/prqlc-c/examples/minimal-cpp/Makefile
  prqlc/bindings/prqlc-c/examples/minimal-cpp/README.md
  prqlc/bindings/prqlc-c/examples/minimal-cpp/main.cpp
  prqlc/bindings/prqlc-c/examples/minimal-zig/.gitignore
  prqlc/bindings/prqlc-c/examples/minimal-zig/Makefile
  prqlc/bindings/prqlc-c/examples/minimal-zig/README.md
  prqlc/bindings/prqlc-c/examples/minimal-zig/build.zig
  prqlc/bindings/prqlc-c/examples/minimal-zig/src/main.zig
  prqlc/bindings/prqlc-c/libprqlc_lib.h
  prqlc/bindings/prqlc-c/libprqlc_lib.hpp
  prqlc/bindings/prqlc-c/src/lib.rs
  web/book/src/project/bindings/README.md
Due: no-dbg

test: Replace `black` with `ruff`
  .pre-commit-config.yaml
Due: none

test: Replace `black` with `ruff` (#4078)
  .pre-commit-config.yaml
Due: none

.
  prqlc/bindings/prqlc-c/prqlc.hpp
Due: none

Use `types_or` for pre-commit `clang-format`
  .mega-linter.yaml
  .pre-commit-config.yaml
  prqlc/bindings/clib/examples/minimal-c/main.c
Due: none

ci: Don't build prqlc-c on every commit
  .github/workflows/tests.yaml
Due: none

docs: Write down naming target
  web/book/src/project/bindings/README.md
Due: none

ci: Don't build prqlc-c on every commit (#4080)
  .github/workflows/tests.yaml
Due: none

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
