Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

ci: Switch to maintained zig action (#4960)
  .github/workflows/test-prqlc-c.yaml
Due: none

chore: Bump versions to 0.13.3 (#4959)
  .typos.toml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  lutra/lutra/Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/packages/snap/snapcraft.yaml
  prqlc/prqlc-macros/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  web/book/src/project/contributing/development.md
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: no-dbg, prql-codeblock

build: Upgrade Zig
  .github/workflows/test-prqlc-c.yaml
  prqlc/bindings/prqlc-c/examples/minimal-zig/build.zig
Due: none

build: Upgrade Zig (#4961)
  .github/workflows/test-prqlc-c.yaml
  prqlc/bindings/prqlc-c/examples/minimal-zig/build.zig
Due: none

build: Update rust toolchain version (#4972)
  rust-toolchain.toml
Due: none

Fix redirects
  web/website/content/faq.md
Due: none

web: Fix redirects (#4982)
  web/website/content/faq.md
Due: none

Mention qStudio-PRQL Quick Start guide
  web/book/src/project/integrations/qstudio.md
Due: none

docs: Mention qStudio-PRQL Quick Start guide (#4991)
  web/book/src/project/integrations/qstudio.md
Due: none

build: Upgrade arrow & duckdb
  Cargo.lock
  lutra/lutra/Cargo.toml
  prqlc/prqlc/Cargo.toml
Due: none

Introducing PRQL Guru on Gurubase.io
  README.md
Due: none

chore: bump duckdb from 1.0.0 to 1.1.1
  Cargo.lock
  prqlc/prqlc/Cargo.toml
Due: none

devops: Adjust cargo tools
  Taskfile.yaml
Due: none

devops: Adjust cargo tools (#5013)
  Taskfile.yaml
Due: none

build: Upgrade arrow & duckdb (#4995)
  Cargo.lock
  Cargo.toml
  lutra/bindings/python/Cargo.toml
  lutra/lutra/Cargo.toml
  prqlc/bindings/prqlc-python/src/lib.rs
  prqlc/prqlc/Cargo.toml
Due: no-dbg

Set owner on /usr/local/cargo/registry/ as well
  .devcontainer/devcontainer.json
Due: none

Fix sqlparser 0.52
  prqlc/prqlc/src/sql/gen_query.rs
Due: no-dbg

build: Update rust toolchain version (#5030)
  rust-toolchain.toml
Due: none

feat: enable LTO
  Cargo.toml
Due: none

Use reference for FormatOptions
  prqlc/prqlc/src/sql/mod.rs
Due: no-dbg

feat: enable Link-Time Optimization (LTO) (#5032)
  Cargo.toml
Due: none

fix agreggate doc: within a group, it produces on {row => column*}
  web/book/src/reference/stdlib/transforms/aggregate.md
Due: none

ci: Disable `cargo-audit` in CI
  .github/workflows/nightly.yaml
Due: none

ci: Disable `cargo-audit` in CI (#5051)
  .github/workflows/nightly.yaml
Due: none

Change "qStudio" to "QStudio"; Also mention the pre-built macOS application that bundles QStudio and `prqlc`; Update website copyright to 2022-2024
  README.md
  web/book/src/SUMMARY.md
  web/book/src/project/integrations/README.md
  web/book/src/project/integrations/qstudio.md
  web/website/config.yml
  web/website/content/_index.md
Due: none

docs: Change "qStudio" to "QStudio" (#5064)
  README.md
  web/book/src/SUMMARY.md
  web/book/src/project/integrations/README.md
  web/book/src/project/integrations/qstudio.md
  web/website/config.yml
  web/website/content/_index.md
Due: none

fix(resolver): do not copy sort when flattening a join or append transform
  prqlc/prqlc/src/semantic/resolver/flatten.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

docs: update changelog
  CHANGELOG.md
Due: prql-codeblock

fix(resolver): do not copy sort when flattening a join or append transform (#5066)
  CHANGELOG.md
  prqlc/prqlc/src/semantic/resolver/flatten.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg, prql-codeblock

chore: Add a couple of `.gitignore` entries
  .github/workflows/nightly.yaml
  .gitignore
Due: none

chore: Add a couple of `.gitignore` entries (#5082)
  .gitignore
Due: none

refactor: make linter happy
  prqlc/prqlc-parser/src/parser/mod.rs
  prqlc/prqlc-parser/src/span.rs
  prqlc/prqlc/src/codegen/mod.rs
  prqlc/prqlc/src/error_message.rs
  prqlc/prqlc/src/ir/decl.rs
  prqlc/prqlc/src/semantic/reporting.rs
  prqlc/prqlc/src/sql/pq/anchor.rs
  prqlc/prqlc/src/sql/pq/context.rs
  prqlc/prqlc/src/sql/pq/gen_query.rs
  prqlc/prqlc/src/sql/pq/postprocess.rs
Due: no-dbg

ci: update nightly toolchain revision
  .github/workflows/nightly.yaml
  .github/workflows/tests.yaml
Due: none

build: Update rust toolchain version (#5087)
  .github/workflows/nightly.yaml
  .github/workflows/tests.yaml
  prqlc/prqlc-parser/src/parser/mod.rs
  prqlc/prqlc-parser/src/span.rs
  prqlc/prqlc/src/codegen/mod.rs
  prqlc/prqlc/src/error_message.rs
  prqlc/prqlc/src/ir/decl.rs
  prqlc/prqlc/src/semantic/reporting.rs
  prqlc/prqlc/src/sql/pq/anchor.rs
  prqlc/prqlc/src/sql/pq/context.rs
  prqlc/prqlc/src/sql/pq/gen_query.rs
  prqlc/prqlc/src/sql/pq/postprocess.rs
  rust-toolchain.toml
Due: no-dbg

Update .devcontainer/devcontainer.json
  .devcontainer/devcontainer.json
Due: none

build: Set owner on /usr/local/cargo/registry/ in Dev Container (#5018)
  .devcontainer/devcontainer.json
Due: none

Add test case
  prqlc/prqlc/tests/integration/queries/sort_2.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__sort_2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__sort_2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__sort_2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__sort_2.snap
Due: none

Revert sort columns to their original upstream sources
  prqlc/prqlc/src/sql/pq/anchor.rs
  prqlc/prqlc/src/sql/pq/postprocess.rs
Due: no-dbg

Fix clippy and db integration test
  prqlc/prqlc/src/sql/pq/anchor.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__sort_2.snap
Due: no-dbg

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
