Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

chore: Change remaining annotations, add changelog (#2735)
  CHANGELOG.md
  prql-compiler/src/sql/std.sql.prql
  web/book/tests/documentation/snapshots/documentation__book__language-features__regex__regex-expressions__3.snap
  web/book/tests/documentation/snapshots/documentation__book__language-features__regex__regex-expressions__4.snap
  web/book/tests/documentation/snapshots/documentation__book__language-features__regex__regex-expressions__5.snap
Due: prql-codeblock

chore: Add note to CI (#2736)
  .github/workflows/pull-request.yaml
Due: none

ci: Use simpler auto-merge approach
  .github/workflows/pull-request.yaml
Due: none

ci: Use simpler auto-merge approach (#2737)
  .github/workflows/pull-request.yaml
Due: none

feat: Use simple syntax for generic dialect
  prql-compiler/src/sql/std.sql.prql
  prql-compiler/src/tests/test.rs
  prql-compiler/tests/integration/snapshots/integration__results@arithmetic.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@pipelines.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@arithmetic.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@pipelines.prql.snap
  web/book/tests/documentation/snapshots/documentation__book__examples__misc__1.snap
  web/book/tests/documentation/snapshots/documentation__book__examples__variables__1.snap
  web/book/tests/documentation/snapshots/documentation__book__queries__functions__0.snap
  web/book/tests/documentation/snapshots/documentation__book__queries__functions__1.snap
  web/book/tests/documentation/snapshots/documentation__book__queries__functions__late-binding__0.snap
  web/book/tests/documentation/snapshots/documentation__book__queries__functions__piping__0.snap
  web/book/tests/documentation/snapshots/documentation__book__queries__functions__piping__1.snap
  web/book/tests/documentation/snapshots/documentation__book__queries__functions__piping__2.snap
  web/book/tests/documentation/snapshots/documentation__book__syntax__expressions-and-operators__parentheses__0.snap
  web/website/content/_index.md
Due: no-dbg

chore: Use `from` in relation literal
  prql-compiler/tests/integration/queries/arithmetic.prql
Due: none

chore: Use `from` in relation literal (#2740)
  prql-compiler/tests/integration/queries/arithmetic.prql
  prql-compiler/tests/integration/snapshots/integration__fmt@arithmetic.prql.snap
Due: none

test: Add comments re CRLF, make test robust
  .gitattributes
  .github/workflows/test-elixir.yaml
  web/book/tests/documentation/readme.rs
Due: no-dbg

test: Add comments re CRLF, make test robust (#2741)
  .gitattributes
  .github/workflows/test-elixir.yaml
  web/book/tests/documentation/readme.rs
Due: no-dbg

fix: `let div_f = l r -> s"({l} * 1.0 / {r})"` for all dialects except default (generic)
  prql-compiler/src/sql/std.sql.prql
  prql-compiler/tests/integration/snapshots/integration__results@arithmetic.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@pipelines.prql.snap
Due: none

refactor: clickhouse and snowflake are using `/` for floating division
  prql-compiler/src/sql/std.sql.prql
Due: none

docs: format example results
  web/website/content/_index.md
Due: none

feat: Use simple syntax for generic dialect (#2739)
  prql-compiler/src/sql/std.sql.prql
  prql-compiler/src/tests/test.rs
  prql-compiler/tests/integration/snapshots/integration__sql@arithmetic.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@pipelines.prql.snap
  web/book/tests/documentation/snapshots/documentation__book__examples__misc__1.snap
  web/book/tests/documentation/snapshots/documentation__book__examples__variables__1.snap
  web/book/tests/documentation/snapshots/documentation__book__queries__functions__0.snap
  web/book/tests/documentation/snapshots/documentation__book__queries__functions__1.snap
  web/book/tests/documentation/snapshots/documentation__book__queries__functions__late-binding__0.snap
  web/book/tests/documentation/snapshots/documentation__book__queries__functions__piping__0.snap
  web/book/tests/documentation/snapshots/documentation__book__queries__functions__piping__1.snap
  web/book/tests/documentation/snapshots/documentation__book__queries__functions__piping__2.snap
  web/book/tests/documentation/snapshots/documentation__book__syntax__expressions-and-operators__parentheses__0.snap
  web/website/content/_index.md
Due: no-dbg

test: Enable MySql regex tests
  prql-compiler/tests/integration/queries/pipelines.prql
Due: none

test: Enable DuckDB tests on Windows
  prql-compiler/tests/integration/main.rs
Due: no-dbg

test: Snapshot integration test queries refinements (#2744)
  bacon.toml
  prql-compiler/src/sql/dialect.rs
  prql-compiler/src/sql/mod.rs
  prql-compiler/tests/integration/connection.rs
  prql-compiler/tests/integration/main.rs
  prql-compiler/tests/integration/snapshots/integration__sql@arithmetic.prql.snap
Due: no-dbg

feat: Use code indentation of 2
  prql-compiler/prqlc/src/cli.rs
  prql-compiler/src/codegen.rs
  prql-compiler/src/semantic/std.prql
  prql-compiler/src/sql/std.sql.prql
  prql-compiler/tests/integration/queries/loop.prql
  prql-compiler/tests/integration/snapshots/integration__fmt@arithmetic.prql.snap
  prql-compiler/tests/integration/snapshots/integration__fmt@invoice_totals.prql.snap
  prql-compiler/tests/integration/snapshots/integration__fmt@switch.prql.snap
Due: no-dbg

refactor: Remove additional result handling in prqlc
  prql-compiler/prqlc/src/cli.rs
Due: no-dbg

.
  prql-compiler/tests/integration/snapshots/integration__sql@pipelines.prql.snap
  web/book/tests/documentation/snapshots/documentation__book__language-features__regex__regex-expressions__4.snap
Due: none

feat: `prqlc fmt` outputs to input
  prql-compiler/prqlc/src/cli.rs
Due: no-dbg

test: Enable DuckDB tests on Windows (#2746)
  prql-compiler/Cargo.toml
  prql-compiler/tests/integration/main.rs
Due: no-dbg

feat: Allow `prqlc` to print backtraces on errors
  prql-compiler/prqlc/src/cli.rs
  prql-compiler/prqlc/tests/test.rs
Due: no-dbg

Revert "chore: bump duckdb from 0.7.1 to 0.8.0 (#2601)"
  Cargo.lock
  prql-compiler/Cargo.toml
Due: none

ci: Run all tests on cargo updates
  .github/dependabot.yml
Due: none

fix: Consistent color handling in outputs
  Cargo.lock
  prql-compiler/Cargo.toml
  prql-compiler/prqlc/Cargo.toml
  prql-compiler/src/error.rs
  prql-compiler/src/tests/test.rs
  web/book/Cargo.toml
  web/book/src/lib.rs
  web/book/tests/documentation/book.rs
Due: no-dbg

revert: #2601 (#2752)
  Cargo.lock
  prql-compiler/Cargo.toml
Due: none

ci: Run all tests on cargo updates (#2753)
  .github/dependabot.yml
Due: none

test: Enable MySql regex tests (#2745)
  prql-compiler/src/sql/std.sql.prql
  prql-compiler/tests/integration/queries/pipelines.prql
  prql-compiler/tests/integration/snapshots/integration__sql@pipelines.prql.snap
  web/book/tests/documentation/snapshots/documentation__book__language-features__regex__regex-expressions__4.snap
Due: none

docs(book): update some sections about std lib
  web/book/src/language-features/standard-library/README.md
  web/book/src/syntax/expressions-and-operators.md
  web/book/tests/documentation/snapshots/documentation__book__language-features__standard-library__README__standard-library__1.snap
  web/book/tests/documentation/snapshots/documentation__book__language-features__standard-library__README__standard-library__2.snap
Due: none

refactor: Remove additional result handling in prqlc (#2749)
  prql-compiler/prqlc/src/cli.rs
Due: no-dbg

feat: `prqlc fmt` outputs to input (#2750)
  prql-compiler/prqlc/src/cli.rs
  prql-compiler/prqlc/tests/snapshots/test__shell_completion-4.snap
  prql-compiler/prqlc/tests/snapshots/test__shell_completion.snap
Due: no-dbg

ci: Try upgrading docker-compose in CI
  .github/workflows/test-rust.yaml
Due: none

feat: Use code indentation of 2 (#2748)
  prql-compiler/prqlc/src/cli.rs
  prql-compiler/src/codegen.rs
  prql-compiler/src/semantic/std.prql
  prql-compiler/src/sql/std.sql.prql
  prql-compiler/tests/integration/queries/loop.prql
  prql-compiler/tests/integration/snapshots/integration__fmt@arithmetic.prql.snap
  prql-compiler/tests/integration/snapshots/integration__fmt@invoice_totals.prql.snap
  prql-compiler/tests/integration/snapshots/integration__fmt@switch.prql.snap
Due: no-dbg

.
  .github/workflows/test-rust.yaml
Due: none

ci: Try upgrading docker-compose in CI (#2759)
  .github/workflows/test-rust.yaml
Due: none

.
  Cargo.lock
Due: none

ci: Check cache space saving with no debuginfo
  .github/workflows/test-rust.yaml
  Cargo.toml
Due: none

docs(book): update some sections about std lib (#2756)
  web/book/src/language-features/standard-library/README.md
  web/book/src/syntax/expressions-and-operators.md
  web/book/tests/documentation/snapshots/documentation__book__language-features__standard-library__README__standard-library__1.snap
  web/book/tests/documentation/snapshots/documentation__book__language-features__standard-library__README__standard-library__2.snap
Due: none

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
