Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

ci: Make space on runner image (#3690)
  .github/workflows/scripts/util_free_space.sh
  .github/workflows/test-rust.yaml
Due: none

docs(changelog): update about clickhouse
  CHANGELOG.md
Due: prql-codeblock

test: fix regex updates
  crates/prql-compiler/tests/integration/main.rs
Due: no-dbg

feat: `std.sql.read_csv` and `std.sql.read_parquet` for ClickHouse (#3691)
  CHANGELOG.md
  crates/prql-compiler/src/sql/std.sql.prql
  crates/prql-compiler/tests/integration/main.rs
  crates/prql-compiler/tests/integration/queries/read_csv.prql
Due: no-dbg, prql-codeblock

ci: move the script to the scripts dir
  .github/actions/build-prqlc/action.yaml
  .github/actions/time-compilation/action.yaml
  .github/workflows/build-web.yaml
  .github/workflows/scripts/set_version.sh
  .github/workflows/test-java.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-lib.yaml
  .github/workflows/test-php.yaml
  .github/workflows/test-rust.yaml
  .github/workflows/tests.yaml
Due: none

feat(Lezer grammar): Add Equals
  grammars/prql-lezer/src/highlight.js
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/misc.txt
  grammars/prql-lezer/test/tuples.txt
Due: none

ci: move the script to the workflow/scripts dir (#3693)
  .github/actions/build-prqlc/action.yaml
  .github/actions/time-compilation/action.yaml
  .github/workflows/build-web.yaml
  .github/workflows/scripts/set_version.sh
  .github/workflows/test-java.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-lib.yaml
  .github/workflows/test-php.yaml
  .github/workflows/test-rust.yaml
  .github/workflows/tests.yaml
Due: none

feat(Lezer grammar): Highlight the equals operator (#3694)
  grammars/prql-lezer/src/highlight.js
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/misc.txt
  grammars/prql-lezer/test/tuples.txt
Due: none

ci: Only delete files without a cache hit
  .github/workflows/test-rust.yaml
Due: none

ci: Only delete files without a cache hit (#3695)
  .github/workflows/test-rust.yaml
Due: none

feat(Lezer grammar): Add Boolean token
  grammars/prql-lezer/src/highlight.js
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/misc.txt
Due: none

feat(Lezer grammar): Add Boolean token (#3696)
  grammars/prql-lezer/src/highlight.js
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/misc.txt
Due: none

feat(Lezer grammar): Highlight null, this and that
  grammars/prql-lezer/src/highlight.js
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/misc.txt
  web/prql-codemirror-demo/src/lang-prql/complete.ts
Due: none

Update highlight.js
  grammars/prql-lezer/src/highlight.js
Due: none

fix
  prqlc/bindings/elixir/native/prql/Cargo.toml
Due: none

fix
  .github/workflows/test-clib.yaml
  .github/workflows/test-dotnet.yaml
  Taskfile.yml
  prqlc/bindings/clib/examples/minimal-c/Makefile
  prqlc/bindings/clib/examples/minimal-cpp/Makefile
  prqlc/bindings/clib/examples/minimal-zig/Makefile
  web/book/src/project/contributing/development.md
Due: none

fix
  .github/workflows/test-clib.yaml
  prqlc/bindings/clib/examples/minimal-zig/Makefile
Due: none

fix
  .github/actions/build-prqlc/action.yaml
  .github/workflows/tests.yaml
  Taskfile.yml
  prqlc/packages/snap/snapcraft.yaml
  prqlc/prqlc/README.md
  web/book/src/project/integrations/prqlc-cli.md
Due: none

fix
  .github/workflows/test-clib.yaml
Due: none

fix
  .config/.markdown-link-check-local.json
  .prettierignore
  grammars/prql-lezer/dist/index.d.cts
  grammars/prql-lezer/dist/index.d.ts
Due: none

revert: check github links
  .config/.markdown-link-check-local.json
  web/book/src/project/bindings/dotnet.md
Due: none

revert: check github links (#3700)
  .config/.markdown-link-check-local.json
  web/book/src/project/bindings/dotnet.md
Due: none

feat(Lezer grammar): Highlight null, this and that (#3698)
  grammars/prql-lezer/src/highlight.js
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/misc.txt
  web/prql-codemirror-demo/src/lang-prql/complete.ts
Due: none

feat: any type
  prqlc/prql-compiler/src/codegen/pl.rs
  prqlc/prql-compiler/src/ir/pl/types.rs
  prqlc/prql-compiler/src/semantic/ast_expand.rs
  prqlc/prql-compiler/src/semantic/resolver/mod.rs
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-2.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-3.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline-2.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prql-compiler/src/semantic/std.prql
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/src/tests/test_bad_error_messages.rs
  prqlc/prql-compiler/src/tests/test_error_messages.rs
Due: no-dbg

anytype and any
  prqlc/prql-compiler/src/codegen/pl.rs
  prqlc/prql-compiler/src/semantic/ast_expand.rs
  prqlc/prql-compiler/src/semantic/resolver/mod.rs
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline-2.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prql-compiler/src/semantic/std.prql
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/queries/aggregation.prql
Due: no-dbg

fix
  prqlc/prql-compiler/tests/integration/snapshots/integration__fmt@aggregation.prql.snap
Due: none

feat!: anytype (#3703)
  prqlc/prql-compiler/src/codegen/pl.rs
  prqlc/prql-compiler/src/ir/pl/types.rs
  prqlc/prql-compiler/src/semantic/ast_expand.rs
  prqlc/prql-compiler/src/semantic/resolver/mod.rs
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-2.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-3.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline-2.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prql-compiler/src/semantic/std.prql
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/src/tests/test_bad_error_messages.rs
  prqlc/prql-compiler/src/tests/test_error_messages.rs
  prqlc/prql-compiler/tests/integration/queries/aggregation.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__fmt@aggregation.prql.snap
Due: no-dbg

refactor: desugar StmtKind::Main
  prqlc/prql-compiler/src/codegen/ast.rs
  prqlc/prql-compiler/src/ir/pl/fold.rs
  prqlc/prql-compiler/src/ir/pl/mod.rs
  prqlc/prql-compiler/src/ir/pl/stmt.rs
  prqlc/prql-compiler/src/semantic/ast_expand.rs
  prqlc/prql-compiler/src/semantic/eval/mod.rs
  prqlc/prql-compiler/src/semantic/lowering.rs
  prqlc/prql-compiler/src/semantic/mod.rs
  prqlc/prql-compiler/src/semantic/resolver/mod.rs
  prqlc/prql-compiler/src/semantic/root_module.rs
  prqlc/prqlc-ast/src/stmt.rs
  prqlc/prqlc-parser/src/snapshots/prqlc_parser__test__pipeline_parse_tree.snap
  prqlc/prqlc-parser/src/stmt.rs
  prqlc/prqlc-parser/src/test.rs
  prqlc/prqlc/src/cli.rs
  prqlc/tests_misc/tests/ast_code_matches.rs
Due: no-dbg

refactor: desugar StmtKind::Main (#3706)
  prqlc/prql-compiler/src/codegen/ast.rs
  prqlc/prql-compiler/src/ir/pl/fold.rs
  prqlc/prql-compiler/src/ir/pl/mod.rs
  prqlc/prql-compiler/src/ir/pl/stmt.rs
  prqlc/prql-compiler/src/semantic/ast_expand.rs
  prqlc/prql-compiler/src/semantic/eval/mod.rs
  prqlc/prql-compiler/src/semantic/lowering.rs
  prqlc/prql-compiler/src/semantic/mod.rs
  prqlc/prql-compiler/src/semantic/resolver/mod.rs
  prqlc/prql-compiler/src/semantic/root_module.rs
  prqlc/prqlc-ast/src/stmt.rs
  prqlc/prqlc-parser/src/snapshots/prqlc_parser__test__pipeline_parse_tree.snap
  prqlc/prqlc-parser/src/stmt.rs
  prqlc/prqlc-parser/src/test.rs
  prqlc/prqlc/src/cli.rs
  prqlc/tests_misc/tests/ast_code_matches.rs
Due: no-dbg

feat(Lezer grammar): Highlight `let`
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/misc.txt
Due: none

Update build-web.yaml
  .github/workflows/build-web.yaml
Due: none

feat(Lezer grammar): Highlight `let` (#3707)
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/misc.txt
Due: none

ci: Remove `actions/upload-pages-artifact` (#3708)
  .github/workflows/build-web.yaml
Due: none

web: Use offcanvas for menu
  web/website/themes/prql-theme/layouts/partials/header.html
  web/website/themes/prql-theme/static/main.js
  web/website/themes/prql-theme/static/style.css
Due: none

internal: Update playground's package-lock
  web/playground/package-lock.json
Due: none

web: Use offcanvas for menu (#3710)
  web/website/themes/prql-theme/layouts/partials/header.html
  web/website/themes/prql-theme/static/main.js
  web/website/themes/prql-theme/static/style.css
Due: none

internal: Update playground's package-lock (#3711)
  web/playground/package-lock.json
Due: none

devops: Don't change user for devcontainer
  .devcontainer/base-image/Dockerfile
Due: none

refactor(test): remove unused comments and comment out glaredb for now
  prqlc/prql-compiler/tests/integration/docker-compose.yml
Due: none

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
