Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

tweak: Add `.snap.tmp` files to gitignore
  .gitignore
Due: none

tweak: Add `.snap.tmp` files to gitignore (#3478)
  .gitignore
Due: none

fix: Fix precedence in a corner case (by rewriting all the precedence rules)
  crates/prql-compiler/src/sql/gen_expr.rs
  crates/prql-compiler/src/sql/operators.rs
  crates/prql-compiler/src/sql/std.sql.prql
  crates/prql-compiler/src/tests/test.rs
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__late-binding__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__piping-values-into-functions__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__piping-values-into-functions__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__piping-values-into-functions__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__operators__parentheses__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__operators__wrapping-lines__1.snap
  web/website/data/examples/expressions.yaml
Due: no-dbg

.
  crates/prql-compiler/src/sql/gen_expr.rs
  crates/prql-compiler/src/tests/test.rs
  web/website/data/examples/expressions.yaml
  web/website/data/examples/functions.yaml
Due: no-dbg

Actually we don't need communtativity (this was not efficiently done by me...)
  crates/prql-compiler/src/sql/gen_expr.rs
  crates/prql-compiler/src/sql/operators.rs
  crates/prql-compiler/src/tests/test.rs
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__operators__wrapping-lines__1.snap
Due: no-dbg

.
  crates/prql-compiler/src/tests/test.rs
Due: no-dbg

fix: Rewrite precedence, fix corner-case (#3472)
  CHANGELOG.md
  crates/prql-compiler/src/sql/gen_expr.rs
  crates/prql-compiler/src/sql/operators.rs
  crates/prql-compiler/src/sql/std.sql.prql
  crates/prql-compiler/src/tests/test.rs
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__late-binding__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__piping-values-into-functions__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__piping-values-into-functions__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__piping-values-into-functions__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__operators__parentheses__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__operators__wrapping-lines__1.snap
  web/website/data/examples/expressions.yaml
  web/website/data/examples/functions.yaml
Due: no-dbg, prql-codeblock

build: Bump a couple dependencies
  Cargo.lock
  bindings/prql-python/Cargo.toml
  crates/prql-compiler/Cargo.toml
Due: none

test: Fix tests
  crates/prql-compiler/tests/integration/snapshots/integration__sql@arithmetic.prql.snap
  crates/prql-compiler/tests/integration/snapshots/integration__sql@pipelines.prql.snap
Due: none

test: Fix tests (#3482)
  .github/workflows/tests.yaml
  crates/prql-compiler/tests/integration/snapshots/integration__sql@arithmetic.prql.snap
  crates/prql-compiler/tests/integration/snapshots/integration__sql@pipelines.prql.snap
Due: none

build: Bump a couple dependencies (#3480)
  .github/workflows/test-rust.yaml
  Cargo.lock
  bindings/prql-python/Cargo.toml
  crates/prql-compiler/Cargo.toml
Due: none

build: More deps
  Cargo.lock
  bindings/prql-elixir/native/prql/Cargo.toml
  bindings/prql-js/Cargo.toml
  bindings/prql-python/Cargo.toml
  crates/prql-ast/Cargo.toml
  crates/prql-compiler-macros/Cargo.toml
  crates/prql-compiler/Cargo.toml
  crates/prql-parser/Cargo.toml
  crates/prqlc/Cargo.toml
  crates/tests_misc/Cargo.toml
  web/book/Cargo.toml
Due: none

build: More deps (#3486)
  .github/set_version.sh
  Cargo.lock
  bindings/prql-elixir/native/prql/Cargo.toml
  bindings/prql-js/Cargo.toml
  bindings/prql-python/Cargo.toml
  crates/prql-ast/Cargo.toml
  crates/prql-compiler-macros/Cargo.toml
  crates/prql-compiler/Cargo.toml
  crates/prql-parser/Cargo.toml
  crates/prqlc/Cargo.toml
  crates/prqlc/tests/snapshots/test__shell_completion-2.snap
  crates/prqlc/tests/snapshots/test__shell_completion-3.snap
  crates/prqlc/tests/snapshots/test__shell_completion.snap
  crates/tests_misc/Cargo.toml
  web/book/Cargo.toml
Due: none

devops: A pass of the Taskfile
  Taskfile.yml
Due: none

devops: A pass of the Taskfile (#3489)
  Taskfile.yml
Due: none

feat: Add line wrap characters to grammars
  grammars/prql-lezer/src/prql.grammar
Due: none

feat: Add line wrap characters to grammars (#3491)
  grammars/prql-lezer/src/prql.grammar
Due: none

docs(prqlc): minor update of sample commands
  crates/prqlc/README.md
Due: none

docs(prqlc): minor update of sample commands (#3492)
  crates/prqlc/README.md
Due: none

Add Ace JavaScript editor
  grammars/README.md
Due: none

fix: relation literal column quoting
  crates/prql-compiler/src/sql/gen_query.rs
  crates/prql-compiler/src/tests/test.rs
Due: no-dbg

fix: relation literal column quoting (#3494)
  crates/prql-compiler/src/sql/gen_query.rs
  crates/prql-compiler/src/tests/test.rs
Due: no-dbg

Update README.md
  grammars/README.md
Due: none

chore: Add changelog for line wrap
  CHANGELOG.md
Due: prql-codeblock

Update CHANGELOG.md
  CHANGELOG.md
Due: prql-codeblock

docs: Add Ace JavaScript editor (#3493)
  CHANGELOG.md
  grammars/README.md
Due: prql-codeblock

chore: Add changelog for line wrap (#3499)
  CHANGELOG.md
Due: prql-codeblock

docs: Add release notes for 0.9.5
  CHANGELOG.md
Due: prql-codeblock

Create ace-demo.html
  grammars/ace-demo.html
Due: none

Add r-string to prql.grammar
  grammars/prql-lezer/src/prql.grammar
Due: none

feat: Add r-string to prql.grammar (#3513)
  grammars/prql-lezer/src/prql.grammar
Due: none

Rename grammars/ace-demo.html to web/website/content/ace-demo.html
  web/website/content/ace-demo.html
Due: none

Rename web/website/content/ace-demo.html to web/website/content/demos/ace-demo.html
  web/website/content/demos/ace-demo.html
Due: none

docs: Create ace-demo.html (#3512)
  grammars/README.md
  web/website/content/demos/ace-demo.html
Due: none

Support Unicode in identifiers
  grammars/prql-lezer/src/prql.grammar
Due: none

Revert "chore: bump codecov/codecov-action from 3 to 4 (#3511)"
  .github/workflows/tests.yaml
Due: none

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
