Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html)'
      - id: check-yaml
      - id: mixed-line-ending
  - repo: https://github.com/crate-ci/typos
    rev: v1.14.8
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          - prettier-plugin-go-template
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.262
    hooks:
      - id: ruff
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
      - id: clippy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.2.0
    hooks:
      - id: mypy
        additional_dependencies: ["types-PyYAML==6.0.12.4"]
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.11.1
    hooks:
      - id: markdown-link-check
        files: \.md$
        args: ["--config=.github/.markdown-link-check.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        # A regex searching sql files for either `prj-` or 'tgs-'.
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote
ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, clippy, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

test(book): update snapshot
  web/book/tests/snapshots/snapshot__language-features__distinct__distinct-on__0.snap
Due: none

TableDecl.column RelationColumn -> TupleField
  prql-compiler/src/ast/pl/types.rs
  prql-compiler/src/semantic/context.rs
  prql-compiler/src/semantic/lowering.rs
  prql-compiler/src/semantic/module.rs
  prql-compiler/src/semantic/reporting.rs
  prql-compiler/src/semantic/resolver.rs
  prql-compiler/src/semantic/transforms.rs
Due: no-dbg

TableDecl columns -> ty
  prql-compiler/src/ast/pl/types.rs
  prql-compiler/src/semantic/context.rs
  prql-compiler/src/semantic/lowering.rs
  prql-compiler/src/semantic/module.rs
  prql-compiler/src/semantic/reporting.rs
  prql-compiler/src/semantic/transforms.rs
Due: no-dbg

refactor
  prql-compiler/src/ast/rq/mod.rs
  prql-compiler/src/semantic/context.rs
  prql-compiler/src/semantic/module.rs
  prql-compiler/src/semantic/resolver.rs
Due: no-dbg

typecheck operators
  prql-compiler/src/ast/pl/types.rs
  prql-compiler/src/semantic/resolver.rs
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-2.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-3.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__frames_and_names.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__functions_1.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__functions_nested.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline-2.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__named_args.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__variables_1.snap
  prql-compiler/src/semantic/std.prql
  prql-compiler/src/semantic/transforms.rs
  prql-compiler/src/tests/test_error_messages.rs
Due: no-dbg

types types types
  prql-compiler/src/ast/pl/types.rs
  prql-compiler/src/codegen.rs
  prql-compiler/src/parser/mod.rs
  prql-compiler/src/semantic/resolver.rs
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-3.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__frames_and_names.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__functions_1.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__functions_nested.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline-2.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__named_args.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__variables_1.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__transforms__tests__aggregate_positional_arg-2.snap
  prql-compiler/src/semantic/static_analysis.rs
  prql-compiler/src/semantic/std.prql
  prql-compiler/src/semantic/transforms.rs
  prql-compiler/src/semantic/type_resolver.rs
  prql-compiler/src/sql/gen_query.rs
  prql-compiler/src/tests/test.rs
  prql-compiler/src/tests/test_bad_error_messages.rs
  prql-compiler/src/tests/test_error_messages.rs
Due: no-dbg

renaming relations
  prql-compiler/src/ast/pl/types.rs
  prql-compiler/src/semantic/resolver.rs
  prql-compiler/src/semantic/type_resolver.rs
Due: no-dbg

refactor: BinOp, UnOp -> RqOperator
  prql-compiler/src/semantic/lowering.rs
  prql-compiler/src/semantic/resolver.rs
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-2.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-3.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__frames_and_names.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__functions_1.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__functions_nested.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline-2.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__named_args.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__variables_1.snap
  prql-compiler/src/semantic/static_analysis.rs
  prql-compiler/src/semantic/std.prql
  prql-compiler/src/semantic/transforms.rs
  prql-compiler/src/semantic/type_resolver.rs
  prql-compiler/src/tests/test.rs
Due: no-dbg

refactor: resolver
  prql-compiler/src/semantic/context.rs
  prql-compiler/src/semantic/mod.rs
  prql-compiler/src/semantic/resolver.rs
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-2.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-3.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__frames_and_names.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__functions_1.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__functions_nested.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline-2.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__named_args.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__variables_1.snap
  prql-compiler/src/semantic/transforms.rs
  prql-compiler/src/semantic/type_resolver.rs
Due: no-dbg

tests, fmt and clippy
  prql-compiler/examples/compile-files/queries/variables.prql
  prql-compiler/prqlc/src/cli.rs
  prql-compiler/prqlc/tests/test.rs
  prql-compiler/src/parser/snapshots/prql_compiler__parser__test__pipeline_parse_tree.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__functions_1.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__functions_nested.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline-2.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__named_args.snap
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__variables_1.snap
  prql-compiler/src/semantic/std.prql
  prql-compiler/src/tests/test_error_messages.rs
  prql-compiler/tests/integration/queries/genre_counts.prql
  prql-compiler/tests/integration/queries/invoice_totals.prql
  prql-compiler/tests/integration/snapshots/integration__fmt@genre_counts.prql.snap
  prql-compiler/tests/integration/snapshots/integration__fmt@invoice_totals.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@genre_counts.prql.snap
  web/book/src/examples/variables.md
  web/book/src/syntax/inner-transforms.md
  web/book/src/transforms/aggregate.md
  web/book/src/transforms/group.md
  web/book/src/transforms/window.md
  web/book/tests/snapshots/snapshot__syntax__inner-transforms__0.snap
  web/book/tests/snapshots/snapshot__transforms__aggregate__examples__0.snap
  web/book/tests/snapshots/snapshot__transforms__aggregate__examples__1.snap
  web/book/tests/snapshots/snapshot__transforms__group__0.snap
Due: no-dbg

Update web/book/src/transforms/window.md
  web/book/src/transforms/window.md
Due: none

feat: support `distinct on` for `sql.postgres` target (#2708)
  prql-compiler/src/sql/dialect.rs
  prql-compiler/src/tests/test.rs
  web/book/src/language-features/distinct.md
  web/book/tests/snapshots/snapshot__language-features__distinct__distinct-on__0.snap
Due: no-dbg

feat: interpolation formatting
  prql-compiler/src/ast/pl/expr.rs
  prql-compiler/src/ast/pl/fold.rs
  prql-compiler/src/ast/rq/fold.rs
  prql-compiler/src/codegen.rs
  prql-compiler/src/parser/interpolation.rs
  prql-compiler/src/parser/mod.rs
  prql-compiler/src/semantic/lowering.rs
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__functions_nested.snap
  prql-compiler/src/sql/gen_expr.rs
  prql-compiler/src/sql/operators.rs
Due: no-dbg

docs, test & clippy
  prql-compiler/prqlc/src/cli.rs
  prql-compiler/src/ast/pl/expr.rs
  prql-compiler/src/sql/gen_expr.rs
  prql-compiler/src/sql/std.sql.prql
  web/book/tests/snapshots/snapshot__language-features__regex__regex-expressions__3.snap
  web/book/tests/snapshots/snapshot__language-features__regex__regex-expressions__4.snap
  web/book/tests/snapshots/snapshot__language-features__regex__regex-expressions__5.snap
  web/book/tests/snapshots/snapshot__queries__functions__0.snap
  web/book/tests/snapshots/snapshot__queries__functions__1.snap
  web/book/tests/snapshots/snapshot__queries__functions__piping__0.snap
  web/book/tests/snapshots/snapshot__queries__functions__piping__1.snap
  web/book/tests/snapshots/snapshot__queries__functions__piping__2.snap
  web/website/content/_index.md
Due: no-dbg

feat: parse annotations
  prql-compiler/src/ast/pl/stmt.rs
  prql-compiler/src/parser/lexer.rs
  prql-compiler/src/parser/mod.rs
  prql-compiler/src/parser/stmt.rs
Due: no-dbg

sql impl binding strength
  prql-compiler/src/parser/mod.rs
  prql-compiler/src/parser/snapshots/prql_compiler__parser__test__pipeline_parse_tree.snap
  prql-compiler/src/parser/stmt.rs
  prql-compiler/src/semantic/context.rs
  prql-compiler/src/semantic/module.rs
  prql-compiler/src/semantic/resolver.rs
  prql-compiler/src/sql/gen_expr.rs
  prql-compiler/src/sql/gen_projection.rs
  prql-compiler/src/sql/gen_query.rs
  prql-compiler/src/sql/operators.rs
  prql-compiler/src/sql/std.sql.prql
  prql-compiler/src/tests/test.rs
Due: no-dbg

change syntax of annotations
  prql-compiler/src/parser/lexer.rs
  prql-compiler/src/parser/stmt.rs
  prql-compiler/src/sql/std.sql.prql
Due: no-dbg

fmt
  prql-compiler/src/sql/gen_expr.rs
Due: no-dbg

feat: s-string format, annotations and SQL binding strength (#2709)
  prql-compiler/prqlc/src/cli.rs
  prql-compiler/src/ast/pl/expr.rs
  prql-compiler/src/ast/pl/fold.rs
  prql-compiler/src/ast/pl/stmt.rs
  prql-compiler/src/ast/rq/fold.rs
  prql-compiler/src/codegen.rs
  prql-compiler/src/parser/interpolation.rs
  prql-compiler/src/parser/lexer.rs
  prql-compiler/src/parser/mod.rs
  prql-compiler/src/parser/snapshots/prql_compiler__parser__test__pipeline_parse_tree.snap
  prql-compiler/src/parser/stmt.rs
  prql-compiler/src/semantic/context.rs
  prql-compiler/src/semantic/lowering.rs
  prql-compiler/src/semantic/module.rs
  prql-compiler/src/semantic/resolver.rs
  prql-compiler/src/semantic/snapshots/prql_compiler__semantic__resolver__test__functions_nested.snap
  prql-compiler/src/sql/gen_expr.rs
  prql-compiler/src/sql/gen_projection.rs
  prql-compiler/src/sql/gen_query.rs
  prql-compiler/src/sql/operators.rs
  prql-compiler/src/sql/std.sql.prql
  prql-compiler/src/tests/test.rs
  web/book/tests/snapshots/snapshot__language-features__regex__regex-expressions__3.snap
  web/book/tests/snapshots/snapshot__language-features__regex__regex-expressions__4.snap
  web/book/tests/snapshots/snapshot__language-features__regex__regex-expressions__5.snap
  web/book/tests/snapshots/snapshot__queries__functions__0.snap
  web/book/tests/snapshots/snapshot__queries__functions__1.snap
  web/book/tests/snapshots/snapshot__queries__functions__piping__0.snap
  web/book/tests/snapshots/snapshot__queries__functions__piping__1.snap
  web/book/tests/snapshots/snapshot__queries__functions__piping__2.snap
  web/website/content/_index.md
Due: no-dbg

test: add a test for website hero example
  prql-compiler/tests/docs/main.rs
Due: no-dbg

test(docs): add test for examples in README
  prql-compiler/tests/docs/main.rs
Due: no-dbg

test: ensure match code blocks in README
  prql-compiler/tests/docs/main.rs
Due: no-dbg

test: rename
  prql-compiler/tests/docs/main.rs
Due: no-dbg

docs: Add some items for Changelog
  CHANGELOG.md
Due: prql-codeblock

docs: Add some items for Changelog (#2712)
  CHANGELOG.md
Due: prql-codeblock

fix: Try removing `compile-files` for SO
  Cargo.lock
  Cargo.toml
Due: none

.
  Cargo.toml
Due: none

fix: Try removing `compile-files` for SO (#2713)
  Cargo.lock
  Cargo.toml
Due: none

Update prql-compiler/tests/docs/main.rs
  prql-compiler/tests/docs/main.rs
Due: no-dbg

test: Disable Elixir tests in Cargo
  bindings/prql-elixir/native/prql/Cargo.toml
Due: none

test: Disable Elixir tests in Cargo (#2714)
  bindings/prql-elixir/native/prql/Cargo.toml
Due: none

fix: `DISTINCT ON` includes `ORDER BY`
  prql-compiler/src/sql/srq/preprocess.rs
  prql-compiler/src/tests/test.rs
  web/book/tests/snapshots/snapshot__language-features__distinct__distinct-on__0.snap
Due: no-dbg

fix: `DISTINCT ON` includes `ORDER BY` (#2715)
  prql-compiler/src/sql/srq/preprocess.rs
  prql-compiler/src/tests/test.rs
  web/book/tests/snapshots/snapshot__language-features__distinct__distinct-on__0.snap
Due: no-dbg

test: Add some precedence tests
  prql-compiler/src/parser/mod.rs
  prql-compiler/src/tests/test.rs
Due: no-dbg

fix: temporally workaround for fix error of the doc test
  README.md
  web/website/content/_index.md
Due: none

test(docs): add tests for examples in website hero and repo README (#2710)
  README.md
  prql-compiler/tests/docs/main.rs
  prql-compiler/tests/website/main.rs
  web/website/content/_index.md
Due: no-dbg

dev: ensure using lf for text files
  .gitattributes
Due: none

devops: ensure using LF linefeed for text files (#2718)
  .gitattributes
Due: none
