Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

fix(docs): fix link in crates/README.md
  crates/README.md
Due: none

refactor: move transforms & type_resolver under resolver module
  crates/prql_compiler/src/semantic/mod.rs
  crates/prql_compiler/src/semantic/resolver/mod.rs
  crates/prql_compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-2.snap
  crates/prql_compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-3.snap
  crates/prql_compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names.snap
  crates/prql_compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__functions_1.snap
  crates/prql_compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__functions_nested.snap
  crates/prql_compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline-2.snap
  crates/prql_compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline.snap
  crates/prql_compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__named_args.snap
  crates/prql_compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__variables_1.snap
  crates/prql_compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  crates/prql_compiler/src/semantic/resolver/transforms.rs
  crates/prql_compiler/src/semantic/resolver/type_resolver.rs
Due: no-dbg

refactor!: drop Expr::null method
  crates/prql_compiler/src/ast/pl/extra/expr.rs
  crates/prql_compiler/src/semantic/eval/mod.rs
  crates/prql_compiler/src/semantic/resolver/mod.rs
Due: no-dbg

refactor!: move & privatize pl::Expr::try_cast
  crates/prql_compiler/src/ast/pl/extra/expr.rs
  crates/prql_compiler/src/semantic/mod.rs
Due: no-dbg

chore: remove unused ExactlyOneNode trait
  crates/prql_compiler/src/utils/mod.rs
  crates/prql_compiler/src/utils/only.rs
Due: no-dbg

refactor: move Context methods only used by resolver into resolver module
  crates/prql_compiler/src/semantic/context.rs
  crates/prql_compiler/src/semantic/resolver/context_impl.rs
  crates/prql_compiler/src/semantic/resolver/mod.rs
Due: no-dbg

refactor: move Resolver methods to resolver module
  crates/prql_compiler/src/semantic/context.rs
  crates/prql_compiler/src/semantic/resolver/mod.rs
Due: no-dbg

fix(docs): fix two links broken by crate move
  README.md
  crates/prql_compiler/src/lib.rs
Due: no-dbg

fix(book): fix broken link in Elixir page
  bindings/prql-elixir/README.md
Due: none

fix(book): add bindings/php.md to SUMMARY.md
  web/book/src/SUMMARY.md
Due: none

fix(book): work around mdbook not rewriting README.md to index.html
  web/book/src/compiler/README.md
Due: none

ci: rename check-links job to check-links-markdown
  .github/workflows/nightly.yaml
  .github/workflows/pull-request.yaml
Due: none

ci: check internal links in mdbook after build
  .github/workflows/check-links-book.yaml
Due: none

refactor: make Main a StmtKind in prql_ast
  crates/prql_ast/src/stmt.rs
  crates/prql_compiler/src/ast/pl/from_ast.rs
  crates/prql_compiler/src/ast/pl/stmt.rs
  crates/prql_parser/src/lib.rs
  crates/prql_parser/src/snapshots/prql_parser__test__pipeline_parse_tree.snap
  crates/prql_parser/src/stmt.rs
  crates/tests_misc/tests/ast_code_matches.rs
Due: no-dbg

doc: Fix warnings on `cargo doc`
  crates/prql_compiler/src/ast/pl/mod.rs
  crates/prql_compiler/src/sql/srq/mod.rs
Due: no-dbg

doc: Fix warnings on `cargo doc` (#3020)
  crates/prql_compiler/src/ast/pl/mod.rs
  crates/prql_compiler/src/sql/srq/mod.rs
Due: no-dbg

Revert "devops: Bump patch dependencies monthly (#3003)"
  .github/dependabot.yml
Due: none

refactor!: remove Serialize & Deserialize impls for Context
  crates/prql_compiler/src/semantic/context.rs
Due: no-dbg

refactor: make Resolver borrow ResolverOptions
  crates/prql_compiler/src/semantic/mod.rs
  crates/prql_compiler/src/semantic/resolver/mod.rs
Due: no-dbg

refactor: make Resolver take &mut Context
  crates/prql_compiler/src/semantic/mod.rs
  crates/prql_compiler/src/semantic/resolver/mod.rs
  crates/prql_compiler/src/semantic/resolver/type_resolver.rs
Due: no-dbg

refactor: privatize Resolver struct
  crates/prql_compiler/src/semantic/mod.rs
  crates/prql_compiler/src/semantic/resolver/mod.rs
  crates/prql_compiler/src/semantic/resolver/transforms.rs
  crates/prql_compiler/src/semantic/resolver/type_resolver.rs
Due: no-dbg

refactor: move IdGenerator from Resolver to Context
  crates/prql_compiler/src/semantic/context.rs
  crates/prql_compiler/src/semantic/resolver/mod.rs
  crates/prql_compiler/src/semantic/resolver/transforms.rs
Due: no-dbg

refactor: only pass args to unpack in transforms
  crates/prql_compiler/src/semantic/resolver/transforms.rs
Due: no-dbg

refactor: avoid .unwrap() by narrowing param types
  crates/prql_compiler/src/semantic/resolver/mod.rs
  crates/prql_compiler/src/semantic/resolver/transforms.rs
Due: no-dbg

tweak: Changelog refinements
  CHANGELOG.md
Due: prql-codeblock

tweak: Changelog refinements (#3027)
  CHANGELOG.md
Due: prql-codeblock

refactor: move Flattener out of transform module
  crates/prql_compiler/src/semantic/resolver/flatten.rs
  crates/prql_compiler/src/semantic/resolver/mod.rs
  crates/prql_compiler/src/semantic/resolver/transforms.rs
Due: no-dbg

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
