Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, prql-codeblock

lychee:
  name: lychee (local links only)
  entry: lychee
  language: rust
  additional_dependencies:
  - cli:lychee:0.20.1
  args:
  - --no-progress
  - --include=^(https://(github\.com/(PRQL|prql)|prql-lang\.org|raw\.githubusercontent\.com/(PRQL|prql))|file://)

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

fix: extend a re-opened `module` instead of discarding the earlier block
  prqlc/prqlc/src/semantic/resolver/stmt.rs
  prqlc/prqlc/tests/integration/error_messages.rs
Due: no-dbg

fix: highlight `type`, `enum`, `func`, `import` and `internal` keywords
  web/book/highlight-prql.js
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: none

fix: add changelog entry, fold the non-module arm into `declare`
  CHANGELOG.md
  prqlc/prqlc/src/semantic/resolver/stmt.rs
Due: lychee, no-dbg, prql-codeblock

fix: highlight `type`, `enum`, `func`, `import` and `internal` keywords (#6207)
  web/book/highlight-prql.js
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: none

chore: add frontmatter to the running-tend skill
  .claude/skills/running-tend/SKILL.md
Due: lychee

chore: surface the standing exception for filing issues in other repos
  .claude/skills/running-tend/SKILL.md
Due: lychee

chore: add frontmatter to the running-tend skill (#6208)
  .claude/skills/running-tend/SKILL.md
Due: lychee

fix: bind an r-string's closing quote to its opening quote
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/lexer/test.rs
  web/book/src/reference/syntax/r-strings.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__r-strings__1.snap
Due: lychee, no-dbg

docs: highlight all lexer keywords in the playground and in-repo grammars
  grammars/CotEditor/PRQL.yaml
  grammars/GtkSourceView/prql.lang
  grammars/KSyntaxHighlighting/prql.xml
  web/playground/src/workbench/prql-syntax.js
Due: none

docs: highlight `prql` in the KSyntaxHighlighting grammar
  grammars/KSyntaxHighlighting/prql.xml
Due: none

docs: style GtkSourceView keywords with `keyword`, bump KSyntax version
  grammars/GtkSourceView/prql.lang
  grammars/KSyntaxHighlighting/prql.xml
Due: none

ci: bound apt-get so a stalled mirror can't burn a 6h job
  .github/actions/build-prqlc-c/action.yaml
  .github/actions/build-prqlc/action.yaml
  .github/workflows/scripts/apt_install.sh
  .github/workflows/test-rust.yaml
  .github/workflows/tests.yaml
Due: none

ci: give apt-get 5 minutes per attempt, not 2
  .github/workflows/scripts/apt_install.sh
Due: none

ci: make the apt-get timeout a hard bound with --kill-after
  .github/workflows/scripts/apt_install.sh
Due: none

ci: treat a failed apt-get update as a warning, not a build failure
  .github/workflows/scripts/apt_install.sh
Due: none

ci: annotate a failed apt-get install, and correct the header comment
  .github/workflows/scripts/apt_install.sh
Due: none

ci: cap release.yaml's build jobs too
  .github/workflows/release.yaml
Due: none

chore: note parked issues in the running-tend skill
  .claude/skills/running-tend/SKILL.md
Due: lychee

docs: search prior PRs by symbol, and read issue comment bodies
  .claude/skills/running-tend/SKILL.md
Due: lychee

docs: read a closed PR's own comments, and retire parked entries
  .claude/skills/running-tend/SKILL.md
Due: lychee

docs: highlight all lexer keywords in the playground and in-repo grammars (#6210)
  grammars/CotEditor/PRQL.yaml
  grammars/GtkSourceView/prql.lang
  grammars/KSyntaxHighlighting/prql.xml
  web/playground/src/workbench/prql-syntax.js
Due: none

fix: bind an r-string's closing quote to its opening quote (#6209)
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/lexer/test.rs
  web/book/src/reference/syntax/r-strings.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__r-strings__1.snap
Due: lychee, no-dbg

fix: quote names in `fmt` when they need backticks (#6200)
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/codegen/types.rs
Due: no-dbg

chore: raise the bar for CI-runner-time-only changes
  .claude/skills/running-tend/SKILL.md
Due: lychee

fix: quote all lexer keywords in `fmt`
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc/src/codegen/ast.rs
  web/book/src/reference/syntax/keywords.md
Due: lychee, no-dbg

fix: quote reserved literals and expression-position idents in `fmt`
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/lexer/test.rs
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__distinct.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__set_ops_remove.snap
Due: no-dbg

docs: avoid private intra-doc links in `RESERVED_LITERALS`
  prqlc/prqlc-parser/src/lexer/mod.rs
Due: no-dbg

ci: bound tend job runtime with `timeout-minutes`
  .config/tend.yaml
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

ci: cap `relay` and `verify` in tend-mention too
  .config/tend.yaml
  .github/workflows/tend-mention.yaml
Due: none

fix: quote reserved words in `fmt` (#6214)
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/lexer/test.rs
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__distinct.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__set_ops_remove.snap
  web/book/src/reference/syntax/keywords.md
Due: lychee, no-dbg

ci: bound tend job runtime with `timeout-minutes` (#6215)
  .config/tend.yaml
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

Revert "ci: bound tend job runtime with `timeout-minutes` (#6215)"
  .config/tend.yaml
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

Revert "ci: bound tend job runtime with `timeout-minutes`" (#6216)
  .config/tend.yaml
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

ci: dump database container logs when the DB wait times out
  .github/workflows/test-rust.yaml
Due: none

ci: also dump free disk space when the DB wait times out
  .github/workflows/test-rust.yaml
Due: none

fix: preserve the `:format` suffix on interpolations in `fmt`
  prqlc/prqlc/src/codegen/ast.rs
Due: no-dbg

fix: escape quotes and backslashes when writing a `:format` suffix
  prqlc/prqlc/src/codegen/ast.rs
Due: no-dbg

fix: drop redundant borrows flagged by clippy 1.97
  prqlc/prqlc/src/error_message.rs
  prqlc/prqlc/src/semantic/resolver/names.rs
  prqlc/prqlc/src/sql/pq/postprocess.rs
Due: no-dbg

fix: drop redundant borrow in dbs test runner flagged by clippy 1.97
  prqlc/prqlc/tests/integration/dbs/runner.rs
Due: no-dbg

docs: note the feature set to verify a toolchain bump against
  .claude/skills/running-tend/SKILL.md
Due: lychee

Path conditions:
  lychee: any of: \.(md|rst)$, but not: ^web/website/themes/
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
