Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.rs$'
  - repo: https://github.com/crate-ci/typos
    rev: v1.16.1
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    # Upgrading to the bare `v3.0.0` seems to break the plugin; contributions welcome to fix.
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.278
    hooks:
      - id: ruff
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
      - id: clippy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
      - id: mypy
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.11.2
    hooks:
      - id: markdown-link-check
        name: markdown-link-check-local
        files: \.md$
        args: ["--config=.config/.markdown-link-check-local.json"]
        # To run across everything (see nightly.yaml for more details)
      - id: markdown-link-check
        name: markdown-link-check-all
        stages: [manual]
        files: \.md$
        args: ["--config=.config/.markdown-link-check-all.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote
ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, clippy, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

cleanup: types resolver
  prqlc/prql-compiler/src/semantic/resolver/types.rs
Due: no-dbg

cleanup: too_many_arguments
  prqlc/prql-compiler/src/semantic/resolver/types.rs
Due: no-dbg

test: a few more tests for std.in
  prqlc/prql-compiler/src/semantic/resolver/transforms.rs
  prqlc/prql-compiler/tests/integration/sql.rs
Due: no-dbg

refactor: cleanup unused code (#3990)
  prqlc/prql-compiler/src/semantic/resolver/types.rs
Due: no-dbg

a test that fails
  prqlc/prql-compiler/tests/integration/sql.rs
Due: no-dbg

reorder two tests
  prqlc/prql-compiler/tests/integration/sql.rs
Due: no-dbg

test: a few more tests for std.in (#3991)
  prqlc/prql-compiler/src/semantic/resolver/transforms.rs
  prqlc/prql-compiler/tests/integration/sql.rs
Due: no-dbg

feat: type difference
  prqlc/prql-compiler/src/codegen/types.rs
  prqlc/prql-compiler/src/ir/pl/fold.rs
  prqlc/prql-compiler/src/semantic/resolver/types.rs
  prqlc/prqlc-ast/src/types.rs
  web/book/src/reference/spec/type-system.md
Due: no-dbg

fix
  web/book/src/reference/spec/type-system.md
Due: none

fix: take n rows for MSSQL
  prqlc/prql-compiler/src/sql/dialect.rs
  prqlc/prql-compiler/src/sql/gen_expr.rs
  prqlc/prql-compiler/src/sql/gen_query.rs
  prqlc/prql-compiler/tests/integration/queries/take.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__take.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__date_to_text.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__take.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__date_to_text.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__take.snap
  prqlc/prql-compiler/tests/integration/sql.rs
  web/book/tests/documentation/snapshots/documentation__book__project__target__examples__1.snap
  web/website/data/examples/dialects.yaml
Due: no-dbg

docs: changelog
  CHANGELOG.md
Due: prql-codeblock

test: remove extra integration test
  prqlc/prql-compiler/tests/integration/queries/group_sort_limit_take.prql
  prqlc/prql-compiler/tests/integration/queries/group_sort_limit_take_1.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__group_sort_limit_take.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__group_sort_limit_take_1.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__group_sort_limit_take.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__group_sort_limit_take_1.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__group_sort_limit_take.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__group_sort_limit_take_1.snap
Due: none

fix: use distinct on only with take 1
  prqlc/prql-compiler/src/sql/srq/preprocess.rs
Due: no-dbg

fix: support group with take more than 1 (#3988)
  CHANGELOG.md
  prqlc/prql-compiler/src/sql/srq/preprocess.rs
  prqlc/prql-compiler/tests/integration/queries/group_sort_limit_take.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__group_sort_limit_take.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__group_sort_limit_take.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__group_sort_limit_take.snap
  prqlc/prql-compiler/tests/integration/sql.rs
Due: no-dbg, prql-codeblock

fix: ensure offset and order by exist is fetch is defined
  prqlc/prql-compiler/src/sql/gen_query.rs
  prqlc/prql-compiler/tests/integration/sql.rs
Due: no-dbg

test: update snapshots
  prqlc/prql-compiler/tests/integration/sql.rs
  web/book/tests/documentation/snapshots/documentation__book__project__target__examples__1.snap
  web/website/data/examples/dialects.yaml
Due: no-dbg

chore: oops
  prqlc/prql-compiler/src/sql/gen_query.rs
Due: no-dbg

fix: take n rows for MSSQL (#3994)
  CHANGELOG.md
  prqlc/prql-compiler/src/sql/dialect.rs
  prqlc/prql-compiler/src/sql/gen_expr.rs
  prqlc/prql-compiler/src/sql/gen_query.rs
  prqlc/prql-compiler/tests/integration/queries/take.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__take.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__date_to_text.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__take.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__date_to_text.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__take.snap
  prqlc/prql-compiler/tests/integration/sql.rs
  web/book/tests/documentation/snapshots/documentation__book__project__target__examples__1.snap
  web/website/data/examples/dialects.yaml
Due: no-dbg, prql-codeblock

fix: js test
  prqlc/bindings/js/tests/test_all.js
Due: none

fix: python test
  prqlc/bindings/python/python/tests/test_all.py
Due: none

fix: php test
  prqlc/bindings/php/tests/CompilerTest.php
Due: none

fix: elixir test
  prqlc/bindings/elixir/README.md
  prqlc/bindings/elixir/lib/prql.ex
Due: none

fix: lint
  prqlc/bindings/php/tests/CompilerTest.php
Due: none

test(bindings): fix after merge of #3994 (updates for the sql.mssql target) (#3995)
  prqlc/bindings/elixir/README.md
  prqlc/bindings/elixir/lib/prql.ex
  prqlc/bindings/js/tests/test_all.js
  prqlc/bindings/php/tests/CompilerTest.php
  prqlc/bindings/python/python/tests/test_all.py
Due: none

Apply suggestions from code review
  web/book/src/reference/spec/type-system.md
Due: none

feat: type difference (#3993)
  prqlc/prql-compiler/src/codegen/types.rs
  prqlc/prql-compiler/src/ir/pl/fold.rs
  prqlc/prql-compiler/src/semantic/resolver/types.rs
  prqlc/prqlc-ast/src/types.rs
  web/book/src/reference/spec/type-system.md
Due: no-dbg

refactor: cleanup a few functions
  prqlc/prql-compiler/src/semantic/lowering.rs
  prqlc/prql-compiler/src/semantic/resolver/functions.rs
  prqlc/prql-compiler/src/semantic/resolver/transforms.rs
  prqlc/prql-compiler/src/semantic/resolver/types.rs
  prqlc/prqlc-ast/src/types.rs
Due: no-dbg

refactor: cleanup a few functions
  prqlc/prql-compiler/src/semantic/resolver/types.rs
Due: no-dbg

refactor: cleanup a few functions (#3998)
  prqlc/prql-compiler/src/semantic/lowering.rs
  prqlc/prql-compiler/src/semantic/resolver/functions.rs
  prqlc/prql-compiler/src/semantic/resolver/transforms.rs
  prqlc/prql-compiler/src/semantic/resolver/types.rs
  prqlc/prqlc-ast/src/types.rs
Due: no-dbg

feat: unioning of tuples and arrays (#3999)
  prqlc/prql-compiler/src/semantic/resolver/types.rs
Due: no-dbg

feat: infer array to be of type of intersection of items
  prqlc/prql-compiler/src/semantic/resolver/expr.rs
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline-2.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prql-compiler/src/semantic/resolver/types.rs
  prqlc/prql-compiler/src/semantic/std.prql
  prqlc/prql-compiler/tests/integration/sql.rs
  prqlc/prqlc-ast/src/types.rs
Due: no-dbg

replace intersection with union
  prqlc/prql-compiler/src/semantic/resolver/types.rs
Due: no-dbg

changelog
  CHANGELOG.md
Due: prql-codeblock

feat: infer array to be of type of union of items (#3989)
  CHANGELOG.md
  prqlc/prql-compiler/src/semantic/resolver/expr.rs
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline-2.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prql-compiler/src/semantic/resolver/types.rs
  prqlc/prql-compiler/src/semantic/std.prql
  prqlc/prql-compiler/tests/integration/sql.rs
  prqlc/prqlc-ast/src/types.rs
Due: no-dbg, prql-codeblock

Revert "chore: bump anstream from 0.3.2 to 0.6.4 (#3596)"
  Cargo.lock
  prqlc/prql-compiler/Cargo.toml
  prqlc/prqlc/Cargo.toml
  web/book/Cargo.toml
Due: none

Revert "chore: bump prql-compiler's MSRV to 1.70.0 (#3876)"
  Cargo.toml
  prqlc/prql-compiler/Cargo.toml
  prqlc/prqlc/Cargo.toml
Due: none

fix: fix Cargo.lock file
  Cargo.lock
Due: none

docs: Changelog for 0.11.1
  CHANGELOG.md
Due: prql-codeblock

devops: Format C files
  .pre-commit-config.yaml
  prqlc/bindings/clib/examples/minimal-cpp/main.cpp
  prqlc/bindings/clib/libprqlc_lib.h
  prqlc/bindings/clib/libprqlc_lib.hpp
Due: none

devops: Format C files (#4003)
  .pre-commit-config.yaml
  prqlc/bindings/clib/examples/minimal-cpp/main.cpp
  prqlc/bindings/clib/libprqlc_lib.h
  prqlc/bindings/clib/libprqlc_lib.hpp
Due: none
