Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

build: Bump `insta-cmd` to 0.6.0 (#4449)
  Cargo.lock
  Cargo.toml
Due: none

build: Patch breaking change in ariadne 0.4.1
  Cargo.lock
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/mod.rs
Due: no-dbg

build: Remove pin on minijinja (#4450)
  prqlc/prqlc/Cargo.toml
Due: none

build: Patch breaking change in ariadne 0.4.1 (#4451)
  Cargo.lock
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/mod.rs
Due: no-dbg

build: Bump duckdb to 0.10.2
  Cargo.lock
  prqlc/prqlc/Cargo.toml
Due: none

build: Bump duckdb to 0.10.2 (#4454)
  Cargo.lock
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/tests/integration/dbs/protocol/duckdb.rs
Due: no-dbg

ci: Try reenabling `prettier`
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  CHANGELOG.md
  web/prql-codemirror-demo/tsconfig.json
Due: prql-codeblock

ci: Try reenabling `prettier` (#4460)
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  CHANGELOG.md
  web/prql-codemirror-demo/tsconfig.json
Due: prql-codeblock

chore: Move some entries from `.prettyignore` to `.gitignore`
  .gitignore
  .prettierignore
Due: none

chore: Move some entries from `.prettyignore` to `.gitignore` (#4461)
  .gitignore
  .prettierignore
Due: none

refactor: cleanup union parsing
  prqlc/prqlc-parser/src/lexer.rs
  prqlc/prqlc-parser/src/types.rs
Due: no-dbg

devops: Unpin `cargo binstall`
  Taskfile.yml
Due: none

fix
  prqlc/prqlc/tests/integration/resolving.rs
Due: no-dbg

devops: Fix python taskfile, connect to main
  .gitignore
  Taskfile.yml
  prqlc/bindings/prqlc-python/Taskfile.yaml
  prqlc/bindings/prqlc-python/pyproject.toml
Due: none

devops: Fix python taskfile, connect to main (#4464)
  .gitignore
  Taskfile.yml
  prqlc/bindings/prqlc-python/Taskfile.yaml
  prqlc/bindings/prqlc-python/noxfile.py
  prqlc/bindings/prqlc-python/pyproject.toml
Due: none

devops: Unpin `cargo binstall` (#4465)
  Taskfile.yml
Due: none

refactor: cleanup union parsing (#4462)
  prqlc/prqlc-parser/src/lexer.rs
  prqlc/prqlc-parser/src/types.rs
  prqlc/prqlc/tests/integration/resolving.rs
Due: no-dbg

tweak(devops): Less verbose rsync output
  web/Taskfile.yaml
Due: none

tweak(devops): Less verbose rsync output (#4466)
  web/Taskfile.yaml
Due: none

feat: resolve functions without inlining
  prqlc/prqlc-ast/src/expr.rs
  prqlc/prqlc-ast/src/types.rs
  prqlc/prqlc-parser/src/expr.rs
  prqlc/prqlc-parser/src/types.rs
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/ir/pl/expr.rs
  prqlc/prqlc/src/ir/pl/extra.rs
  prqlc/prqlc/src/ir/pl/fold.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/lowering/inline.rs
  prqlc/prqlc/src/semantic/lowering/special_functions.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/inference.rs
  prqlc/prqlc/src/semantic/resolver/stmt.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/src/semantic/std.prql
  prqlc/prqlc/tests/integration/resolving.rs
Due: no-dbg

feat: Add `prqlc lex` command to the CLI
  CHANGELOG.md
  prqlc/prqlc-parser/src/lib.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/error_message.rs
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/tests/integration/cli.rs
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion-2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion-3.snap
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion-4.snap
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion.snap
Due: no-dbg, prql-codeblock

feat: Add `prqlc lex` command to the CLI (#4467)
  CHANGELOG.md
  prqlc/prqlc-parser/src/lib.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/error_message.rs
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/tests/integration/cli.rs
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion-2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion-3.snap
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion-4.snap
  prqlc/prqlc/tests/integration/snapshots/integration__cli__shell_completion.snap
Due: no-dbg, prql-codeblock

.
  prqlc/prqlc-ast/src/span.rs
  prqlc/prqlc-parser/src/lib.rs
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/lib.rs
Due: no-dbg

.
  prqlc/prqlc/src/codegen/ast.rs
Due: no-dbg

ignore failed tests
  prqlc/Taskfile.yaml
  prqlc/prqlc/src/semantic/lowering/inline.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

feat!: forbid functions without paramaters
  prqlc/Taskfile.yaml
  prqlc/prqlc-parser/src/expr.rs
  prqlc/prqlc/src/semantic/lowering/inline.rs
  prqlc/prqlc/src/semantic/lowering/special_functions.rs
  prqlc/prqlc/src/semantic/std.prql
  prqlc/prqlc/src/sql/operators.rs
  prqlc/prqlc/src/sql/std.sql.prql
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

feat: unpack must come last
  prqlc/prqlc-parser/src/types.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/std.prql
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

refactor: move table inference into name resolver
  prqlc/Taskfile.yaml
  prqlc/prqlc/src/ir/decl.rs
  prqlc/prqlc/src/semantic/mod.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolve_decls/names.rs
  prqlc/prqlc/src/semantic/resolver/inference.rs
  prqlc/prqlc/src/semantic/resolver/names.rs
  prqlc/prqlc/tests/integration/resolving.rs
  prqlc/prqlc/tests/integration/snapshots/integration__cli__debug.snap
Due: no-dbg

feat: local scopes instead of modules
  Cargo.lock
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/semantic/lowering/inline.rs
  prqlc/prqlc/src/semantic/lowering/special_functions.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/inference.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/src/semantic/resolver/names.rs
  prqlc/prqlc/src/semantic/resolver/scope.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: lowering and special_functions
  prqlc/prqlc/src/ir/pl/utils.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/lowering/special_functions.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: relational functions
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/inference.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/src/semantic/std.prql
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

refactor: remove DeclKind::TableDecl in favor DeclKind::Expr
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/ir/decl.rs
  prqlc/prqlc/src/ir/pl/mod.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/lowering/special_functions.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/reporting.rs
  prqlc/prqlc/src/semantic/resolve_decls/names.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/inference.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/src/semantic/resolver/stmt.rs
Due: no-dbg

feat: create generics for all unknown types
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

refactor: lowering
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/inference.rs
Due: no-dbg

refactor: cleanup LayeredModules
  prqlc/prqlc/src/ir/decl.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/reporting.rs
Due: no-dbg

feat: finalize global generics after each stmt
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/inference.rs
  prqlc/prqlc/src/semantic/resolver/stmt.rs
Due: no-dbg

feat: lowering for rq operators and relational literals
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

refactor: resolving tuple indirection
  prqlc/prqlc/src/semantic/resolver/expr.rs
Due: no-dbg

Update `modules` page to state they the command does not work in a PRQL query.
  web/book/src/reference/spec/modules.md
Due: none

feat: nested tuple indirection
  prqlc/prqlc-ast/src/expr/ident.rs
  prqlc/prqlc-ast/src/types.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/inference.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/src/semantic/resolver/names.rs
  prqlc/prqlc/src/semantic/resolver/scope.rs
  prqlc/prqlc/src/semantic/resolver/tuple.rs
  prqlc/prqlc/src/semantic/std.prql
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
