Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.rs$'
  - repo: https://github.com/crate-ci/typos
    rev: v1.16.1
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    # Upgrading to the bare `v3.0.0` seems to break the plugin; contributions welcome to fix.
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.278
    hooks:
      - id: ruff
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
      - id: clippy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
      - id: mypy
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.11.2
    hooks:
      - id: markdown-link-check
        name: markdown-link-check-local
        files: \.md$
        args: ["--config=.config/.markdown-link-check-local.json"]
        # To run across everything (see nightly.yaml for more details)
      - id: markdown-link-check
        name: markdown-link-check-all
        stages: [manual]
        files: \.md$
        args: ["--config=.config/.markdown-link-check-all.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote
ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, clippy, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

feat: new target sql.glaredb
  crates/prql-compiler/src/sql/dialect.rs
  crates/prql-compiler/src/sql/std.sql.prql
  crates/prqlc/tests/test.rs
  web/book/src/project/target.md
Due: no-dbg

test: add test for GlareDB
  crates/prql-compiler/tests/integration/main.rs
Due: no-dbg

docs(changelog): update about glaredb
  CHANGELOG.md
Due: prql-codeblock

test: glaredb doesn't have string_agg
  crates/prql-compiler/tests/integration/queries/aggregation.prql
Due: none

refactor: 127.0.0.1 -> localhost
  crates/prql-compiler/tests/integration/main.rs
Due: no-dbg

fix: move sql.glaredb to unsupported
  crates/prql-compiler/src/sql/dialect.rs
  web/book/src/project/target.md
Due: no-dbg

test: same change as postgres
  crates/prql-compiler/tests/integration/main.rs
Due: no-dbg

docs(changelog): uppdate about glaredb tests
  CHANGELOG.md
Due: prql-codeblock

feat(elixir): suport sql.glaredb
  bindings/prql-elixir/lib/prql.ex
  bindings/prql-elixir/lib/prql/native.ex
  bindings/prql-elixir/native/prql/src/lib.rs
Due: no-dbg

feat: New target sql.glaredb (#3669)
  CHANGELOG.md
  bindings/prql-elixir/lib/prql.ex
  bindings/prql-elixir/lib/prql/native.ex
  bindings/prql-elixir/native/prql/src/lib.rs
  crates/prql-compiler/src/sql/dialect.rs
  crates/prql-compiler/src/sql/std.sql.prql
  crates/prql-compiler/tests/integration/README.md
  crates/prql-compiler/tests/integration/docker-compose.yml
  crates/prql-compiler/tests/integration/dockerfiles/glaredb.Dockerfile
  crates/prql-compiler/tests/integration/main.rs
  crates/prql-compiler/tests/integration/queries/aggregation.prql
  crates/prqlc/tests/test.rs
  web/book/src/project/target.md
Due: no-dbg, prql-codeblock

Update build-web.yaml
  .github/workflows/build-web.yaml
Due: none

web: Add CodeMirror demo (#3608)
  .github/workflows/build-web.yaml
  .mega-linter.yaml
  web/prql-codemirror-demo/.gitignore
  web/prql-codemirror-demo/README.md
  web/prql-codemirror-demo/index.html
  web/prql-codemirror-demo/package-lock.json
  web/prql-codemirror-demo/package.json
  web/prql-codemirror-demo/src/codemirror.ts
  web/prql-codemirror-demo/src/lang-prql/complete.ts
  web/prql-codemirror-demo/src/lang-prql/prql.ts
  web/prql-codemirror-demo/src/main.ts
  web/prql-codemirror-demo/src/style.css
  web/prql-codemirror-demo/src/vite-env.d.ts
  web/prql-codemirror-demo/tsconfig.json
Due: none

Revert "revert: #3609 (#3666)"
  Taskfile.yml
  web/playground/.eslintrc.cjs
  web/playground/generateBook.cjs
  web/playground/index.html
  web/playground/package-lock.json
  web/playground/package.json
  web/playground/src/app/App.jsx
  web/playground/src/main.jsx
  web/playground/src/output/Output.jsx
  web/playground/src/sidebar/Sidebar.jsx
  web/playground/src/workbench/Workbench.jsx
  web/playground/vite.config.js
Due: none

feat: Add octal numerical notation
  crates/prql-parser/src/lexer.rs
  web/book/src/reference/syntax/literals.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__numbers__0.snap
Due: no-dbg

Update CHANGELOG.md
  CHANGELOG.md
Due: prql-codeblock

internal: Don't parse leading unaries in numbers
  crates/prql-parser/src/lexer.rs
Due: no-dbg

devops: Push devcontainer when requested
  .github/workflows/build-devcontainer.yaml
  Taskfile.yml
Due: none

temp-test-pr
  .github/workflows/tests.yaml
Due: none

docs(CHANGELOG): the Quarto VS Code extension update
  CHANGELOG.md
Due: prql-codeblock

Update crates/prql-parser/src/lexer.rs
  crates/prql-parser/src/lexer.rs
Due: no-dbg

build: nix flake for a dev shell
  .gitignore
  flake.lock
  flake.nix
  web/book/src/project/contributing/development.md
Due: none

build: direnv
  .gitignore
  flake.lock
  flake.nix
  web/.gitignore
  web/book/.gitignore
Due: none

recommended vscode settings
  .config/vscode-recommended/launch.json
  .config/vscode-recommended/settings.json
  .config/vscode-recommended/tasks.json
Due: none

refactor(test): add `data_file_root` for DbConnection
  crates/prql-compiler/tests/integration/connection.rs
  crates/prql-compiler/tests/integration/main.rs
Due: no-dbg

Revert "revert: #3609 (#3666)"
  Taskfile.yml
Due: none

Update lexer.rs
  crates/prql-parser/src/lexer.rs
Due: no-dbg

feat: Add octal numerical notation (#3672)
  CHANGELOG.md
  crates/prql-parser/src/lexer.rs
  web/book/src/reference/syntax/literals.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__numbers__0.snap
Due: no-dbg, prql-codeblock

devops: Push devcontainer when requested (#3674)
  .github/workflows/build-devcontainer.yaml
  .github/workflows/tests.yaml
  Taskfile.yml
Due: none

mega linter
  .mega-linter.yaml
Due: none

build: nix flake for a dev shell (#3677)
  .config/vscode-recommended/launch.json
  .config/vscode-recommended/settings.json
  .config/vscode-recommended/tasks.json
  .gitignore
  .mega-linter.yaml
  flake.lock
  flake.nix
  web/.gitignore
  web/book/.gitignore
  web/book/src/project/contributing/development.md
Due: none

refactor: cleanup literal Display trait
  crates/prql-ast/src/expr/literal.rs
  crates/prql-compiler/src/codegen/ast.rs
  crates/prql-compiler/src/codegen/literal.rs
  crates/prql-compiler/src/codegen/mod.rs
  crates/prql-compiler/src/codegen/pl.rs
  crates/prql-parser/src/lexer.rs
Due: no-dbg

refactor: move Error into prql_ast
  crates/prql-ast/src/error.rs
  crates/prql-ast/src/lib.rs
  crates/prql-compiler/src/error_message.rs
  crates/prql-compiler/src/ir/rq/expr.rs
  crates/prql-compiler/src/lib.rs
  crates/prql-compiler/src/parser.rs
  crates/prql-compiler/src/semantic/eval/mod.rs
  crates/prql-compiler/src/semantic/lowering.rs
  crates/prql-compiler/src/semantic/mod.rs
  crates/prql-compiler/src/semantic/reporting.rs
  crates/prql-compiler/src/semantic/resolver/mod.rs
  crates/prql-compiler/src/semantic/resolver/root_module_impl.rs
  crates/prql-compiler/src/semantic/resolver/transforms.rs
  crates/prql-compiler/src/semantic/resolver/type_resolver.rs
  crates/prql-compiler/src/sql/gen_expr.rs
  crates/prql-compiler/src/sql/gen_projection.rs
  crates/prql-compiler/src/sql/gen_query.rs
  crates/prql-compiler/src/sql/operators.rs
  crates/prql-compiler/src/sql/srq/preprocess.rs
Due: no-dbg

internal: Don't parse leading unaries in numbers (#3673)
  crates/prql-parser/src/lexer.rs
Due: no-dbg

refactor: move generic
  crates/prql-compiler/src/ir/generic.rs
  crates/prql-compiler/src/ir/mod.rs
  crates/prql-compiler/src/ir/pl/extra/expr.rs
  crates/prql-compiler/src/ir/pl/mod.rs
  crates/prql-compiler/src/ir/rq/expr.rs
  crates/prql-compiler/src/ir/rq/fold.rs
  crates/prql-compiler/src/ir/rq/transform.rs
  crates/prql-compiler/src/lib.rs
  crates/prql-compiler/src/semantic/lowering.rs
  crates/prql-compiler/src/semantic/resolver/transforms.rs
  crates/prql-compiler/src/sql/gen_expr.rs
  crates/prql-compiler/src/sql/gen_query.rs
  crates/prql-compiler/src/sql/srq/anchor.rs
  crates/prql-compiler/src/sql/srq/ast.rs
  crates/prql-compiler/src/sql/srq/postprocess.rs
  crates/prql-compiler/src/sql/srq/preprocess.rs
Due: no-dbg

refactor!: stop leaking chumsky prql_parser
  crates/prql-compiler/src/parser.rs
  crates/prql-parser/src/lib.rs
Due: no-dbg

refactor: move parser tests into own file
  crates/prql-parser/src/lib.rs
  crates/prql-parser/src/test.rs
Due: no-dbg

clippy
  crates/prql-compiler/src/parser.rs
Due: no-dbg

remove old readme content
  web/playground/README.md
Due: none

Apply suggestions from code review
  crates/prql-ast/src/expr/literal.rs
Due: no-dbg

fix
  crates/prql-ast/src/expr/literal.rs
Due: no-dbg
