Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.(rs|snap)$'
  - repo: https://github.com/crate-ci/typos
    rev: v1.21.0
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    # This does seem to work again, but might need to be disabled if it doesn't;
    # ref https://github.com/prettier/prettier/issues/15742
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          # TODO: This doesn't seem to work, would be great to fix.
          # https://github.com/PRQL/prql/issues/3078
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.5
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: clippy
        stages: [manual]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.0
    hooks:
      - id: actionlint
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.12.2
    hooks:
      - id: markdown-link-check
        name: markdown-link-check-local
        types: [markdown]
        args: ["--config=.config/.markdown-link-check-local.json"]
        # To run across everything (see nightly.yaml for more details)
      - id: markdown-link-check
        name: markdown-link-check-all
        stages: [manual]
        types: [markdown]
        args: ["--config=.config/.markdown-link-check-all.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote

ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

Update CHANGELOG.md
  CHANGELOG.md
Due: prql-codeblock

feat: Add syntax highlight file for micro (#4553)
  CHANGELOG.md
  grammars/micro/README.md
  grammars/micro/prql.yaml
Due: prql-codeblock

docs: Update `prqlc` docstring
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/tests/integration/dbs/README.md
Due: no-dbg

docs: Update `prqlc` docstring (#4555)
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/tests/integration/dbs/README.md
Due: no-dbg

chore: Release notes for 0.12.0
  CHANGELOG.md
Due: prql-codeblock

chore: Bump version to 0.12.0
  Cargo.lock
  Cargo.toml
  lutra/lutra/Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/prql-compiler-macros/Cargo.toml
  prqlc/prql-compiler/Cargo.toml
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: no-dbg

tweak(docs): Refine release instructions
  web/book/src/project/contributing/development.md
Due: none

chore: Release notes for 0.12.0 (#4556)
  CHANGELOG.md
Due: prql-codeblock

tweak(ci): Add comment re codecov
  .github/workflows/tests.yaml
Due: none

chore: Bump version to 0.12.0 (#4557)
  Cargo.lock
  Cargo.toml
  lutra/lutra/Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/prql-compiler-macros/Cargo.toml
  prqlc/prql-compiler/Cargo.toml
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: no-dbg

feat: Add syntax highlight file for GNU nano
  grammars/nano/README.md
Due: none

Create prql.nanorc
  grammars/nano/prql.nanorc
Due: none

tweak(ci): Add comment re codecov (#4559)
  .github/workflows/tests.yaml
Due: none

tweak(docs): Refine release instructions (#4558)
  web/book/src/project/contributing/development.md
Due: none

feat: Add syntax highlight file for GNU nano (#4560)
  grammars/nano/README.md
  grammars/nano/prql.nanorc
Due: none

fix: Fix intra-prql crate dependency specification
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  lutra/lutra/Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/prql-compiler-macros/Cargo.toml
  prqlc/prql-compiler/Cargo.toml
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: no-dbg, prql-codeblock

fix: Fix intra-prql crate dependency specification (#4561)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  lutra/lutra/Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/prql-compiler-macros/Cargo.toml
  prqlc/prql-compiler/Cargo.toml
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: no-dbg, prql-codeblock

ci: Fix python upload
  .github/workflows/release.yaml
Due: none

ci: Fix python upload (#4563)
  .github/workflows/release.yaml
Due: none

chore: Bump version to 0.12.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  lutra/lutra/Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/prql-compiler-macros/Cargo.toml
  prqlc/prql-compiler/Cargo.toml
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: no-dbg, prql-codeblock

chore: Bump version to 0.12.2 (#4564)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  lutra/lutra/Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/prql-compiler-macros/Cargo.toml
  prqlc/prql-compiler/Cargo.toml
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: no-dbg, prql-codeblock

build: Rename `prql-compiler-macros` to `prqlc-macros`
  Cargo.lock
  Cargo.toml
  prqlc/Taskfile.yaml
  prqlc/prqlc-macros/Cargo.toml
  prqlc/prqlc-macros/src/lib.rs
  prqlc/prqlc/src/lib.rs
Due: no-dbg

Change out richb-hanover/cargo for clechasseur/rs-cargo@v2 to get Node 20 tests
  .github/actions/build-prqlc-c/action.yaml
  .github/actions/build-prqlc/action.yaml
  .github/actions/time-compilation/action.yaml
  .github/workflows/nightly.yaml
  .github/workflows/test-prqlc-c.yaml
  .github/workflows/test-rust.yaml
Due: none

Change audit-check to version 1.4.1 (from "1")
  .github/workflows/nightly.yaml
Due: none

Update to use rustsec/audit-check@v1.4.1 (not @v1)
  .github/workflows/nightly.yaml
Due: none

tweak: Standardize CI job name
  .github/workflows/release.yaml
Due: none

ci: Add test for file listing in release-python
  .github/workflows/release.yaml
Due: none

feat: Set version on Snap
  .github/workflows/release.yaml
Due: none

tweak(ci): Fix comment re CI cache
  .github/actions/build-python/action.yaml
Due: none

tweak: Standardize CI job name (#4567)
  .github/workflows/release.yaml
Due: none

tweak(ci): Fix comment re CI cache (#4570)
  .github/actions/build-python/action.yaml
Due: none

tweak(build): Run `npm pkg fix`
  prqlc/bindings/js/package.json
Due: none

ci: Update to Node20 actions (#4571)
  .github/actions/build-prqlc-c/action.yaml
  .github/actions/build-prqlc/action.yaml
  .github/actions/time-compilation/action.yaml
  .github/workflows/nightly.yaml
  .github/workflows/test-prqlc-c.yaml
  .github/workflows/test-rust.yaml
Due: none

ci: Use cache in `publish-js` workflow
  .github/workflows/build-web.yaml
  .github/workflows/release.yaml
Due: none

devops: Standardize `Taskfile` extensions
  .devcontainer/devcontainer.json
  .github/workflows/build-devcontainer.yaml
  .github/workflows/tests.yaml
  .vscode/extensions.json
  CHANGELOG.md
  Taskfile.yaml
  lutra/Taskfile.yaml
  lutra/bindings/python/Taskfile.yaml
  prqlc/Taskfile.yaml
  web/Taskfile.yaml
  web/book/src/project/bindings/README.md
  web/book/src/project/contributing/development.md
Due: prql-codeblock

tweak(build): Run `npm pkg fix` (#4572)
  prqlc/bindings/js/package.json
Due: none

ci: Use cache in `publish-js` workflow (#4573)
  .github/workflows/build-web.yaml
  .github/workflows/release.yaml
Due: none

tweak: Update taskfile link
  web/book/src/project/contributing/development.md
Due: none

tweak: Update taskfile link (#4575)
  web/book/src/project/contributing/development.md
Due: none

devops: Standardize `Taskfile` extensions (#4574)
  .devcontainer/devcontainer.json
  .github/workflows/build-devcontainer.yaml
  .github/workflows/tests.yaml
  .vscode/extensions.json
  CHANGELOG.md
  Taskfile.yaml
  lutra/Taskfile.yaml
  lutra/bindings/python/Taskfile.yaml
  prqlc/Taskfile.yaml
  web/Taskfile.yaml
  web/book/src/project/bindings/README.md
  web/book/src/project/contributing/development.md
Due: prql-codeblock
