Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.(rs|snap)$'
  - repo: https://github.com/crate-ci/typos
    rev: v1
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          # TODO: This doesn't seem to work, would be great to fix.
          # https://github.com/PRQL/prql/issues/3078
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.5
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: clippy
        stages: [manual]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint
  # Link checker using local hooks with language: rust
  # Pre-commit will automatically install lychee via cargo
  - repo: local
    hooks:
      - id: lychee
        name: lychee (local links only)
        entry: lychee
        language: rust
        additional_dependencies: ["cli:lychee:0.20.1"]
        files: \.(md|rst)$
        exclude: ^web/website/themes/
        args:
          - --no-progress
          # For PRs: whitelist PRQL domains and local files only
          # Pattern matches:
          #   - github.com/PRQL/* and github.com/prql/*
          #   - prql-lang.org/*
          #   - raw.githubusercontent.com/PRQL/* and raw.githubusercontent.com/prql/*
          #   - file://* (local/relative links)
          # All other external links are skipped for faster PR checks
          - --include=^(https://(github\.com/(PRQL|prql)|prql-lang\.org|raw\.githubusercontent\.com/(PRQL|prql))|file://)
      - id: lychee-all
        name: lychee-all (all links)
        entry: lychee
        language: rust
        additional_dependencies: ["cli:lychee:0.20.1"]
        stages: [manual]
        files: \.(md|rst)$
        exclude: ^web/website/themes/
        args: ["--config=.config/lychee.toml", "--no-progress"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote

ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, lychee, lychee-all]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

docs: keep Claude loading AGENTS.md instructions (#6369)
  CLAUDE.md
  prqlc/prqlc/tests/CLAUDE.md
Due: lychee

Move Tend tools into standard setup
  .config/tend.yaml
  .github/actions/tend-setup/action.yaml
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

chore: update tend workflows (0.2.15 → 0.3.1) (#6364)
  .github/actions/tend-setup/action.yaml
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention-relay.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

fix: write the debug log with `write_all` and flush it explicitly (#6365)
  CHANGELOG.md
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/debug/render_html.rs
Due: lychee, no-dbg, prql-codeblock

Regenerate Tend workflows with 0.3.2
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention-relay.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

docs: explain pinned toolchain setup for Tend
  .config/tend.yaml
Due: none

ci: Move Tend tool setup to standard steps and update to 0.3.2 (#6370)
  .config/tend.yaml
  .github/actions/tend-setup/action.yaml
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention-relay.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

chore: update Elixir doctest for sqlformat 0.5.0
  prqlc/bindings/elixir/README.md
  prqlc/bindings/elixir/lib/prql.ex
Due: lychee

docs: correct the `math.pow` argument-order comment in the SQL std library
  prqlc/prqlc/src/sql/std.sql.prql
Due: none

docs: correct the `math.pow` argument-order comment in the SQL std library (#6371)
  prqlc/prqlc/src/sql/std.sql.prql
Due: none

chore: update tend workflows (0.3.2 → 0.3.3)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention-relay.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

docs: restore the DISTINCT ON example in the remove-duplicates book page
  web/book/src/reference/stdlib/distinct.md
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__distinct__remove-duplicates-from-each-group__2.snap
Due: lychee

chore: update tend workflows (0.3.2 → 0.3.3) (#6373)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention-relay.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

fix: keep the outer window frame after a nested window
  prqlc/prqlc/src/semantic/resolver/flatten.rs
Due: no-dbg

docs: add changelog entry
  CHANGELOG.md
Due: lychee, prql-codeblock

docs: drop the unsubstantiated DISTINCT ON performance claim
  web/book/src/reference/stdlib/distinct.md
Due: lychee

fix: report circular imports as an error instead of overflowing the stack
  prqlc/prqlc/src/semantic/resolver/names.rs
Due: no-dbg

docs: describe restored window frame in Flattener
  prqlc/prqlc/src/semantic/resolver/flatten.rs
Due: no-dbg

fix: report circular imports as an error instead of overflowing the stack (#6376)
  CHANGELOG.md
  prqlc/prqlc/src/semantic/resolver/names.rs
Due: lychee, no-dbg, prql-codeblock

docs: restore the DISTINCT ON example on the remove-duplicates book page (#6374)
  web/book/src/reference/stdlib/distinct.md
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__distinct__remove-duplicates-from-each-group__2.snap
Due: lychee

fix: count token spans in chars so non-ASCII text doesn't shift or crash error labels
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/lexer/test.rs
  prqlc/prqlc-parser/src/parser/interpolation.rs
  prqlc/prqlc-parser/src/test.rs
  prqlc/prqlc/tests/integration/error_messages.rs
Due: no-dbg

docs: add changelog entry for #6378
  CHANGELOG.md
Due: lychee, prql-codeblock

docs: rewrap changelog entry
  CHANGELOG.md
Due: lychee, prql-codeblock

refactor: update parser span comments to say char offsets
  prqlc/prqlc-parser/src/parser/mod.rs
Due: no-dbg

fix: keep the outer window frame after a nested window (#6375)
  CHANGELOG.md
  prqlc/prqlc/src/semantic/resolver/flatten.rs
Due: lychee, no-dbg, prql-codeblock

ci: give the remaining jobs an explicit token scope
  .github/workflows/build-devcontainer.yaml
  .github/workflows/build-web.yaml
  .github/workflows/nightly.yaml
  .github/workflows/publish-web.yaml
  .github/workflows/pull-request-target.yaml
  .github/workflows/release.yaml
  .github/workflows/test-dotnet.yaml
  .github/workflows/test-elixir.yaml
  .github/workflows/test-java.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-php.yaml
  .github/workflows/test-prqlc-c.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-rust.yaml
  .github/workflows/tests.yaml
Due: none

ci: pin the third-party actions by commit SHA
  .config/tend.yaml
  .github/actions/build-js/action.yaml
  .github/actions/build-prqlc-c/action.yaml
  .github/actions/build-prqlc/action.yaml
  .github/actions/build-python/action.yaml
  .github/actions/tend-setup/action.yaml
  .github/actions/time-compilation/action.yaml
  .github/workflows/build-devcontainer.yaml
  .github/workflows/build-web.yaml
  .github/workflows/lint-megalinter.yaml
  .github/workflows/nightly.yaml
  .github/workflows/pull-request-target.yaml
  .github/workflows/release.yaml
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
  .github/workflows/test-elixir.yaml
  .github/workflows/test-java.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-php.yaml
  .github/workflows/test-prqlc-c.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-rust.yaml
  .github/workflows/tests.yaml
Due: none

ci: stop persisting the checkout token where nothing pushes
  .github/workflows/build-devcontainer.yaml
  .github/workflows/build-web.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/test-dotnet.yaml
  .github/workflows/test-elixir.yaml
  .github/workflows/test-java.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-php.yaml
  .github/workflows/test-prqlc-c.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-rust.yaml
  .github/workflows/tests.yaml
Due: none

ci: leave the generated tend workflows to their generator
  .config/tend.yaml
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

chore: update tend workflows (0.3.3 → 0.3.4)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention-relay.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

fix: parenthesize compound operands of BETWEEN and IN
  prqlc/prqlc/src/sql/gen_expr.rs
Due: no-dbg

docs: add CHANGELOG entry for #6381
  CHANGELOG.md
Due: lychee, prql-codeblock

chore: update tend workflows (0.3.3 → 0.3.4) (#6380)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention-relay.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

docs: remove redundant CLAUDE.md imports
  CLAUDE.md
  prqlc/prqlc/tests/CLAUDE.md
Due: lychee

docs: remove redundant CLAUDE.md imports (#6382)
  CLAUDE.md
  prqlc/prqlc/tests/CLAUDE.md
Due: lychee

fix: keep malformed \x and \u{...} escapes as written instead of corrupting the string
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/lexer/test.rs
Due: no-dbg

docs: add CHANGELOG entry for #6383
  CHANGELOG.md
Due: lychee, prql-codeblock

fix: parenthesize compound operands of BETWEEN and IN in generated SQL (#6381)
  CHANGELOG.md
  prqlc/prqlc/src/sql/gen_expr.rs
Due: lychee, no-dbg, prql-codeblock
