Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

refactor: Remove `source` arg from parser (#4796)
  prqlc/prqlc-parser/src/parser/mod.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc-parser/src/parser/test.rs
  prqlc/prqlc-parser/src/test.rs
  prqlc/prqlc/src/parser.rs
Due: no-dbg

internal: Use span with zero len for EOI
  prqlc/prqlc-parser/src/parser/mod.rs
  prqlc/prqlc-parser/src/parser/perror.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc/tests/integration/error_messages.rs
Due: no-dbg

internal: Use span with zero len for EOI (#4797)
  prqlc/prqlc-parser/src/parser/mod.rs
  prqlc/prqlc-parser/src/parser/perror.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc/tests/integration/error_messages.rs
Due: no-dbg

refine(docs): Add architecture.md to the `prqlc` docstring (#4794)
  prqlc/ARCHITECTURE.md
  prqlc/prqlc/src/lib.rs
Due: no-dbg

feat: improve debug log html output for decls (#4759)
  prqlc/prqlc/src/debug/render_html.rs
Due: no-dbg

Fix FTBFS
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/src/sql/gen_query.rs
Due: no-dbg

tryna fix
  prqlc/prqlc/src/sql/gen_query.rs
Due: no-dbg

feat: Add git info to build
  Cargo.lock
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/build.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/lib.rs
Due: no-dbg

couple of things fixed. Next need to add an override so the book can build
  Cargo.lock
  Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/project/target.md
Due: no-dbg

build: Test whether the aarch64 breakages on #4804 are related to dependencies
  Cargo.lock
  prqlc/prqlc/Cargo.toml
Due: none

refine: Move clippy lint rules to `Cargo.toml`
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/lib.rs
Due: no-dbg

refine: Move clippy lint rules to `Cargo.toml` (#4806)
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/lib.rs
Due: no-dbg

feat: Add git info to build (#4804)
  .github/workflows/test-rust.yaml
  .github/workflows/tests.yaml
  Cargo.lock
  Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/build.rs
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/project/target.md
  web/book/tests/documentation/book.rs
Due: no-dbg

chore: Changelog for #4804
  CHANGELOG.md
Due: prql-codeblock

chore: Changelog for #4804 (#4807)
  CHANGELOG.md
Due: prql-codeblock

refactor: Use `Option<Box<T>>`
  prqlc/prqlc-parser/src/parser/pr/types.rs
  prqlc/prqlc-parser/src/parser/types.rs
  prqlc/prqlc/src/codegen/types.rs
  prqlc/prqlc/src/ir/pl/fold.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
Due: no-dbg

fix: Escape aliases when required
  prqlc/prqlc/src/codegen/ast.rs
Due: no-dbg

refactor: Use `Option<Box<T>>` (#4813)
  prqlc/prqlc-parser/src/parser/pr/types.rs
  prqlc/prqlc-parser/src/parser/types.rs
  prqlc/prqlc/src/codegen/types.rs
  prqlc/prqlc/src/ir/pl/fold.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
Due: no-dbg

fix: Escape aliases when required (#4814)
  prqlc/prqlc/src/codegen/ast.rs
Due: no-dbg

build: Unpin Cargo.toml
  prqlc/prqlc/Cargo.toml
Due: none

.
  Cargo.lock
  prqlc/prqlc/Cargo.toml
Due: none

build: Try unpinning `mdbook`
  web/book/Cargo.toml
Due: none

build: Unpin Cargo.toml (#4815)
  Cargo.lock
  prqlc/prqlc/Cargo.toml
Due: none

build: Try unpinning `mdbook` (#4816)
  web/book/Cargo.toml
Due: none

test: Check env var on every check of compiler version
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/sql/mod.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

Add 'git config ... --add safe.directory...' command to Taskfile.yaml; Call it from the devcontainer.json "postCreateCommand" section
  .devcontainer/devcontainer.json
  Taskfile.yaml
  web/book/Cargo.toml
Due: none

Add the github command in the Taskfile.yaml to add a git safe.directory; Call that command from the postCreateCommand in devcontainer.json
  .devcontainer/devcontainer.json
  Taskfile.yaml
Due: none

build: Add a git safe.directory (#4830)
  .devcontainer/devcontainer.json
  Taskfile.yaml
Due: none

Update type-system.md
  web/book/src/reference/spec/type-system.md
Due: none

web: Update type-system.md (#4831)
  web/book/src/reference/spec/type-system.md
Due: none

chore: Backport #4831 to `web` (#4833)
  web/book/src/reference/spec/type-system.md
Due: none

Revert "build: Add a git safe.directory (#4830)"
  .devcontainer/devcontainer.json
  Taskfile.yaml
Due: none

chore: Revert "build: Add a git safe.directory" (#4835)
  .devcontainer/devcontainer.json
  Taskfile.yaml
Due: none

Move git config ... add safe.directory to a script within .devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/post_create.sh
Due: none

feat: Add XML documentation
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-2.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-4.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion.snap
Due: no-dbg

feat: Add XML documentation
  prqlc/prqlc/src/cli/docs_generator.rs
Due: no-dbg

fix: Retain raw strings through `fmt`
  CHANGELOG.md
  prqlc/prqlc-parser/src/lexer/lr.rs
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/parser/test.rs
  prqlc/prqlc-parser/src/test.rs
  prqlc/prqlc/src/codegen/mod.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/src/sql/gen_expr.rs
Due: no-dbg, prql-codeblock

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
