Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

refactor: move Flattener out of transform module
  crates/prql_compiler/src/semantic/resolver/flatten.rs
  crates/prql_compiler/src/semantic/resolver/mod.rs
  crates/prql_compiler/src/semantic/resolver/transforms.rs
Due: no-dbg

checkpoint 1
  crates/prql_compiler/src/ast/pl/types.rs
  crates/prql_compiler/src/semantic/lowering.rs
  crates/prql_compiler/src/semantic/mod.rs
  crates/prql_compiler/src/semantic/module.rs
  crates/prql_compiler/src/semantic/reporting.rs
  crates/prql_compiler/src/semantic/resolver/context_impl.rs
  crates/prql_compiler/src/semantic/resolver/mod.rs
  crates/prql_compiler/src/semantic/resolver/transforms.rs
  crates/prql_compiler/src/semantic/resolver/type_resolver.rs
Due: no-dbg

checkpoint 2
  crates/prql_compiler/src/ast/pl/types.rs
  crates/prql_compiler/src/codegen.rs
  crates/prql_compiler/src/semantic/lowering.rs
  crates/prql_compiler/src/semantic/module.rs
  crates/prql_compiler/src/semantic/resolver/context_impl.rs
  crates/prql_compiler/src/semantic/resolver/mod.rs
  crates/prql_compiler/src/semantic/resolver/transforms.rs
  crates/prql_compiler/src/semantic/resolver/type_resolver.rs
Due: no-dbg

checkpoint 3
  crates/prql_ast/src/expr/ident.rs
  crates/prql_compiler/src/ast/pl/expr.rs
  crates/prql_compiler/src/ast/pl/extra/expr.rs
  crates/prql_compiler/src/ast/pl/fold.rs
  crates/prql_compiler/src/ast/pl/from_ast.rs
  crates/prql_compiler/src/ast/pl/types.rs
  crates/prql_compiler/src/codegen.rs
  crates/prql_compiler/src/semantic/context.rs
  crates/prql_compiler/src/semantic/eval/mod.rs
  crates/prql_compiler/src/semantic/lowering.rs
  crates/prql_compiler/src/semantic/module.rs
  crates/prql_compiler/src/semantic/resolver/context_impl.rs
  crates/prql_compiler/src/semantic/resolver/mod.rs
  crates/prql_compiler/src/semantic/resolver/transforms.rs
  crates/prql_compiler/src/semantic/resolver/type_resolver.rs
  crates/prql_compiler/src/semantic/std.prql
  crates/prql_compiler/src/tests/test.rs
Due: no-dbg

checkpoint 4
  crates/prql_compiler/src/ast/pl/extra/expr.rs
  crates/prql_compiler/src/ast/pl/fold.rs
  crates/prql_compiler/src/semantic/lowering.rs
  crates/prql_compiler/src/semantic/resolver/context_impl.rs
  crates/prql_compiler/src/semantic/resolver/flatten.rs
  crates/prql_compiler/src/semantic/resolver/mod.rs
  crates/prql_compiler/src/semantic/resolver/transforms.rs
  crates/prql_compiler/src/semantic/resolver/type_resolver.rs
Due: no-dbg

ci: make check-links-book required
  .github/workflows/check-links-book.yaml
  .github/workflows/pull-request.yaml
Due: none

ci: rename check-links job to check-links-markdown
  .github/workflows/nightly.yaml
  .github/workflows/pull-request.yaml
Due: none

ci: check internal links in mdbook after build
  .github/workflows/check-links-book.yaml
Due: none

fix(ci): add missing actions/checkout call
  .github/workflows/check-links-book.yaml
Due: none

ci: Enable trailing-whitespace on non-rs files
  .pre-commit-config.yaml
Due: none

refactor from_ast into ast_expand
  crates/prql_compiler/src/ir/pl/from_ast.rs
  crates/prql_compiler/src/ir/pl/mod.rs
  crates/prql_compiler/src/parser.rs
  crates/prql_compiler/src/semantic/ast_expand.rs
  crates/prql_compiler/src/semantic/mod.rs
Due: no-dbg

update resolver to take prql_ast
  crates/prql_compiler/src/lib.rs
  crates/prql_compiler/src/parser.rs
  crates/prql_compiler/src/semantic/ast_expand.rs
  crates/prql_compiler/src/semantic/eval/mod.rs
  crates/prql_compiler/src/semantic/mod.rs
Due: no-dbg

refactor codegen
  crates/prql_compiler/src/codegen/ast.rs
  crates/prql_compiler/src/codegen/mod.rs
  crates/prql_compiler/src/codegen/pl.rs
Due: no-dbg

refactor codegen
  crates/prql_compiler/src/codegen.rs
  crates/prql_compiler/src/codegen/ast.rs
  crates/prql_compiler/src/codegen/mod.rs
  crates/prql_compiler/src/codegen/types.rs
Due: no-dbg

switch codegen to work on AST
  crates/prql_compiler/src/codegen.rs
  crates/prql_compiler/src/ir/pl/extra/stmt.rs
  crates/prql_compiler/src/lib.rs
  crates/prql_compiler/src/semantic/eval/mod.rs
  crates/prql_compiler/src/semantic/mod.rs
  crates/prql_compiler/src/semantic/reporting.rs
  crates/prql_compiler/src/semantic/resolver/mod.rs
Due: no-dbg

restict PL back to AST
  Cargo.lock
  crates/prql_compiler/src/semantic/ast_expand.rs
  crates/prql_compiler/src/semantic/context.rs
  crates/prql_compiler/src/semantic/eval/mod.rs
  crates/prql_compiler/src/semantic/lowering.rs
  crates/prql_compiler/src/semantic/mod.rs
  crates/prql_compiler/src/semantic/reporting.rs
  crates/prql_compiler/src/semantic/resolver/mod.rs
  crates/prql_compiler/src/semantic/resolver/transforms.rs
  crates/prql_compiler/src/semantic/resolver/type_resolver.rs
  crates/prqlc/Cargo.toml
  crates/prqlc/src/cli.rs
Due: no-dbg

fmt
  crates/prql_compiler/src/codegen/ast.rs
  crates/prql_compiler/src/codegen/mod.rs
  crates/prql_compiler/src/semantic/context.rs
  crates/prql_compiler/src/semantic/resolver/mod.rs
Due: no-dbg

tests
  crates/prql_compiler/src/semantic/eval/mod.rs
  crates/prqlc/src/cli.rs
Due: no-dbg

insta
  crates/prql_compiler/tests/integration/snapshots/integration__fmt@set_ops_remove.prql.snap
Due: none

cleanup
  crates/prql_compiler/src/semantic/context.rs
Due: no-dbg

ci: Enable trailing-whitespace on non-rs files (#3034)
  .pre-commit-config.yaml
Due: none

docs: tutorial
  web/book/src/SUMMARY.md
  web/book/src/overview.md
  web/book/src/tutorial/aggregation.md
  web/book/src/tutorial/examples/README.md
  web/book/src/tutorial/examples/cte.md
  web/book/src/tutorial/examples/employees.md
  web/book/src/tutorial/examples/list-equivalence.md
  web/book/src/tutorial/examples/misc.md
  web/book/src/tutorial/examples/variables.md
  web/book/src/tutorial/filtering.md
  web/book/src/tutorial/how-do-i/distinct.md
  web/book/src/tutorial/how-do-i/reading-files.md
  web/book/src/tutorial/how-do-i/relation-literals.md
  web/book/src/tutorial/relations.md
Due: none

Apply suggestions from code review
  web/book/src/reference/stdlib/transforms/from.md
  web/book/src/reference/syntax/case.md
  web/book/src/reference/syntax/function-calls.md
  web/book/src/reference/syntax/keywords.md
  web/book/src/reference/syntax/literals.md
  web/book/src/reference/syntax/operations.md
Due: none

revert operations.md back to operators.md
  CHANGELOG.md
  web/book/src/SUMMARY.md
  web/book/src/reference/syntax/README.md
  web/book/src/reference/syntax/operators.md
Due: prql-codeblock

fix links
  CHANGELOG.md
  web/book/src/overview.md
  web/website/content/posts/2023-03-14-pi-day.md
Due: prql-codeblock

Update relations.md
  web/book/src/tutorial/relations.md
Due: none

Update filtering.md
  web/book/src/tutorial/filtering.md
Due: none

Update aggregation.md
  web/book/src/tutorial/aggregation.md
Due: none

tweak: Fix `Fibonnaci` typo
  web/website/content/posts/2023-03-14-pi-day.md
Due: none

docs: Changelog for 0.9.0
  CHANGELOG.md
Due: prql-codeblock

tweak: Fix `Fibonnaci` typo (#3043)
  web/website/content/posts/2023-03-14-pi-day.md
Due: none

devops: Fix replacement paths for release
  crates/prql_compiler/Cargo.toml
Due: none

build: Bump version to 0.9.0
  .github/actions/build-prql-python/action.yaml
  .github/actions/build-prqlc/action.yaml
  .github/actions/time-compilation/action.yaml
  .github/workflows/build-web.yaml
  .github/workflows/test-all.yaml
  .github/workflows/test-lib.yaml
  .github/workflows/test-rust.yaml
  .github/workflows/test-taskfile.yaml
  Cargo.lock
  Cargo.toml
  bindings/prql-elixir/native/prql/Cargo.toml
  bindings/prql-js/package-lock.json
  bindings/prql-js/package.json
  crates/prql_ast/Cargo.toml
  crates/prql_compiler_macros/Cargo.toml
  crates/prql_parser/Cargo.toml
  crates/prqlc/Cargo.toml
  crates/tests_misc/Cargo.toml
  web/book/src/language-features/target.md
  web/playground/package-lock.json
  web/playground/package.json
Due: none

docs: Changelog for 0.9.0 (#3044)
  CHANGELOG.md
Due: prql-codeblock

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
