Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

ci: Run create-issue on nightly job correctly (#3383)
  .github/workflows/tests.yaml
Due: none

docs: fix typo of GitHub issue number
  CHANGELOG.md
Due: prql-codeblock

docs(changelog): fix typo of GitHub issue number (#3384)
  CHANGELOG.md
Due: prql-codeblock

chore: Backport #3384 to `web` (#3385)
  CHANGELOG.md
Due: prql-codeblock

ci(winget-release): fix version ref
  .github/workflows/release.yaml
Due: none

chore: bump version to 0.9.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  bindings/prql-elixir/native/prql/Cargo.toml
  bindings/prql-js/package-lock.json
  bindings/prql-js/package.json
  crates/prql-compiler-macros/Cargo.toml
  crates/prql-compiler/Cargo.toml
  crates/prql-parser/Cargo.toml
  crates/prqlc/Cargo.toml
  crates/tests_misc/Cargo.toml
  web/book/src/project/target.md
  web/playground/package-lock.json
  web/playground/package.json
Due: prql-codeblock

fix links
  web/book/src/how-do-i/read-files.md
  web/book/src/how-do-i/relation-literals.md
Due: none

docs: tutorial (#3052)
  web/book/src/SUMMARY.md
  web/book/src/how-do-i/distinct.md
  web/book/src/how-do-i/read-files.md
  web/book/src/how-do-i/relation-literals.md
  web/book/src/overview.md
  web/book/src/reference/stdlib/transforms/README.md
  web/book/src/tutorial/aggregation.md
  web/book/src/tutorial/filtering.md
  web/book/src/tutorial/relations.md
  web/book/tests/documentation/snapshots/documentation__book__how-do-i__distinct__how-do-i:-remove-duplicates?__0.snap
  web/book/tests/documentation/snapshots/documentation__book__how-do-i__distinct__how-do-i:-remove-duplicates?__1.snap
  web/book/tests/documentation/snapshots/documentation__book__how-do-i__distinct__remove-duplicates-from-each-group?__0.snap
  web/book/tests/documentation/snapshots/documentation__book__how-do-i__distinct__remove-duplicates-from-each-group?__1.snap
  web/book/tests/documentation/snapshots/documentation__book__how-do-i__distinct__remove-duplicates-from-each-group?__2.snap
  web/book/tests/documentation/snapshots/documentation__book__how-do-i__read-files__how-do-i:-read-files?__0.snap
  web/book/tests/documentation/snapshots/documentation__book__how-do-i__relation-literals__array-literals__0.snap
  web/book/tests/documentation/snapshots/documentation__book__how-do-i__relation-literals__array-literals__1.snap
  web/book/tests/documentation/snapshots/documentation__book__how-do-i__relation-literals__array-literals__2.snap
  web/book/tests/documentation/snapshots/documentation__book__how-do-i__relation-literals__array-literals__3.snap
  web/book/tests/documentation/snapshots/documentation__book__how-do-i__relation-literals__array-literals__4.snap
Due: none

ci: Disable cache on devcontainer
  .github/workflows/build-devcontainer.yaml
Due: none

test: Fix filenames in snapshots
  web/book/tests/documentation/book.rs
  web/book/tests/documentation/snapshots/documentation__book__how-do-i__distinct__how-do-i-remove-duplicates__0.snap
  web/book/tests/documentation/snapshots/documentation__book__how-do-i__distinct__how-do-i-remove-duplicates__1.snap
  web/book/tests/documentation/snapshots/documentation__book__how-do-i__distinct__remove-duplicates-from-each-group__0.snap
  web/book/tests/documentation/snapshots/documentation__book__how-do-i__distinct__remove-duplicates-from-each-group__1.snap
  web/book/tests/documentation/snapshots/documentation__book__how-do-i__distinct__remove-duplicates-from-each-group__2.snap
  web/book/tests/documentation/snapshots/documentation__book__how-do-i__read-files__how-do-i-read-files__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__keywords__identifiers--keywords__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__keywords__identifiers--keywords__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__keywords__identifiers--keywords__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__keywords__identifiers--keywords__3.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__keywords__schemas--database-names__0.snap
Due: no-dbg

Try switching alls-green to json list
  .github/workflows/tests.yaml
Due: none

ci: Don't use GHA cache in Zig build
  .github/workflows/test-lib.yaml
Due: none

test: Fix filenames in snapshots (#3391)
  .github/workflows/tests.yaml
  web/book/tests/documentation/book.rs
  web/book/tests/documentation/snapshots/documentation__book__how-do-i__distinct__how-do-i-remove-duplicates__0.snap
  web/book/tests/documentation/snapshots/documentation__book__how-do-i__distinct__how-do-i-remove-duplicates__1.snap
  web/book/tests/documentation/snapshots/documentation__book__how-do-i__distinct__remove-duplicates-from-each-group__0.snap
  web/book/tests/documentation/snapshots/documentation__book__how-do-i__distinct__remove-duplicates-from-each-group__1.snap
  web/book/tests/documentation/snapshots/documentation__book__how-do-i__distinct__remove-duplicates-from-each-group__2.snap
  web/book/tests/documentation/snapshots/documentation__book__how-do-i__read-files__how-do-i-read-files__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__keywords__identifiers--keywords__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__keywords__identifiers--keywords__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__keywords__identifiers--keywords__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__keywords__identifiers--keywords__3.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__keywords__schemas--database-names__0.snap
Due: no-dbg

tweak(docs): Align `operators` vs `operations` in docs (#3350)
  web/book/src/SUMMARY.md
  web/book/src/reference/syntax/operators.md
Due: none

ci: Don't use GHA cache in Zig build (#3392)
  .github/workflows/test-lib.yaml
Due: none

ci: Disable cache on devcontainer (#3389)
  .github/workflows/build-devcontainer.yaml
Due: none

ci: Also disable pushing cache in devcontainer build
  .github/workflows/build-devcontainer.yaml
Due: none

ci(winget-release): fix version ref (#3387)
  .github/workflows/release.yaml
Due: none

ci: Also disable pushing cache in devcontainer build (#3394)
  .github/workflows/build-devcontainer.yaml
Due: none

ci: Actually disable devcontainer cache
  .github/workflows/build-devcontainer.yaml
Due: none

ci: Exclude nightly from any PR gates
  .github/workflows/tests.yaml
Due: none

ci: Actually disable devcontainer cache (#3395)
  .github/workflows/build-devcontainer.yaml
Due: none

ci: Exclude nightly from any PR gates (#3396)
  .github/workflows/tests.yaml
Due: none

ci: Disable snap
  .github/workflows/release.yaml
Due: none

ci: Re-enable inline docker cache
  .github/workflows/build-devcontainer.yaml
Due: none

ci: Disable snap (#3397)
  .github/workflows/release.yaml
Due: none

chore: bump version to 0.9.5 (#3388)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  bindings/prql-elixir/native/prql/Cargo.toml
  bindings/prql-js/package-lock.json
  bindings/prql-js/package.json
  crates/prql-compiler-macros/Cargo.toml
  crates/prql-compiler/Cargo.toml
  crates/prql-parser/Cargo.toml
  crates/prqlc/Cargo.toml
  crates/tests_misc/Cargo.toml
  web/book/src/project/target.md
  web/playground/package-lock.json
  web/playground/package.json
Due: prql-codeblock

build: Bump toolchain version to 1.72.0
  rust-toolchain.toml
Due: none

ci: Add a couple of cargo files to changes for nightly
  .github/workflows/tests.yaml
Due: none

Update .github/workflows/tests.yaml
  .github/workflows/tests.yaml
Due: none

ci: Don't publish devcontainer on workflow changes
  .github/workflows/build-devcontainer.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
Due: none

Fix `version`
  crates/prql-compiler/src/sql/gen_query.rs
Due: no-dbg

.
  .github/workflows/tests.yaml
Due: none

ci: Remove `test-all` workflow (#3363)
  .github/workflows/nightly.yaml
  .github/workflows/release.yaml
  .github/workflows/test-all.yaml
  .github/workflows/tests.yaml
Due: none

ci: Add a couple of cargo files to changes for nightly (#3403)
  .github/workflows/tests.yaml
Due: none

ci: Re-enable inline docker cache (#3398)
  .github/workflows/build-devcontainer.yaml
Due: none

Run `clippy --fix`
  crates/prql-ast/src/expr/ident.rs
  crates/prql-compiler-macros/src/lib.rs
  crates/prql-compiler/src/semantic/mod.rs
  crates/prql-compiler/src/sql/gen_expr.rs
  crates/prql-compiler/src/sql/operators.rs
  crates/prql-compiler/src/sql/srq/mod.rs
  crates/prql-compiler/src/tests/test.rs
  crates/prql-compiler/src/tests/test_bad_error_messages.rs
  crates/prql-parser/src/lexer.rs
  crates/prql-parser/src/lib.rs
  web/book/src/lib.rs
Due: no-dbg

Fix lints
  crates/prql-compiler/src/error.rs
  crates/prql-compiler/src/semantic/resolver/type_resolver.rs
  crates/prql-compiler/src/sql/gen_projection.rs
  crates/prql-compiler/src/sql/srq/preprocess.rs
  crates/prql-compiler/src/utils/mod.rs
  web/book/tests/documentation/book.rs
Due: no-dbg

fix: Potentially fix logic error
  crates/prql-compiler/src/utils/mod.rs
Due: no-dbg

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
