Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.(rs|snap)$'
  - repo: https://github.com/crate-ci/typos
    rev: v1
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          # TODO: This doesn't seem to work, would be great to fix.
          # https://github.com/PRQL/prql/issues/3078
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.5
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: clippy
        stages: [manual]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint
  # Link checker using local hooks with language: rust
  # Pre-commit will automatically install lychee via cargo
  - repo: local
    hooks:
      - id: lychee
        name: lychee (local links only)
        entry: lychee
        language: rust
        additional_dependencies: ["cli:lychee:0.20.1"]
        files: \.(md|rst)$
        exclude: ^web/website/themes/
        args:
          - --no-progress
          # For PRs: whitelist PRQL domains and local files only
          # Pattern matches:
          #   - github.com/PRQL/* and github.com/prql/*
          #   - prql-lang.org/*
          #   - raw.githubusercontent.com/PRQL/* and raw.githubusercontent.com/prql/*
          #   - file://* (local/relative links)
          # All other external links are skipped for faster PR checks
          - --include=^(https://(github\.com/(PRQL|prql)|prql-lang\.org|raw\.githubusercontent\.com/(PRQL|prql))|file://)
      - id: lychee-all
        name: lychee-all (all links)
        entry: lychee
        language: rust
        additional_dependencies: ["cli:lychee:0.20.1"]
        stages: [manual]
        files: \.(md|rst)$
        exclude: ^web/website/themes/
        args: ["--config=.config/lychee.toml", "--no-progress"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote

ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, lychee, lychee-all]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

Minor refactors for code clarity
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/stmt.rs
Due: no-dbg

Remove unused reporting code
  prqlc/prqlc/src/semantic/reporting.rs
Due: no-dbg

chore: regenerate tend workflows with 0.1.13
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

chore: regenerate tend workflows with 0.1.13 (#6126)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

fix: correct nano syntax name and emacs lexical-binding cookie
  grammars/emacs/prql-mode.el
  grammars/nano/prql.nanorc
Due: none

docs: fix broken nix command and stale references in contributor docs
  CLAUDE.md
  web/book/src/project/contributing/development.md
Due: lychee

fix: adapt LSP stub to lsp-server 0.10 Response API
  prqlc/prqlc/src/cli/lsp.rs
Due: no-dbg

fix: correct nano syntax name and emacs lexical-binding cookie (#6128)
  grammars/emacs/prql-mode.el
  grammars/nano/prql.nanorc
Due: none

docs: fix broken nix command and stale references in contributor docs (#6129)
  CLAUDE.md
  web/book/src/project/contributing/development.md
Due: lychee

fix: don't panic on `std.not` with multiple arguments
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/tests/integration/error_messages.rs
Due: no-dbg

fix: remove doubled `?` in missing-argument hint
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/tests/integration/error_messages.rs
Due: no-dbg

docs: fix `%-d` example in date specifier table
  web/book/src/reference/stdlib/date.md
Due: lychee

fix: don't drop named args to `std.not`
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/tests/integration/error_messages.rs
Due: no-dbg

test: cover `std.not` with only a named argument
  prqlc/prqlc/tests/integration/error_messages.rs
Due: no-dbg

docs: drop unsupported `%k` from date specifier table
  web/book/src/reference/stdlib/date.md
  web/book/tests/documentation/book.rs
Due: lychee, no-dbg

test: move `std.not` named-arg snapshots to bad_error_messages
  prqlc/prqlc/tests/integration/bad_error_messages.rs
  prqlc/prqlc/tests/integration/error_messages.rs
Due: no-dbg

skills(running-tend): stop re-polling QUEUED checks during the Dependabot batch
  .claude/skills/running-tend/SKILL.md
Due: lychee

skills(running-tend): sharpen batch window and QUEUED-vs-IN_PROGRESS rule
  .claude/skills/running-tend/SKILL.md
Due: lychee

refactor: Minor refactoring in resolver subsystem (#6125)
  prqlc/prqlc/src/semantic/reporting.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/stmt.rs
Due: no-dbg

fix: only treat a lone tuple arg to `std.not` as column exclusion (#6136)
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/tests/integration/bad_error_messages.rs
  prqlc/prqlc/tests/integration/error_messages.rs
Due: no-dbg

fix: name the function and add a span to unknown-named-argument errors
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/tests/integration/bad_error_messages.rs
  prqlc/prqlc/tests/integration/error_messages.rs
Due: no-dbg

refine: remove unused `on` helper from website theme JS
  web/website/themes/prql-theme/static/main.js
Due: none

refine: drop now-unreachable `all` branch from `select`
  web/website/themes/prql-theme/static/main.js
Due: none

ci: expose cargo-insta and cargo-nextest to the tend sandbox
  .github/actions/tend-setup/action.yaml
Due: none

ci: fail loudly if the sandbox exposure step is a no-op
  .github/actions/tend-setup/action.yaml
Due: none

ci: keep the composite step count stable so tend-review passes
  .github/actions/tend-setup/action.yaml
Due: none

ci: record why sandbox_path lost to the symlink approach
  .github/actions/tend-setup/action.yaml
Due: none

docs: fix `%-d` example in date specifier table (#6138)
  web/book/src/reference/stdlib/date.md
Due: lychee

fix: name the function and add a span to unknown-named-argument errors (#6142)
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/tests/integration/bad_error_messages.rs
  prqlc/prqlc/tests/integration/error_messages.rs
Due: no-dbg

refine: remove unused `on` helper from website theme JS (#6143)
  web/website/themes/prql-theme/static/main.js
Due: none

chore: update tend workflows (0.1.13 → 0.1.14)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

fix: merge repeated module definitions instead of replacing them
  prqlc/prqlc/src/semantic/resolver/stmt.rs
Due: no-dbg

chore: move deprecated top-level ruff `ignore` under `[tool.ruff.lint]`
  prqlc/bindings/prqlc-python/pyproject.toml
Due: none

docs: correct Elixir CompileOptions.target docstring
  prqlc/bindings/elixir/native/prql/src/lib.rs
Due: no-dbg

docs: note target precedence in PRQL.compile/2 docs
  prqlc/bindings/elixir/lib/prql.ex
Due: none

docs: note the `:generic` default on Elixir `target`
  prqlc/bindings/elixir/native/prql/src/lib.rs
Due: no-dbg

fix: address review — changelog entry, error composition in test helper
  CHANGELOG.md
  prqlc/prqlc/src/semantic/resolver/stmt.rs
Due: lychee, no-dbg, prql-codeblock

fix: address review — split out import change, document merge semantics
  CHANGELOG.md
  prqlc/prqlc/src/semantic/resolver/stmt.rs
  web/book/src/reference/spec/modules.md
Due: lychee, no-dbg, prql-codeblock

fix: report duplicate import definitions as an error
  prqlc/prqlc/src/semantic/resolver/stmt.rs
Due: no-dbg

chore: changelog entry
  CHANGELOG.md
Due: lychee, prql-codeblock
