Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

Update prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/lexer/mod.rs
Due: no-dbg

.
  prqlc/prqlc-parser/src/lexer/mod.rs
Due: no-dbg

internal: Add a `Start` token at the beginning of LR output (#4721)
  prqlc/prqlc-parser/src/lexer/lr.rs
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/lexer/test.rs
  prqlc/prqlc-parser/src/parser/mod.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/tests/integration/cli.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__arithmetic.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__cast.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__constants_only.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__date_to_text.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__distinct.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__distinct_on.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__genre_counts.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__group_all.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__group_sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__group_sort_limit_take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__invoice_totals.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__loop_01.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__pipelines.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__read_csv.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__set_ops_remove.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__switch.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__text_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__window.snap
Due: no-dbg

tweak: Add code comment
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/parser/mod.rs
  prqlc/prqlc/src/parser.rs
Due: no-dbg

tweak: Add code comment (#4722)
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/parser/mod.rs
  prqlc/prqlc/src/parser.rs
Due: no-dbg

almost there
  prqlc/prqlc-parser/src/parser/common.rs
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/parser/mod.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc-parser/src/parser/test.rs
  prqlc/prqlc-parser/src/snapshots/prqlc_parser__test__pipeline_parse_tree.snap
  prqlc/prqlc-parser/src/test.rs
Due: no-dbg

.
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc-parser/src/test.rs
Due: no-dbg

feat: Add DocComments to PR (#4701)
  prqlc/prqlc-parser/src/error.rs
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/parser/common.rs
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/parser/interpolation.rs
  prqlc/prqlc-parser/src/parser/mod.rs
  prqlc/prqlc-parser/src/parser/perror.rs
  prqlc/prqlc-parser/src/parser/pr/expr.rs
  prqlc/prqlc-parser/src/parser/pr/stmt.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc-parser/src/parser/test.rs
  prqlc/prqlc-parser/src/snapshots/prqlc_parser__test__pipeline_parse_tree.snap
  prqlc/prqlc-parser/src/test.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/tests/integration/bad_error_messages.rs
  prqlc/prqlc/tests/integration/error_messages.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__arithmetic.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__cast.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__constants_only.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__date_to_text.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__distinct.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__distinct_on.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__genre_counts.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_all.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort_limit_take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__invoice_totals.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__loop_01.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__pipelines.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__read_csv.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__set_ops_remove.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__switch.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__text_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__window.snap
Due: no-dbg

refactor: Generalize a `sequence` parser
  prqlc/prqlc-parser/src/parser/common.rs
  prqlc/prqlc-parser/src/parser/expr.rs
Due: no-dbg

refactor: Generalize a `sequence` parser (#4727)
  prqlc/prqlc-parser/src/parser/common.rs
  prqlc/prqlc-parser/src/parser/expr.rs
Due: no-dbg

refactor: Remove `common` module
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/parser/common.rs
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/parser/mod.rs
  prqlc/prqlc-parser/src/parser/pr/expr.rs
  prqlc/prqlc-parser/src/parser/pr/stmt.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc-parser/src/parser/test.rs
  prqlc/prqlc-parser/src/parser/types.rs
  prqlc/prqlc-parser/src/span.rs
Due: no-dbg

refactor: Remove `common` module (#4728)
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/parser/common.rs
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/parser/interpolation.rs
  prqlc/prqlc-parser/src/parser/mod.rs
  prqlc/prqlc-parser/src/parser/pr/expr.rs
  prqlc/prqlc-parser/src/parser/pr/mod.rs
  prqlc/prqlc-parser/src/parser/pr/stmt.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc-parser/src/parser/test.rs
  prqlc/prqlc-parser/src/parser/types.rs
  prqlc/prqlc-parser/src/span.rs
Due: no-dbg

feat: Add doc comment to documentation generator
  prqlc/prqlc/src/cli/docs_generator.rs
Due: no-dbg

Update CHANGELOG.md
  CHANGELOG.md
Due: prql-codeblock

feat: Add doc comment to documentation generator (#4729)
  CHANGELOG.md
  prqlc/prqlc/src/cli/docs_generator.rs
Due: no-dbg, prql-codeblock

devops: Change PR title option to `refine` from `tweak`
  .github/workflows/pull-request-target.yaml
Due: none

internal: Unify location of `generic` module
  prqlc/prqlc-parser/src/generic.rs
  prqlc/prqlc-parser/src/parser/pr/mod.rs
  prqlc/prqlc-parser/src/span.rs
  prqlc/prqlc/src/ir/generic.rs
  prqlc/prqlc/src/ir/rq/expr.rs
Due: no-dbg

internal: Unify location of `generic` module (#4731)
  prqlc/prqlc-parser/src/generic.rs
  prqlc/prqlc-parser/src/parser/pr/mod.rs
  prqlc/prqlc-parser/src/span.rs
  prqlc/prqlc/src/ir/generic.rs
  prqlc/prqlc/src/ir/rq/expr.rs
Due: no-dbg

devops: Change PR title option to `refine` from `tweak` (#4730)
  .github/workflows/pull-request-target.yaml
Due: none

refactor: Extract `pipe` from parser
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/parser/mod.rs
Due: no-dbg

internal: Further restrict visibility of some items
  prqlc/prqlc-parser/src/parser/mod.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
Due: no-dbg

refactor: Extract `pipe` from parser (#4732)
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/parser/mod.rs
Due: no-dbg

internal: Further restrict visibility of some items (#4733)
  prqlc/prqlc-parser/src/parser/mod.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
Due: no-dbg

fix: Handle pipe characters preceeding `into` like a normal pipeline
  prqlc/prqlc-parser/src/parser/stmt.rs
Due: no-dbg

refactor: Use `sequence` in more places
  Cargo.lock
  Cargo.toml
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/parser/mod.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc-parser/src/parser/test.rs
  prqlc/prqlc-parser/src/parser/types.rs
  prqlc/prqlc-parser/src/test.rs
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort_limit_take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__invoice_totals.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__window.snap
Due: no-dbg

refactor: Use `sequence` in more places (#4735)
  Cargo.lock
  Cargo.toml
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/parser/mod.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc-parser/src/parser/test.rs
  prqlc/prqlc-parser/src/parser/types.rs
  prqlc/prqlc-parser/src/test.rs
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort_limit_take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__invoice_totals.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__window.snap
Due: no-dbg

build: Remove unused dependency
  Cargo.lock
  prqlc/prqlc-parser/Cargo.toml
Due: none

chore: Fix nightly lint
  web/book/src/lib.rs
Due: no-dbg

build: Remove unused dependency (#4736)
  Cargo.lock
  prqlc/prqlc-parser/Cargo.toml
Due: none

chore: Fix nightly lint (#4737)
  web/book/src/lib.rs
Due: no-dbg

internal: Fix nightly lint
  lutra/lutra/src/compile.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/semantic/mod.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/src/sql/operators.rs
  prqlc/prqlc/src/sql/pq/context.rs
  prqlc/prqlc/tests/integration/resolving.rs
Due: no-dbg

refactor: Fix nightly lint (#4738)
  lutra/lutra/src/compile.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/semantic/mod.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/src/sql/operators.rs
  prqlc/prqlc/src/sql/pq/context.rs
  prqlc/prqlc/tests/integration/resolving.rs
Due: no-dbg

feat: Improving error messages when parsin
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/parser/perror.rs
  prqlc/prqlc-parser/src/test.rs
Due: no-dbg

feat: Improving error messages when parsin (#4739)
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/parser/perror.rs
  prqlc/prqlc-parser/src/test.rs
Due: no-dbg

fix: Handle pipe characters preceeding `into` like a normal pipeline (#4734)
  prqlc/prqlc-parser/src/parser/stmt.rs
Due: no-dbg

refine(ci): Silence bun version warning in CI
  .github/workflows/build-web.yaml
Due: none

refine(ci): Silence bun version warning in CI (#4746)
  .github/workflows/build-web.yaml
Due: none

refine: Remove lambda funcs from pipeline items
  prqlc/prqlc-parser/src/parser/expr.rs
Due: no-dbg

refine: Add some tests & comments to parser
  prqlc/prqlc-parser/src/parser/expr.rs
Due: no-dbg

refine: Add some tests & comments to parser (#4748)
  prqlc/prqlc-parser/src/parser/expr.rs
Due: no-dbg

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
