Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

test: `types_or` for pre-commit `clang-format` (#4079)
  .mega-linter.yaml
  .pre-commit-config.yaml
  prqlc/bindings/clib/examples/minimal-c/main.c
Due: none

tweak: Fix comment re debug symbols
  Cargo.toml
Due: none

tweak: Fix comment re debug symbols (#4082)
  Cargo.toml
Due: none

Revert "[pre-commit.ci] auto fixes from pre-commit.com hooks"
  prqlc/prqlc/tests/integration/data/chinook/albums.csv
  prqlc/prqlc/tests/integration/data/chinook/artists.csv
  prqlc/prqlc/tests/integration/data/chinook/tracks.csv
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__text_module.snap
Due: none

Revert ""
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-2.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-3.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__functions_1.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__functions_nested.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline-2.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__named_args.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__variables_1.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__parser__pipeline_parse_tree.snap
  prqlc/prqlc/src/cli/cli.rs
  prqlc/prqlc/tests/snapshots/test__debug.snap
  prqlc/prqlc/tests/snapshots/test__shell_completion-2.snap
  prqlc/prqlc/tests/snapshots/test__shell_completion-3.snap
  prqlc/prqlc/tests/snapshots/test__shell_completion-4.snap
  prqlc/prqlc/tests/snapshots/test__shell_completion.snap
Due: no-dbg

docs: Write down naming approach (#4081)
  web/book/src/project/bindings/README.md
Due: none

refactor: Rename C bindings to `prqlc-c` (#4077)
  .github/actions/build-prqlc-c/action.yaml
  .github/actions/build-prqlc/action.yaml
  .github/workflows/release.yaml
  .github/workflows/test-dotnet.yaml
  .github/workflows/test-prqlc-c.yaml
  .github/workflows/tests.yaml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  Taskfile.yml
  prqlc/Taskfile.yaml
  prqlc/bindings/clib/examples/minimal-cpp/README.md
  prqlc/bindings/clib/examples/minimal-zig/Makefile
  prqlc/bindings/dotnet/PrqlCompiler/PrqlCompiler.cs
  prqlc/bindings/dotnet/PrqlCompiler/PrqlCompiler.csproj
  prqlc/bindings/dotnet/README.md
  prqlc/bindings/php/README.md
  prqlc/bindings/php/composer.lock
  prqlc/bindings/php/src/Compiler.php
  prqlc/bindings/php/src/Options.php
  prqlc/bindings/php/tests/CompilerTest.php
  prqlc/bindings/prqlc-c/Cargo.toml
  prqlc/bindings/prqlc-c/README.md
  prqlc/bindings/prqlc-c/cbindgen.toml
  prqlc/bindings/prqlc-c/examples/minimal-c/Makefile
  prqlc/bindings/prqlc-c/examples/minimal-c/README.md
  prqlc/bindings/prqlc-c/examples/minimal-c/main.c
  prqlc/bindings/prqlc-c/examples/minimal-cpp/Makefile
  prqlc/bindings/prqlc-c/examples/minimal-cpp/README.md
  prqlc/bindings/prqlc-c/examples/minimal-cpp/main.cpp
  prqlc/bindings/prqlc-c/examples/minimal-zig/.gitignore
  prqlc/bindings/prqlc-c/examples/minimal-zig/Makefile
  prqlc/bindings/prqlc-c/examples/minimal-zig/README.md
  prqlc/bindings/prqlc-c/examples/minimal-zig/build.zig
  prqlc/bindings/prqlc-c/examples/minimal-zig/src/main.zig
  prqlc/bindings/prqlc-c/prqlc.h
  prqlc/bindings/prqlc-c/prqlc.hpp
  prqlc/bindings/prqlc-c/src/lib.rs
  web/book/src/project/bindings/README.md
Due: no-dbg, prql-codeblock

feat: Add `options` to `rq_to_sql`
  prqlc/bindings/python/src/lib.rs
Due: no-dbg

feat: Add `options` to `rq_to_sql` (#4084)
  prqlc/bindings/python/src/lib.rs
Due: no-dbg

fix: name of modules in highlights
  web/book/highlight-prql.js
  web/playground/src/highlight.css
  web/playground/src/workbench/prql-syntax.js
  web/prql-codemirror-demo/src/lang-prql/complete.ts
  web/website/themes/prql-theme/static/plugins/highlight/highlight.css
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: none

fix: name of modules in highlights (#4085)
  web/book/highlight-prql.js
  web/playground/src/highlight.css
  web/playground/src/workbench/prql-syntax.js
  web/prql-codemirror-demo/src/lang-prql/complete.ts
  web/website/themes/prql-theme/static/plugins/highlight/highlight.css
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: none

chore: Backport #4085 to `web` (#4086)
  web/book/highlight-prql.js
  web/playground/src/highlight.css
  web/playground/src/workbench/prql-syntax.js
  web/prql-codemirror-demo/src/lang-prql/complete.ts
  web/website/themes/prql-theme/static/plugins/highlight/highlight.css
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: none

docs: update type system definition
  web/book/src/reference/spec/type-system.md
Due: none

docs: update type system definition (#4087)
  web/book/src/reference/spec/type-system.md
Due: none

test: Move `prqlc-parser` tests into `prqlc-parser`
  prqlc/prqlc-parser/src/lib.rs
  prqlc/prqlc-parser/src/snapshots/prqlc_parser__test__pipeline_parse_tree.snap
  prqlc/prqlc-parser/src/test.rs
  prqlc/prqlc/tests/integration/main.rs
Due: no-dbg

tweak: Markdown autoformatting
  web/book/src/project/contributing/development.md
Due: none

devops: Swap `Makefile` for `Taskfile`
  Taskfile.yml
  prqlc/bindings/prqlc-c/examples/minimal-zig/Makefile
  prqlc/bindings/prqlc-c/examples/minimal-zig/README.md
  prqlc/bindings/prqlc-c/examples/minimal-zig/Taskfile.yml
Due: none

tweak: Markdown autoformatting (#4089)
  web/book/src/project/contributing/development.md
Due: none

devops: Swap `Makefile` for `Taskfile` (#4090)
  Taskfile.yml
  prqlc/bindings/prqlc-c/examples/minimal-zig/Makefile
  prqlc/bindings/prqlc-c/examples/minimal-zig/README.md
  prqlc/bindings/prqlc-c/examples/minimal-zig/Taskfile.yml
Due: none

refactor: Put lexer tests in a module
  prqlc/prqlc-parser/src/lexer.rs
Due: no-dbg

refactor: Put lexer tests in a module (#4093)
  prqlc/prqlc-parser/src/lexer.rs
Due: no-dbg

refactor: Separate `lex_token`
  prqlc/prqlc-parser/src/lexer.rs
Due: no-dbg

ci: Fix zig CI
  .github/workflows/test-prqlc-c.yaml
  .github/workflows/tests.yaml
Due: none

refactor: Separate `lex_token` (#4094)
  prqlc/prqlc-parser/src/lexer.rs
Due: no-dbg

ci: Fix zig CI (#4095)
  .github/workflows/test-prqlc-c.yaml
  .github/workflows/tests.yaml
Due: none

test: Move `prqlc-parser` tests into `prqlc-parser` (#4088)
  prqlc/prqlc-parser/src/lib.rs
  prqlc/prqlc-parser/src/snapshots/prqlc_parser__test__pipeline_parse_tree.snap
  prqlc/prqlc-parser/src/test.rs
  prqlc/prqlc/tests/integration/main.rs
Due: no-dbg

devops: Add `cargo doc` to `build-all` task
  Taskfile.yml
Due: none

devops: Add `cargo doc` to `build-all` task (#4098)
  Taskfile.yml
Due: none

format: Run on newer prettier version
  .devcontainer/devcontainer.json
  web/prql-codemirror-demo/tsconfig.json
Due: none

disable prettier until the next version
  .pre-commit-config.yaml
Due: none

devops: Run on newer prettier version (#4101)
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  web/prql-codemirror-demo/tsconfig.json
Due: none

docs: Add docstring for `source_id`
  prqlc/prqlc-ast/src/span.rs
Due: no-dbg

docs: Add docstring for `source_id` (#4102)
  prqlc/prqlc-ast/src/span.rs
Due: no-dbg

checkpoint 1
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
Due: no-dbg

checkpoint 2
  prqlc/prqlc/src/semantic/resolver/expr.rs
Due: no-dbg

checkpoint 3
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
Due: no-dbg

clippy
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/tests/integration/cli.rs
Due: no-dbg

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
