Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, prql-codeblock

lychee:
  name: lychee (local links only)
  entry: lychee
  language: rust
  additional_dependencies:
  - cli:lychee:0.20.1
  args:
  - --no-progress
  - --include=^(https://(github\.com/(PRQL|prql)|prql-lang\.org|raw\.githubusercontent\.com/(PRQL|prql))|file://)

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

chore: update tend workflows (0.1.18 → 0.1.19) (#6237)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

fix: report an error for an unknown target in the JS binding (#6238)
  CHANGELOG.md
  prqlc/bindings/js/src/lib.rs
  prqlc/bindings/js/tests/test_all.mjs
Due: lychee, no-dbg, prql-codeblock

chore: stop Dependabot re-proposing MSRV-breaking mdbook bumps
  .github/dependabot.yaml
Due: none

chore: correct the mdbook-preprocessor mechanism in the ignore comment
  .github/dependabot.yaml
Due: none

fix(playground): stop highlighting `//` integer division as a comment
  web/playground/src/workbench/prql-syntax.js
Due: none

chore: update tend workflows (0.1.19 → 0.1.20)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

fix: declare the CodeMirror demo's direct `@codemirror/state` dependency
  web/prql-codemirror-demo/package-lock.json
  web/prql-codemirror-demo/package.json
Due: none

fix: declare the CodeMirror demo's direct `@codemirror/state` dependency (#6243)
  web/prql-codemirror-demo/package-lock.json
  web/prql-codemirror-demo/package.json
Due: none

chore: update tend workflows (0.1.19 → 0.1.20) (#6242)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

fix(playground): stop highlighting `//` integer division as a comment (#6241)
  web/playground/src/workbench/prql-syntax.js
Due: none

chore: stop Dependabot re-proposing MSRV-breaking mdbook bumps (#6240)
  .github/dependabot.yaml
Due: none

chore: raise MSRV to Rust 1.85
  .github/dependabot.yaml
  Cargo.lock
  Cargo.toml
  prqlc/prqlc/Cargo.toml
  web/book/Cargo.toml
Due: none

chore: align minimum dependency versions
  Cargo.lock
  Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-2.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-4.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion.snap
  web/book/Cargo.toml
Due: none

chore: satisfy Rust 1.97 clippy
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/sql/pq/postprocess.rs
Due: no-dbg

chore: preserve Windows dependency resolution
  Cargo.lock
Due: none

test: cover module removal helper
  prqlc/prqlc/src/cli/mod.rs
Due: no-dbg

chore: raise prqlc MSRV to Rust 1.85 (#6246)
  .github/dependabot.yaml
  Cargo.lock
  Cargo.toml
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-2.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-4.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion.snap
  prqlc/prqlc/src/sql/pq/postprocess.rs
  web/book/Cargo.toml
Due: no-dbg

docs: fix invalid `DISTINCT ON` SQL in the s-strings book page
  web/book/src/reference/syntax/s-strings.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__s-strings__3.snap
Due: lychee

docs: replace stale Vim install steps with the upstream grammar's actual setup
  grammars/vim/README.md
Due: lychee

internal: stop `toposort` panicking when a dependency key is repeated
  prqlc/prqlc/src/utils/toposort.rs
Due: no-dbg

docs: correct Vim version boundaries for PRQL detection and syntax file
  grammars/vim/README.md
Due: lychee

internal: document `toposort`'s contract
  prqlc/prqlc/src/utils/toposort.rs
Due: no-dbg

internal: qualify `toposort`'s cycle-detection claim for `start`
  prqlc/prqlc/src/utils/toposort.rs
Due: no-dbg

ci: install cargo-insta and cargo-nextest into the tend sandbox
  .config/tend.yaml
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

ci: drop the now-unused runner-home installs, narrow the config comment
  .config/tend.yaml
  .github/actions/tend-setup/action.yaml
Due: none

docs: remove the grammars/vim README in favour of the grammars index
  grammars/README.md
  grammars/vim/README.md
Due: lychee

docs: fix invalid `DISTINCT ON` SQL in the s-strings book page (#6248)
  web/book/src/reference/syntax/s-strings.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__s-strings__3.snap
Due: lychee

docs: remove the grammars/vim README, covered by the grammars index (#6249)
  grammars/README.md
  grammars/vim/README.md
Due: lychee

chore: update tend workflows (0.1.20 → 0.1.22)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

ci: remove the inert nox/uv cache step from test-python
  .github/workflows/test-python.yaml
Due: none

docs: correct stale type names in prqlc ARCHITECTURE.md
  prqlc/prqlc/ARCHITECTURE.md
Due: lychee

ci: tell actionlint about the concurrency `queue` key
  .github/actionlint.yaml
Due: none

docs: expand RQ as Relational Query in the stage table
  prqlc/prqlc/ARCHITECTURE.md
Due: lychee

chore: update tend workflows (0.1.20 → 0.1.22) (#6252)
  .github/actionlint.yaml
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

docs: correct stale type names in prqlc ARCHITECTURE.md (#6254)
  prqlc/prqlc/ARCHITECTURE.md
Due: lychee

ci: remove the inert nox/uv cache step from test-python (#6253)
  .github/workflows/test-python.yaml
Due: none

chore: update tend workflows (0.1.22 → 0.1.24)
  .github/actionlint.yaml
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

fix: opt in to `FromPyObject` for `CompileOptions` under pyo3 0.28
  prqlc/bindings/prqlc-python/src/lib.rs
Due: no-dbg

chore: update tend workflows (0.1.22 → 0.1.24) (#6255)
  .github/actionlint.yaml
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

ci: install cargo-insta and cargo-nextest into the tend sandbox (#6251)
  .config/tend.yaml
  .github/actions/tend-setup/action.yaml
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

Path conditions:
  lychee: any of: \.(md|rst)$, but not: ^web/website/themes/
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
