Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

refactor: Convert external snapshot to inline snapshot
  prqlc/prqlc-parser/src/parser/perror.rs
  prqlc/prqlc-parser/src/parser/snapshots/prqlc_parser__parser__perror__tests__error_messages-2.snap
Due: no-dbg

fix: ignore links that block CI requests in link checker
  .config/.markdown-link-check-all.json
Due: none

fix: remove broken dotfiles links from blog post
  .config/.markdown-link-check-all.json
  web/website/content/posts/2023-01-27-prql-query.md
Due: none

fix(postprocess): when redirecting sort columns, look up the relation from the matching table_ref
  prqlc/prqlc/src/sql/pq/postprocess.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: add news.ycombinator.com to link checker ignore list
  .config/.markdown-link-check-all.json
Due: none

fix: ignore links that block CI requests in link checker (#5485)
  .config/.markdown-link-check-all.json
  web/website/content/posts/2023-01-27-prql-query.md
Due: none

feat: Upgrade parser to Chumsky 0.11.1 (#5483)
  Cargo.lock
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc-parser/src/error.rs
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/lexer/test.rs
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/parser/interpolation.rs
  prqlc/prqlc-parser/src/parser/mod.rs
  prqlc/prqlc-parser/src/parser/perror.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc-parser/src/parser/test.rs
  prqlc/prqlc-parser/src/parser/types.rs
  prqlc/prqlc-parser/src/span.rs
  prqlc/prqlc-parser/src/test.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/tests/integration/bad_error_messages.rs
  prqlc/prqlc/tests/integration/error_messages.rs
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__f-strings__2.snap
Due: no-dbg

fix(postprocess): when redirecting sort columns, look up the relation from the matching table_ref (#5486)
  prqlc/prqlc/src/sql/pq/postprocess.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

chore: Add 0.13.5 changelog entry
  CHANGELOG.md
Due: prql-codeblock

chore: Add 0.13.5 changelog entry (#5487)
  CHANGELOG.md
Due: prql-codeblock

perf: reduce allocations in lexer number parsing
  prqlc/prqlc-parser/src/lexer/mod.rs
Due: no-dbg

chore: Release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/packages/snap/snapcraft.yaml
  prqlc/prqlc-macros/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  web/book/src/project/target.md
  web/playground/package-lock.json
  web/playground/package.json
Due: no-dbg, prql-codeblock

feat!: strict equality operator
  grammars/prql-lezer/src/prql.grammar
  prqlc/prqlc-parser/src/lexer/lr.rs
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/parser/pr/ops.rs
  prqlc/prqlc/src/cli/highlight.rs
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__frames_and_names.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__functions_pipeline.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prqlc/src/semantic/resolver/static_eval.rs
  prqlc/prqlc/src/semantic/std.prql
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/src/sql/pq/preprocess.rs
  prqlc/prqlc/src/sql/std.sql.prql
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/reference/spec/null.md
  web/book/src/reference/syntax/README.md
  web/book/src/reference/syntax/operators.md
  web/playground/src/workbench/prql-syntax.js
  web/website/data/examples/null-handling.yaml
Due: no-dbg

perf: use zero-copy slice for binary/hex/octal number parsing
  prqlc/prqlc-parser/src/lexer/mod.rs
Due: no-dbg

perf: use zero-copy slice for binary/hex/octal number parsing (#5488)
  prqlc/prqlc-parser/src/lexer/mod.rs
Due: no-dbg

Revert "build: Enable resolver v3 with MSRV testing workaround (#5444)"
  .github/workflows/tests.yaml
  Cargo.toml
Due: none

build: do not allow incompatible rust-version dependencies
  .cargo/config.toml
Due: none

revert: "build: Enable resolver v3 with MSRV testing workaround" (#5492)
  .github/workflows/tests.yaml
  Cargo.toml
Due: none

build: do not allow incompatible rust-version dependencies (#5493)
  .cargo/config.toml
Due: none

test: fix snapshot
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
Due: none

chore: Bump version to 0.13.6 (#5489)
  Cargo.lock
  Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/packages/snap/snapcraft.yaml
  prqlc/prqlc-macros/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: no-dbg

fix: append regression
  prqlc/prqlc/src/sql/pq/positional_mapping.rs
  prqlc/prqlc/tests/integration/queries/append_cte_complex.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__append_cte_complex.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__append_select.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__append_select_multiple_with_null.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_cte_complex.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_multiple_with_null.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__append_cte_complex.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__append_cte_complex.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__append_cte_complex.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__append_cte_complex.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__date_to_text.snap
Due: no-dbg

fix: s-string escaping
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/lexer/test.rs
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/tests/integration/queries/sstring_escaped_quotes.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__sstring_escaped_quotes.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__sstring_escaped_quotes.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__sstring_escaped_quotes.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__sstring_escaped_quotes.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__sstring_escaped_quotes.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__sstring_escaped_quotes.snap
Due: no-dbg

refactor: replace integration test with inline test for s-string escaping
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/tests/integration/queries/sstring_escaped_quotes.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__sstring_escaped_quotes.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__sstring_escaped_quotes.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__sstring_escaped_quotes.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__sstring_escaped_quotes.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__sstring_escaped_quotes.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__sstring_escaped_quotes.snap
Due: no-dbg

fix: s-string escaping (#5497)
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/lexer/test.rs
  prqlc/prqlc/src/codegen/ast.rs
Due: no-dbg

chore: remove unused entries from allowed-skips list
  .github/workflows/tests.yaml
Due: none

chore: remove unused entries from allowed-skips list (#5505)
  .github/workflows/build-web.yaml
  .github/workflows/release.yaml
  .github/workflows/test-js.yaml
  .github/workflows/tests.yaml
Due: none

feat: migrate devcontainer build from QEMU to native ARM64 runners
  .github/workflows/build-devcontainer.yaml
Due: none

fix: use lowercase image name for Docker registry
  .github/workflows/build-devcontainer.yaml
Due: none

feat: migrate devcontainer build from QEMU to native ARM64 runners (#5506)
  .github/workflows/build-devcontainer.yaml
Due: none

chore: trigger devcontainer-push on workflow changes
  .github/workflows/tests.yaml
Due: none

chore: trigger devcontainer-push on workflow changes (#5507)
  .github/workflows/tests.yaml
Due: none

docs: add comment to build-devcontainer workflow
  .github/workflows/build-devcontainer.yaml
Due: none

docs: add comment to build-devcontainer workflow (#5508)
  .github/workflows/build-devcontainer.yaml
Due: none

fix: filter out attestation manifests in platform verification
  .github/workflows/build-devcontainer.yaml
Due: none

fix: filter out attestation manifests in platform verification (#5509)
  .github/workflows/build-devcontainer.yaml
Due: none

chore: pin typos to v1.37.2
  .pre-commit-config.yaml
Due: none

chore: pin typos to v1.37.2 (#5510)
  .pre-commit-config.yaml
Due: none

feat: migrate from markdown-link-check to lychee for link checking
  .config/.markdown-link-check-all.json
  .config/.markdown-link-check-local.json
  .config/lychee.toml
  .github/workflows/tests.yaml
  .gitignore
  .pre-commit-config.yaml
Due: none

fix: skip lychee-all hook in pre-commit.ci
  .pre-commit-config.yaml
Due: none

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
