Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

feat: add filter based on a list of values
  prqlc/prql-compiler/src/semantic/resolver/transforms.rs
  prqlc/prql-compiler/src/sql/gen_expr.rs
  prqlc/prql-compiler/tests/integration/sql.rs
Due: no-dbg

ok for col as first arg
  prqlc/prql-compiler/src/semantic/resolver/transforms.rs
  prqlc/prql-compiler/src/sql/gen_expr.rs
Due: no-dbg

add TODO comment
  prqlc/prql-compiler/src/semantic/resolver/transforms.rs
Due: no-dbg

docs: update changelog
  CHANGELOG.md
Due: prql-codeblock

refactor: rename RqOperator
  prqlc/prql-compiler/src/semantic/resolver/transforms.rs
  prqlc/prql-compiler/src/sql/gen_expr.rs
Due: no-dbg

docs: better changelog
  CHANGELOG.md
Due: prql-codeblock

feat: add filter based on a list of values (#3883)
  CHANGELOG.md
  prqlc/prql-compiler/src/semantic/resolver/transforms.rs
  prqlc/prql-compiler/src/sql/gen_expr.rs
  prqlc/prql-compiler/tests/integration/sql.rs
Due: no-dbg, prql-codeblock

refactor: have fixed number of args for `RqOperator`
  prqlc/prql-compiler/src/ir/rq/expr.rs
  prqlc/prql-compiler/src/ir/rq/fold.rs
  prqlc/prql-compiler/src/semantic/lowering.rs
  prqlc/prql-compiler/src/semantic/resolver/transforms.rs
  prqlc/prql-compiler/src/sql/gen_expr.rs
  prqlc/prql-compiler/src/sql/srq/anchor.rs
Due: no-dbg

feat: raise a proper error
  prqlc/prql-compiler/src/sql/gen_expr.rs
  prqlc/prql-compiler/src/sql/srq/anchor.rs
  prqlc/prql-compiler/tests/integration/bad_error_messages.rs
Due: no-dbg

chore: move test to other file
  prqlc/prql-compiler/tests/integration/bad_error_messages.rs
  prqlc/prql-compiler/tests/integration/error_messages.rs
Due: no-dbg

chore: remove deprecated comment
  prqlc/prql-compiler/tests/integration/error_messages.rs
Due: no-dbg

fix: array should have highest complexity
  prqlc/prql-compiler/src/sql/srq/anchor.rs
Due: no-dbg

fix
  prqlc/prql-compiler/src/sql/gen_query.rs
Due: no-dbg

docs: Fix syntax in example
  web/website/content/posts/2022-05-19-examples.md
Due: none

docs: Fix syntax in example (#3892)
  web/website/content/posts/2022-05-19-examples.md
Due: none

refactor: have fixed number of args for `RqOperator` (#3884)
  prqlc/prql-compiler/src/ir/rq/expr.rs
  prqlc/prql-compiler/src/ir/rq/fold.rs
  prqlc/prql-compiler/src/semantic/lowering.rs
  prqlc/prql-compiler/src/semantic/resolver/transforms.rs
  prqlc/prql-compiler/src/sql/gen_expr.rs
  prqlc/prql-compiler/src/sql/srq/anchor.rs
  prqlc/prql-compiler/tests/integration/bad_error_messages.rs
  prqlc/prql-compiler/tests/integration/error_messages.rs
Due: no-dbg

fix
  web/book/src/lib.rs
Due: no-dbg

feat(Lezer grammar): Highlight DateTime
  grammars/prql-lezer/src/highlight.js
Due: none

feat(Lezer grammar): Highlight DateTime (#3896)
  grammars/prql-lezer/src/highlight.js
Due: none

refactor(Lezer grammar): Rename TypeTerm
  grammars/prql-lezer/src/highlight.js
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/misc.txt
Due: none

feat(Lezer grammar): Add parameters
  grammars/prql-lezer/src/highlight.js
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/misc.txt
Due: none

docs: add info on std.in
  web/book/src/SUMMARY.md
  web/book/src/reference/stdlib/compute/README.md
  web/book/src/reference/stdlib/transforms/filter.md
Due: none

feat(Lezer grammar): Add parameters (#3901)
  grammars/prql-lezer/src/highlight.js
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/misc.txt
Due: none

refactor(Lezer grammar): Rename TypeTerm (#3900)
  grammars/prql-lezer/src/highlight.js
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/misc.txt
Due: none

docs: simplify
  web/book/src/SUMMARY.md
  web/book/src/reference/declarations/functions.md
  web/book/src/reference/stdlib/compute/README.md
  web/book/src/reference/stdlib/transforms/filter.md
Due: none

test: add new snapshot
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__other-examples__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__filter__examples__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__filter__examples__3.snap
Due: none

docs: add info on std.in (#3902)
  web/book/src/reference/declarations/functions.md
  web/book/src/reference/stdlib/transforms/filter.md
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__other-examples__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__filter__examples__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__filter__examples__3.snap
Due: none

feat(Lezer grammar): Parenthesized expressions
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/misc.txt
Due: none

feat(Lezer grammar): Parenthesized expressions (#3906)
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/misc.txt
Due: none

Add tests
  grammars/prql-lezer/test/full_queries.txt
  grammars/prql-lezer/test/operators.txt
Due: none

feat(Lezer grammar): Add self equals operator (#3881)
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/full_queries.txt
  grammars/prql-lezer/test/operators.txt
Due: none

feat(Lezer grammar): Add annotations
  grammars/prql-lezer/src/highlight.js
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/misc.txt
Due: none

feat: add main mathemtical functions
  prqlc/prql-compiler/src/sql/std.sql.prql
Due: none

feat: add definitions
  prqlc/prql-compiler/src/semantic/std.prql
Due: none

feat: add highlight
  web/book/highlight-prql.js
  web/prql-codemirror-demo/src/lang-prql/complete.ts
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: none

feat: support new ** as pow operator
  prqlc/prql-compiler/src/codegen/ast.rs
  prqlc/prql-compiler/src/semantic/ast_expand.rs
  prqlc/prqlc-ast/src/expr/ops.rs
  prqlc/prqlc-parser/src/error.rs
  prqlc/prqlc-parser/src/expr.rs
  prqlc/prqlc-parser/src/lexer.rs
  web/book/src/reference/syntax/operators.md
Due: no-dbg

test: add basic TU
  prqlc/prql-compiler/tests/integration/sql.rs
Due: no-dbg

chore: changelog
  CHANGELOG.md
Due: prql-codeblock

test: update snapshots
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-2.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-3.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
Due: none

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
