Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.(rs|snap)$'
  - repo: https://github.com/crate-ci/typos
    rev: typos-dict-v0.11.35
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.3.3
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          # TODO: This doesn't seem to work, would be great to fix.
          # https://github.com/PRQL/prql/issues/3078
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.3
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: clippy
        stages: [manual]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.4
    hooks:
      - id: actionlint
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.13.6
    hooks:
      - id: markdown-link-check
        name: markdown-link-check-local
        types: [markdown]
        args: ["--config=.config/.markdown-link-check-local.json"]
        # To run across everything (see nightly.yaml for more details)
      - id: markdown-link-check
        name: markdown-link-check-all
        stages: [manual]
        types: [markdown]
        args: ["--config=.config/.markdown-link-check-all.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote

ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

fix(prqlc, append): apply column order on CTEs too
  prqlc/prqlc/src/sql/pq/anchor.rs
  prqlc/prqlc/src/sql/pq/context.rs
  prqlc/prqlc/src/sql/pq/gen_query.rs
  prqlc/prqlc/src/sql/pq/mod.rs
  prqlc/prqlc/src/sql/pq/positional_mapping.rs
  prqlc/prqlc/tests/integration/queries/append_select.prql
  prqlc/prqlc/tests/integration/queries/append_select_compute.prql
  prqlc/prqlc/tests/integration/queries/append_select_multiple_with_null.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__append_select.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__append_select_multiple_with_null.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__append_select.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__append_select_multiple_with_null.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__append_select.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__append_select_multiple_with_null.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__append_select.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__append_select_multiple_with_null.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__append_select.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__append_select_multiple_with_null.snap
Due: no-dbg

fix(prqlc): deduplicate selected items in gen_projection
  prqlc/prqlc/src/sql/gen_projection.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

refactor: only deduplicate unnamed expressions for now + ensure multiple aliases work as expected in the test
  prqlc/prqlc/src/sql/gen_projection.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

chore: clippy
  prqlc/prqlc/src/sql/gen_projection.rs
Due: no-dbg

refactor(prqlc, append): remove extra checks and unused logic
  prqlc/prqlc/src/sql/pq/positional_mapping.rs
Due: no-dbg

updated examples
  prqlc/prqlc/examples/compile-files/queries/arrays.prql
  prqlc/prqlc/examples/compile-files/queries/sql_arrays.prql
Due: none

fix(prqlc, append): apply column order on CTEs too (#5323)
  prqlc/prqlc/src/sql/pq/anchor.rs
  prqlc/prqlc/src/sql/pq/context.rs
  prqlc/prqlc/src/sql/pq/gen_query.rs
  prqlc/prqlc/src/sql/pq/mod.rs
  prqlc/prqlc/src/sql/pq/positional_mapping.rs
  prqlc/prqlc/tests/integration/queries/append_select.prql
  prqlc/prqlc/tests/integration/queries/append_select_compute.prql
  prqlc/prqlc/tests/integration/queries/append_select_multiple_with_null.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__append_select.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__append_select_multiple_with_null.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__append_select.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__append_select_multiple_with_null.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__append_select.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__append_select_multiple_with_null.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__append_select.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__append_select_multiple_with_null.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__append_select.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__append_select_multiple_with_null.snap
Due: no-dbg

fix(prqlc): deduplicate selected items in gen_projection (#5305)
  prqlc/prqlc/src/sql/gen_projection.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

updated for new array support
  prqlc/prqlc/examples/compile-files/queries/arrays.prql
  prqlc/prqlc/tests/integration/error_messages.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix(book): use correct table in grouping tutorial
  web/book/src/tutorial/aggregation.md
Due: none

fix(prqlc/anchor): recompute CId redirects after compiling a relation
  prqlc/prqlc/src/sql/pq/anchor.rs
  prqlc/prqlc/src/sql/pq/gen_query.rs
  prqlc/prqlc/src/sql/pq/postprocess.rs
Due: no-dbg

test: added test cases from issue comments
  prqlc/prqlc/tests/integration/queries/group_sort_derive_select_join.prql
  prqlc/prqlc/tests/integration/queries/group_sort_filter_derive_select_join.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__group_sort_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__group_sort_filter_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort_filter_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__group_sort_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__group_sort_filter_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__group_sort_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__group_sort_filter_derive_select_join.snap
Due: none

fix: adapt tests
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__group_sort.snap
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

refactor: revert_sorts is not needed anymore
  prqlc/prqlc/src/sql/pq/anchor.rs
  prqlc/prqlc/src/sql/pq/postprocess.rs
Due: no-dbg

fix: added missing query results snapshots
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__group_sort_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__group_sort_filter_derive_select_join.snap
Due: none

fix(tests): use an aggregation function that has the same behavior for sqlite and mysql
  prqlc/prqlc/tests/integration/queries/group_sort_derive_select_join.prql
  prqlc/prqlc/tests/integration/queries/group_sort_filter_derive_select_join.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__group_sort_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__group_sort_filter_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort_filter_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__group_sort_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__group_sort_filter_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__group_sort_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__group_sort_filter_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__group_sort_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__group_sort_filter_derive_select_join.snap
Due: none

fix: ensure sorts are always done on columns of the right table (#5338)
  prqlc/prqlc/src/sql/pq/anchor.rs
  prqlc/prqlc/src/sql/pq/gen_query.rs
  prqlc/prqlc/src/sql/pq/postprocess.rs
  prqlc/prqlc/tests/integration/queries/group_sort_derive_select_join.prql
  prqlc/prqlc/tests/integration/queries/group_sort_filter_derive_select_join.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__group_sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__group_sort_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__group_sort_filter_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort_filter_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__group_sort_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__group_sort_filter_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__group_sort_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__group_sort_filter_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__group_sort_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__group_sort_filter_derive_select_join.snap
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix(book): use correct table in grouping tutorial (#5332)
  web/book/src/tutorial/aggregation.md
Due: none

feat: Support for sql arrays as s[...] (#5312)
  prqlc/prqlc/examples/compile-files/queries/arrays.prql
  prqlc/prqlc/src/semantic/std.prql
  prqlc/prqlc/src/sql/dialect.rs
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/src/sql/pq/anchor.rs
  prqlc/prqlc/tests/integration/error_messages.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: missing snapshots
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__append_select_simple.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__append_select_simple.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__append_select_simple.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__append_select_simple.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__append_select_simple.snap
Due: none

test: integration, compile all dialects and diff
  prqlc/prqlc/tests/integration/queries.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_multiple_with_null.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__arithmetic.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__cast.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__constants_only.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__distinct.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__distinct_on.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__genre_counts.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__group_all.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__group_sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__group_sort_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__group_sort_filter_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__group_sort_limit_take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__invoice_totals.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__loop_01.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__pipelines.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__read_csv.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__set_ops_remove.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__sort_2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__sort_3.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__switch.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__text_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__window.snap
Due: no-dbg

extend test timeouts for compileall
  .config/nextest.toml
Due: none

chore: set rust linker on win64, fix build crash
  .cargo/config.toml
Due: none

try being a bit permissive if certain windows tests fail
  .github/workflows/test-js.yaml
  .github/workflows/test-rust.yaml
  .github/workflows/tests.yaml
Due: none

chore: set rust linker on win64, fix build crash (#5345)
  .cargo/config.toml
  .github/workflows/test-js.yaml
  .github/workflows/test-rust.yaml
  .github/workflows/tests.yaml
Due: none

build: invalidate certain cargo-install caches, fixing Win build pt 2
  .github/workflows/test-js.yaml
  .github/workflows/test-rust.yaml
Due: none

looks like cargo-nextest also needs the treatment
  .github/workflows/test-rust.yaml
Due: none

Box large SQL AST types
  prqlc/prqlc/src/debug/log.rs
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/src/sql/gen_query.rs
Due: no-dbg

test: integration, compile all dialects and diff (#5344)
  .config/nextest.toml
  prqlc/prqlc/tests/integration/queries.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_multiple_with_null.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__arithmetic.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__cast.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__constants_only.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__distinct.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__distinct_on.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__genre_counts.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__group_all.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__group_sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__group_sort_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__group_sort_filter_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__group_sort_limit_take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__invoice_totals.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__loop_01.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__pipelines.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__read_csv.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__set_ops_remove.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__sort_2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__sort_3.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__switch.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__text_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__window.snap
Due: no-dbg

build: Update rust toolchain version (#5340)
  prqlc/prqlc/src/debug/log.rs
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/src/sql/gen_query.rs
  rust-toolchain.toml
Due: no-dbg

fix: do not require sort columns if it's followed by an aggregation
  prqlc/prqlc/src/sql/pq/anchor.rs
  prqlc/prqlc/tests/integration/queries/sort_with_aggregation.prql
  prqlc/prqlc/tests/integration/queries/sort_with_aggregation_and_limit.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__sort_with_aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__sort_with_aggregation_and_limit.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__sort_with_aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__sort_with_aggregation_and_limit.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__sort_with_aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__sort_with_aggregation_and_limit.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__sort_with_aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__sort_with_aggregation_and_limit.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__sort_with_aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__sort_with_aggregation_and_limit.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__sort_with_aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__sort_with_aggregation_and_limit.snap
Due: no-dbg

try setting RUSTFLAGS during test phase
  .github/workflows/test-rust.yaml
Due: none

doc: add comment to explain aggregate condition on sort requirements
  prqlc/prqlc/src/sql/pq/anchor.rs
Due: no-dbg

fix(prqlc): activate fix for Google BigQuery too
  prqlc/prqlc/src/sql/dialect.rs
Due: no-dbg

fix(prqlc, append): avoid type mismatch with postgres (#5343)
  prqlc/prqlc/src/ir/rq/fold.rs
  prqlc/prqlc/src/ir/rq/mod.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/mod.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/sql/dialect.rs
  prqlc/prqlc/src/sql/gen_query.rs
  prqlc/prqlc/src/sql/pq/anchor.rs
  prqlc/prqlc/src/sql/pq/gen_query.rs
  prqlc/prqlc/tests/integration/queries/append_select_nulls.prql
  prqlc/prqlc/tests/integration/queries/append_select_simple.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__append_select.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__append_select_multiple_with_null.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__append_select_nulls.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__append_select_simple.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_multiple_with_null.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_nulls.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_simple.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__append_select_nulls.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__append_select_simple.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__append_select_nulls.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__append_select_simple.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__append_select_nulls.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__append_select_simple.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__append_select_nulls.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__append_select_simple.snap
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

tests: disable test termination
  .config/nextest.toml
Due: none

tests: disable test termination (#5351)
  .config/nextest.toml
Due: none

test: add single inline test instead of integration tests
  CHANGELOG.md
  prqlc/prqlc/tests/integration/queries/sort_with_aggregation.prql
  prqlc/prqlc/tests/integration/queries/sort_with_aggregation_and_limit.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__sort_with_aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__sort_with_aggregation_and_limit.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__sort_with_aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__sort_with_aggregation_and_limit.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__sort_with_aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__sort_with_aggregation_and_limit.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__sort_with_aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__sort_with_aggregation_and_limit.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__sort_with_aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__sort_with_aggregation_and_limit.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__sort_with_aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__sort_with_aggregation_and_limit.snap
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg, prql-codeblock
