Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.(rs|snap)$'
  - repo: https://github.com/crate-ci/typos
    rev: v1
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          # TODO: This doesn't seem to work, would be great to fix.
          # https://github.com/PRQL/prql/issues/3078
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.5
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: clippy
        stages: [manual]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint
  # Link checker using local hooks with language: rust
  # Pre-commit will automatically install lychee via cargo
  - repo: local
    hooks:
      - id: lychee
        name: lychee (local links only)
        entry: lychee
        language: rust
        additional_dependencies: ["cli:lychee:0.20.1"]
        files: \.(md|rst)$
        exclude: ^web/website/themes/
        args:
          - --no-progress
          # For PRs: whitelist PRQL domains and local files only
          # Pattern matches:
          #   - github.com/PRQL/* and github.com/prql/*
          #   - prql-lang.org/*
          #   - raw.githubusercontent.com/PRQL/* and raw.githubusercontent.com/prql/*
          #   - file://* (local/relative links)
          # All other external links are skipped for faster PR checks
          - --include=^(https://(github\.com/(PRQL|prql)|prql-lang\.org|raw\.githubusercontent\.com/(PRQL|prql))|file://)
      - id: lychee-all
        name: lychee-all (all links)
        entry: lychee
        language: rust
        additional_dependencies: ["cli:lychee:0.20.1"]
        stages: [manual]
        files: \.(md|rst)$
        exclude: ^web/website/themes/
        args: ["--config=.config/lychee.toml", "--no-progress"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote

ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, lychee, lychee-all]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

refine: remove unused empty ResolverOptions struct
  prqlc/prqlc/src/semantic/mod.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
Due: no-dbg

docs: document `date.diff` in the date functions page
  web/book/src/reference/stdlib/date.md
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__date__date-functions__5.snap
Due: lychee

chore: update tend workflows
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

docs: state date.diff argument order and narrow the dialect note
  web/book/src/reference/stdlib/date.md
Due: lychee

fix: compile text.contains to || concatenation on sql.oracle
  prqlc/prqlc/src/sql/std.sql.prql
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

docs: add changelog entry for the sql.oracle text.contains fix
  CHANGELOG.md
Due: lychee, prql-codeblock

docs: document that text.contains and friends take a LIKE pattern
  web/book/src/reference/stdlib/text.md
Due: lychee

fix: parenthesize additive arguments in the sql.oracle text.contains override
  prqlc/prqlc/src/sql/std.sql.prql
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

docs: document `date.diff` in the date functions page (#6264)
  web/book/src/reference/stdlib/date.md
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__date__date-functions__5.snap
Due: lychee

chore: update tend workflows (#6265)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

chore: bump rustls-webpki to 0.103.15 in the lockfile
  Cargo.lock
Due: none

chore: bump rustls-webpki to 0.103.15 in the lockfile (#6270)
  Cargo.lock
Due: none

fix: keep pyo3-build-config on the same version as pyo3
  .github/dependabot.yaml
  Cargo.lock
  Cargo.toml
  prqlc/bindings/prqlc-python/build.rs
Due: no-dbg

Check the pyo3 version pins in a test rather than the build script
  prqlc/bindings/prqlc-python/build.rs
  prqlc/bindings/prqlc-python/src/lib.rs
Due: no-dbg

Take the first two components for a version's minor
  prqlc/bindings/prqlc-python/src/lib.rs
Due: no-dbg

docs: state that `text.contains` and friends take a `LIKE` pattern (#6268)
  web/book/src/reference/stdlib/text.md
Due: lychee

Bump pyo3 to 0.29.2 instead of checking the two pins agree
  .github/dependabot.yaml
  Cargo.lock
  Cargo.toml
  prqlc/bindings/prqlc-python/src/lib.rs
Due: no-dbg

Say the implicit FromPyObject derive is deprecated, not removed
  prqlc/bindings/prqlc-python/src/lib.rs
Due: no-dbg

refine: remove unused empty ResolverOptions struct (#6263)
  prqlc/prqlc/src/semantic/mod.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
Due: no-dbg

fix: compile `text.contains` to `||` concatenation on the `sql.oracle` target (#6267)
  CHANGELOG.md
  prqlc/prqlc/src/sql/std.sql.prql
  prqlc/prqlc/tests/integration/sql.rs
Due: lychee, no-dbg, prql-codeblock

fix: parenthesize `text` pattern arguments on the `sql.sqlite` target
  CHANGELOG.md
  prqlc/prqlc/src/sql/std.sql.prql
  prqlc/prqlc/tests/integration/sql.rs
Due: lychee, no-dbg, prql-codeblock

fix: parenthesize f-string operands on the `||` concat targets
  CHANGELOG.md
  prqlc/prqlc/src/sql/dialect.rs
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: lychee, no-dbg, prql-codeblock

fix: parenthesize `BETWEEN` operands in `||` concat chains
  CHANGELOG.md
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: lychee, no-dbg, prql-codeblock

fix: keep nested `||` chains flat on the `sql.sqlite` target
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: bump pyo3 to 0.29.2 to match pyo3-build-config (#6271)
  .github/dependabot.yaml
  Cargo.lock
  Cargo.toml
  prqlc/bindings/prqlc-python/src/lib.rs
Due: no-dbg

fix: migrate Java bindings to the jni 0.22 environment API
  prqlc/bindings/java/java/src/test/java/org/prql/prql4j/PrqlCompilerTest.java
  prqlc/bindings/java/src/lib.rs
Due: no-dbg

ci: bump test-js Node from 21.x to 24.x for mocha 12
  .github/workflows/test-js.yaml
Due: none

fix: hide playground sidebar subtrees when an ancestor folder is collapsed
  web/playground/src/sidebar/Sidebar.jsx
Due: none

test: assert on the lexer's recovery entry point instead of printing it
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/lexer/test.rs
Due: no-dbg

test: assert on the lexer's recovery entry point instead of printing it (#6279)
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/lexer/test.rs
Due: no-dbg

docs: correct the prql-java API and publishing docs
  CHANGELOG.md
  prqlc/bindings/java/DEVELOPMENT.md
  prqlc/bindings/java/README.md
Due: lychee, prql-codeblock

docs: note the native-library and gpg caveats in the prql-java install recipe
  prqlc/bindings/java/README.md
Due: lychee

docs: correct the prql-java API and publishing docs (#6281)
  CHANGELOG.md
  prqlc/bindings/java/DEVELOPMENT.md
  prqlc/bindings/java/README.md
Due: lychee, prql-codeblock

fix: answer unsupported LSP requests with MethodNotFound
  CHANGELOG.md
  prqlc/prqlc/src/cli/lsp.rs
Due: lychee, no-dbg, prql-codeblock

fix: attach a span to the self-equality operator errors
  CHANGELOG.md
  prqlc/prqlc/src/semantic/ast_expand.rs
Due: lychee, no-dbg, prql-codeblock

chore: bump time to 0.3.55 in the lockfile
  Cargo.lock
Due: none

fix: attach a span to the self-equality operator errors (#6283)
  CHANGELOG.md
  prqlc/prqlc/src/semantic/ast_expand.rs
Due: lychee, no-dbg, prql-codeblock

fix: parenthesize `text` pattern arguments on the `sql.sqlite` target (#6272)
  CHANGELOG.md
  prqlc/prqlc/src/sql/std.sql.prql
  prqlc/prqlc/tests/integration/sql.rs
Due: lychee, no-dbg, prql-codeblock

fix: hide playground sidebar subtrees when an ancestor folder is collapsed (#6278)
  web/playground/src/sidebar/Sidebar.jsx
Due: none

fix: parenthesize f-string operands on the `sql.sqlite` and `sql.redshift` targets (#6273)
  CHANGELOG.md
  prqlc/prqlc/src/sql/dialect.rs
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: lychee, no-dbg, prql-codeblock
