Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

test: Add some precedence tests (#2716)
  prql-compiler/src/parser/mod.rs
  prql-compiler/src/tests/test.rs
Due: no-dbg

fix: fix for duckdb 0.7
  prql-compiler/src/sql/std.sql.prql
Due: none

fix: tweak div operators
  prql-compiler/src/sql/std.sql.prql
Due: none

fix: should truncated int div
  prql-compiler/src/sql/std.sql.prql
Due: none

test: update snapshots
  prql-compiler/tests/integration/snapshots/integration__results@arithmetic.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@arithmetic.prql.snap
Due: none

test: fix the mysql div precision increment setting
  prql-compiler/tests/integration/docker-compose.yml
Due: none

Revert "test: fix the mysql div precision increment setting"
  prql-compiler/tests/integration/docker-compose.yml
Due: none

chore: remove unused version
  prql-compiler/tests/integration/docker-compose.yml
Due: none

test:remove trailing zeros from result string
  prql-compiler/tests/integration/main.rs
Due: no-dbg

fix: revert useless change
  prql-compiler/src/sql/std.sql.prql
Due: none

fix: more remove unnecessary strength
  prql-compiler/src/sql/std.sql.prql
Due: none

test: DISTINCT ON
  prql-compiler/src/sql/srq/anchor.rs
  prql-compiler/src/sql/srq/postprocess.rs
  prql-compiler/src/sql/srq/preprocess.rs
  prql-compiler/src/tests/test.rs
  prql-compiler/tests/integration/queries/distinct_on.prql
  prql-compiler/tests/integration/snapshots/integration__fmt@distinct_on.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@distinct_on.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@distinct_on.prql.snap
Due: no-dbg

fix
  web/book/tests/examples/snapshots/examples__book__language-features__distinct__distinct-on__0.snap
Due: none

test: DISTINCT ON (#2722)
  prql-compiler/src/sql/srq/anchor.rs
  prql-compiler/src/sql/srq/postprocess.rs
  prql-compiler/src/sql/srq/preprocess.rs
  prql-compiler/src/tests/test.rs
  prql-compiler/tests/integration/queries/distinct_on.prql
  prql-compiler/tests/integration/snapshots/integration__fmt@distinct_on.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@distinct_on.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@distinct_on.prql.snap
  web/book/tests/examples/snapshots/examples__book__language-features__distinct__distinct-on__0.snap
Due: no-dbg

Revert "build: Update rust toolchain version (#2698)"
  rust-toolchain.toml
Due: none

ci: disable auto update rust-toolchain
  .github/workflows/nightly.yaml
Due: none

docs: fix link to example tests
  web/book/src/contributing/development.md
Due: none

docs: add README for example test
  web/book/tests/examples/README.md
Due: none

Update web/book/tests/examples/README.md
  web/book/tests/examples/README.md
Due: none

docs: fix the link to example tests (#2726)
  web/book/src/contributing/development.md
  web/book/tests/examples/README.md
Due: none

docs: Add `from` to canonical relation literal syntax
  web/book/src/language-features/relation-literals.md
Due: none

docs: Add `from` to canonical relation literal syntax (#2727)
  web/book/src/language-features/relation-literals.md
Due: none

build: pin the rust-toolchain version to 1.68.2 (#2725)
  .github/workflows/nightly.yaml
  rust-toolchain.toml
Due: none

fix: tweak div operators (#2720)
  prql-compiler/src/sql/std.sql.prql
  prql-compiler/tests/integration/docker-compose.yml
  prql-compiler/tests/integration/main.rs
  prql-compiler/tests/integration/snapshots/integration__results@arithmetic.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@arithmetic.prql.snap
Due: no-dbg

refactor: Change annotation syntax to use `@`
  prql-compiler/src/ast/pl/stmt.rs
  prql-compiler/src/parser/lexer.rs
  prql-compiler/src/parser/mod.rs
  prql-compiler/src/parser/stmt.rs
  prql-compiler/src/sql/operators.rs
  prql-compiler/src/sql/std.sql.prql
  web/book/tests/documentation/snapshots/documentation__book__language-features__regex__regex-expressions__3.snap
  web/book/tests/documentation/snapshots/documentation__book__language-features__regex__regex-expressions__4.snap
  web/book/tests/documentation/snapshots/documentation__book__language-features__regex__regex-expressions__5.snap
Due: no-dbg

fix: lowering loop
  prql-compiler/src/ast/pl/fold.rs
  prql-compiler/src/semantic/lowering.rs
  prql-compiler/src/tests/test.rs
  prql-compiler/src/utils/toposort.rs
  prql-compiler/tests/integration/queries/loop.prql
  web/book/src/language-features/standard-library/loop.md
Due: no-dbg

fix
  prql-compiler/src/tests/test.rs
  prql-compiler/tests/integration/snapshots/integration__fmt@loop.prql.snap
Due: no-dbg

fix: lowering loop (#2730)
  prql-compiler/src/ast/pl/fold.rs
  prql-compiler/src/semantic/lowering.rs
  prql-compiler/src/tests/test.rs
  prql-compiler/src/utils/toposort.rs
  prql-compiler/tests/integration/queries/loop.prql
  prql-compiler/tests/integration/snapshots/integration__fmt@loop.prql.snap
  web/book/src/language-features/standard-library/loop.md
Due: no-dbg

refactor: simplify SQL of loop
  prql-compiler/src/sql/gen_query.rs
  prql-compiler/src/sql/srq/ast.rs
  prql-compiler/src/sql/srq/gen_query.rs
  prql-compiler/src/tests/test.rs
  prql-compiler/tests/integration/snapshots/integration__sql@loop.prql.snap
  web/book/tests/documentation/snapshots/documentation__book__language-features__standard-library__loop__examples__0.snap
Due: no-dbg

refactor: simplify SQL of loop (#2731)
  prql-compiler/src/sql/gen_query.rs
  prql-compiler/src/sql/srq/ast.rs
  prql-compiler/src/sql/srq/gen_query.rs
  prql-compiler/src/tests/test.rs
  prql-compiler/tests/integration/snapshots/integration__sql@loop.prql.snap
  web/book/tests/documentation/snapshots/documentation__book__language-features__standard-library__loop__examples__0.snap
Due: no-dbg

code cleanup
  prql-compiler/src/ast/pl/stmt.rs
  prql-compiler/src/parser/lexer.rs
  prql-compiler/src/sql/operators.rs
Due: no-dbg

refactor: Change annotation syntax to use `@` (#2729)
  prql-compiler/src/ast/pl/stmt.rs
  prql-compiler/src/parser/lexer.rs
  prql-compiler/src/parser/mod.rs
  prql-compiler/src/parser/stmt.rs
  prql-compiler/src/sql/operators.rs
  prql-compiler/src/sql/std.sql.prql
  web/book/tests/documentation/snapshots/documentation__book__language-features__regex__regex-expressions__3.snap
  web/book/tests/documentation/snapshots/documentation__book__language-features__regex__regex-expressions__4.snap
  web/book/tests/documentation/snapshots/documentation__book__language-features__regex__regex-expressions__5.snap
Due: no-dbg

chore: Change remaining annotations, add changelog
  CHANGELOG.md
  prql-compiler/src/sql/std.sql.prql
  web/book/tests/documentation/snapshots/documentation__book__language-features__regex__regex-expressions__3.snap
  web/book/tests/documentation/snapshots/documentation__book__language-features__regex__regex-expressions__4.snap
  web/book/tests/documentation/snapshots/documentation__book__language-features__regex__regex-expressions__5.snap
Due: prql-codeblock

chore: Add note to CI
  .github/workflows/pull-request.yaml
Due: none

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
