Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.rs$'
  - repo: https://github.com/crate-ci/typos
    rev: v1.16.1
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    # Upgrading to the bare `v3.0.0` seems to break the plugin; contributions welcome to fix.
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.278
    hooks:
      - id: ruff
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
      - id: clippy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
      - id: mypy
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.11.2
    hooks:
      - id: markdown-link-check
        name: markdown-link-check-local
        files: \.md$
        args: ["--config=.config/.markdown-link-check-local.json"]
        # To run across everything (see nightly.yaml for more details)
      - id: markdown-link-check
        name: markdown-link-check-all
        stages: [manual]
        files: \.md$
        args: ["--config=.config/.markdown-link-check-all.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote
ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, clippy, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

refactor(Lezer grammar): Trim the tree
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/arithmetics.txt
  grammars/prql-lezer/test/arrays.txt
  grammars/prql-lezer/test/datetime.txt
  grammars/prql-lezer/test/identifiers.txt
  grammars/prql-lezer/test/misc.txt
  grammars/prql-lezer/test/numbers.txt
  grammars/prql-lezer/test/operators.txt
  grammars/prql-lezer/test/strings.txt
  grammars/prql-lezer/test/tuples.txt
Due: none

refactor(Lezer grammar): Trim the tree (#3755)
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/arithmetics.txt
  grammars/prql-lezer/test/arrays.txt
  grammars/prql-lezer/test/datetime.txt
  grammars/prql-lezer/test/identifiers.txt
  grammars/prql-lezer/test/misc.txt
  grammars/prql-lezer/test/numbers.txt
  grammars/prql-lezer/test/operators.txt
  grammars/prql-lezer/test/strings.txt
  grammars/prql-lezer/test/tuples.txt
Due: none

fix(Lezer grammar): Highlight CompareOp
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/arithmetics.txt
  grammars/prql-lezer/test/arrays.txt
  grammars/prql-lezer/test/datetime.txt
  grammars/prql-lezer/test/misc.txt
  grammars/prql-lezer/test/numbers.txt
  grammars/prql-lezer/test/operators.txt
  grammars/prql-lezer/test/strings.txt
  grammars/prql-lezer/test/tuples.txt
Due: none

.
  Cargo.lock
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/Cargo.toml
  web/book/Cargo.toml
Due: none

ci: Test minimum versions of dependencies (#2112)
  .github/workflows/tests.yaml
  Cargo.lock
  prqlc/prql-compiler/Cargo.toml
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/Cargo.toml
  web/book/Cargo.toml
Due: none

chore: Add missing entry to changelog
  CHANGELOG.md
Due: prql-codeblock

chore: Add missing entry to changelog (#3758)
  CHANGELOG.md
Due: prql-codeblock

Change "test" to "filter"
  grammars/prql-lezer/test/arithmetics.txt
  grammars/prql-lezer/test/arrays.txt
  grammars/prql-lezer/test/datetime.txt
  grammars/prql-lezer/test/misc.txt
  grammars/prql-lezer/test/numbers.txt
  grammars/prql-lezer/test/operators.txt
  grammars/prql-lezer/test/strings.txt
Due: none

Update README.md for November 2023
  README.md
Due: none

docs: Update README.md for November 2023 (#3765)
  README.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: prql-codeblock

chore: misc
  grammars/prql-lezer/package.json
  prqlc/bindings/js/package.json
  prqlc/bindings/php/composer.json
  web/website/content/demos/ace-demo.html
Due: none

Update prqlc/bindings/js/package.json
  prqlc/bindings/js/package.json
Due: none

chore: misc (#3771)
  grammars/prql-lezer/package.json
  prqlc/bindings/js/package.json
  prqlc/bindings/php/composer.json
  web/website/content/demos/ace-demo.html
Due: none

build: strip unnecessary symbols
  Cargo.toml
  prqlc/prql-compiler/README.md
  prqlc/prql-compiler/src/lib.rs
Due: no-dbg

fix: make SQL rel vars within a query unique
  prqlc/prql-compiler/src/sql/srq/postprocess.rs
  prqlc/prql-compiler/tests/integration/snapshots/integration__sql@loop.prql.snap
  prqlc/prql-compiler/tests/sql/sql.rs
Due: no-dbg

fix
  prqlc/prql-compiler/src/sql/gen_query.rs
  prqlc/prql-compiler/src/sql/srq/anchor.rs
  prqlc/prql-compiler/src/sql/srq/context.rs
  prqlc/prql-compiler/src/sql/srq/gen_query.rs
Due: no-dbg

fix
  prqlc/prql-compiler/tests/integration/snapshots/integration__sql@loop.prql.snap
  prqlc/prql-compiler/tests/sql/sql.rs
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__loop__examples__0.snap
Due: no-dbg

build: strip unnecessary symbols (#3773)
  Cargo.toml
  prqlc/prql-compiler/README.md
  prqlc/prql-compiler/src/lib.rs
Due: no-dbg

fix: make SQL rel vars unique within a query (#3774)
  prqlc/prql-compiler/src/sql/gen_query.rs
  prqlc/prql-compiler/src/sql/srq/anchor.rs
  prqlc/prql-compiler/src/sql/srq/context.rs
  prqlc/prql-compiler/src/sql/srq/gen_query.rs
  prqlc/prql-compiler/src/sql/srq/postprocess.rs
  prqlc/prql-compiler/tests/integration/snapshots/integration__sql@loop.prql.snap
  prqlc/prql-compiler/tests/sql/sql.rs
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__loop__examples__0.snap
Due: no-dbg

fix: lineage input name clashes
  prqlc/prql-compiler/src/ir/pl/lineage.rs
  prqlc/prql-compiler/src/semantic/lowering.rs
  prqlc/prql-compiler/src/semantic/module.rs
  prqlc/prql-compiler/src/semantic/resolver/inference.rs
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-2.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prql-compiler/src/semantic/resolver/transforms.rs
  prqlc/prql-compiler/tests/sql/sql.rs
Due: no-dbg

fix: handle panic of relation literals containing exprs
  prqlc/prql-compiler/src/semantic/lowering.rs
  prqlc/prql-compiler/tests/sql/bad_error_messages.rs
Due: no-dbg

fix
  prqlc/prql-compiler/src/semantic/module.rs
Due: no-dbg

Update development.md
  web/book/src/project/contributing/development.md
Due: none

fix: lineage input name clashes (#3775)
  prqlc/prql-compiler/src/ir/pl/lineage.rs
  prqlc/prql-compiler/src/semantic/lowering.rs
  prqlc/prql-compiler/src/semantic/module.rs
  prqlc/prql-compiler/src/semantic/resolver/inference.rs
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-2.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prql-compiler/src/semantic/resolver/transforms.rs
  prqlc/prql-compiler/tests/sql/sql.rs
Due: no-dbg

fix: handle panic of relation literals containing exprs (#3776)
  prqlc/prql-compiler/src/semantic/lowering.rs
  prqlc/prql-compiler/tests/sql/bad_error_messages.rs
Due: no-dbg

Inlining tables during lowering
  prqlc/prql-compiler/src/semantic/lowering.rs
Due: no-dbg

Fix sort inference on columns from prev relations
  prqlc/prql-compiler/src/sql/srq/postprocess.rs
  prqlc/prql-compiler/tests/sql/sql.rs
Due: no-dbg

fix: coalesce and window functions
  prqlc/prql-compiler/src/sql/gen_expr.rs
  prqlc/prql-compiler/tests/sql/sql.rs
Due: no-dbg

fix: anchoring of transitive deps of columns
  prqlc/prql-compiler/src/sql/srq/anchor.rs
  prqlc/prql-compiler/tests/sql/sql.rs
Due: no-dbg

debug: more output from sql:anchor
  prqlc/prql-compiler/src/sql/mod.rs
  prqlc/prqlc-ast/src/expr/ident.rs
  prqlc/prqlc-parser/src/interpolation.rs
  prqlc/prqlc/src/cli.rs
Due: no-dbg

docs: Fix book layout
  web/book/src/project/contributing/development.md
Due: none

docs: Fix book layout (#3785)
  web/book/src/project/contributing/development.md
Due: none

fix: anchoring of transitive deps of columns (#3781)
  prqlc/prql-compiler/src/sql/srq/anchor.rs
  prqlc/prql-compiler/tests/sql/sql.rs
Due: no-dbg

fix: coalesce and window functions (#3780)
  prqlc/prql-compiler/src/sql/gen_expr.rs
  prqlc/prql-compiler/tests/sql/sql.rs
Due: no-dbg

fix: sort inference on columns from prev relations (#3779)
  prqlc/prql-compiler/src/sql/srq/postprocess.rs
  prqlc/prql-compiler/tests/sql/sql.rs
Due: no-dbg

Editorial tweaks: - Remove abortive attempt at `- [ ] ...` checkboxes (They force a newline after the checkbox) - Move "Check Current Status" to end of the list
  web/book/src/project/contributing/development.md
Due: none
