Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.(rs|snap)$'
  - repo: https://github.com/crate-ci/typos
    rev: typos-dict-v0.11.35
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.3.3
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          # TODO: This doesn't seem to work, would be great to fix.
          # https://github.com/PRQL/prql/issues/3078
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.3
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: clippy
        stages: [manual]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.4
    hooks:
      - id: actionlint
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.13.6
    hooks:
      - id: markdown-link-check
        name: markdown-link-check-local
        types: [markdown]
        args: ["--config=.config/.markdown-link-check-local.json"]
        # To run across everything (see nightly.yaml for more details)
      - id: markdown-link-check
        name: markdown-link-check-all
        stages: [manual]
        types: [markdown]
        args: ["--config=.config/.markdown-link-check-all.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote

ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

fix: update winnow
  Cargo.lock
Due: none

ci: fix python PyPI release workflow
  .github/workflows/release.yaml
Due: none

ci: fix python PyPI release workflow (#5108)
  .github/workflows/release.yaml
Due: none

Update CHANGELOG.md, and pin markdown-link-check to v3.12.2
  .pre-commit-config.yaml
  CHANGELOG.md
Due: prql-codeblock

fix: in PQ post processing, revert sort columns just before propagating down pipeline (#5098)
  .pre-commit-config.yaml
  CHANGELOG.md
  prqlc/prqlc/src/sql/pq/anchor.rs
  prqlc/prqlc/src/sql/pq/postprocess.rs
  prqlc/prqlc/tests/integration/queries/sort_2.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__sort_2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__sort_2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__sort_2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__sort_2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__sort_2.snap
Due: no-dbg, prql-codeblock

WIP
  prqlc/prqlc/src/semantic/resolver/transforms.rs
Due: no-dbg

Ceci n'est pas une pipe
  web/book/src/reference/syntax/pipes.md
Due: none

chore: 0.13.3 changelog
  CHANGELOG.md
Due: prql-codeblock

chore: 0.13.3 changelog (#5114)
  CHANGELOG.md
Due: prql-codeblock

docs: Ceci n'est pas une pipe (#5112)
  web/book/src/reference/syntax/pipes.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__pipes__ceci-nest-pas-une-pipe__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__pipes__ceci-nest-pas-une-pipe__1.snap
Due: none

test: Add breaking test for #5053
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

test: Add breaking test for #5053 (#5115)
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

chore: Bump version to 0.13.4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  lutra/lutra/Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/packages/snap/snapcraft.yaml
  prqlc/prqlc-macros/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: no-dbg, prql-codeblock

chore: Bump version to 0.13.4 (#5116)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  lutra/lutra/Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/packages/snap/snapcraft.yaml
  prqlc/prqlc-macros/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: no-dbg, prql-codeblock

build: Upgrade ariadne to 0.5.0
  Cargo.lock
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/error_message.rs
  prqlc/prqlc/src/semantic/reporting.rs
Due: no-dbg

build: Upgrade ariadne to 0.5.0 (#5117)
  Cargo.lock
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/error_message.rs
  prqlc/prqlc/src/semantic/reporting.rs
Due: no-dbg

fix: ordering of transforms
  flake.lock
  flake.nix
  prqlc/prqlc/src/sql/pq/preprocess.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: ordering of transforms (#5118)
  flake.lock
  flake.nix
  prqlc/prqlc/src/sql/pq/preprocess.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

remove generics
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/parser/pr/expr.rs
  prqlc/prqlc-parser/src/parser/pr/types.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc-parser/src/test.rs
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/codegen/types.rs
  prqlc/prqlc/src/ir/pl/expr.rs
  prqlc/prqlc/src/ir/pl/fold.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/eval.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/tests/integration/resolving.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__set_ops_remove.snap
Due: no-dbg

remove difference type
  prqlc/prqlc-parser/src/parser/pr/types.rs
  prqlc/prqlc/src/codegen/types.rs
  prqlc/prqlc/src/ir/pl/fold.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
Due: no-dbg

refactor: remove generics (#5119)
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/parser/pr/expr.rs
  prqlc/prqlc-parser/src/parser/pr/types.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc-parser/src/test.rs
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/codegen/types.rs
  prqlc/prqlc/src/ir/pl/expr.rs
  prqlc/prqlc/src/ir/pl/fold.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/eval.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/tests/integration/resolving.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__set_ops_remove.snap
Due: no-dbg

refactor: remove singleton types
  prqlc/prqlc-parser/src/parser/pr/stmt.rs
  prqlc/prqlc-parser/src/parser/pr/types.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc-parser/src/parser/types.rs
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/codegen/types.rs
  prqlc/prqlc/src/ir/pl/fold.rs
  prqlc/prqlc/src/ir/pl/stmt.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/stmt.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/tests/integration/resolving.rs
Due: no-dbg

refactor: remove singleton types (#5120)
  prqlc/prqlc-parser/src/parser/pr/stmt.rs
  prqlc/prqlc-parser/src/parser/pr/types.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc-parser/src/parser/types.rs
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/codegen/types.rs
  prqlc/prqlc/src/ir/pl/fold.rs
  prqlc/prqlc/src/ir/pl/stmt.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/stmt.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/tests/integration/resolving.rs
Due: no-dbg

refactor: cleanup code that is non-relevant to PRQL's usecase
  lutra/lutra/src/compile.rs
  prqlc/prqlc/src/ir/constant.rs
  prqlc/prqlc/src/ir/mod.rs
  prqlc/prqlc/src/semantic/mod.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/static_eval.rs
  prqlc/prqlc/tests/integration/main.rs
  prqlc/prqlc/tests/integration/resolving.rs
  prqlc/prqlc/tests/integration/static_eval.rs
Due: no-dbg

refactor: cleanup unused code (#5121)
  lutra/lutra/src/compile.rs
  prqlc/prqlc/src/ir/constant.rs
  prqlc/prqlc/src/ir/mod.rs
  prqlc/prqlc/src/semantic/mod.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/static_eval.rs
  prqlc/prqlc/tests/integration/main.rs
  prqlc/prqlc/tests/integration/resolving.rs
  prqlc/prqlc/tests/integration/static_eval.rs
Due: no-dbg

refactor: remove arbitrary indirections
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/parser/interpolation.rs
  prqlc/prqlc-parser/src/parser/pr/expr.rs
  prqlc/prqlc-parser/src/parser/pr/ident.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc-parser/src/parser/test.rs
  prqlc/prqlc-parser/src/snapshots/prqlc_parser__test__pipeline_parse_tree.snap
  prqlc/prqlc-parser/src/test.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/cli/test.rs
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/eval.rs
  prqlc/prqlc/src/semantic/mod.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__arithmetic.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__cast.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__constants_only.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__date_to_text.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__distinct.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__distinct_on.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__genre_counts.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_all.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort_limit_take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__invoice_totals.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__loop_01.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__pipelines.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__read_csv.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__set_ops_remove.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__sort_2.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__switch.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__text_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__window.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__distinct.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__set_ops_remove.snap
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix
  prqlc/bindings/prqlc-python/src/lib.rs
Due: no-dbg

fix: revert sorts on all CTEs
  prqlc/prqlc/src/sql/pq/postprocess.rs
  prqlc/prqlc/tests/integration/queries/sort_3.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__sort_3.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__sort_3.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__sort_3.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__sort_3.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__sort_3.snap
Due: no-dbg

fix: revert sorts on all CTEs (in PQ postprocessing) (#5128)
  prqlc/prqlc/src/sql/pq/postprocess.rs
  prqlc/prqlc/tests/integration/queries/sort_3.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__sort_3.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__sort_3.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__sort_3.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__sort_3.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__sort_3.snap
Due: no-dbg

refactor(prqlc cli): simplify
  prqlc/prqlc/src/cli/mod.rs
Due: no-dbg

refactor(prqlc cli): simplify (#5132)
  prqlc/prqlc/src/cli/mod.rs
Due: no-dbg

feat!(prqlc cli): `prqlc` with no argument will display help without error
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/cli/test.rs
Due: no-dbg

feat(prqlc cli)!: `prqlc` with no argument will display help without error (#5133)
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/cli/test.rs
Due: no-dbg

remove lutra
  .github/workflows/release.yaml
  Cargo.lock
  Cargo.toml
  Taskfile.yaml
  lutra/.gitignore
  lutra/README.md
  lutra/Taskfile.yaml
  lutra/bindings/python/.gitignore
  lutra/bindings/python/Cargo.toml
  lutra/bindings/python/README.md
  lutra/bindings/python/Taskfile.yaml
  lutra/bindings/python/build.rs
  lutra/bindings/python/lutra.pyi
  lutra/bindings/python/pyproject.toml
  lutra/bindings/python/python/tests/test_all.py
  lutra/bindings/python/src/lib.rs
  lutra/example-project/Project.prql
  lutra/example-project/chinook.db
  lutra/example-project/genres.prql
  lutra/lutra/Cargo.toml
  lutra/lutra/src/cli.rs
  lutra/lutra/src/compile.rs
  lutra/lutra/src/connection.rs
  lutra/lutra/src/discover.rs
  lutra/lutra/src/editing.rs
  lutra/lutra/src/execute.rs
  lutra/lutra/src/lib.rs
  lutra/lutra/src/project.rs
  lutra/lutra/src/pull_schema.rs
  lutra/lutra/tests/it/main.rs
Due: no-dbg

remove a few more things that were used for lutra
  prqlc/prqlc/src/semantic/module.rs
Due: no-dbg

revert: remove lutra, the query runner stub (#5134)
  .github/workflows/release.yaml
  Cargo.lock
  Cargo.toml
  Taskfile.yaml
  lutra/.gitignore
  lutra/README.md
  lutra/Taskfile.yaml
  lutra/bindings/python/.gitignore
  lutra/bindings/python/Cargo.toml
  lutra/bindings/python/README.md
  lutra/bindings/python/Taskfile.yaml
  lutra/bindings/python/build.rs
  lutra/bindings/python/lutra.pyi
  lutra/bindings/python/pyproject.toml
  lutra/bindings/python/python/tests/test_all.py
  lutra/bindings/python/src/lib.rs
  lutra/example-project/Project.prql
  lutra/example-project/chinook.db
  lutra/example-project/genres.prql
  lutra/lutra/Cargo.toml
  lutra/lutra/src/cli.rs
  lutra/lutra/src/compile.rs
  lutra/lutra/src/connection.rs
  lutra/lutra/src/discover.rs
  lutra/lutra/src/editing.rs
  lutra/lutra/src/execute.rs
  lutra/lutra/src/lib.rs
  lutra/lutra/src/project.rs
  lutra/lutra/src/pull_schema.rs
  lutra/lutra/tests/it/main.rs
  prqlc/prqlc/src/semantic/module.rs
Due: no-dbg
