Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.rs$'
  - repo: https://github.com/crate-ci/typos
    rev: v1.16.1
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    # Upgrading to the bare `v3.0.0` seems to break the plugin; contributions welcome to fix.
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.278
    hooks:
      - id: ruff
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
      - id: clippy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
      - id: mypy
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.11.2
    hooks:
      - id: markdown-link-check
        name: markdown-link-check-local
        files: \.md$
        args: ["--config=.config/.markdown-link-check-local.json"]
        # To run across everything (see nightly.yaml for more details)
      - id: markdown-link-check
        name: markdown-link-check-all
        stages: [manual]
        files: \.md$
        args: ["--config=.config/.markdown-link-check-all.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote
ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, clippy, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

ci: Ensure `cargo doc` passes with no warnings (#3437)
  .github/workflows/build-web.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-rust.yaml
  .github/workflows/tests.yaml
  bindings/prql-elixir/native/prql/src/lib.rs
  crates/prql-compiler/src/ir/pl/extra/expr.rs
  crates/prql-compiler/src/ir/pl/types.rs
  crates/prql-compiler/src/ir/rq/expr.rs
  crates/prql-compiler/src/lib.rs
Due: no-dbg

Revert "chore: bump anstream from 0.3.2 to 0.5.0 (#3399)"
  Cargo.lock
  crates/prql-compiler/Cargo.toml
  crates/prqlc/Cargo.toml
  web/book/Cargo.toml
Due: none

revert: #3399 (#3443)
  Cargo.lock
  crates/prql-compiler/Cargo.toml
  crates/prqlc/Cargo.toml
  web/book/Cargo.toml
Due: none

Move test into standard snapshot
  crates/prqlc/tests/project/Project.prql
  crates/prqlc/tests/project/long_query.prql
  crates/prqlc/tests/test.rs
Due: no-dbg

test: prqlc stack overflow on Windows (#2908)
  crates/prqlc/tests/test.rs
Due: no-dbg

refactor: Couple more lexer refinements (#3426)
  crates/prql-parser/src/lexer.rs
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__timestamps__0.snap
Due: no-dbg

refactor: Remove unused code (#3413)
  crates/prql-compiler/src/utils/mod.rs
Due: no-dbg

web: Show panics in console in `prql-js`
  CHANGELOG.md
  bindings/prql-js/Cargo.toml
  bindings/prql-js/src/lib.rs
  bindings/prql-js/src/utils.rs
Due: no-dbg, prql-codeblock

chore: Add a couple changelog entries
  CHANGELOG.md
Due: prql-codeblock

chore: Add a couple changelog entries (#3447)
  CHANGELOG.md
Due: prql-codeblock

web: Show panics in console in `prql-js` (#3446)
  CHANGELOG.md
  bindings/prql-js/Cargo.toml
  bindings/prql-js/src/lib.rs
  bindings/prql-js/src/utils.rs
Due: no-dbg, prql-codeblock

ci: Speed up `cargo doc` test in CI
  .github/workflows/test-rust.yaml
Due: none

ci: Speed up `cargo doc` test in CI (#3448)
  .github/workflows/test-rust.yaml
Due: none

ci: Add back integration tests into PR builds
  .github/workflows/test-rust.yaml
  .github/workflows/tests.yaml
Due: none

ci: Add back integration tests into PR builds (#3449)
  .github/workflows/test-rust.yaml
  .github/workflows/tests.yaml
Due: none

docs: Update dev docs
  crates/prql-compiler/tests/integration/README.md
  web/book/src/project/contributing/development.md
Due: none

docs: Update dev docs (#3451)
  crates/prql-compiler/tests/integration/README.md
  web/book/src/project/contributing/development.md
Due: none

ci: Remove cache from python action
  .github/actions/build-prql-python/action.yaml
Due: none

ci: Remove cache from python action (#3452)
  .github/actions/build-prql-python/action.yaml
Due: none

build: Remove `--install-links` from playground build
  Taskfile.yml
  web/playground/package-lock.json
Due: none

build: Remove `--install-links` from playground build (#3456)
  Taskfile.yml
  web/playground/package-lock.json
Due: none

chore: set package.authors to crates
  Cargo.toml
Due: none

ci: Remove concurrency from child workflows
  .github/workflows/build-devcontainer.yaml
  .github/workflows/build-web.yaml
  .github/workflows/test-dotnet.yaml
  .github/workflows/test-elixir.yaml
  .github/workflows/test-java.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-lib.yaml
  .github/workflows/test-php.yaml
  .github/workflows/test-python.yaml
Due: none

chore: set package.authors to Rust crates (#3457)
  Cargo.toml
Due: none

ci: Remove concurrency from child workflows (#3458)
  .github/workflows/build-devcontainer.yaml
  .github/workflows/build-web.yaml
  .github/workflows/test-dotnet.yaml
  .github/workflows/test-elixir.yaml
  .github/workflows/test-java.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-lib.yaml
  .github/workflows/test-php.yaml
  .github/workflows/test-python.yaml
Due: none

`install-playground-dependencies` now checks crates/ & bindings/ for changes; Remove `--install-links` from `npm install` since `main` no longer uses it.
  Taskfile.yml
Due: none

Add back check-brew-dependencies that were missed in prior merge; Final editorial pass
  Taskfile.yml
Due: none

`task test-lint` finds silly problems
  Taskfile.yml
Due: none

Update Taskfile.yml
  Taskfile.yml
Due: none

Editorial tweaks
  Taskfile.yml
Due: none

Use "task:" when calling internal tasks (it seemed to work without the ":" but adding it is more correct)
  Taskfile.yml
Due: none

build: Refactor Taskfile.yml (#3445)
  Taskfile.yml
Due: none

web: Refine #3445
  Taskfile.yml
Due: none

fix: Do not panic for invalid lineage in transforms
  crates/prql-compiler/src/semantic/resolver/transforms.rs
Due: no-dbg

chore: Move tests around and add changelog entry
  CHANGELOG.md
  crates/prql-compiler/src/semantic/resolver/transforms.rs
  crates/prql-compiler/src/tests/test_bad_error_messages.rs
Due: no-dbg, prql-codeblock

Update crates/prql-compiler/src/semantic/resolver/transforms.rs
  crates/prql-compiler/src/semantic/resolver/transforms.rs
Due: no-dbg

fix: Do not panic for invalid lineage in transforms (#3450)
  CHANGELOG.md
  crates/prql-compiler/src/semantic/resolver/transforms.rs
  crates/prql-compiler/src/tests/test_bad_error_messages.rs
Due: no-dbg, prql-codeblock

web: Refine #3445 (#3468)
  Taskfile.yml
Due: none

refactor: Refine precedence tests
  Cargo.lock
  crates/prql-compiler/src/tests/test.rs
  web/book/Cargo.toml
  web/book/tests/documentation/website.rs
Due: no-dbg

refactor: Refine precedence tests (#3473)
  Cargo.lock
  crates/prql-compiler/src/tests/test.rs
  web/book/Cargo.toml
  web/book/tests/documentation/website.rs
Due: no-dbg
