Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.rs$'
  - repo: https://github.com/crate-ci/typos
    rev: v1.16.1
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    # Upgrading to the bare `v3.0.0` seems to break the plugin; contributions welcome to fix.
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.278
    hooks:
      - id: ruff
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
      - id: clippy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
      - id: mypy
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.11.2
    hooks:
      - id: markdown-link-check
        name: markdown-link-check-local
        files: \.md$
        args: ["--config=.config/.markdown-link-check-local.json"]
        # To run across everything (see nightly.yaml for more details)
      - id: markdown-link-check
        name: markdown-link-check-all
        stages: [manual]
        files: \.md$
        args: ["--config=.config/.markdown-link-check-all.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote
ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, clippy, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

Create .gitignore for Zig
  bindings/prql-lib/examples/minimal-zig/.gitignore
Due: none

Remove `.std`
  crates/prql-compiler/src/semantic/std.prql
  crates/prql-compiler/src/tests/test.rs
Due: no-dbg

internal: Create .gitignore for Zig (#3539)
  bindings/prql-lib/examples/minimal-zig/.gitignore
Due: none

feat(Lezer grammar): Add scientific notation
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/numbers.txt
Due: none

test: remove useless test
  crates/prql-compiler/src/semantic/eval/mod.rs
  crates/prql-compiler/src/semantic/resolver/transforms.rs
Due: no-dbg

feat(Lezer grammar): Add scientific notation (#3540)
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/numbers.txt
Due: none

feat: Special function to return PRQL version (#3533)
  crates/prql-compiler/src/semantic/eval/mod.rs
  crates/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-2.snap
  crates/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-3.snap
  crates/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names.snap
  crates/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  crates/prql-compiler/src/semantic/resolver/transforms.rs
  crates/prql-compiler/src/semantic/std.prql
  crates/prql-compiler/src/tests/test.rs
Due: no-dbg

doc(changelog): add new entry for #3533
  CHANGELOG.md
Due: prql-codeblock

add function name
  CHANGELOG.md
Due: prql-codeblock

docs(changelog): add new entry for #3533 (#3541)
  CHANGELOG.md
Due: prql-codeblock

feat(Lezer grammar): Improve grammar
  grammars/prql-lezer/src/arrays.txt
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/src/tuples.txt
Due: none

feat(Lezer grammar): Improve grammar (#3542)
  grammars/prql-lezer/src/arrays.txt
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/src/tuples.txt
Due: none

Update package.json
  grammars/prql-lezer/package.json
Due: none

Create index.d.cts
  grammars/prql-lezer/dist/index.d.cts
Due: none

Create index.d.ts
  grammars/prql-lezer/dist/index.d.ts
Due: none

Fix date and time support
  grammars/prql-lezer/src/prql.grammar
Due: none

Add files via upload
  grammars/prql-lezer/test/datetime.txt
Due: none

feat(Lezer grammar): Date and time support (#3544)
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/datetime.txt
Due: none

fix: UTC timezone parsing
  crates/prql-parser/src/lexer.rs
  web/book/src/reference/syntax/literals.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__timestamps__0.snap
Due: no-dbg

fix: UTC timezone parsing (#3545)
  crates/prql-parser/src/lexer.rs
  web/book/src/reference/syntax/literals.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__timestamps__0.snap
Due: no-dbg

Add timezone and UTC support
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/arrays.txt
  grammars/prql-lezer/test/datetime.txt
  grammars/prql-lezer/test/tuples.txt
Due: none

feat(Lezer grammar): Add timezone and UTC support (#3546)
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/arrays.txt
  grammars/prql-lezer/test/datetime.txt
  grammars/prql-lezer/test/tuples.txt
Due: none

Create arithmetics.txt
  grammars/prql-lezer/test/arithmetics.txt
Due: none

test(Lezer grammar): Add test for arithmetics (#3547)
  grammars/prql-lezer/test/arithmetics.txt
Due: none

feat(Lezer grammar): Fix support for ranges
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/misc.txt
Due: none

Improve highlight.js
  web/book/highlight-prql.js
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: none

Update grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/src/prql.grammar
Due: none

Allow char escape in f-strings too
  web/book/highlight-prql.js
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: none

feat(highlight.js): New stuff (#3550)
  web/book/highlight-prql.js
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: none

feat(Lezer grammar): Fix support for ranges (#3549)
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/misc.txt
Due: none

ci: Simpler concurrency expression
  .github/workflows/lint-megalinter.yaml
  .github/workflows/publish-web.yaml
  .github/workflows/pull-request-target.yaml
  .github/workflows/tests.yaml
Due: none

tweak: Remove a couple of outdated comments from lezer grammar
  grammars/prql-lezer/src/prql.grammar
Due: none

ci: Enforce `lezer` tests passing in CI
  .github/workflows/tests.yaml
Due: none

tweak: Remove a couple of outdated comments from lezer grammar (#3552)
  grammars/prql-lezer/src/prql.grammar
Due: none

ci: Simpler concurrency expression (#3551)
  .github/workflows/lint-megalinter.yaml
  .github/workflows/publish-web.yaml
  .github/workflows/pull-request-target.yaml
  .github/workflows/tests.yaml
Due: none

ci: Enforce `lezer` tests passing in CI (#3554)
  .github/workflows/tests.yaml
Due: none

docs: Update current status
  README.md
Due: none

docs: Update current status (#3555)
  README.md
Due: none

internal: Slightly improved error message on wrong type (#3536)
  crates/prql-compiler/src/semantic/resolver/root_module_impl.rs
  crates/prql-compiler/src/tests/test_bad_error_messages.rs
  crates/prql-compiler/src/tests/test_error_messages.rs
  crates/prqlc/src/cli.rs
  web/book/src/lib.rs
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__operators__parentheses__1.snap
Due: no-dbg

docs: Not everyone is in the northern hemisphere
  README.md
Due: none
