Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.rs$'
  - repo: https://github.com/crate-ci/typos
    rev: v1.16.1
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    # Upgrading to the bare `v3.0.0` seems to break the plugin; contributions welcome to fix.
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.278
    hooks:
      - id: ruff
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
      - id: clippy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
      - id: mypy
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.11.2
    hooks:
      - id: markdown-link-check
        name: markdown-link-check-local
        files: \.md$
        args: ["--config=.config/.markdown-link-check-local.json"]
        # To run across everything (see nightly.yaml for more details)
      - id: markdown-link-check
        name: markdown-link-check-all
        stages: [manual]
        files: \.md$
        args: ["--config=.config/.markdown-link-check-all.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote
ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, clippy, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

Update pull-request.yaml
  .github/workflows/pull-request.yaml
Due: none

tweak: Fix automerge
  .github/workflows/pull-request.yaml
Due: none

tweak: Fix automerge (#3250)
  .github/workflows/pull-request.yaml
Due: none

chore: Backport #3246 to `web` (#3249)
  .github/workflows/pull-request.yaml
Due: none

docs: Add ClickHouse integration to docs
  web/book/src/project/integrations/README.md
  web/book/src/project/integrations/clickhouse.md
  web/website/content/_index.md
Due: none

.
  web/book/src/SUMMARY.md
Due: none

docs: Add ClickHouse integration to docs (#3251)
  web/book/src/SUMMARY.md
  web/book/src/project/integrations/README.md
  web/book/src/project/integrations/clickhouse.md
  web/website/content/_index.md
Due: none

ci: Fix automerge
  .github/workflows/pull-request.yaml
Due: none

ci: Fix automerge (#3253)
  .github/workflows/pull-request.yaml
Due: none

chore: Backport #3251 to `web` (#3252)
  web/book/src/SUMMARY.md
  web/book/src/project/integrations/README.md
  web/book/src/project/integrations/clickhouse.md
  web/website/content/_index.md
Due: none

docs: Refine Homepage
  CHANGELOG.md
  bindings/prql-python/README.md
  web/website/content/_index.md
Due: prql-codeblock

docs: Refine Homepage (#3254)
  CHANGELOG.md
  bindings/prql-python/README.md
  web/website/content/_index.md
Due: prql-codeblock

chore: Backport #3254 to `web` (#3255)
  CHANGELOG.md
  bindings/prql-python/README.md
  web/website/content/_index.md
Due: prql-codeblock

build: Remove a couple unneeded deps
  Cargo.lock
  web/book/Cargo.toml
Due: none

build: Remove a couple unneeded deps (#3256)
  Cargo.lock
  web/book/Cargo.toml
Due: none

build: Remove hacks for old `wasm-pack`
  bindings/prql-js/Cargo.toml
Due: none

build: Remove hacks for old `wasm-pack` (#3257)
  bindings/prql-js/Cargo.toml
Due: none

ci: `@prql-bot` token to run wfs on auto-merge
  .github/workflows/pull-request-target.yaml
  .github/workflows/pull-request.yaml
Due: none

ci: `@prql-bot` token to run wfs on auto-merge (#3258)
  .github/workflows/pull-request-target.yaml
  .github/workflows/pull-request.yaml
Due: none

chore: Backport #3258 to `web` (#3259)
  .github/workflows/pull-request-target.yaml
  .github/workflows/pull-request.yaml
Due: none

docs: Redo number matcher in book
  web/book/highlight-prql.js
  web/book/src/reference/syntax/strings.md
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: none

docs: Redo number matcher in book (#3261)
  web/book/highlight-prql.js
  web/book/src/reference/syntax/strings.md
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: none

chore: Backport #3261 to `web` (#3262)
  web/book/highlight-prql.js
  web/book/src/reference/syntax/strings.md
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: none

feat: Limit quotes to an odd number of quotes
  crates/prql-parser/src/lexer.rs
  web/book/src/reference/syntax/literals.md
Due: no-dbg

test: Add tests for #3151
  crates/prql-parser/src/interpolation.rs
Due: no-dbg

test: Add tests for #3151 (#3264)
  crates/prql-parser/src/interpolation.rs
Due: no-dbg

fix: s-strings within double brackets
  crates/prql-parser/src/interpolation.rs
  crates/prql-parser/src/lib.rs
Due: no-dbg

refactor!: hide chumsky from public prql_parser API (#3141)
  crates/prql-compiler/src/parser.rs
  crates/prql-parser/src/error.rs
  crates/prql-parser/src/lib.rs
Due: no-dbg

refactor: clean up code in `semantic::resolve` function (#3167)
  crates/prql-compiler/src/semantic/mod.rs
  crates/prql-compiler/src/semantic/module.rs
  crates/prql-compiler/src/semantic/resolver/mod.rs
  crates/prql-compiler/src/semantic/resolver/type_resolver.rs
  crates/prql-compiler/src/semantic/root_module.rs
Due: no-dbg

fix: s-strings within double brackets (#3265)
  crates/prql-parser/src/interpolation.rs
  crates/prql-parser/src/lib.rs
Due: no-dbg

test: Add `description` field to integration test (#3212)
  crates/prql-compiler/tests/integration/main.rs
  crates/prql-compiler/tests/integration/snapshots/integration__results@aggregation.prql.snap
Due: no-dbg

feat: Limit quotes to an odd number of quotes (#3263)
  crates/prql-parser/src/lexer.rs
  web/book/src/reference/syntax/literals.md
Due: no-dbg

tweak: Update comment in Cargo.toml
  crates/prql-compiler/Cargo.toml
Due: none

tweak: Update comment in Cargo.toml (#3267)
  crates/prql-compiler/Cargo.toml
Due: none

fix: Fix Clippy lint
  crates/prql-compiler/tests/integration/main.rs
Due: no-dbg
