Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

fix(prqlc, sort): do not require sort columns if it's followed by an aggregation (#5347)
  CHANGELOG.md
  prqlc/prqlc/src/sql/pq/anchor.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg, prql-codeblock

docs: Micro grammar is now upstream
  grammars/README.md
  grammars/micro/README.md
  grammars/micro/prql.yaml
Due: none

docs: Micro grammar is now upstream (#5353)
  grammars/README.md
  grammars/micro/README.md
  grammars/micro/prql.yaml
Due: none

fix(prqlc): do not add requirements for unselected `Compute` columns
  prqlc/prqlc/src/sql/pq/anchor.rs
Due: no-dbg

refactor(prqlc): improve `get_requirements` readability by merging column selection and complexity logic
  prqlc/prqlc/src/sql/pq/anchor.rs
Due: no-dbg

fix(prqlc): add partition columns in requirements for `DistinctOn`
  prqlc/prqlc/src/sql/pq/anchor.rs
Due: no-dbg

test(prqlc): highlight this particular case
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

Revert "fix(prqlc): do not add requirements for unselected `Compute` columns"
  prqlc/prqlc/src/sql/pq/anchor.rs
Due: no-dbg

test(prqlc): accepts sometimes unnecessary columns
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix(prqlc): improve requirement logic (#5357)
  prqlc/prqlc/src/sql/pq/anchor.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

chore(prqlc): deterministic except field in `LineageColumn`
  prqlc/prqlc/src/ir/pl/lineage.rs
Due: no-dbg

fix(prqlc): remove unnecessary select to avoid missing columns
  prqlc/prqlc/src/sql/pq/anchor.rs
  prqlc/prqlc/tests/integration/queries/distinct_on_sort_on_compute.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__distinct_on_sort_on_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__distinct_on_sort_on_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__distinct_on_sort_on_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__distinct_on_sort_on_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__distinct_on_sort_on_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__distinct_on_sort_on_compute.snap
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix(prqlc): also require columns for super-less sorts
  prqlc/prqlc/src/sql/pq/anchor.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__distinct_on_sort_on_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__distinct_on_sort_on_compute.snap
Due: no-dbg

feat(prqlc, requirements): add helpers
  prqlc/prqlc/src/sql/pq/anchor.rs
Due: no-dbg

fix(prqlc): ignore requirements for unselected columns
  prqlc/prqlc/src/sql/pq/anchor.rs
Due: no-dbg

fix(prqlc): ignore unselected columns in positional mapping and fix matching
  prqlc/prqlc/src/sql/pq/anchor.rs
  prqlc/prqlc/src/sql/pq/positional_mapping.rs
  prqlc/prqlc/tests/integration/queries/append_select_compute.prql
  prqlc/prqlc/tests/integration/queries/append_select_multiple.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__append_select_multiple.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_multiple.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__append_select_multiple.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__distinct_on_sort_on_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__append_select_multiple.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__append_select_multiple.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__append_select_multiple.snap
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

use inline rather than integration tests
  prqlc/prqlc/tests/integration/queries/append_select_multiple.prql
  prqlc/prqlc/tests/integration/queries/distinct_on_sort_on_compute.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__append_select_multiple.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__distinct_on_sort_on_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_multiple.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__distinct_on_sort_on_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__append_select_multiple.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__distinct_on_sort_on_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__append_select_multiple.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__distinct_on_sort_on_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__append_select_multiple.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__distinct_on_sort_on_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__append_select_multiple.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__distinct_on_sort_on_compute.snap
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

Refactor: Use `format!` shorthand for string interpolation
  prqlc/prqlc-parser/src/lexer/lr.rs
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/parser/interpolation.rs
  prqlc/prqlc-parser/src/parser/perror.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
Due: no-dbg

fix: Address remaining clippy uninlined_format_args errors
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/sql/dialect.rs
  prqlc/prqlc/src/sql/pq/anchor.rs
Due: no-dbg

fix: Address final clippy uninlined_format_args errors
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/debug/render_html.rs
  prqlc/prqlc/src/semantic/lowering.rs
Due: no-dbg

tests: Skip doc tests on Windows to avoid LNK1318 PDB errors
  .github/workflows/test-rust.yaml
Due: none

test: Skip doc tests on Windows to avoid LNK1318 PDB errors (#5383)
  .github/workflows/test-rust.yaml
Due: none

test: Remove benches from Windows test command
  .github/workflows/test-rust.yaml
Due: none

Refactor: Use `format!` shorthand for string interpolation
  prqlc/bindings/java/src/lib.rs
  prqlc/bindings/prqlc-python/src/lib.rs
  prqlc/prqlc/src/cli/highlight.rs
  prqlc/prqlc/src/cli/test.rs
  prqlc/prqlc/src/debug/render_html.rs
  prqlc/prqlc/src/error_message.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/inference.rs
  prqlc/prqlc/tests/integration/dbs/runner.rs
Due: no-dbg

test: Remove benches from Windows test command (#5384)
  .github/workflows/test-rust.yaml
Due: none

Refactor: Use `format!` shorthand for string interpolation
  prqlc/prqlc/src/cli/highlight.rs
  prqlc/prqlc/src/lib.rs
Due: no-dbg

build: Update rust toolchain version (#5379)
  prqlc/bindings/java/src/lib.rs
  prqlc/bindings/prqlc-python/src/lib.rs
  prqlc/prqlc-parser/src/lexer/lr.rs
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/parser/interpolation.rs
  prqlc/prqlc-parser/src/parser/perror.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc/src/cli/highlight.rs
  prqlc/prqlc/src/cli/test.rs
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/debug/render_html.rs
  prqlc/prqlc/src/error_message.rs
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/inference.rs
  prqlc/prqlc/src/sql/dialect.rs
  prqlc/prqlc/src/sql/pq/anchor.rs
  prqlc/prqlc/tests/integration/dbs/runner.rs
  rust-toolchain.toml
Due: no-dbg

fix: Update sqlparser to 0.58.0
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/src/sql/gen_query.rs
Due: no-dbg

fix(prqlc): handle complex append cases (#5366)
  prqlc/prqlc/src/ir/pl/lineage.rs
  prqlc/prqlc/src/sql/pq/anchor.rs
  prqlc/prqlc/src/sql/pq/positional_mapping.rs
  prqlc/prqlc/tests/integration/queries/append_select_compute.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__append_select_compute.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__append_select_compute.snap
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

tests: add a test to indicate that #3852 has been fixed and to prevent accidental regression.
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

test: add a test to indicate that #3852 has been fixed. (#5397)
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

test: add a test to indicate that #5001 has been fixed and to prevent accidental regression.
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

test: add a test to indicate that #5001 has been fixed. (#5398)
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: Update Zig build.zig for compatibility with Zig 0.15+
  prqlc/bindings/prqlc-c/examples/minimal-zig/build.zig
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Simplify Claude GitHub Actions workflow
  .github/workflows/claude.yml
Due: none

Remove automatic PR review workflow
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
