Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

internal: Clarify docstring re nested enums (#4400)
  prqlc/prqlc/src/lib.rs
Due: no-dbg

internal: Remove unneeded `flatten`
  prqlc/prqlc-parser/src/lexer.rs
Due: no-dbg

internal: Remove unneeded `flatten` (#4401)
  prqlc/prqlc-parser/src/lexer.rs
Due: no-dbg

WIP on using a Span in the lexer
  prqlc/prqlc-ast/src/span.rs
  prqlc/prqlc-parser/src/error.rs
  prqlc/prqlc-parser/src/interpolation.rs
  prqlc/prqlc-parser/src/lexer.rs
  prqlc/prqlc-parser/src/lib.rs
  prqlc/prqlc-parser/src/span.rs
Due: no-dbg

internal: Use default `Debug` impl for `TokenVec`
  prqlc/prqlc-parser/src/lexer.rs
  prqlc/prqlc-parser/src/lib.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__arithmetic.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__cast.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__constants_only.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__date_to_text.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__distinct.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__distinct_on.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__genre_counts.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__group_all.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__group_sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__group_sort_limit_take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__invoice_totals.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__loop_01.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__pipelines.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__read_csv.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__set_ops_remove.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__switch.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__text_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__window.snap
Due: no-dbg

internal: Use default `Debug` impl for `TokenVec` (#4402)
  prqlc/prqlc-parser/src/lexer.rs
  prqlc/prqlc-parser/src/lib.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__arithmetic.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__cast.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__constants_only.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__date_to_text.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__distinct.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__distinct_on.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__genre_counts.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__group_all.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__group_sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__group_sort_limit_take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__invoice_totals.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__loop_01.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__pipelines.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__read_csv.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__set_ops_remove.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__switch.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__text_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__window.snap
Due: no-dbg

chore: Fix cargo doc
  prqlc/prqlc/src/lib.rs
Due: no-dbg

chore: Fix cargo doc (#4405)
  prqlc/prqlc/src/lib.rs
Due: no-dbg

ci: Fix nightly schedule check for cargo doc
  .github/workflows/tests.yaml
Due: none

ci: Fix nightly schedule check for cargo doc (#4406)
  .github/workflows/tests.yaml
Due: none

chore: Fix link
  web/book/src/project/contributing/README.md
Due: none

chore: Formatting changes from `pre-commit`
  CHANGELOG.md
  flake.lock
  grammars/README.md
  lutra/Taskfile.yml
  web/book/src/reference/stdlib/transforms/join.md
  web/prql-codemirror-demo/tsconfig.json
Due: prql-codeblock

chore: Fix link (#4412)
  web/book/src/project/contributing/README.md
Due: none

chore: Formatting changes from `pre-commit` (#4413)
  CHANGELOG.md
  flake.lock
  grammars/README.md
  lutra/Taskfile.yml
  prqlc/prqlc-parser/src/lexer.rs
  web/book/src/reference/stdlib/transforms/join.md
  web/prql-codemirror-demo/tsconfig.json
Due: no-dbg, prql-codeblock

fix: add error msg for no rows in from_text (#4421)
  prqlc/prqlc/src/sql/gen_query.rs
Due: no-dbg

Update prqlc/prqlc/src/sql/gen_query.rs
  prqlc/prqlc/src/sql/gen_query.rs
Due: no-dbg

fix: add error msg for no rows in from_text (#4421) (#4422)
  prqlc/prqlc/src/sql/gen_query.rs
Due: no-dbg

fix: Improve error message when no `.prql` files exist
  prqlc/prqlc/src/parser.rs
  prqlc/prqlc/tests/integration/cli.rs
Due: no-dbg

fix: Improve error message when no `.prql` files exist (#4424)
  prqlc/prqlc/src/parser.rs
  prqlc/prqlc/tests/integration/cli.rs
Due: no-dbg

build: Replace `atty` with `is-terminal`
  Cargo.lock
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/mod.rs
Due: no-dbg

build: Replace `atty` with `is-terminal` (#4430)
  Cargo.lock
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/mod.rs
Due: no-dbg

ci: Ignore unimportant security advisory
  .github/workflows/nightly.yaml
Due: none

ci: Ignore unimportant security advisory (#4431)
  .github/workflows/nightly.yaml
Due: none

ci: Aggregate dependabot configs
  .github/dependabot.yml
Due: none

ci: Aggregate dependabot configs (#4433)
  .github/dependabot.yml
Due: none

chore: Backport #4436 to `web` (#4441)
  .github/workflows/build-web.yaml
Due: none

chore: Backport #4434 to `web` (#4442)
  .github/workflows/publish-web.yaml
Due: none

ci: Update megalinter workflow
  .github/workflows/lint-megalinter.yaml
Due: none

ci: Upgrade artifact actions to v4
  .github/actions/build-prqlc-c/action.yaml
  .github/actions/build-python/action.yaml
  .github/actions/time-compilation/action.yaml
  .github/dependabot.yml
  .github/workflows/release.yaml
  .github/workflows/test-python.yaml
  .github/workflows/tests.yaml
Due: none

remove duplicate time-compilation
  .github/actions/build-prqlc-c/action.yaml
  .github/workflows/tests.yaml
Due: none

include os in python build
  .github/actions/build-python/action.yaml
Due: none

ci: Upgrade artifact actions to v4 (#4444)
  .github/actions/build-prqlc-c/action.yaml
  .github/actions/build-prqlc/action.yaml
  .github/actions/build-python/action.yaml
  .github/actions/time-compilation/action.yaml
  .github/dependabot.yml
  .github/workflows/release.yaml
  .github/workflows/test-python.yaml
  .github/workflows/tests.yaml
Due: none

ci: Update megalinter workflow (#4443)
  .github/workflows/lint-megalinter.yaml
Due: none

docs(CHANGELOG): Add tokei
  CHANGELOG.md
Due: prql-codeblock

Update CHANGELOG.md
  CHANGELOG.md
Due: prql-codeblock

build: Bump rust toolchain to 1.77.2
  rust-toolchain.toml
Due: none

docs(CHANGELOG): Add Tokei (#4447)
  CHANGELOG.md
Due: prql-codeblock

build: Bump rust toolchain to 1.77.2 (#4448)
  rust-toolchain.toml
  web/book/src/lib.rs
Due: no-dbg

build: Bump `insta-cmd` to 0.6.0
  Cargo.lock
  Cargo.toml
Due: none

build: Remove pin on minijinja
  prqlc/prqlc/Cargo.toml
Due: none

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
