Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html)'
      - id: check-yaml
      - id: mixed-line-ending
  - repo: https://github.com/crate-ci/typos
    rev: v1.14.8
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          - prettier-plugin-go-template
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.262
    hooks:
      - id: ruff
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
      - id: clippy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.2.0
    hooks:
      - id: mypy
        additional_dependencies: ["types-PyYAML==6.0.12.4"]
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.11.1
    hooks:
      - id: markdown-link-check
        files: \.md$
        args: ["--config=.github/.markdown-link-check.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        # A regex searching sql files for either `prj-` or 'tgs-'.
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote
ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, clippy, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

docs: Update dialect description in book (#2835)
  CHANGELOG.md
  prql-compiler/src/sql/dialect.rs
  prql-compiler/tests/integration/main.rs
  prql-compiler/tests/integration/queries/arithmetic.prql
  prql-compiler/tests/integration/queries/cast.prql
  prql-compiler/tests/integration/queries/distinct.prql
  prql-compiler/tests/integration/queries/distinct_on.prql
  prql-compiler/tests/integration/queries/genre_counts.prql
  prql-compiler/tests/integration/queries/group_all.prql
  prql-compiler/tests/integration/queries/group_sort.prql
  prql-compiler/tests/integration/queries/invoice_totals.prql
  prql-compiler/tests/integration/queries/loop.prql
  prql-compiler/tests/integration/queries/pipelines.prql
  prql-compiler/tests/integration/queries/set_ops_remove.prql
  prql-compiler/tests/integration/queries/sort.prql
  prql-compiler/tests/integration/queries/switch.prql
  web/book/src/bindings/rust.md
  web/book/src/contributing/README.md
  web/book/src/language-features/target.md
Due: no-dbg, prql-codeblock

test: Display test which is failing (#2836)
  prql-compiler/tests/integration/main.rs
Due: no-dbg

refactor!: remove hive dialect
  bindings/prql-elixir/lib/prql.ex
  bindings/prql-elixir/lib/prql/native.ex
  bindings/prql-elixir/native/prql/src/lib.rs
  prql-compiler/prqlc/tests/test.rs
  prql-compiler/src/sql/dialect.rs
  prql-compiler/src/sql/std.sql.prql
  web/book/src/language-features/target.md
Due: no-dbg

test: Add bad error message from #2821
  prql-compiler/src/tests/test_bad_error_messages.rs
Due: no-dbg

test: Add bad error message from #2821 (#2838)
  prql-compiler/src/tests/test_bad_error_messages.rs
Due: no-dbg

test: Bad error message from #2814
  prql-compiler/src/tests/test_bad_error_messages.rs
Due: no-dbg

test: Bad error message from #2814 (#2842)
  prql-compiler/src/tests/test_bad_error_messages.rs
Due: no-dbg

refactor!: remove the `sql.hive` target (#2837)
  bindings/prql-elixir/lib/prql.ex
  bindings/prql-elixir/lib/prql/native.ex
  bindings/prql-elixir/native/prql/src/lib.rs
  prql-compiler/prqlc/tests/test.rs
  prql-compiler/src/sql/dialect.rs
  prql-compiler/src/sql/std.sql.prql
  web/book/src/language-features/target.md
Due: no-dbg

docs(changelog): add items about targets
  CHANGELOG.md
Due: prql-codeblock

docs(changelog): add items about targets to 0.9.0 (#2843)
  CHANGELOG.md
Due: prql-codeblock

.
  prql-compiler/src/codegen.rs
Due: no-dbg

tweak: cmd syntax in CI
  .github/actions/build-prqlc/action.yaml
Due: none

build: Let wasm use `similar-asserts`
  prql-compiler/Cargo.toml
Due: none

tweak: cmd syntax in CI (#2845)
  .github/actions/build-prqlc/action.yaml
Due: none

build: Let wasm use `similar-asserts` (#2846)
  prql-compiler/Cargo.toml
Due: none

docs: Update CHANGELOG.md - array & tuple discussion
  CHANGELOG.md
Due: prql-codeblock

feat: Format `UnOp` correctly (#2803)
  prql-compiler/src/ast/pl/expr.rs
  prql-compiler/src/codegen.rs
  prql-compiler/tests/integration/snapshots/integration__fmt@arithmetic.prql.snap
  prql-compiler/tests/integration/snapshots/integration__fmt@cast.prql.snap
  prql-compiler/tests/integration/snapshots/integration__fmt@distinct_on.prql.snap
  prql-compiler/tests/integration/snapshots/integration__fmt@genre_counts.prql.snap
  prql-compiler/tests/integration/snapshots/integration__fmt@group_all.prql.snap
  prql-compiler/tests/integration/snapshots/integration__fmt@invoice_totals.prql.snap
Due: no-dbg

devops(devcontainer): add sqlite3 and duckdb cli (#2830)
  .devcontainer/devcontainer.json
Due: none

docs: Update CHANGELOG.md - array & tuple discussion (#2849)
  CHANGELOG.md
Due: prql-codeblock

refactor: Small cleanup in `write_expr`
  prql-compiler/src/codegen.rs
Due: no-dbg

refactor: Small cleanup in `write_expr` (#2850)
  prql-compiler/src/codegen.rs
Due: no-dbg

remove clio_extened, use ClioPath
  prql-compiler/prqlc/src/cli.rs
Due: no-dbg

feat: Elide parentheses in aliases in tuples
  prql-compiler/src/codegen.rs
Due: no-dbg

fix: playground timestamp handling
  web/playground/src/output/Output.js
Due: none

fix: playground timestamp handling (#2852)
  web/playground/src/output/Output.js
Due: none

test: more test about rounding
  prql-compiler/tests/integration/queries/arithmetic.prql
  prql-compiler/tests/integration/snapshots/integration__fmt@arithmetic.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@arithmetic.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@arithmetic.prql.snap
Due: none

test: remove test for `round 1 col` because different DBs return different types
  prql-compiler/tests/integration/queries/arithmetic.prql
Due: none

fix: numeric casting does not seem needed
  prql-compiler/src/sql/std.sql.prql
Due: none

test: update snapshots
  prql-compiler/tests/integration/snapshots/integration__fmt@arithmetic.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@arithmetic.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@arithmetic.prql.snap
Due: none

Update examples.js so the PRQL Playground examples use tuples; Checked to ensure none of the other queries in the Playground return errors
  web/playground/src/examples.js
Due: none

docs: Update examples.js so the PRQL Playground examples use tuples (#2856)
  web/playground/src/examples.js
Due: none

docs: Update blog post for syntax
  web/website/content/posts/2023-01-07-functional-relations.md
Due: none

docs: Update blog post for syntax (#2858)
  web/website/content/posts/2023-01-07-functional-relations.md
Due: none

test: use `allow_duplicates` in integration test
  prql-compiler/tests/integration/main.rs
  prql-compiler/tests/integration/snapshots/integration__results@pipelines.prql.snap
Due: no-dbg

test: use `allow_duplicates` in integration test (#2859)
  prql-compiler/tests/integration/main.rs
  prql-compiler/tests/integration/snapshots/integration__results@pipelines.prql.snap
Due: no-dbg

fix: Parse scientific notation correctly
  CHANGELOG.md
  prql-compiler/src/parser/lexer.rs
  prql-compiler/src/parser/mod.rs
  web/book/src/syntax/numbers.md
  web/book/tests/documentation/snapshots/documentation__book__syntax__numbers__0.snap
Due: no-dbg, prql-codeblock

ci: Re-enable code coverage
  .github/workflows/test-all.yaml
Due: none

fix: Parse scientific notation correctly (#2865)
  CHANGELOG.md
  prql-compiler/src/parser/lexer.rs
  prql-compiler/src/parser/mod.rs
  web/book/src/syntax/numbers.md
  web/book/tests/documentation/snapshots/documentation__book__syntax__numbers__0.snap
Due: no-dbg, prql-codeblock

ci: Re-enable code coverage (#2866)
  .github/workflows/test-all.yaml
Due: none

tweak: Readme typo
  bindings/prql-elixir/README.md
Due: none
