Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, prql-codeblock

lychee:
  name: lychee (local links only)
  entry: lychee
  language: rust
  additional_dependencies:
  - cli:lychee:0.20.1
  args:
  - --no-progress
  - --include=^(https://(github\.com/(PRQL|prql)|prql-lang\.org|raw\.githubusercontent\.com/(PRQL|prql))|file://)

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

internal: fix typo in DebugCommand description
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-2.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-3.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-4.snap
  prqlc/prqlc/src/cli/test.rs
Due: no-dbg

docs: correct prqlc-c FFI doc comments for non-compile entrypoints
  prqlc/bindings/prqlc-c/prqlc.h
  prqlc/bindings/prqlc-c/prqlc.hpp
  prqlc/bindings/prqlc-c/src/lib.rs
Due: no-dbg

web: scope prql.js highlight function and fix stale grammar URLs
  grammars/README.md
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: lychee

web: hoist book highlight-prql formatting to const
  web/book/highlight-prql.js
Due: none

web: scope prql.js highlight function and fix stale grammar URLs (#5856)
  grammars/README.md
  web/book/highlight-prql.js
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: lychee

docs: correct prqlc-c FFI doc comments for non-compile entrypoints (#5855)
  prqlc/bindings/prqlc-c/prqlc.h
  prqlc/bindings/prqlc-c/prqlc.hpp
  prqlc/bindings/prqlc-c/src/lib.rs
Due: no-dbg

internal: fix typo in DebugCommand description (#5854)
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-2.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-3.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-4.snap
  prqlc/prqlc/src/cli/test.rs
Due: no-dbg

docs: fix wrong column name in relations tutorial (#5853)
  web/book/src/tutorial/relations.md
Due: lychee

fix(playground): correct minDepth reduction in generateBook.cjs
  web/playground/generateBook.cjs
Due: none

internal: remove stray comment in starts_with_path
  prqlc/prqlc-parser/src/parser/pr/ident.rs
Due: no-dbg

internal: remove stray comment in starts_with_path (#5858)
  prqlc/prqlc-parser/src/parser/pr/ident.rs
Due: no-dbg

fix(playground): correct minDepth reduction in generateBook.cjs (#5857)
  web/playground/generateBook.cjs
Due: none

docs: fix typo in pq module doc and clarify PHP Span comment
  prqlc/bindings/php/src/Message.php
  prqlc/prqlc/src/sql/pq/mod.rs
Due: no-dbg

docs: fix typo in pq module doc and clarify PHP Span comment (#5859)
  prqlc/bindings/php/src/Message.php
  prqlc/prqlc/src/sql/pq/mod.rs
Due: no-dbg

docs: fix typos and tighten footer link hygiene
  prqlc/prqlc/tests/integration/dbs/README.md
  prqlc/prqlc/tests/integration/error_messages.rs
  web/book/src/reference/syntax/keywords.md
  web/website/themes/prql-theme/layouts/partials/footer.html
Due: lychee, no-dbg

docs: fix typos and tighten footer link hygiene (#5862)
  prqlc/prqlc/tests/integration/dbs/README.md
  prqlc/prqlc/tests/integration/error_messages.rs
  web/book/src/reference/syntax/keywords.md
  web/website/themes/prql-theme/layouts/partials/footer.html
Due: lychee, no-dbg

fix: typos and stray leading space in date format
  prqlc/prqlc/src/sql/pq/anchor.rs
  web/book/src/reference/syntax/arrays.md
  web/website/themes/prql-theme/layouts/_default/article.html
Due: lychee, no-dbg

fix: use lowercase 'selected' to avoid typos pre-commit revert
  prqlc/prqlc/src/sql/pq/anchor.rs
Due: no-dbg

fix: catch remaining SELECTTed typo
  prqlc/prqlc/src/sql/pq/anchor.rs
Due: no-dbg

fix: remove stray leading space in list.html date format
  web/website/themes/prql-theme/layouts/_default/list.html
Due: none

fix: typos and stray leading space in date format (#5864)
  prqlc/prqlc/src/sql/pq/anchor.rs
  web/book/src/reference/syntax/arrays.md
  web/website/themes/prql-theme/layouts/_default/article.html
  web/website/themes/prql-theme/layouts/_default/list.html
Due: lychee, no-dbg

docs: note count_distinct is deprecated in aggregate.md
  web/book/src/reference/stdlib/transforms/aggregate.md
Due: lychee

docs: remove deprecated count_distinct from aggregate.md
  web/book/src/reference/stdlib/transforms/aggregate.md
Due: lychee

docs: remove deprecated count_distinct from aggregate.md (#5865)
  web/book/src/reference/stdlib/transforms/aggregate.md
Due: lychee

fix: catch CLI compile panic to ensure debug log is generated
  prqlc/prqlc/src/cli/mod.rs
Due: no-dbg

Apply suggestions from code review
  prqlc/prqlc/src/cli/mod.rs
Due: no-dbg

fix: catch CLI compile panic to ensure debug log is generated (#5869)
  prqlc/prqlc/src/cli/mod.rs
Due: no-dbg

chore: update tend workflows
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

docs: refresh wt.toml template-variable comment
  .config/wt.toml
Due: none

docs: fix stale module path in bad_error_messages comment
  prqlc/prqlc/tests/integration/bad_error_messages.rs
Due: no-dbg

docs: fix stale file name reference in bad_error_messages module docstring
  prqlc/prqlc/tests/integration/bad_error_messages.rs
Due: no-dbg

chore: update tend workflows (#5870)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

docs: refresh wt.toml template-variable comment (#5871)
  .config/wt.toml
Due: none

docs: fix stale module path in bad_error_messages comment (#5872)
  prqlc/prqlc/tests/integration/bad_error_messages.rs
Due: no-dbg

docs: drop stale noop mention in append.md
  web/book/src/reference/stdlib/transforms/append.md
Due: lychee

docs: drop stale noop mention in append.md (#5873)
  web/book/src/reference/stdlib/transforms/append.md
Due: lychee

fix: apply redirect when resolving wildcard on `this`
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/names.rs
  prqlc/prqlc/tests/integration/queries/wildcard_this.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__wildcard_this.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__wildcard_this.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__wildcard_this.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__wildcard_this.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__wildcard_this.snap
Due: no-dbg

test: remove integration query file, add tests to sql.rs
  prqlc/prqlc/tests/integration/queries/wildcard_this.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compile__wildcard_this.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__compileall__wildcard_this.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__wildcard_this.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__wildcard_this.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__wildcard_this.snap
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: apply redirect correctly when resolving wildcard on `this` (#5875)
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/names.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: fold exprs within tuple_map
  prqlc/prqlc/src/semantic/resolver/transforms.rs
Due: no-dbg

Path conditions:
  lychee: any of: \.(md|rst)$, but not: ^web/website/themes/
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
