Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, prql-codeblock

lychee:
  name: lychee (local links only)
  entry: lychee
  language: rust
  additional_dependencies:
  - cli:lychee:0.20.1
  args:
  - --no-progress
  - --include=^(https://(github\.com/(PRQL|prql)|prql-lang\.org|raw\.githubusercontent\.com/(PRQL|prql))|file://)

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

chore: adapt prqlc to sqlparser 0.62 AST changes
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/sql/gen_projection.rs
  prqlc/prqlc/src/sql/gen_query.rs
Due: no-dbg

chore: fix cargo fmt and bump MSRV to 1.81
  Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/sql/gen_projection.rs
Due: no-dbg

ci: disable ACTION_ZIZMOR and REPOSITORY_OSV_SCANNER
  .mega-linter.yaml
Due: none

chore: use `Result::inspect` to satisfy `manual_inspect` clippy lint
  prqlc/prqlc/src/sql/pq/preprocess.rs
Due: no-dbg

chore: use `ObjectName::from(Ident)` instead of manual wrap
  prqlc/prqlc/src/sql/gen_projection.rs
Due: no-dbg

fix: correct Annotate display, fix typos, update stale docs (#5792)
  grammars/prql-lezer/README.md
  prqlc/prqlc-parser/src/lexer/lr.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
Due: lychee, no-dbg

fix: adjust formatting in date.md for SQL output table
  web/book/src/reference/stdlib/date.md
Due: lychee

fix: update date.md prettier
  web/book/src/reference/stdlib/date.md
Due: lychee

feat: rename 'to_start_of_interval' function to 'floor' across modules and update documentation
  prqlc/prqlc/src/semantic/std.prql
  prqlc/prqlc/src/sql/std.sql.prql
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/reference/stdlib/date.md
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__date__date-functions__5.snap
Due: lychee, no-dbg

fix: adjust formatting and whitespace in date_floor tests for consistency
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

refine: remove unused '<'a> lifetime from translate_chrono_item impls
  prqlc/prqlc/src/sql/dialect.rs
Due: no-dbg

refine: remove unused '<'a> lifetime from translate_chrono_item impls (#5930)
  prqlc/prqlc/src/sql/dialect.rs
Due: no-dbg

refine: remove dead frontend code
  web/Taskfile.yaml
  web/playground/src/setupTests.js
Due: none

refine: remove dead frontend code (#5932)
  web/Taskfile.yaml
  web/playground/src/setupTests.js
Due: none

fix: throw java exception instead of panic in jni bindings
  prqlc/bindings/java/src/lib.rs
Due: no-dbg

fix: throw java exception instead of panic in jni bindings (#5934)
  prqlc/bindings/java/src/lib.rs
Due: no-dbg

docs: fix comparison operator labels in raku grammar test
  grammars/raku/t/operators.rakutest
Due: none

docs: point FAQ DuckDB link to community extension
  web/website/content/faq.md
Due: lychee

refine: remove unreachable has_other branch in tuple inference
  prqlc/prqlc/src/semantic/resolver/types.rs
Due: no-dbg

fix: replace panic with bug error in lookup_cid
  prqlc/prqlc/src/semantic/lowering.rs
Due: no-dbg

test(java): use JUnit Assert so the test actually checks the result
  prqlc/bindings/java/java/src/test/java/org/prql/prql4j/PrqlCompilerTest.java
Due: none

docs: update homepage DuckDB integration link
  web/website/content/_index.md
Due: lychee

fix: replace panic with bug error in lookup_cid (#5938)
  prqlc/prqlc/src/semantic/lowering.rs
Due: no-dbg

docs: point FAQ DuckDB link to community extension (#5936)
  web/website/content/_index.md
  web/website/content/faq.md
Due: lychee

test(java): use JUnit Assert so the test actually checks the result (#5939)
  prqlc/bindings/java/java/src/test/java/org/prql/prql4j/PrqlCompilerTest.java
Due: none

refine: remove unreachable has_other branch in tuple inference (#5937)
  prqlc/prqlc/src/semantic/resolver/types.rs
Due: no-dbg

docs: fix comparison operator labels in raku grammar test (#5935)
  grammars/raku/t/operators.rakutest
Due: none

chore: refresh insta snapshots to latest format
  prqlc/bindings/prqlc-python/src/lib.rs
  prqlc/prqlc-parser/src/lexer/test.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/cli/test.rs
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/semantic/mod.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/sql/dialect.rs
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/src/sql/gen_query.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__append_select_nulls.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__date_to_text.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__window.snap
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

chore: refresh insta snapshots to latest format (#5943)
  prqlc/bindings/prqlc-python/src/lib.rs
  prqlc/prqlc-parser/src/lexer/test.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/cli/test.rs
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/semantic/mod.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/sql/dialect.rs
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/src/sql/gen_query.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__append_select_nulls.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__date_to_text.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__results__window.snap
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

docs: fix typos and inconsistencies in type-system spec
  web/book/src/reference/spec/type-system.md
Due: lychee

docs: fix one more it's → its (possessive)
  web/book/src/reference/spec/type-system.md
Due: lychee

skills(running-tend): warn against background until-loops for `.completed` markers
  .claude/skills/running-tend/SKILL.md
Due: lychee

docs: fix typos in type-system spec (#5944)
  web/book/src/reference/spec/type-system.md
Due: lychee

fix(dotnet): correct ArgumentException constructor usage
  prqlc/bindings/dotnet/PrqlCompiler.Tests/CompilerTest.cs
  prqlc/bindings/dotnet/PrqlCompiler/PrqlCompiler.cs
Due: none

chore: small docs cleanups in postprocess and zig example
  prqlc/bindings/prqlc-c/examples/minimal-zig/src/main.zig
  prqlc/prqlc/src/sql/pq/postprocess.rs
Due: no-dbg

docs(prqlc-c): replace stale Go cgo snippet, fix linker flags
  prqlc/bindings/prqlc-c/README.md
Due: lychee

docs(prqlc-c): replace stale Go cgo snippet, fix linker flags (#5956)
  prqlc/bindings/prqlc-c/README.md
Due: lychee

chore: small docs cleanups in postprocess and zig example (#5955)
  prqlc/bindings/prqlc-c/examples/minimal-zig/src/main.zig
  prqlc/prqlc/src/sql/pq/postprocess.rs
Due: no-dbg

Path conditions:
  lychee: any of: \.(md|rst)$, but not: ^web/website/themes/
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
