Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.(rs|snap)$'
  - repo: https://github.com/crate-ci/typos
    rev: v1.21.0
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    # This does seem to work again, but might need to be disabled if it doesn't;
    # ref https://github.com/prettier/prettier/issues/15742
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          # TODO: This doesn't seem to work, would be great to fix.
          # https://github.com/PRQL/prql/issues/3078
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.5
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: clippy
        stages: [manual]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.0
    hooks:
      - id: actionlint
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.12.2
    hooks:
      - id: markdown-link-check
        name: markdown-link-check-local
        types: [markdown]
        args: ["--config=.config/.markdown-link-check-local.json"]
        # To run across everything (see nightly.yaml for more details)
      - id: markdown-link-check
        name: markdown-link-check-all
        stages: [manual]
        types: [markdown]
        args: ["--config=.config/.markdown-link-check-all.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote

ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

build(python): Add description to `prqlc-python` (#4599)
  lutra/bindings/python/pyproject.toml
  prqlc/bindings/prqlc-python/pyproject.toml
Due: none

fix: generate `FALSE` instead of `expr in ()` conditions (#4598)
  CHANGELOG.md
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg, prql-codeblock

Set version with replace
  .github/workflows/release.yaml
  prqlc/prqlc/Cargo.toml
Due: none

feat: pull prqlc-ast changed from feat-types
  prqlc/prqlc-ast/src/expr.rs
  prqlc/prqlc-ast/src/expr/ident.rs
  prqlc/prqlc-ast/src/span.rs
  prqlc/prqlc-ast/src/types.rs
  prqlc/prqlc-parser/src/err/error.rs
  prqlc/prqlc-parser/src/expr.rs
  prqlc/prqlc-parser/src/types.rs
  prqlc/prqlc/src/codegen/types.rs
  prqlc/prqlc/src/ir/pl/fold.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/src/semantic/std.prql
  prqlc/prqlc/tests/integration/ast_code_matches.rs
  prqlc/prqlc/tests/integration/snapshots/integration__cli__debug.snap
Due: no-dbg

refactor: organize SQL tests
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

build: Rename `prql-compiler-macros` to `prqlc-macros` (#4565)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  prqlc/Taskfile.yaml
  prqlc/prqlc-macros/Cargo.toml
  prqlc/prqlc-macros/src/lib.rs
  prqlc/prqlc/src/lib.rs
Due: no-dbg, prql-codeblock

feat: pull prqlc-ast changed from feat-types (#4604)
  prqlc/prqlc-ast/src/expr.rs
  prqlc/prqlc-ast/src/expr/ident.rs
  prqlc/prqlc-ast/src/span.rs
  prqlc/prqlc-ast/src/types.rs
  prqlc/prqlc-parser/src/err/error.rs
  prqlc/prqlc-parser/src/expr.rs
  prqlc/prqlc-parser/src/types.rs
  prqlc/prqlc/src/codegen/types.rs
  prqlc/prqlc/src/ir/pl/fold.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/src/semantic/std.prql
  prqlc/prqlc/tests/integration/ast_code_matches.rs
  prqlc/prqlc/tests/integration/snapshots/integration__cli__debug.snap
Due: no-dbg

refactor: organize SQL tests (#4605)
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

tweak: Fix grammar in `--help`
  prqlc/prqlc/src/cli/mod.rs
Due: no-dbg

ci: Enable automatic bumping of rust toolchain
  .github/workflows/nightly.yaml
Due: none

tweak: Unify final taskfile name
  prqlc/bindings/prqlc-c/examples/minimal-zig/Taskfile.yaml
Due: none

ci: Run taskfile tests on any taskfile change
  .github/workflows/tests.yaml
Due: none

tweak: Unify final taskfile name (#4610)
  prqlc/bindings/prqlc-c/examples/minimal-zig/Taskfile.yaml
Due: none

tweak: Fix grammar in `--help` (#4607)
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/tests/integration/cli.rs
Due: no-dbg

ci: Run taskfile tests on any taskfile change (#4611)
  .github/workflows/tests.yaml
Due: none

ci: Enable automatic bumping of rust toolchain (#4609)
  .github/workflows/nightly.yaml
Due: none

ci: Don't run codecov action from forks
  .github/workflows/tests.yaml
Due: none

ci: Don't run codecov action from forks (#4612)
  .github/workflows/tests.yaml
Due: none

ci: Don't attempt to create an nightly-failed issue on forks
  .github/workflows/tests.yaml
Due: none

ci: Don't attempt to create an nightly-failed issue on forks (#4614)
  .github/workflows/tests.yaml
Due: none

Put version in snapcraft
  prqlc/packages/snap/snapcraft.yaml
  prqlc/prqlc/Cargo.toml
Due: none

Update Cargo.toml
  prqlc/prqlc/Cargo.toml
Due: none

build: Set version on Snap (#4569)
  prqlc/packages/snap/snapcraft.yaml
  prqlc/prqlc/Cargo.toml
Due: none

ci: Don't upload codecov on nightly
  .github/workflows/tests.yaml
Due: none

ci: Don't upload codecov on nightly (#4615)
  .github/workflows/tests.yaml
Due: none

devops: Pin cargo-binstall given MSRV
  Taskfile.yaml
Due: none

ci: Debug `update-rust-toolchain`
  .github/workflows/nightly.yaml
Due: none

devops: Pin cargo-binstall given MSRV (#4616)
  .github/workflows/nightly.yaml
  Taskfile.yaml
Due: none

docs: Update badges on Readme
  README.md
Due: none

docs: Update badges on Readme (#4619)
  README.md
Due: none

chore: Backport #4619 to `web` (#4620)
  README.md
Due: none

ci: Rationalize nightly workflow items
  .github/workflows/tests.yaml
Due: none

docs: Add link to twitter badge
  README.md
Due: none

docs: Add link to twitter badge (#4622)
  README.md
Due: none

ci: Rationalize nightly workflow items (#4621)
  .github/workflows/nightly.yaml
  .github/workflows/tests.yaml
Due: none

build: Update rust toolchain version (#4624)
  rust-toolchain.toml
Due: none

ci: Debug `update-rust-toolchain` (#4618)
  .github/workflows/nightly.yaml
  .github/workflows/pull-request-target.yaml
  .github/workflows/tests.yaml
Due: none

tweak(build): Move `semver` to workspace dep
  Cargo.toml
  prqlc/prqlc-ast/Cargo.toml
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/Cargo.toml
Due: none

tweak(build): Move `semver` to workspace dep (#4626)
  Cargo.toml
  prqlc/prqlc-ast/Cargo.toml
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/Cargo.toml
Due: none
