Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

fix: Retain raw strings through `fmt` (#4848)
  CHANGELOG.md
  prqlc/prqlc-parser/src/lexer/lr.rs
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/parser/test.rs
  prqlc/prqlc-parser/src/test.rs
  prqlc/prqlc/src/codegen/mod.rs
  prqlc/prqlc/src/semantic/resolver/types.rs
  prqlc/prqlc/src/sql/gen_expr.rs
Due: no-dbg, prql-codeblock

refactor: Move `Literal::String` tests closer to source
  prqlc/prqlc-parser/src/lexer/lr.rs
  prqlc/prqlc/src/codegen/mod.rs
Due: no-dbg

refactor: Move `Literal::String` tests closer to source (#4849)
  prqlc/prqlc-parser/src/lexer/lr.rs
  prqlc/prqlc/src/codegen/mod.rs
Due: no-dbg

fix: `fmt` produces an odd number of quotes
  prqlc/prqlc-parser/src/lexer/lr.rs
Due: no-dbg

fix: `fmt` produces an odd number of quotes (#4850)
  CHANGELOG.md
  prqlc/prqlc-parser/src/lexer/lr.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__date_to_text.snap
Due: no-dbg, prql-codeblock

test: Check that integration test queries can be compiled after formatting
  prqlc/prqlc/tests/integration/queries.rs
Due: no-dbg

test: Check that integration test queries can be compiled after formatting (#4851)
  prqlc/prqlc/tests/integration/queries.rs
Due: no-dbg

test: Check env var on every check of compiler version (#4859)
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/sql/mod.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

update nix dev env
  flake.lock
  flake.nix
Due: none

update py03
  Cargo.toml
  lutra/bindings/python/src/lib.rs
  prqlc/bindings/prqlc-python/src/lib.rs
Due: no-dbg

update arrow and rusqlite
  lutra/bindings/python/Cargo.toml
  lutra/lutra/Cargo.toml
  prqlc/prqlc/Cargo.toml
Due: none

cargo lock
  Cargo.lock
Due: none

chore: update pyo3, arrow, rusqlite and nix dev env (#4861)
  Cargo.lock
  Cargo.toml
  flake.lock
  flake.nix
  lutra/bindings/python/Cargo.toml
  lutra/bindings/python/src/lib.rs
  lutra/lutra/Cargo.toml
  prqlc/bindings/prqlc-python/src/lib.rs
  prqlc/prqlc/Cargo.toml
Due: no-dbg

docs: duckdb extension is now easy to use
  web/book/src/project/integrations/duckdb.md
Due: none

ci: Don't start from old caches in CI
  .github/actions/build-prqlc-c/action.yaml
  .github/actions/build-prqlc/action.yaml
  .github/actions/time-compilation/action.yaml
  .github/workflows/build-web.yaml
  .github/workflows/release.yaml
  .github/workflows/test-java.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-php.yaml
  .github/workflows/test-prqlc-c.yaml
  .github/workflows/test-rust.yaml
  .github/workflows/tests.yaml
Due: none

ci: Don't start from old caches in CI (#4864)
  .github/actions/build-prqlc-c/action.yaml
  .github/actions/build-prqlc/action.yaml
  .github/actions/time-compilation/action.yaml
  .github/workflows/build-web.yaml
  .github/workflows/release.yaml
  .github/workflows/test-java.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-php.yaml
  .github/workflows/test-prqlc-c.yaml
  .github/workflows/test-rust.yaml
  .github/workflows/tests.yaml
Due: none

docs: the duckdb extension is now easy to install and use (#4862)
  web/book/src/project/integrations/duckdb.md
Due: none

chore: Backport #4862 to `web` (#4865)
  web/book/src/project/integrations/duckdb.md
Due: none

refactor: avoid additional String clones in codegen
  prqlc/prqlc/src/codegen/ast.rs
Due: no-dbg

ci: Add remove disk space job to `test-taskfile`
  .github/workflows/tests.yaml
Due: none

ci: Replace our script to free disk space with an action
  .github/workflows/test-rust.yaml
Due: none

make change so test-taskfile runs
  prqlc/Taskfile.yaml
Due: none

Revert ""
  .github/workflows/tests.yaml
Due: none

Update Dockerfile from bullseye to bookworm
  .devcontainer/base-image/Dockerfile
Due: none

improve debug log
  prqlc/prqlc/src/debug/render_html.rs
Due: no-dbg

fix (squash)
  prqlc/prqlc/src/debug/render_html.rs
Due: no-dbg

revert details & summary
  prqlc/prqlc/src/debug/render_html.rs
Due: no-dbg

Set nullable props to null
  prqlc/bindings/php/src/Message.php
  prqlc/bindings/php/src/Options.php
Due: none

use details for ast-node
  prqlc/prqlc/src/debug/render_html.rs
Due: no-dbg

debug log tabs
  prqlc/prqlc/src/debug/log.rs
  prqlc/prqlc/src/debug/render_html.rs
Due: no-dbg

minor improvements
  prqlc/prqlc/src/debug/render_html.rs
Due: no-dbg

tests?
  prqlc/prqlc/src/cli/docs_generator.rs
Due: no-dbg

cleanup cli verbosity flag
  Cargo.lock
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-2.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-3.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-4.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion.snap
  prqlc/prqlc/src/cli/test.rs
  prqlc/prqlc/src/debug/render_html.rs
Due: no-dbg

filter messages
  prqlc/prqlc/src/debug/render_html.rs
Due: no-dbg

refactor: avoid additional String clones in codegen (#4867)
  prqlc/prqlc/src/codegen/ast.rs
Due: no-dbg

feat: improve debug log (#4881)
  Cargo.lock
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-2.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-3.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-4.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion.snap
  prqlc/prqlc/src/cli/test.rs
  prqlc/prqlc/src/debug/log.rs
  prqlc/prqlc/src/debug/render_html.rs
Due: no-dbg

build: Set nullable props to null (#4880)
  prqlc/bindings/php/src/Message.php
  prqlc/bindings/php/src/Options.php
Due: none

build: Update Dockerfile from bullseye to bookworm (#4879)
  .devcontainer/base-image/Dockerfile
Due: none

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
