Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.(rs|snap)$'
  - repo: https://github.com/crate-ci/typos
    rev: v1
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          # TODO: This doesn't seem to work, would be great to fix.
          # https://github.com/PRQL/prql/issues/3078
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.5
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: clippy
        stages: [manual]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint
  # Link checker using local hooks with language: rust
  # Pre-commit will automatically install lychee via cargo
  - repo: local
    hooks:
      - id: lychee
        name: lychee (local links only)
        entry: lychee
        language: rust
        additional_dependencies: ["cli:lychee:0.20.1"]
        files: \.(md|rst)$
        exclude: ^web/website/themes/
        args:
          - --no-progress
          # For PRs: whitelist PRQL domains and local files only
          # Pattern matches:
          #   - github.com/PRQL/* and github.com/prql/*
          #   - prql-lang.org/*
          #   - raw.githubusercontent.com/PRQL/* and raw.githubusercontent.com/prql/*
          #   - file://* (local/relative links)
          # All other external links are skipped for faster PR checks
          - --include=^(https://(github\.com/(PRQL|prql)|prql-lang\.org|raw\.githubusercontent\.com/(PRQL|prql))|file://)
      - id: lychee-all
        name: lychee-all (all links)
        entry: lychee
        language: rust
        additional_dependencies: ["cli:lychee:0.20.1"]
        stages: [manual]
        files: \.(md|rst)$
        exclude: ^web/website/themes/
        args: ["--config=.config/lychee.toml", "--no-progress"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote

ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, lychee, lychee-all]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

resolve clippy warning
  prqlc/prqlc/src/semantic/resolver/transforms.rs
Due: no-dbg

Update prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
Due: no-dbg

ci: disable REPOSITORY_BETTERLEAKS in megalinter
  .mega-linter.yaml
Due: none

chore: hold mdbook bump to preserve 1.81 MSRV
  Cargo.lock
Due: none

docs: correct list of tested external databases in dbs README
  prqlc/prqlc/tests/integration/dbs/README.md
Due: lychee

chore: update tend workflows (0.1.8 → 0.1.9)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

chore: update tend workflows (0.1.8 → 0.1.9) (#6055)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

docs: correct list of tested external databases in dbs README (#6054)
  prqlc/prqlc/tests/integration/dbs/README.md
Due: lychee

docs: add `~=` to operator precedence table
  web/book/src/reference/syntax/operators.md
Due: lychee

fix: sync prqlc Python type stub with binding signatures
  prqlc/bindings/prqlc-python/python/prqlc/__init__.pyi
  prqlc/bindings/prqlc-python/python/tests/test_all.py
Due: none

docs: restore dropped `dbg!` macro name in bad_error_messages comment
  prqlc/prqlc/tests/integration/bad_error_messages.rs
Due: no-dbg

docs: drop bang from `dbg` to satisfy no-dbg pre-commit hook
  prqlc/prqlc/tests/integration/bad_error_messages.rs
Due: no-dbg

chore: bump go-task/setup-task pinned version 3.51.1 → 3.52.0
  .github/actions/tend-setup/action.yaml
  .github/workflows/build-web.yaml
  .github/workflows/test-php.yaml
  .github/workflows/test-prqlc-c.yaml
Due: none

chore: bump go-task/setup-task pinned version 3.51.1 → 3.52.0 (#6060)
  .github/actions/tend-setup/action.yaml
  .github/workflows/build-web.yaml
  .github/workflows/test-php.yaml
  .github/workflows/test-prqlc-c.yaml
Due: none

docs: restore dropped `dbg` macro name in bad_error_messages comment (#6059)
  prqlc/prqlc/tests/integration/bad_error_messages.rs
Due: no-dbg

chore: remove test with broken behavior
  prqlc/prqlc/src/semantic/module.rs
Due: no-dbg

fix: set relation type earlier in from_text
  prqlc/prqlc-parser/src/parser/pr/types.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

update error handling
  prqlc/prqlc-parser/src/parser/pr/types.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
Due: no-dbg

refactor: remove dead PRQL_VERSION_OVERRIDE re-check in compiler_version
  prqlc/prqlc/src/lib.rs
Due: no-dbg

refine: avoid full Func clone and fix comment typo in resolver
  prqlc/prqlc/src/semantic/resolver/functions.rs
Due: no-dbg

docs: correct stale doc comments in pq context and emacs README
  grammars/emacs/README.md
  prqlc/prqlc/src/sql/pq/context.rs
Due: lychee, no-dbg

docs: fix ErrorMessage.hints field and dev build command in prqlc-js README
  prqlc/bindings/js/README.md
Due: lychee

docs: fix ErrorMessage.hints field and dev build command in prqlc-js README (#6070)
  prqlc/bindings/js/README.md
Due: lychee

docs: correct stale doc comments in pq context and emacs README (#6069)
  grammars/emacs/README.md
  prqlc/prqlc/src/sql/pq/context.rs
Due: lychee, no-dbg

refine: avoid full Func clone and fix comment typo in resolver (#6068)
  prqlc/prqlc/src/semantic/resolver/functions.rs
Due: no-dbg

refactor: remove dead PRQL_VERSION_OVERRIDE re-check in compiler_version (#6067)
  prqlc/prqlc/src/lib.rs
Due: no-dbg

fix: sync prqlc Python type stub with binding signatures (#6058)
  prqlc/bindings/prqlc-python/python/prqlc/__init__.pyi
  prqlc/bindings/prqlc-python/python/tests/test_all.py
Due: none

docs: add `~=` to operator precedence table (#6056)
  web/book/src/reference/syntax/operators.md
Due: lychee

fix(dotnet): correct ArgumentException constructor usage (#5954)
  prqlc/bindings/dotnet/PrqlCompiler.Tests/CompilerTest.cs
  prqlc/bindings/dotnet/PrqlCompiler/PrqlCompiler.cs
Due: none

fix: from_text sets relation type earlier (#6066)
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

docs: compile CROSS JOIN example in join reference
  web/book/src/reference/stdlib/transforms/join.md
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__join__examples__3.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__join__examples__4.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__join__examples__5.snap
Due: lychee

chore: update tend workflows (0.1.9 → 0.1.10)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

chore: update tend workflows (0.1.9 → 0.1.10) (#6072)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

Fix BETWEEN optimization never triggering due to span comparison
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

docs: compile CROSS JOIN example in join reference (#6071)
  web/book/src/reference/stdlib/transforms/join.md
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__join__examples__3.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__join__examples__4.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__join__examples__5.snap
Due: lychee

fix: repair pre-commit on main (dead stargazers link, drifting prettier version)
  .pre-commit-config.yaml
  README.md
Due: lychee

chore: bump prettier to 3.9.5 and restore its version pin
  .pre-commit-config.yaml
  web/book/src/SUMMARY.md
Due: lychee

fix: repair pre-commit on main (dead stargazers link, unpinned prettier) (#6074)
  .pre-commit-config.yaml
  README.md
  web/book/src/SUMMARY.md
Due: lychee

chore: pin typos as a local hook so autoupdate can't unpin it
  .pre-commit-config.yaml
Due: none
