Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.(rs|snap)$'
  - repo: https://github.com/crate-ci/typos
    rev: v1
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          # TODO: This doesn't seem to work, would be great to fix.
          # https://github.com/PRQL/prql/issues/3078
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.5
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: clippy
        stages: [manual]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint
  # Link checker using local hooks with language: rust
  # Pre-commit will automatically install lychee via cargo
  - repo: local
    hooks:
      - id: lychee
        name: lychee (local links only)
        entry: lychee
        language: rust
        additional_dependencies: ["cli:lychee:0.20.1"]
        files: \.(md|rst)$
        exclude: ^web/website/themes/
        args:
          - --no-progress
          # For PRs: whitelist PRQL domains and local files only
          # Pattern matches:
          #   - github.com/PRQL/* and github.com/prql/*
          #   - prql-lang.org/*
          #   - raw.githubusercontent.com/PRQL/* and raw.githubusercontent.com/prql/*
          #   - file://* (local/relative links)
          # All other external links are skipped for faster PR checks
          - --include=^(https://(github\.com/(PRQL|prql)|prql-lang\.org|raw\.githubusercontent\.com/(PRQL|prql))|file://)
      - id: lychee-all
        name: lychee-all (all links)
        entry: lychee
        language: rust
        additional_dependencies: ["cli:lychee:0.20.1"]
        stages: [manual]
        files: \.(md|rst)$
        exclude: ^web/website/themes/
        args: ["--config=.config/lychee.toml", "--no-progress"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote

ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, lychee, lychee-all]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

docs: changelog for 0.13.14
  CHANGELOG.md
Due: lychee, prql-codeblock

box enum tuple expr to resolve clippy complaint
  prqlc/prqlc-parser/src/parser/pr/types.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/stmt.rs
Due: no-dbg

docs: changelog for 0.13.14 (#6102)
  CHANGELOG.md
Due: lychee, prql-codeblock

chore: Release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/packages/snap/snapcraft.yaml
  prqlc/prqlc-macros/Cargo.toml
  prqlc/prqlc/Cargo.toml
  web/book/src/project/target.md
  web/playground/package-lock.json
  web/playground/package.json
Due: lychee, prql-codeblock

chore: refresh version snapshots and README status date
  README.md
  prqlc/prqlc/src/cli/docs_generator.rs
Due: lychee, no-dbg

chore: refresh book version snapshot; document it in the release runbook
  web/book/src/project/contributing/development.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
Due: lychee

chore: bump version to 0.13.15 for next development cycle (#6103)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/packages/snap/snapcraft.yaml
  prqlc/prqlc-macros/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  web/book/src/project/contributing/development.md
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: lychee, no-dbg, prql-codeblock

Add documentation
  web/book/src/reference/spec/type-system.md
Due: lychee

add missing doc test snapshots
  web/book/tests/documentation/snapshots/documentation__book__reference__spec__type-system__simple-enumeration-function-parameters__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__spec__type-system__simple-enumeration-function-parameters__1.snap
Due: none

Bug fixes and changelog entry
  CHANGELOG.md
  prqlc/prqlc/src/semantic/resolver/stmt.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: lychee, no-dbg, prql-codeblock

chore: update tend workflows (0.1.11 → 0.1.12) (#6101)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

docs: improve README
  README.md
Due: lychee

docs: fix stale integration test path in cli/mod.rs
  prqlc/prqlc/src/cli/mod.rs
Due: no-dbg

Update to cleaner enum syntax
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/semantic/std.prql
  prqlc/prqlc/tests/integration/error_messages.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__set_ops_remove.snap
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/reference/spec/type-system.md
  web/book/tests/documentation/snapshots/documentation__book__reference__spec__type-system__simple-enumeration-function-parameters__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__spec__type-system__simple-enumeration-function-parameters__1.snap
Due: lychee, no-dbg

tab indents to spaces
  prqlc/prqlc/src/semantic/resolver/stmt.rs
Due: no-dbg

docs: fix stale integration test path in cli/mod.rs (#6108)
  prqlc/prqlc/src/cli/mod.rs
Due: no-dbg

refine: remove dead commented-out code in window transform resolver (#6097)
  prqlc/prqlc/src/semantic/resolver/transforms.rs
Due: no-dbg

fix: reword comment to satisfy typos
  prqlc/prqlc/src/cli/jinja.rs
Due: no-dbg

fix: correct byte indexing for non-ASCII Jinja interpolations (#6099)
  prqlc/prqlc/src/cli/jinja.rs
Due: no-dbg

fix: exclude a tuple's own aliases from `this.*`
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/src/semantic/resolver/names.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: include computed columns in `this.*` wildcard expansion (#6045)
  .gitignore
  prqlc/prqlc/src/semantic/mod.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/src/semantic/resolver/names.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

chore: modernize type hints for ruff 0.16.0
  prqlc/bindings/prqlc-python/noxfile.py
  prqlc/bindings/prqlc-python/python/prqlc/__init__.pyi
Due: none

chore: hold mdbook at 0.5.2 to preserve MSRV 1.81
  Cargo.lock
Due: none

docs: fix survey typos and refresh stale playground comment
  prqlc/prqlc/tests/integration/dbs/README.md
  web/book/src/reference/syntax/keywords.md
  web/playground/index.html
Due: lychee

internal: remove redundant `use chumsky;` import
  prqlc/prqlc-parser/src/parser/mod.rs
Due: no-dbg

internal: remove redundant `use chumsky;` import (#6114)
  prqlc/prqlc-parser/src/parser/mod.rs
Due: no-dbg

docs: fix survey typos and refresh stale playground comment (#6113)
  prqlc/prqlc/tests/integration/dbs/README.md
  web/book/src/reference/syntax/keywords.md
  web/playground/index.html
Due: lychee

fix: highlight multi-character single-quoted strings in playground
  web/playground/src/workbench/prql-syntax.js
Due: none

chore: remove redundant serde_json dev-dependency in web/book
  web/book/Cargo.toml
Due: none

ci: use inputs.target instead of matrix.target in composite build actions
  .github/actions/build-prqlc-c/action.yaml
  .github/actions/build-prqlc/action.yaml
Due: none

docs: fix invalid function-call example and inaccurate escape-standard reference
  web/book/src/reference/syntax/function-calls.md
  web/book/src/reference/syntax/strings.md
Due: lychee

ci: use inputs.target instead of matrix.target in composite build actions (#6118)
  .github/actions/build-prqlc-c/action.yaml
  .github/actions/build-prqlc/action.yaml
Due: none

chore: remove redundant serde_json dev-dependency in web/book (#6117)
  web/book/Cargo.toml
Due: none

fix: highlight multi-character single-quoted strings in playground (#6116)
  web/playground/src/workbench/prql-syntax.js
Due: none

test: replace stale expr_of_string TODOs in parser test_number
  prqlc/prqlc-parser/src/parser/test.rs
Due: no-dbg

docs: fix invalid function-call example and inaccurate escape-standard reference (#6119)
  web/book/src/reference/syntax/function-calls.md
  web/book/src/reference/syntax/strings.md
Due: lychee

test: replace stale expr_of_string TODOs in parser test_number (#6122)
  prqlc/prqlc-parser/src/parser/test.rs
Due: no-dbg

ci: remove nightly-failure issue creation, let tend-ci-fix handle it
  .github/nightly-failure.md
  .github/workflows/tests.yaml
Due: lychee

ci: remove nightly-failure issue creation, let tend-ci-fix handle it (#6124)
  .github/nightly-failure.md
  .github/workflows/tests.yaml
Due: lychee
