Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.rs$'
  - repo: https://github.com/crate-ci/typos
    rev: v1.16.1
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    # Upgrading to the bare `v3.0.0` seems to break the plugin; contributions welcome to fix.
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.278
    hooks:
      - id: ruff
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
      - id: clippy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
      - id: mypy
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.11.2
    hooks:
      - id: markdown-link-check
        name: markdown-link-check-local
        files: \.md$
        args: ["--config=.config/.markdown-link-check-local.json"]
        # To run across everything (see nightly.yaml for more details)
      - id: markdown-link-check
        name: markdown-link-check-all
        stages: [manual]
        files: \.md$
        args: ["--config=.config/.markdown-link-check-all.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote
ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, clippy, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

Fix annotation with newline
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/misc.txt
Due: none

feat(Lezer grammar): Add annotations (#3908)
  grammars/prql-lezer/src/highlight.js
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/misc.txt
Due: none

chore: clean line break
  CHANGELOG.md
Due: prql-codeblock

chore: some fixes
  grammars/prql-lezer/src/prql.grammar
  prqlc/prql-compiler/src/codegen/ast.rs
  prqlc/prqlc-parser/src/expr.rs
  web/book/src/reference/syntax/operators.md
  web/playground/src/workbench/prql-syntax.js
Due: no-dbg

test: add fixme note
  prqlc/prql-compiler/tests/integration/sql.rs
Due: no-dbg

Update web/book/src/reference/syntax/operators.md
  web/book/src/reference/syntax/operators.md
Due: none

remove ** operator for now
  CHANGELOG.md
  grammars/prql-lezer/src/prql.grammar
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/sql.rs
  prqlc/prqlc-parser/src/expr.rs
  prqlc/prqlc-parser/src/lexer.rs
  web/playground/src/workbench/prql-syntax.js
Due: no-dbg, prql-codeblock

refactor: switch exponent to first arg in pow
  prqlc/prql-compiler/src/semantic/std.prql
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/sql.rs
Due: no-dbg

feat: add main mathematical functions (#3909)
  CHANGELOG.md
  prqlc/prql-compiler/src/codegen/ast.rs
  prqlc/prql-compiler/src/semantic/ast_expand.rs
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-2.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-3.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prql-compiler/src/semantic/std.prql
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/sql.rs
  prqlc/prqlc-ast/src/expr/ops.rs
  prqlc/prqlc-parser/src/error.rs
  prqlc/prqlc-parser/src/expr.rs
  prqlc/prqlc-parser/src/lexer.rs
  web/book/highlight-prql.js
  web/book/src/reference/syntax/operators.md
  web/playground/src/workbench/prql-syntax.js
  web/prql-codemirror-demo/src/lang-prql/complete.ts
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: no-dbg, prql-codeblock

fix: pow for mssql
  prqlc/prql-compiler/src/sql/std.sql.prql
Due: none

fix: pow for mssql (#3911)
  prqlc/prql-compiler/src/sql/std.sql.prql
Due: none

tweak: fix typo in book
  web/book/src/reference/syntax/f-strings.md
Due: none

tweak: fix typo in book (#3915)
  web/book/src/reference/syntax/f-strings.md
Due: none

refactor: create a math module
  CHANGELOG.md
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-2.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-3.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prql-compiler/src/semantic/std.prql
  prqlc/prql-compiler/src/sql/operators.rs
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/sql.rs
  web/book/highlight-prql.js
  web/book/src/reference/declarations/functions.md
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__other-examples__0.snap
  web/prql-codemirror-demo/src/lang-prql/complete.ts
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: no-dbg, prql-codeblock

test: make sure sub modules are handled with dialect
  prqlc/prql-compiler/tests/integration/sql.rs
Due: no-dbg

feat: add string functions
  CHANGELOG.md
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-2.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-3.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prql-compiler/src/semantic/std.prql
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/parser.rs
  prqlc/prql-compiler/tests/integration/sql.rs
  web/book/highlight-prql.js
  web/book/src/reference/declarations/functions.md
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__other-examples__0.snap
  web/prql-codemirror-demo/src/lang-prql/complete.ts
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: no-dbg, prql-codeblock

fix: make `add` and `sub` less strict
  CHANGELOG.md
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__functions_1.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__functions_nested.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline-2.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__named_args.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__variables_1.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prql-compiler/src/semantic/std.prql
  prqlc/prql-compiler/tests/integration/error_messages.rs
  prqlc/prql-compiler/tests/integration/sql.rs
Due: no-dbg, prql-codeblock

chore: update changelog
  CHANGELOG.md
Due: prql-codeblock

fix(Lezer grammar): Comment between pipelines
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/misc.txt
Due: none

fix: make `add` and `sub` less strict (#3923)
  CHANGELOG.md
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__functions_1.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__functions_nested.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline-2.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__functions_pipeline.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__named_args.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__variables_1.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prql-compiler/src/semantic/std.prql
  prqlc/prql-compiler/tests/integration/error_messages.rs
  prqlc/prql-compiler/tests/integration/sql.rs
Due: no-dbg, prql-codeblock

fix: remove brackets and support sqlite
  Cargo.lock
  prqlc/prql-compiler/Cargo.toml
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__sql__SELECT   name LIKE '%' || 'pika' || '%' AS name_ends_with FROM   employees .snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__sql__SELECT   name LIKE CONCAT('%', 'pika', '%') AS name_ends_with FROM   employees .snap
  prqlc/prql-compiler/tests/integration/sql.rs
Due: no-dbg

fix(Lezer grammar): Comment between pipelines (#3924)
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/misc.txt
Due: none

refactor: add a `math` module (#3916)
  CHANGELOG.md
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-2.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-3.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prql-compiler/src/semantic/std.prql
  prqlc/prql-compiler/src/sql/operators.rs
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/sql.rs
  web/book/highlight-prql.js
  web/book/src/reference/declarations/functions.md
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__other-examples__0.snap
  web/prql-codemirror-demo/src/lang-prql/complete.ts
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: no-dbg, prql-codeblock

test: clean name of snapshot
  prqlc/prql-compiler/tests/integration/snapshots/integration__sql__SELECT   name LIKE '%' || 'pika' || '%' AS name_ends_with FROM   employees .snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__sql__SELECT   name LIKE CONCAT('%', 'pika', '%') AS name_ends_with FROM   employees .snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__sql__like_concat_generic.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__sql__like_concat_sqlite.snap
  prqlc/prql-compiler/tests/integration/sql.rs
Due: no-dbg

refactor: rename module from `str` to `string`
  CHANGELOG.md
  prqlc/prql-compiler/src/semantic/std.prql
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/parser.rs
  prqlc/prql-compiler/tests/integration/sql.rs
  web/book/highlight-prql.js
  web/book/src/reference/declarations/functions.md
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__other-examples__0.snap
  web/prql-codemirror-demo/src/lang-prql/complete.ts
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: no-dbg, prql-codeblock

feat: add string functions in a `string` module (#3913)
  CHANGELOG.md
  Cargo.lock
  prqlc/prql-compiler/Cargo.toml
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-2.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-3.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prql-compiler/src/semantic/std.prql
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/parser.rs
  prqlc/prql-compiler/tests/integration/snapshots/integration__sql__like_concat_generic.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__sql__like_concat_sqlite.snap
  prqlc/prql-compiler/tests/integration/sql.rs
  web/book/highlight-prql.js
  web/book/src/reference/declarations/functions.md
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__functions__other-examples__0.snap
  web/prql-codemirror-demo/src/lang-prql/complete.ts
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: no-dbg, prql-codeblock

docs: Improve naming of "Integration tests" docs
  web/book/src/project/contributing/development.md
Due: none

refactor: put round into math module
  CHANGELOG.md
  prqlc/prql-compiler/src/semantic/std.prql
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/queries/arithmetic.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__arithmetic.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__arithmetic.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__arithmetic.snap
  prqlc/prql-compiler/tests/integration/sql.rs
  web/book/src/reference/stdlib/README.md
  web/book/src/reference/syntax/operators.md
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__README__standard-library__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__operators__parentheses__0.snap
Due: no-dbg, prql-codeblock

refactor: put `round` into `math` module (#3928)
  CHANGELOG.md
  prqlc/prql-compiler/src/semantic/std.prql
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/queries/arithmetic.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__arithmetic.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__arithmetic.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__arithmetic.snap
  prqlc/prql-compiler/tests/integration/sql.rs
  web/book/src/reference/stdlib/README.md
  web/book/src/reference/syntax/operators.md
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__README__standard-library__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__operators__parentheses__0.snap
Due: no-dbg, prql-codeblock

docs: Improve naming of "Integration tests" docs (#3927)
  web/book/src/project/contributing/development.md
Due: none

test: add integration tests for math module
  prqlc/prql-compiler/tests/integration/queries/math.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__math.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__math.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__math.snap
Due: none

test: add integration tests for string module
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/queries/string.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__string.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__string.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__string.snap
Due: none

test: add integration tests for modules `math` and `string` (#3930)
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/queries/math.prql
  prqlc/prql-compiler/tests/integration/queries/string.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__math.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__string.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__math.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__string.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__math.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__string.snap
Due: none

fix: make integration tests pass on M1
  Cargo.lock
  prqlc/prql-compiler/Cargo.toml
Due: none

docs: improve a bit the onboarding
  .config/nextest.toml
  prqlc/prql-compiler/Cargo.toml
  prqlc/prql-compiler/tests/integration/dbs/README.md
  prqlc/prql-compiler/tests/integration/queries.rs
Due: no-dbg

chore: improve integration tests (#3934)
  .config/nextest.toml
  Cargo.lock
  prqlc/prql-compiler/Cargo.toml
  prqlc/prql-compiler/tests/integration/dbs/README.md
  prqlc/prql-compiler/tests/integration/queries.rs
Due: no-dbg

feat: add date to string functions
  prqlc/prql-compiler/src/semantic/std.prql
  prqlc/prql-compiler/src/sql/dialect.rs
  prqlc/prql-compiler/src/sql/gen_expr.rs
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__sql__date_to_string_bigquery.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__sql__date_to_string_clickhouse.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__sql__date_to_string_duckdb.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__sql__date_to_string_glaredb.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__sql__date_to_string_mssql.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__sql__date_to_string_mysql.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__sql__date_to_string_postgres.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__sql__date_to_string_snowflake.snap
  prqlc/prql-compiler/tests/integration/sql.rs
Due: no-dbg

test: fix snapshots
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-2.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-3.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
Due: none

test: add integration tests
  prqlc/prql-compiler/tests/integration/queries.rs
  prqlc/prql-compiler/tests/integration/queries/date.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__compile__date.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__date.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__date.snap
Due: no-dbg

Revert "chore: bump actions/upload-artifact from 3 to 4 in /.github/actions/build-prqlc (#3939)"
  .github/actions/build-prqlc/action.yaml
Due: none
