Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html)'
      - id: check-yaml
      - id: mixed-line-ending
  - repo: https://github.com/crate-ci/typos
    rev: v1.14.8
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          - prettier-plugin-go-template
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.262
    hooks:
      - id: ruff
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
      - id: clippy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.2.0
    hooks:
      - id: mypy
        additional_dependencies: ["types-PyYAML==6.0.12.4"]
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.11.1
    hooks:
      - id: markdown-link-check
        files: \.md$
        args: ["--config=.github/.markdown-link-check.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        # A regex searching sql files for either `prj-` or 'tgs-'.
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote
ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, clippy, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

Revert "ci: Try upgrading docker-compose in CI (#2759)"
  .github/workflows/test-rust.yaml
Due: none

ci: install docker compose 2.18.1
  .github/workflows/test-rust.yaml
Due: none

ci: print compose version
  .github/workflows/test-rust.yaml
Due: none

Update .github/workflows/test-rust.yaml
  .github/workflows/test-rust.yaml
Due: none

ci: ensure installing docker compose 2.18.1 and re-enable the integration tests (#2766)
  .github/workflows/test-rust.yaml
Due: none

docs: Update main crate docstring
  prql-compiler/src/lib.rs
Due: no-dbg

docs: Move Terminology
  prql-compiler/README.md
  web/book/src/internals/README.md
Due: none

Turn off debuginfo in CI
  .github/workflows/build-web.yaml
  .github/workflows/test-rust.yaml
  .github/workflows/test-taskfile.yaml
Due: none

Revert "ci: Check cache space saving with no debuginfo"
  .github/workflows/test-rust.yaml
  Cargo.toml
Due: none

ci: Turn off debuginfo in CI (#2760)
  .github/workflows/build-web.yaml
  .github/workflows/test-rust.yaml
  .github/workflows/test-taskfile.yaml
Due: none

Update web/book/src/internals/README.md
  web/book/src/internals/README.md
Due: none

Update prql-compiler/src/lib.rs
  prql-compiler/src/lib.rs
Due: no-dbg

docs: Update main crate docstring (#2767)
  prql-compiler/src/lib.rs
Due: no-dbg

ci: Only run `taskfile` test on nightly
  .github/workflows/nightly.yaml
  .github/workflows/test-all.yaml
Due: none

docs: Move Terminology (#2768)
  prql-compiler/README.md
  web/book/src/internals/README.md
Due: none

ci: Only run `taskfile` test on nightly (#2770)
  .github/workflows/nightly.yaml
  .github/workflows/test-all.yaml
Due: none

refactor: Replace concolor with anstream & friends
  Cargo.lock
  prql-compiler/Cargo.toml
  prql-compiler/prqlc/Cargo.toml
  prql-compiler/prqlc/src/cli.rs
  prql-compiler/src/error.rs
Due: no-dbg

Updated based on comment https://github.com/rust-cli/anstyle/issues/105#issuecomment-1583637891
  prql-compiler/prqlc/src/cli.rs
  prql-compiler/src/error.rs
  prql-compiler/src/tests/test.rs
Due: no-dbg

.
  web/book/tests/documentation/main.rs
Due: no-dbg

refactor: Replace concolor with anstream & friends (#2773)
  CHANGELOG.md
  Cargo.lock
  bindings/prql-js/src/lib.rs
  bindings/prql-lib/src/lib.rs
  bindings/prql-python/src/lib.rs
  prql-compiler/Cargo.toml
  prql-compiler/prqlc/Cargo.toml
  prql-compiler/prqlc/src/cli.rs
  prql-compiler/src/error.rs
  prql-compiler/src/lib.rs
  prql-compiler/src/tests/test.rs
  prql-compiler/src/tests/test_error_messages.rs
  web/book/Cargo.toml
  web/book/src/lib.rs
  web/book/tests/documentation/main.rs
Due: no-dbg, prql-codeblock

chore: Move some dependencies to dev
  .github/workflows/nightly.yaml
  Cargo.lock
  bindings/prql-elixir/native/prql/Cargo.toml
  prql-compiler/Cargo.toml
  web/book/Cargo.toml
Due: none

chore: Move some dependencies to dev (#2776)
  .github/workflows/nightly.yaml
  Cargo.lock
  bindings/prql-elixir/native/prql/Cargo.toml
  prql-compiler/Cargo.toml
  web/book/Cargo.toml
Due: none

fix: `first` & `last` functions
  prql-compiler/src/sql/std.sql.prql
  prql-compiler/src/tests/test.rs
Due: no-dbg

fix: `first` & `last` functions (#2777)
  prql-compiler/src/semantic/std.prql
  prql-compiler/src/sql/std.sql.prql
  prql-compiler/src/tests/test.rs
Due: no-dbg

ci: Build `prqlc` in debug mode, share cache
  .github/actions/build-prqlc/action.yaml
  .github/actions/time-compilation/action.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/release.yaml
  .github/workflows/test-rust.yaml
Due: none

Conflicts:
  .github/actions/build-prqlc/action.yaml
Due: none

style: Use `foo=bar` style in codegen
  prql-compiler/src/codegen.rs
  prql-compiler/tests/integration/snapshots/integration__fmt@arithmetic.prql.snap
  prql-compiler/tests/integration/snapshots/integration__fmt@cast.prql.snap
  prql-compiler/tests/integration/snapshots/integration__fmt@genre_counts.prql.snap
  prql-compiler/tests/integration/snapshots/integration__fmt@group_all.prql.snap
  prql-compiler/tests/integration/snapshots/integration__fmt@group_sort.prql.snap
  prql-compiler/tests/integration/snapshots/integration__fmt@invoice_totals.prql.snap
  prql-compiler/tests/integration/snapshots/integration__fmt@loop.prql.snap
  prql-compiler/tests/integration/snapshots/integration__fmt@set_ops_remove.prql.snap
  prql-compiler/tests/integration/snapshots/integration__fmt@sort.prql.snap
  prql-compiler/tests/integration/snapshots/integration__fmt@switch.prql.snap
Due: no-dbg

docs: Refine parentheses docs
  web/book/src/syntax/expressions-and-operators.md
Due: none

ci: Build `prqlc` in debug mode, share cache (#2778)
  .github/actions/build-prqlc/action.yaml
  .github/actions/time-compilation/action.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/release.yaml
  .github/workflows/test-rust.yaml
Due: none

ci: Align env across workflows for caching
  .github/workflows/pull-request.yaml
  .github/workflows/test-all.yaml
  .github/workflows/test-rust.yaml
Due: none

ci: Align env across workflows for caching (#2782)
  .github/workflows/pull-request.yaml
  .github/workflows/test-all.yaml
  .github/workflows/test-rust.yaml
Due: none

ci: Switch Mac PR prqlc build to x86
  .github/workflows/pull-request.yaml
Due: none

docs: Refine parentheses docs (#2780)
  web/book/src/syntax/expressions-and-operators.md
Due: none

ci: Align env variables (v2)
  .github/workflows/pull-request.yaml
  .github/workflows/test-rust.yaml
Due: none

ci: Switch Mac PR prqlc build to x86 (#2783)
  .github/workflows/pull-request.yaml
Due: none

ci: Align env variables (v2) (#2784)
  .github/workflows/pull-request.yaml
  .github/workflows/test-rust.yaml
Due: none

ci: Replace `key` in cache
  .github/actions/build-prqlc/action.yaml
  .github/workflows/test-rust.yaml
Due: none

ci: Replace `key` in cache (#2785)
  .github/actions/build-prqlc/action.yaml
  .github/workflows/test-rust.yaml
Due: none
