Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.rs$'
  - repo: https://github.com/crate-ci/typos
    rev: v1.16.1
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    # Upgrading to the bare `v3.0.0` seems to break the plugin; contributions welcome to fix.
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.278
    hooks:
      - id: ruff
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
      - id: clippy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
      - id: mypy
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.11.2
    hooks:
      - id: markdown-link-check
        name: markdown-link-check-local
        files: \.md$
        args: ["--config=.config/.markdown-link-check-local.json"]
        # To run across everything (see nightly.yaml for more details)
      - id: markdown-link-check
        name: markdown-link-check-all
        stages: [manual]
        files: \.md$
        args: ["--config=.config/.markdown-link-check-all.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote
ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, clippy, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

fix
  crates/prql-compiler/src/codegen/mod.rs
Due: no-dbg

refactor: cleanup (#3679)
  crates/prql-ast/src/error.rs
  crates/prql-ast/src/expr/literal.rs
  crates/prql-ast/src/lib.rs
  crates/prql-compiler/src/codegen/ast.rs
  crates/prql-compiler/src/codegen/literal.rs
  crates/prql-compiler/src/codegen/mod.rs
  crates/prql-compiler/src/codegen/pl.rs
  crates/prql-compiler/src/error_message.rs
  crates/prql-compiler/src/ir/generic.rs
  crates/prql-compiler/src/ir/mod.rs
  crates/prql-compiler/src/ir/pl/extra/expr.rs
  crates/prql-compiler/src/ir/pl/mod.rs
  crates/prql-compiler/src/ir/rq/expr.rs
  crates/prql-compiler/src/ir/rq/fold.rs
  crates/prql-compiler/src/ir/rq/transform.rs
  crates/prql-compiler/src/lib.rs
  crates/prql-compiler/src/parser.rs
  crates/prql-compiler/src/semantic/eval/mod.rs
  crates/prql-compiler/src/semantic/lowering.rs
  crates/prql-compiler/src/semantic/mod.rs
  crates/prql-compiler/src/semantic/reporting.rs
  crates/prql-compiler/src/semantic/resolver/mod.rs
  crates/prql-compiler/src/semantic/resolver/root_module_impl.rs
  crates/prql-compiler/src/semantic/resolver/transforms.rs
  crates/prql-compiler/src/semantic/resolver/type_resolver.rs
  crates/prql-compiler/src/sql/gen_expr.rs
  crates/prql-compiler/src/sql/gen_projection.rs
  crates/prql-compiler/src/sql/gen_query.rs
  crates/prql-compiler/src/sql/operators.rs
  crates/prql-compiler/src/sql/srq/anchor.rs
  crates/prql-compiler/src/sql/srq/ast.rs
  crates/prql-compiler/src/sql/srq/postprocess.rs
  crates/prql-compiler/src/sql/srq/preprocess.rs
  crates/prql-parser/src/lexer.rs
  crates/prql-parser/src/lib.rs
  crates/prql-parser/src/test.rs
Due: no-dbg

fix: report syntax error from all files
  crates/prql-compiler/src/parser.rs
Due: no-dbg

ci: Ensure devcontainer is pushing correctly
  .github/workflows/tests.yaml
Due: none

build: justfile
  .prettierignore
  flake.nix
  justfile
Due: none

revert: Vite-again (#3678)
  Taskfile.yml
  web/playground/.eslintrc.cjs
  web/playground/README.md
  web/playground/generateBook.cjs
  web/playground/index.html
  web/playground/package-lock.json
  web/playground/package.json
  web/playground/src/app/App.jsx
  web/playground/src/main.jsx
  web/playground/src/output/Output.jsx
  web/playground/src/sidebar/Sidebar.jsx
  web/playground/src/workbench/Workbench.jsx
  web/playground/vite.config.js
Due: none

fix: report syntax error from all files (#3680)
  crates/prql-compiler/src/parser.rs
Due: no-dbg

build: justfile (#3681)
  .prettierignore
  flake.nix
  justfile
Due: none

fix links
  .github/.codecov.yml
  .github/actions/build-prqlc/action.yaml
  .github/workflows/release.yaml
  .github/workflows/test-rust.yaml
  .github/workflows/tests.yaml
  Cargo.toml
  README.md
  Taskfile.yml
  _typos.toml
  prqlc/bindings/clib/Cargo.toml
  prqlc/bindings/elixir/README.md
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/java/Cargo.toml
  prqlc/bindings/js/Cargo.toml
  prqlc/bindings/python/Cargo.toml
  prqlc/crates/cli/Cargo.toml
  prqlc/crates/cli/README.md
  prqlc/crates/compiler-macros/Cargo.toml
  prqlc/crates/compiler/Cargo.toml
  prqlc/crates/compiler/README.md
  prqlc/crates/compiler/src/lib.rs
  prqlc/crates/parser/Cargo.toml
  prqlc/crates/tests_misc/tests/ast_code_matches.rs
  prqlc/packages/snap/snapcraft.yaml
  web/book/Cargo.toml
  web/book/src/project/contributing/README.md
  web/book/src/project/contributing/development.md
  web/book/src/project/integrations/prqlc-cli.md
  web/book/src/reference/stdlib/README.md
  web/playground/package.json
  web/website/content/roadmap.md
Due: no-dbg

Update CHANGELOG.md
  CHANGELOG.md
Due: prql-codeblock

fix links to bindings
  .github/actions/build-prql-python/action.yaml
  .github/dependabot.yml
  .github/workflows/release.yaml
  .github/workflows/test-dotnet.yaml
  .github/workflows/test-java.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-lib.yaml
  .github/workflows/test-python.yaml
  .github/workflows/tests.yaml
  CHANGELOG.md
  Taskfile.yml
  prqlc/bindings/clib/examples/minimal-c/Makefile
  prqlc/bindings/clib/examples/minimal-cpp/Makefile
  prqlc/bindings/elixir/README.md
  prqlc/bindings/js/Cargo.toml
  web/book/src/project/bindings/dotnet.md
  web/book/src/project/bindings/elixir.md
  web/book/src/project/bindings/java.md
  web/book/src/project/bindings/javascript.md
  web/book/src/project/bindings/php.md
  web/book/src/project/bindings/python.md
  web/playground/package-lock.json
  web/playground/package.json
Due: prql-codeblock

fix links to packages
  .github/workflows/release.yaml
Due: none

docs(changelog): Add Vite (#3684)
  CHANGELOG.md
Due: prql-codeblock

ci: Ensure devcontainer is pushing correctly (#3682)
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
Due: none

refactor(test): simplify csv paths
  Cargo.lock
  crates/prql-compiler/Cargo.toml
  crates/prql-compiler/tests/integration/main.rs
Due: no-dbg

test: add test case for `read_csv`
  _typos.toml
  crates/prql-compiler/tests/integration/main.rs
  crates/prql-compiler/tests/integration/queries/read_csv.prql
  crates/prql-compiler/tests/integration/snapshots/integration__fmt@read_csv.prql.snap
  crates/prql-compiler/tests/integration/snapshots/integration__results@read_csv.prql.snap
  crates/prql-compiler/tests/integration/snapshots/integration__sql@read_csv.prql.snap
Due: no-dbg

docs(CHANGELOG): update of Quarto VS Code extension (#3675)
  CHANGELOG.md
Due: prql-codeblock

fix paths to bindings
  .github/actions/build-prql-python/action.yaml
  .github/dependabot.yml
  .github/workflows/release.yaml
  .github/workflows/test-dotnet.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-lib.yaml
  .github/workflows/test-python.yaml
  .github/workflows/tests.yaml
  CHANGELOG.md
  Taskfile.yml
  prqlc/bindings/clib/examples/minimal-c/Makefile
  prqlc/bindings/clib/examples/minimal-cpp/Makefile
  prqlc/bindings/elixir/README.md
  prqlc/bindings/js/Cargo.toml
  web/book/src/project/bindings/elixir.md
  web/book/src/project/bindings/javascript.md
  web/book/src/project/bindings/php.md
  web/book/src/project/bindings/python.md
  web/playground/package-lock.json
  web/playground/package.json
Due: prql-codeblock

lib -> clib
  .github/workflows/test-clib.yaml
  .github/workflows/tests.yaml
Due: none

fix
  .github/workflows/test-clib.yaml
  .github/workflows/test-dotnet.yaml
  .github/workflows/test-elixir.yaml
  .github/workflows/test-java.yaml
  .github/workflows/tests.yaml
  web/book/src/project/bindings/java.md
Due: none

fix
  .github/workflows/test-clib.yaml
Due: none

fix python CI
  .config/vscode-recommended/settings.json
  .github/actions/build-prql-python/action.yaml
  .github/workflows/test-python.yaml
  justfile
  prqlc/bindings/python/noxfile.py
Due: none

fix c lib
  .github/workflows/test-clib.yaml
  .github/workflows/test-dotnet.yaml
  Cargo.lock
  Taskfile.yml
  prqlc/bindings/clib/Cargo.toml
  prqlc/bindings/clib/README.md
  prqlc/bindings/clib/examples/minimal-c/Makefile
  prqlc/bindings/clib/examples/minimal-c/main.c
  prqlc/bindings/clib/examples/minimal-cpp/Makefile
  prqlc/bindings/clib/examples/minimal-cpp/main.cpp
  prqlc/bindings/clib/examples/minimal-zig/README.md
  prqlc/bindings/clib/examples/minimal-zig/build.zig
  prqlc/bindings/clib/examples/minimal-zig/src/main.zig
  prqlc/bindings/clib/libprqlc.h
  prqlc/bindings/clib/libprqlc.hpp
  prqlc/bindings/dotnet/PrqlCompiler/PrqlCompiler.cs
  prqlc/bindings/dotnet/PrqlCompiler/PrqlCompiler.csproj
  prqlc/bindings/dotnet/README.md
  prqlc/bindings/php/README.md
  prqlc/bindings/php/src/Compiler.php
  prqlc/bindings/php/src/Options.php
  prqlc/bindings/php/tests/CompilerTest.php
Due: none

fix
  .github/workflows/test-clib.yaml
  prqlc/bindings/java/java/build.sh
Due: none

fix clib
  .github/actions/build-prqlc/action.yaml
  .github/workflows/test-dotnet.yaml
  Taskfile.yml
  prqlc/bindings/clib/README.md
  prqlc/bindings/clib/examples/minimal-c/Makefile
  prqlc/bindings/clib/examples/minimal-cpp/Makefile
  prqlc/bindings/clib/examples/minimal-cpp/README.md
  prqlc/bindings/dotnet/README.md
  web/book/src/project/bindings/README.md
Due: none

fix
  .github/actions/build-prqlc/action.yaml
Due: none

fix clib
  prqlc/bindings/clib/examples/minimal-zig/.gitignore
  prqlc/bindings/clib/examples/minimal-zig/Makefile
  prqlc/bindings/clib/examples/minimal-zig/README.md
  prqlc/bindings/clib/examples/minimal-zig/build.zig
Due: none

fix
  .github/actions/build-prql-python/action.yaml
  Taskfile.yml
  prqlc/bindings/clib/Cargo.toml
  prqlc/bindings/clib/README.md
  prqlc/bindings/clib/cbindgen.toml
  prqlc/bindings/clib/examples/minimal-c/Makefile
  prqlc/bindings/clib/examples/minimal-cpp/Makefile
  prqlc/bindings/clib/examples/minimal-cpp/main.cpp
  prqlc/bindings/clib/libprqlc.h
  prqlc/bindings/clib/libprqlc.hpp
Due: none

refactor(test): only replace_all if prql contains the regex
  crates/prql-compiler/tests/integration/main.rs
Due: no-dbg

test: add missing sort
  crates/prql-compiler/tests/integration/queries/read_csv.prql
  crates/prql-compiler/tests/integration/snapshots/integration__fmt@read_csv.prql.snap
  crates/prql-compiler/tests/integration/snapshots/integration__sql@read_csv.prql.snap
Due: none

refactor(test): simplify
  crates/prql-compiler/tests/integration/main.rs
Due: no-dbg

test: add integration tests for the `std.sql.read_csv` function (#3676)
  Cargo.lock
  _typos.toml
  crates/prql-compiler/Cargo.toml
  crates/prql-compiler/tests/integration/connection.rs
  crates/prql-compiler/tests/integration/main.rs
  crates/prql-compiler/tests/integration/queries/read_csv.prql
  crates/prql-compiler/tests/integration/snapshots/integration__fmt@read_csv.prql.snap
  crates/prql-compiler/tests/integration/snapshots/integration__results@read_csv.prql.snap
  crates/prql-compiler/tests/integration/snapshots/integration__sql@read_csv.prql.snap
Due: no-dbg

ci: Make space on runner image
  .github/workflows/test-rust.yaml
Due: none

ci: remove unused files with test-dbs-external
  .github/workflows/test-rust.yaml
Due: none

ci: chmod +x
  .github/workflows/scripts/util_free_space.sh
Due: none

feat: `std.sql.read_csv` and `std.sql.read_parquet` for ClickHouse
  crates/prql-compiler/src/sql/std.sql.prql
  crates/prql-compiler/tests/integration/queries/read_csv.prql
Due: none
