Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.(rs|snap)$'
  - repo: https://github.com/crate-ci/typos
    rev: v1.21.0
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    # This does seem to work again, but might need to be disabled if it doesn't;
    # ref https://github.com/prettier/prettier/issues/15742
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          # TODO: This doesn't seem to work, would be great to fix.
          # https://github.com/PRQL/prql/issues/3078
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.5
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: clippy
        stages: [manual]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.0
    hooks:
      - id: actionlint
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.12.2
    hooks:
      - id: markdown-link-check
        name: markdown-link-check-local
        types: [markdown]
        args: ["--config=.config/.markdown-link-check-local.json"]
        # To run across everything (see nightly.yaml for more details)
      - id: markdown-link-check
        name: markdown-link-check-all
        stages: [manual]
        types: [markdown]
        args: ["--config=.config/.markdown-link-check-all.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote

ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

test: Add failing test case & todos for expr parsing
  prqlc/prqlc-parser/src/lexer/lr.rs
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/parser/pr/expr.rs
Due: no-dbg

test: Add failing test case & todos for expr parsing (#4749)
  prqlc/prqlc-parser/src/lexer/lr.rs
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/parser/pr/expr.rs
Due: no-dbg

feat: Adjust how aliases are formatted
  README.md
  prqlc/prqlc-parser/src/parser/pr/expr.rs
  prqlc/prqlc-parser/src/snapshots/prqlc_parser__test__pipeline_parse_tree.snap
  prqlc/prqlc-parser/src/test.rs
  prqlc/prqlc/examples/compile-files/queries/variables.prql
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/codegen/types.rs
  prqlc/prqlc/src/semantic/eval.rs
  prqlc/prqlc/tests/integration/project/Project.prql
  prqlc/prqlc/tests/integration/resolving.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__aggregation.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__arithmetic.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__cast.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__constants_only.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__date_to_text.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__genre_counts.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__group_all.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__group_sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__invoice_totals.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__loop_01.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__set_ops_remove.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__switch.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__text_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__window.snap
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/README.md
  web/book/src/reference/stdlib/transforms/aggregate.md
  web/book/src/reference/syntax/pipes.md
  web/book/tests/documentation/snapshots/documentation__book__README__prql-language-book__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__aggregate__examples__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__pipes__inner-transforms__0.snap
  web/website/content/posts/2022-05-19-examples.md
Due: no-dbg

fix: Enforce a line break between annotations (#4699)
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/parser/mod.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc-parser/src/parser/types.rs
  prqlc/prqlc-parser/src/test.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort_limit_take.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__invoice_totals.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__window.snap
Due: no-dbg

wip, not quite working yet
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/codegen/mod.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__arithmetic.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__cast.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__genre_counts.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__invoice_totals.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__loop_01.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__fmt__window.snap
Due: no-dbg

test: Add test & notes re multiple aliases
  prqlc/prqlc-parser/src/parser/expr.rs
Due: no-dbg

feat: Highlight in prqlc
  prqlc/prqlc/src/cli/highlight.rs
  prqlc/prqlc/src/cli/mod.rs
Due: no-dbg

Sort imports
  prqlc/prqlc/src/cli/mod.rs
Due: no-dbg

Apply suggestions from code review
  prqlc/prqlc/src/cli/highlight.rs
Due: no-dbg

Add broken test
  prqlc/prqlc/src/cli/highlight.rs
Due: no-dbg

wip on requiring parentheses in pipelines
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc/src/semantic/std.prql
  prqlc/prqlc/tests/integration/error_messages.rs
  prqlc/prqlc/tests/integration/queries/text_module.prql
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/reference/stdlib/date.md
  web/book/src/reference/stdlib/text.md
Due: no-dbg

small code changes
  prqlc/prqlc/src/cli/highlight.rs
Due: no-dbg

Move items, works with lib
  prqlc/prqlc/src/error_message.rs
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/utils/mod.rs
Due: no-dbg

fix visibility
  prqlc/prqlc/src/cli/highlight.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/utils/mod.rs
Due: no-dbg

Update prqlc/prqlc/src/cli/highlight.rs
  prqlc/prqlc/src/cli/highlight.rs
Due: no-dbg

feat: Highlight in prqlc (#4755)
  prqlc/prqlc-macros/src/lib.rs
  prqlc/prqlc-parser/src/parser/pr/stmt.rs
  prqlc/prqlc/src/cli/highlight.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-2.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-3.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion-4.snap
  prqlc/prqlc/src/cli/snapshots/prqlc__cli__test__shell_completion.snap
  prqlc/prqlc/src/cli/test.rs
  prqlc/prqlc/src/error_message.rs
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/utils/mod.rs
  prqlc/prqlc/tests/integration/main.rs
Due: no-dbg

ci: Only report codecov success/failure on PRs, not `main`
  .github/.codecov.yml
Due: none

ci: Only report codecov success/failure on PRs, not `main` (#4756)
  .github/.codecov.yml
Due: none

fix: debug log escape html in source
  prqlc/prqlc/src/debug/render_html.rs
Due: no-dbg

feat: improve debug log html output for decls
  prqlc/prqlc/src/debug/render_html.rs
Due: no-dbg

fix: debug log escape html in source (#4758)
  prqlc/prqlc/src/debug/render_html.rs
Due: no-dbg

refine(ci): Remove group in codecov config
  .github/.codecov.yml
Due: none

refine(ci): Remove group in codecov config (#4769)
  .github/.codecov.yml
Due: none

fix for new rustler version
  prqlc/bindings/elixir/native/prql/src/lib.rs
Due: no-dbg

ci: Run dependabot on `mix` dependencies
  .github/dependabot.yml
Due: none

ci: Run dependabot on `mix` dependencies (#4770)
  .github/dependabot.yml
Due: none

fix tiberius for float changes
  prqlc/prqlc/tests/integration/dbs/protocol/mssql.rs
Due: no-dbg

ci: Remove audit ignore
  .github/workflows/nightly.yaml
Due: none

ci: Remove audit ignore (#4773)
  .github/workflows/nightly.yaml
Due: none

docs(CHANGELOG): Add syntax highlighting to prqlc
  CHANGELOG.md
Due: prql-codeblock

Update CHANGELOG.md
  CHANGELOG.md
Due: prql-codeblock

docs(CHANGELOG): Add syntax highlighting to prqlc (#4774)
  CHANGELOG.md
Due: prql-codeblock

wip
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/test.rs
  prqlc/prqlc/src/semantic/std.prql
Due: no-dbg

chore: spiffy up HTML
  prqlc/prqlc/src/debug/render_html.rs
Due: no-dbg

cargo fmt
  prqlc/prqlc/src/debug/render_html.rs
Due: no-dbg

refactor: Consolidate a couple of alias parsing times
  prqlc/prqlc-parser/src/parser/expr.rs
Due: no-dbg

refactor: Consolidate a couple of alias parsing times (#4777)
  prqlc/prqlc-parser/src/parser/expr.rs
Due: no-dbg

internal: Add parens to PRQL files to reduce #4775 diff
  prqlc/prqlc/tests/integration/queries/math_module.prql
  prqlc/prqlc/tests/integration/queries/text_module.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__text_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__text_module.snap
  web/book/src/reference/stdlib/date.md
  web/book/src/reference/stdlib/text.md
Due: none

chore: spiffy up debug log HTML (#4776)
  prqlc/prqlc/src/debug/render_html.rs
Due: no-dbg

internal: Add parens to PRQL files to reduce #4775 diff 2
  prqlc/prqlc/tests/integration/queries/math_module.prql
  prqlc/prqlc/tests/integration/queries/text_module.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__text_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__math_module.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__lex__text_module.snap
Due: none
