Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.(rs|snap)$'
  - repo: https://github.com/crate-ci/typos
    rev: v1
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          # TODO: This doesn't seem to work, would be great to fix.
          # https://github.com/PRQL/prql/issues/3078
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.5
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: clippy
        stages: [manual]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint
  # Link checker using local hooks with language: rust
  # Pre-commit will automatically install lychee via cargo
  - repo: local
    hooks:
      - id: lychee
        name: lychee (local links only)
        entry: lychee
        language: rust
        additional_dependencies: ["cli:lychee:0.20.1"]
        files: \.(md|rst)$
        exclude: ^web/website/themes/
        args:
          - --no-progress
          # For PRs: whitelist PRQL domains and local files only
          # Pattern matches:
          #   - github.com/PRQL/* and github.com/prql/*
          #   - prql-lang.org/*
          #   - raw.githubusercontent.com/PRQL/* and raw.githubusercontent.com/prql/*
          #   - file://* (local/relative links)
          # All other external links are skipped for faster PR checks
          - --include=^(https://(github\.com/(PRQL|prql)|prql-lang\.org|raw\.githubusercontent\.com/(PRQL|prql))|file://)
      - id: lychee-all
        name: lychee-all (all links)
        entry: lychee
        language: rust
        additional_dependencies: ["cli:lychee:0.20.1"]
        stages: [manual]
        files: \.(md|rst)$
        exclude: ^web/website/themes/
        args: ["--config=.config/lychee.toml", "--no-progress"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote

ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, lychee, lychee-all]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

chore: pin typos as a local hook so autoupdate can't unpin it (#6075)
  .pre-commit-config.yaml
Due: none

docs: complete aggregation function list and fix typo in aggregate.md
  web/book/src/reference/stdlib/transforms/aggregate.md
Due: lychee

docs: complete aggregation function list and fix typo in aggregate.md (#6076)
  web/book/src/reference/stdlib/transforms/aggregate.md
Due: lychee

build: Update rust toolchain version (#6073)
  rust-toolchain.toml
Due: none

fix: BETWEEN optimization now triggers by comparing expr kind, not span (#5738)
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

chore: restore workflow files clobbered by fork-main sync
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tests.yaml
Due: none

test: update join example snapshot for select-dedup fix
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__tuple__tuple-functions__4.snap
Due: none

fix: bump elixir NIF rustler crate to 0.38 to match hex library
  Cargo.lock
  prqlc/bindings/elixir/native/prql/Cargo.toml
Due: none

refine: remove dead branch and fix comment typos in intersect/except preprocess
  prqlc/prqlc/src/sql/pq/preprocess.rs
Due: no-dbg

fix: bump elixir NIF rustler crate to 0.38 to match hex library (#6078)
  Cargo.lock
  prqlc/bindings/elixir/native/prql/Cargo.toml
Due: none

refine: remove dead branch and fix comment typos in intersect/except preprocess (#6079)
  prqlc/prqlc/src/sql/pq/preprocess.rs
Due: no-dbg

fix: correct `target` error message to say identifier, not string literal
  prqlc/prqlc-parser/src/parser/stmt.rs
Due: no-dbg

fix: correct `target` error message to say identifier, not string literal (#6081)
  prqlc/prqlc-parser/src/parser/stmt.rs
Due: no-dbg

chore: update tend workflows (0.1.10 → 0.1.11)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

refactor: sort/dedup lineage nodes once, not per-node
  prqlc/prqlc/src/semantic/reporting.rs
Due: no-dbg

refactor: sort/dedup lineage nodes once, not per-node (#6084)
  prqlc/prqlc/src/semantic/reporting.rs
Due: no-dbg

fix: use %zu/size_t for message count in C example
  prqlc/bindings/prqlc-c/examples/minimal-c/main.c
Due: none

docs: remove stale `func` from pipe statement keywords
  web/book/src/reference/syntax/pipes.md
Due: lychee

docs: fix stale signature output in Elixir README examples
  prqlc/bindings/elixir/README.md
Due: lychee

chore: update tend workflows (0.1.10 → 0.1.11) (#6083)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

fix: use %zu/size_t for message count in C example (#6086)
  prqlc/bindings/prqlc-c/examples/minimal-c/main.c
Due: none

docs: fix stale signature output in Elixir README examples (#6088)
  prqlc/bindings/elixir/README.md
Due: lychee

fix: hold mdbook and indexmap back to preserve MSRV 1.81
  Cargo.lock
Due: none

docs: correct RqToSql <returns> to SQL, not JSON
  prqlc/bindings/dotnet/PrqlCompiler/PrqlCompiler.cs
Due: none

fix: remove stray f-string sub-rule that mis-highlights PRQL f-strings
  web/book/highlight-prql.js
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: none

docs: remove stale `func` from pipe statement keywords (#6087)
  web/book/src/reference/syntax/pipes.md
Due: lychee

docs: correct RqToSql <returns> to SQL, not JSON (#6094)
  prqlc/bindings/dotnet/PrqlCompiler/PrqlCompiler.cs
Due: none

fix: remove stray f-string sub-rule that mis-highlights PRQL f-strings (#6095)
  web/book/highlight-prql.js
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: none

refine: remove dead commented-out code in window transform resolver
  prqlc/prqlc/src/semantic/resolver/transforms.rs
Due: no-dbg

parse enum keyword as literal tuple
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/parser/pr/types.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc/src/codegen/types.rs
  prqlc/prqlc/src/ir/pl/fold.rs
Due: no-dbg

Initial full implementation of enums
  prqlc/prqlc/src/codegen/types.rs
  prqlc/prqlc/src/semantic/resolver/stmt.rs
  prqlc/prqlc/tests/integration/error_messages.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

Add automatic namespace searching
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/stmt.rs
  prqlc/prqlc/tests/integration/error_messages.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: correct byte indexing for non-ASCII Jinja interpolations
  prqlc/prqlc/src/cli/jinja.rs
Due: no-dbg

ci: publish to crates.io via trusted publishing
  .github/workflows/release.yaml
Due: none

ci: publish to crates.io via trusted publishing (#6100)
  .github/workflows/release.yaml
Due: none

Resolve test and clippy failures
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/stmt.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
Due: no-dbg

add enum for append by
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/semantic/std.prql
Due: no-dbg

chore: update tend workflows (0.1.11 → 0.1.12)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none
