Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

add iconv dep
  flake.nix
Due: none

fenix
  flake.lock
  flake.nix
Due: none

refactor: remove anyhow from prqlc
  lutra/lutra/src/cli.rs
  lutra/lutra/src/compile.rs
  lutra/lutra/src/pull_schema.rs
  prqlc/bindings/prqlc-c/src/lib.rs
  prqlc/bindings/prqlc-python/src/lib.rs
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/tests/integration/dbs/mod.rs
  prqlc/prqlc/tests/integration/dbs/protocol/duckdb.rs
  prqlc/prqlc/tests/integration/dbs/protocol/mod.rs
  prqlc/prqlc/tests/integration/dbs/protocol/sqlite.rs
  web/book/tests/documentation/book.rs
Due: no-dbg

clippy
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/parser.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/eval.rs
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/static_eval.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/sql/gen_expr.rs
  prqlc/prqlc/src/sql/gen_projection.rs
  prqlc/prqlc/src/sql/gen_query.rs
  prqlc/prqlc/src/sql/operators.rs
  prqlc/prqlc/src/sql/srq/preprocess.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fmt
  lutra/lutra/src/pull_schema.rs
  prqlc/bindings/prqlc-python/src/lib.rs
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/ir/rq/fold.rs
  prqlc/prqlc/src/semantic/ast_expand.rs
  prqlc/prqlc/src/semantic/eval.rs
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/src/semantic/resolver/static_eval.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/utils/id_gen.rs
Due: no-dbg

update clang
  flake.nix
Due: none

fix a few tests
  prqlc/bindings/js/tests/test_all.mjs
  prqlc/bindings/php/tests/CompilerTest.php
  prqlc/bindings/prqlc-python/python/tests/test_all.py
Due: none

more tests
  prqlc/bindings/prqlc-python/python/tests/test_all.py
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/SUMMARY.md
  web/book/src/how-do-i/read-files.md
  web/book/src/how-do-i/relation-literals.md
  web/book/src/reference/spec/modules.md
  web/book/src/reference/spec/name-resolution.md
  web/book/src/reference/stdlib/README.md
  web/book/src/reference/stdlib/transforms/README.md
  web/book/src/reference/stdlib/transforms/append.md
  web/book/src/reference/stdlib/transforms/from.md
  web/book/src/reference/syntax/README.md
  web/book/tests/documentation/snapshots/documentation__book__reference__spec__name-resolution__translating-to-sql__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__join__examples__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__join__examples__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__select__examples__3.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__s-strings__2.snap
  web/website/data/examples/joins.yaml
Due: no-dbg

fix
  Taskfile.yml
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__from__3.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__join__examples__3.snap
Due: none

docs: update urls of prqlr
  web/book/src/project/bindings/r.md
Due: none

changelog
  CHANGELOG.md
Due: prql-codeblock

docs: update urls of prqlr (#4239)
  web/book/src/project/bindings/r.md
Due: none

chore: Backport #4239 to `web` (#4240)
  web/book/src/project/bindings/r.md
Due: none

fix: Fixup bindings from `db.` change
  prqlc/bindings/dotnet/PrqlCompiler.Tests/CompilerTest.cs
Due: none

fix: Fixup bindings from `db.` change (#4241)
  prqlc/bindings/dotnet/PrqlCompiler.Tests/CompilerTest.cs
  prqlc/bindings/dotnet/README.md
  prqlc/bindings/elixir/README.md
  prqlc/bindings/elixir/lib/prql.ex
  prqlc/bindings/elixir/test/prql_test.exs
  prqlc/bindings/java/java/src/test/java/org/prql/prql4j/PrqlCompilerTest.java
  prqlc/bindings/js/README.md
  prqlc/bindings/php/README.md
  prqlc/bindings/prqlc-c/examples/minimal-c/main.c
  prqlc/bindings/prqlc-c/examples/minimal-cpp/main.cpp
  prqlc/bindings/prqlc-c/examples/minimal-zig/src/main.zig
  prqlc/prql-compiler-macros/src/lib.rs
  prqlc/prqlc-parser/src/test.rs
  prqlc/prqlc/src/sql/gen_projection.rs
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/reference/syntax/README.md
  web/book/src/reference/syntax/pipes.md
  web/website/content/posts/2023-01-07-functional-relations.md
Due: no-dbg

feat: Add comments to format output
  prqlc/prqlc-parser/src/lexer.rs
  prqlc/prqlc-parser/src/lib.rs
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/codegen/mod.rs
  prqlc/prqlc/src/lib.rs
Due: no-dbg

internal: Align `Token` naming with other AST objects
  Cargo.lock
  Cargo.toml
  prqlc/prqlc-ast/Cargo.toml
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc-parser/src/error.rs
  prqlc/prqlc-parser/src/expr.rs
  prqlc/prqlc-parser/src/lexer.rs
  prqlc/prqlc-parser/src/lib.rs
  prqlc/prqlc-parser/src/span.rs
  prqlc/prqlc-parser/src/stmt.rs
  prqlc/prqlc-parser/src/types.rs
  prqlc/prqlc/Cargo.toml
Due: no-dbg

internal: Align `Token` naming with other AST objects (#4243)
  Cargo.lock
  Cargo.toml
  prqlc/prqlc-ast/Cargo.toml
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc-parser/src/error.rs
  prqlc/prqlc-parser/src/expr.rs
  prqlc/prqlc-parser/src/lexer.rs
  prqlc/prqlc-parser/src/lib.rs
  prqlc/prqlc-parser/src/span.rs
  prqlc/prqlc-parser/src/stmt.rs
  prqlc/prqlc-parser/src/types.rs
  prqlc/prqlc/Cargo.toml
Due: no-dbg

cleanup
  flake.nix
Due: none

build: cleanup nix flake (#4235)
  flake.lock
  flake.nix
Due: none

ci: Move up the task to clear disk space
  .github/workflows/test-rust.yaml
Due: none

ci: Move up the task to clear disk space (#4248)
  .github/workflows/test-rust.yaml
Due: none

ci(release): fix prqlc build
  .github/actions/build-prqlc/action.yaml
Due: none

ci(release): fix prqlc CLI build (#4255)
  .github/actions/build-prqlc/action.yaml
Due: none

chore: Backport #4255 to `web` (#4256)
  .github/actions/build-prqlc/action.yaml
Due: none

ci: Attempt to fix GH link check failures
  .config/.markdown-link-check-all.json
Due: none

ci: Attempt to fix GH link check failures (#4257)
  .config/.markdown-link-check-all.json
Due: none

chore: Changelog for 0.11.4
  CHANGELOG.md
Due: prql-codeblock

chore: Add 0.11.4 release notes (#4258)
  CHANGELOG.md
Due: prql-codeblock

chore: Bump versions to 0.11.5
  Cargo.lock
  Cargo.toml
  lutra/lutra/Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/prql-compiler-macros/Cargo.toml
  prqlc/prql-compiler/Cargo.toml
  prqlc/prqlc-parser/Cargo.toml
  prqlc/prqlc/Cargo.toml
  web/book/src/project/target.md
  web/playground/package-lock.json
  web/playground/package.json
Due: none

ci: Align `prqlc` cli build
  .github/actions/build-prqlc/action.yaml
  .github/workflows/release.yaml
Due: none

docs: Clarify nix docs
  web/book/src/project/contributing/development.md
Due: none

docs: Add framework for bindings' separate repos
  web/book/src/project/contributing/development.md
Due: none

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
