Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, prql-codeblock

lychee:
  name: lychee (local links only)
  entry: lychee
  language: rust
  additional_dependencies:
  - cli:lychee:0.20.1
  args:
  - --no-progress
  - --include=^(https://(github\.com/(PRQL|prql)|prql-lang\.org|raw\.githubusercontent\.com/(PRQL|prql))|file://)

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

chore: move changelog entry to Language section
  CHANGELOG.md
Due: lychee, prql-codeblock

test: pin aliased import escape hatch
  prqlc/prqlc/src/semantic/resolver/stmt.rs
Due: no-dbg

fix: hint at the alias escape hatch on duplicate imports
  prqlc/prqlc/src/semantic/resolver/stmt.rs
Due: no-dbg

fix: make std.text and std.date reachable as types via `_self`
  prqlc/prqlc/src/semantic/resolver/names.rs
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__functions_pipeline-2.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__functions_pipeline.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prqlc/src/semantic/resolver/stmt.rs
  prqlc/prqlc/src/semantic/std.prql
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__set_ops_remove.snap
Due: no-dbg

fix: keep `_self` types out of expression resolution
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/names.rs
  prqlc/prqlc/src/semantic/resolver/stmt.rs
Due: no-dbg

docs: add changelog entry; correct a test's docstring
  CHANGELOG.md
  prqlc/prqlc/src/semantic/resolver/stmt.rs
Due: lychee, no-dbg, prql-codeblock

refactor: read the `_self` type rule from a single accessor
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/names.rs
Due: no-dbg

snapshot update and some more tests
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__functions_pipeline-2.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__functions_pipeline.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prqlc/src/utils/id_gen.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__set_ops_remove.snap
Due: no-dbg

address review feedback, pt 1
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/stmt.rs
  prqlc/prqlc/src/utils/id_gen.rs
Due: no-dbg

declare std lib source ID as a const
  prqlc/prqlc/src/lib.rs
  prqlc/prqlc/src/semantic/mod.rs
  prqlc/prqlc/src/semantic/resolver/expr.rs
  prqlc/prqlc/src/semantic/resolver/stmt.rs
Due: no-dbg

Update prqlc/prqlc/src/utils/id_gen.rs
  prqlc/prqlc/src/utils/id_gen.rs
Due: no-dbg

chore: update tend workflows (0.1.13 → 0.1.14) (#6145)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

docs: drop unsupported `%k` from date specifier table (#6140)
  web/book/src/reference/stdlib/date.md
  web/book/tests/documentation/book.rs
Due: lychee, no-dbg

chore: move deprecated top-level ruff `ignore` under `[tool.ruff.lint]` (#6148)
  prqlc/bindings/prqlc-python/pyproject.toml
Due: none

docs: correct Elixir CompileOptions.target docstring (#6149)
  prqlc/bindings/elixir/lib/prql.ex
  prqlc/bindings/elixir/native/prql/src/lib.rs
Due: no-dbg

docs: document the supported `sql.redshift` dialect
  web/book/src/project/target.md
  web/book/tests/documentation/book.rs
Due: lychee, no-dbg

docs: fix stale `prql_python` package name in Prefect integration
  web/book/src/project/integrations/prefect.md
Due: lychee

refine: remove redundant `use chumsky;` from lexer tests
  prqlc/prqlc-parser/src/lexer/test.rs
Due: no-dbg

test: anchor section parser on line-start headings and cover every support level
  web/book/tests/documentation/book.rs
Due: no-dbg

refine: remove remaining redundant `use chumsky;` imports
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/parser/perror.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc-parser/src/span.rs
Due: no-dbg

test: filter std.prql spans from unrelated snapshots
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__functions_pipeline-2.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__functions_pipeline.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/tests/integration/queries.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__set_ops_remove.snap
Due: no-dbg

Apply suggestions from code review
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
Due: no-dbg

test: filter std.prql spans from unrelated snapshots (#6162)
  prqlc/prqlc/src/semantic/resolver/mod.rs
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__functions_pipeline-2.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__test__functions_pipeline.snap
  prqlc/prqlc/src/semantic/resolver/snapshots/prqlc__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/tests/integration/queries.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__set_ops_remove.snap
Due: no-dbg

add changelog
  CHANGELOG.md
Due: lychee, prql-codeblock

fix: move std types into std.types module, disambiguate text and date types
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/stmt.rs
  prqlc/prqlc/src/semantic/std.prql
  prqlc/prqlc/tests/integration/error_messages.rs
Due: no-dbg

update snapshots
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__set_ops_remove.snap
Due: none

snapshot update
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort_filter_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__set_ops_remove.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__sort_3.snap
Due: none

feat: Add simple enumerations to type system (#6104)
  CHANGELOG.md
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/parser/pr/types.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/codegen/types.rs
  prqlc/prqlc/src/ir/pl/fold.rs
  prqlc/prqlc/src/semantic/resolver/functions.rs
  prqlc/prqlc/src/semantic/resolver/stmt.rs
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/src/semantic/std.prql
  prqlc/prqlc/tests/integration/error_messages.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__group_sort_filter_derive_select_join.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__set_ops_remove.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__sort.snap
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__sort_3.snap
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/reference/spec/type-system.md
  web/book/tests/documentation/snapshots/documentation__book__reference__spec__type-system__simple-enumeration-function-parameters__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__spec__type-system__simple-enumeration-function-parameters__1.snap
Due: lychee, no-dbg, prql-codeblock

docs: document the supported `sql.redshift` dialect (#6159)
  web/book/src/project/target.md
  web/book/tests/documentation/book.rs
Due: lychee, no-dbg

docs: fix stale `prql_python` package name in Prefect integration (#6160)
  web/book/src/project/integrations/prefect.md
Due: lychee

refine: remove redundant `use chumsky;` imports from prqlc-parser (#6161)
  prqlc/prqlc-parser/src/lexer/mod.rs
  prqlc/prqlc-parser/src/lexer/test.rs
  prqlc/prqlc-parser/src/parser/expr.rs
  prqlc/prqlc-parser/src/parser/perror.rs
  prqlc/prqlc-parser/src/parser/stmt.rs
  prqlc/prqlc-parser/src/span.rs
Due: no-dbg

fix: move std types into std.types module, disambiguate text and date types (#6155)
  CHANGELOG.md
  prqlc/prqlc/src/semantic/module.rs
  prqlc/prqlc/src/semantic/resolver/stmt.rs
  prqlc/prqlc/src/semantic/std.prql
  prqlc/prqlc/tests/integration/error_messages.rs
  prqlc/prqlc/tests/integration/snapshots/integration__queries__debug_lineage__set_ops_remove.snap
Due: lychee, no-dbg, prql-codeblock

fix: report duplicate declarations from enum definitions
  prqlc/prqlc/src/semantic/resolver/stmt.rs
  prqlc/prqlc/tests/integration/error_messages.rs
Due: no-dbg

fix: backtick parameter names in transform argument errors
  prqlc/prqlc/src/semantic/resolver/transforms.rs
  prqlc/prqlc/tests/integration/error_messages.rs
Due: no-dbg

test: note the untested direction of the module-def collision
  prqlc/prqlc/tests/integration/error_messages.rs
Due: no-dbg

ci: run the OIDC publish jobs in the `release` environment
  .github/workflows/release.yaml
Due: none

ci: publish the web docs once per release
  .github/workflows/publish-web.yaml
Due: none

ci: run the OIDC publish jobs in the `release` environment (#6167)
  .github/workflows/release.yaml
Due: none

Path conditions:
  lychee: any of: \.(md|rst)$, but not: ^web/website/themes/
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
