Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.rs$'
  - repo: https://github.com/crate-ci/typos
    rev: v1.16.1
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    # Upgrading to the bare `v3.0.0` seems to break the plugin; contributions welcome to fix.
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.278
    hooks:
      - id: ruff
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
      - id: clippy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
      - id: mypy
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.11.2
    hooks:
      - id: markdown-link-check
        name: markdown-link-check-local
        files: \.md$
        args: ["--config=.config/.markdown-link-check-local.json"]
        # To run across everything (see nightly.yaml for more details)
      - id: markdown-link-check
        name: markdown-link-check-all
        stages: [manual]
        files: \.md$
        args: ["--config=.config/.markdown-link-check-all.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote
ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, clippy, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

chore: Backport #3640 to `web` (#3642)
  web/book/highlight-prql.js
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: none

docs(changelog): Add gocloc
  CHANGELOG.md
Due: prql-codeblock

docs(changelog): Add gocloc (#3643)
  CHANGELOG.md
Due: prql-codeblock

feat(Monarch grammar): Add token postfix and data types
  web/playground/src/workbench/prql-syntax.js
Due: none

feat: Add hexadecimal numerical notation
  crates/prql-parser/src/lexer.rs
Due: no-dbg

Update lexer.rs
  crates/prql-parser/src/lexer.rs
Due: no-dbg

Update CHANGELOG.md
  CHANGELOG.md
Due: prql-codeblock

docs: Add table of escape sequences
  web/book/src/reference/syntax/strings.md
Due: none

feat: Add hexadecimal numerical notation (#3654)
  CHANGELOG.md
  crates/prql-parser/src/lexer.rs
Due: no-dbg, prql-codeblock

feat(Monarch grammar): Add token postfix and data types (#3652)
  web/playground/src/workbench/prql-syntax.js
Due: none

Update web/book/src/reference/syntax/strings.md
  web/book/src/reference/syntax/strings.md
Due: none

Update strings.md
  web/book/src/reference/syntax/strings.md
Due: none

docs: Add table of escape sequences (#3659)
  web/book/src/reference/syntax/strings.md
Due: none

feat: Add binary numerical notation
  crates/prql-parser/src/lexer.rs
Due: no-dbg

Add docs
  crates/prql-parser/src/lexer.rs
  web/book/src/reference/syntax/literals.md
Due: no-dbg

Update documentation__book__reference__syntax__literals__numbers__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__numbers__0.snap
Due: none

feat: Add binary numerical notation (#3661)
  CHANGELOG.md
  crates/prql-parser/src/lexer.rs
  web/book/src/reference/syntax/literals.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__numbers__0.snap
Due: no-dbg, prql-codeblock

ci: Limit toolchain update from dependabot
  .github/workflows/nightly.yaml
Due: none

.
  .mega-linter.yaml
Due: none

devops: Exclude `bacon` from Taskfile
  Taskfile.yml
Due: none

ci: Limit toolchain update from dependabot (#3662)
  .github/workflows/nightly.yaml
Due: none

web: Add Vite to playground (#3609)
  .mega-linter.yaml
  Taskfile.yml
  web/playground/.eslintrc.cjs
  web/playground/generateBook.cjs
  web/playground/index.html
  web/playground/package-lock.json
  web/playground/package.json
  web/playground/src/app/App.jsx
  web/playground/src/main.jsx
  web/playground/src/output/Output.jsx
  web/playground/src/sidebar/Sidebar.jsx
  web/playground/src/workbench/Workbench.jsx
  web/playground/vite.config.js
Due: none

docs: add docs about `std.prql_version` and more test
  crates/prql-compiler/src/tests/test.rs
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
Due: no-dbg

docs: add docs about `std.prql_version` and more test (#3665)
  crates/prql-compiler/src/tests/test.rs
  web/book/src/project/target.md
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
Due: no-dbg

Revert "web: Add Vite to playground (#3609)"
  .mega-linter.yaml
  Taskfile.yml
  web/playground/.eslintrc.cjs
  web/playground/generateBook.js
  web/playground/package-lock.json
  web/playground/package.json
  web/playground/public/index.html
  web/playground/src/app/App.js
  web/playground/src/index.js
  web/playground/src/output/Output.js
  web/playground/src/sidebar/Sidebar.js
  web/playground/src/workbench/Workbench.js
  web/playground/vite.config.js
Due: none

revert: #3609 (#3666)
  .mega-linter.yaml
  Taskfile.yml
  web/playground/.eslintrc.cjs
  web/playground/generateBook.js
  web/playground/package-lock.json
  web/playground/package.json
  web/playground/public/index.html
  web/playground/src/app/App.js
  web/playground/src/index.js
  web/playground/src/output/Output.js
  web/playground/src/sidebar/Sidebar.js
  web/playground/src/workbench/Workbench.js
  web/playground/vite.config.js
Due: none

Revert "feat(Monarch grammar): Add token postfix and data types (#3652)"
  web/playground/src/workbench/prql-syntax.js
Due: none

revert: #3652 (#3667)
  web/playground/src/workbench/prql-syntax.js
Due: none

tweak(docs): Clarify comment in line wrapping docs
  web/book/src/reference/syntax/operators.md
Due: none

.
  web/book/src/reference/syntax/operators.md
Due: none

tweak(docs): Clarify comment in line wrapping docs (#3668)
  web/book/src/reference/syntax/operators.md
Due: none

ci: add glaredb tests
  crates/prql-compiler/tests/integration/README.md
  crates/prql-compiler/tests/integration/docker-compose.yml
  crates/prql-compiler/tests/integration/dockerfiles/glaredb.Dockerfile
Due: none

test: add nginx for http server [skip ci]
  crates/prql-compiler/tests/integration/docker-compose.yml
Due: none

Revert "test: add nginx for http server [skip ci]"
  crates/prql-compiler/tests/integration/docker-compose.yml
Due: none

test: add missing volumes
  crates/prql-compiler/tests/integration/docker-compose.yml
Due: none

test: add missing `syntax`
  crates/prql-compiler/tests/integration/dockerfiles/glaredb.Dockerfile
Due: none

docs: remove volumes
  crates/prql-compiler/tests/integration/README.md
Due: none
