Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

docs: Add project update (#3093)
  README.md
Due: none

tweak: Fix typo (#3113)
  grammars/README.md
Due: none

test: Ignore link error
  .config/.markdown-link-check-all.json
Due: none

test: Ignore link error (#3114)
  .config/.markdown-link-check-all.json
Due: none

build: Compile `prql-js` for cargo only
  bindings/prql-js/Cargo.toml
  bindings/prql-js/src/lib.rs
  crates/prql-compiler/Cargo.toml
Due: no-dbg

ci: Build workspace in `prqlc` build
  .github/actions/build-prqlc/action.yaml
Due: none

build: Compile `prql-js` for wasm only (#3115)
  bindings/prql-js/Cargo.toml
  bindings/prql-js/src/lib.rs
  crates/prql-compiler/Cargo.toml
Due: no-dbg

ci: Remove quotes from cache key
  .github/set_version.sh
Due: none

Update .github/set_version.sh
  .github/set_version.sh
Due: none

ci: Fix cache version on Windows
  .github/workflows/test-all.yaml
Due: none

docs: tutorial
  web/book/src/SUMMARY.md
  web/book/src/overview.md
  web/book/src/tutorial/aggregation.md
  web/book/src/tutorial/examples/README.md
  web/book/src/tutorial/examples/cte.md
  web/book/src/tutorial/examples/employees.md
  web/book/src/tutorial/examples/list-equivalence.md
  web/book/src/tutorial/examples/misc.md
  web/book/src/tutorial/examples/variables.md
  web/book/src/tutorial/filtering.md
  web/book/src/tutorial/how-do-i/distinct.md
  web/book/src/tutorial/how-do-i/reading-files.md
  web/book/src/tutorial/how-do-i/relation-literals.md
  web/book/src/tutorial/relations.md
Due: none

docs: First cut draft of revised Tutorial - Relations, Filtering, Aggregation (#3088)
  web/book/src/tutorial/aggregation.md
  web/book/src/tutorial/filtering.md
  web/book/src/tutorial/relations.md
Due: none

ci: remove " quotes from cache key
  .github/set_version.sh
Due: none

tweak: prevent more files from cluttering `git grep`
  .gitattributes
Due: none

refactor: cleanup literal Display trait
  crates/prql-ast/src/expr/literal.rs
  crates/prql-compiler/src/codegen/ast.rs
  crates/prql-compiler/src/codegen/literal.rs
  crates/prql-compiler/src/codegen/mod.rs
  crates/prql-compiler/src/codegen/pl.rs
  crates/prql-compiler/src/parser.rs
  crates/prql-parser/src/lexer.rs
Due: no-dbg

refactor: move Error into prql_ast
  crates/prql-ast/src/error.rs
  crates/prql-ast/src/lib.rs
  crates/prql-compiler/src/error_message.rs
  crates/prql-compiler/src/ir/rq/expr.rs
  crates/prql-compiler/src/lib.rs
  crates/prql-compiler/src/parser.rs
  crates/prql-compiler/src/semantic/context.rs
  crates/prql-compiler/src/semantic/eval/mod.rs
  crates/prql-compiler/src/semantic/lowering.rs
  crates/prql-compiler/src/semantic/mod.rs
  crates/prql-compiler/src/semantic/reporting.rs
  crates/prql-compiler/src/semantic/resolver/context_impl.rs
  crates/prql-compiler/src/semantic/resolver/mod.rs
  crates/prql-compiler/src/semantic/resolver/transforms.rs
  crates/prql-compiler/src/semantic/resolver/type_resolver.rs
  crates/prql-compiler/src/sql/gen_expr.rs
  crates/prql-compiler/src/sql/gen_projection.rs
  crates/prql-compiler/src/sql/gen_query.rs
  crates/prql-compiler/src/sql/operators.rs
  crates/prql-compiler/src/sql/srq/preprocess.rs
Due: no-dbg

refactor: move generic
  crates/prql-compiler/src/ir/generic.rs
  crates/prql-compiler/src/ir/mod.rs
  crates/prql-compiler/src/ir/pl/extra/expr.rs
  crates/prql-compiler/src/ir/pl/mod.rs
  crates/prql-compiler/src/ir/rq/expr.rs
  crates/prql-compiler/src/ir/rq/fold.rs
  crates/prql-compiler/src/ir/rq/transform.rs
  crates/prql-compiler/src/lib.rs
  crates/prql-compiler/src/semantic/lowering.rs
  crates/prql-compiler/src/semantic/resolver/transforms.rs
  crates/prql-compiler/src/sql/gen_expr.rs
  crates/prql-compiler/src/sql/gen_query.rs
  crates/prql-compiler/src/sql/srq/anchor.rs
  crates/prql-compiler/src/sql/srq/ast.rs
  crates/prql-compiler/src/sql/srq/postprocess.rs
  crates/prql-compiler/src/sql/srq/preprocess.rs
Due: no-dbg

refactor!: stop leaking chumsky prql_parser
  crates/prql-compiler/src/parser.rs
  crates/prql-parser/src/lib.rs
Due: no-dbg

refactor: move parser tests into own file
  crates/prql-parser/src/lib.rs
  crates/prql-parser/src/test.rs
Due: no-dbg

fix: report syntax error from all files
  crates/prql-compiler/src/parser.rs
Due: no-dbg

build: Bump formatter version
  crates/prql-compiler/Cargo.toml
Due: none

build: Bump formatter version (#3135)
  crates/prql-compiler/Cargo.toml
Due: none

ci: Fix cache version on Windows (#3119)
  .github/workflows/test-all.yaml
  .github/workflows/test-rust.yaml
Due: none

docs: Improve `join` docs
  web/book/src/reference/stdlib/transforms/join.md
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__join__examples__2.snap
Due: none

docs: Improve `join` docs (#3137)
  web/book/src/reference/stdlib/transforms/join.md
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__join__examples__2.snap
Due: none

chore: Backport #3137 to `web` (#3138)
  web/book/src/reference/stdlib/transforms/join.md
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__join__examples__2.snap
Due: none

ci: Build workspace in `prqlc` build (#3117)
  .github/actions/build-prqlc/action.yaml
Due: none

docs: Add caveat to "merge first" workflow
  web/book/src/project/contributing/development.md
Due: none

refactor: remove parser error dependency on codegen
  crates/prql-compiler/src/parser.rs
Due: no-dbg

refactor: move parser error conversion to submodule
  crates/prql-compiler/src/parser.rs
  crates/prql-compiler/src/parser/error.rs
Due: no-dbg

refactor!: hide chumsky from public prql_parser API
  crates/prql-compiler/src/parser.rs
  crates/prql-parser/src/error.rs
  crates/prql-parser/src/lib.rs
Due: no-dbg

docs: Add caveat to "merge first" workflow (#3140)
  web/book/src/project/contributing/development.md
Due: none

docs: Fix Changelog example
  CHANGELOG.md
Due: prql-codeblock

docs: Fix Changelog example (#3142)
  CHANGELOG.md
Due: prql-codeblock

chore: Backport #3142 to `web` (#3143)
  CHANGELOG.md
Due: prql-codeblock

build: Remove duplicate `similar` compilation
  Cargo.lock
  crates/tests_misc/Cargo.toml
Due: none

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
