Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, prql-codeblock

lychee:
  name: lychee (local links only)
  entry: lychee
  language: rust
  additional_dependencies:
  - cli:lychee:0.20.1
  args:
  - --no-progress
  - --include=^(https://(github\.com/(PRQL|prql)|prql-lang\.org|raw\.githubusercontent\.com/(PRQL|prql))|file://)

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

ci: correct test-elixir cache paths (#5826)
  .github/workflows/test-elixir.yaml
Due: none

ci: revert test-elixir cache path fix
  .github/workflows/test-elixir.yaml
Due: none

ci: revert test-elixir cache path fix (#5831)
  .github/workflows/test-elixir.yaml
Due: none

ci: cache test-elixir NIF correctly
  .github/workflows/test-elixir.yaml
Due: none

ci: cache test-elixir NIF correctly (#5832)
  .github/workflows/test-elixir.yaml
Due: none

docs: fix incorrect comments in codegen needs_parenthesis
  prqlc/prqlc/src/codegen/ast.rs
Due: no-dbg

fix(prqlc/deps): loosen chrono constraint from 0.4.44 to 0.4
  prqlc/prqlc/Cargo.toml
Due: none

fix(prqlc/deps): loosen chrono constraint from 0.4.44 to 0.4 (#5834)
  prqlc/prqlc/Cargo.toml
Due: none

docs: fix incorrect comments in codegen needs_parenthesis (#5833)
  prqlc/prqlc/src/codegen/ast.rs
Due: no-dbg

ci: pin go-task version to avoid intermittent setup failures
  .github/actions/tend-setup/action.yaml
  .github/workflows/build-web.yaml
  .github/workflows/test-php.yaml
  .github/workflows/test-prqlc-c.yaml
Due: none

chore: Prepare 0.13.12 release changelog
  CHANGELOG.md
Due: lychee, prql-codeblock

chore: Prepare 0.13.12 release changelog (#5837)
  CHANGELOG.md
Due: lychee, prql-codeblock

chore: Release
  Cargo.lock
  Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/packages/snap/snapcraft.yaml
  prqlc/prqlc-macros/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  web/playground/package-lock.json
  web/playground/package.json
Due: no-dbg

chore: Update version snapshot for 0.13.13
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
Due: none

skills(running-tend): document weekly go-task version bump
  .claude/skills/running-tend/SKILL.md
Due: lychee

fix(prqlc/deps): set chrono minimum to 0.4.22 for duckdb compatibility
  prqlc/prqlc/Cargo.toml
Due: none

fix(prqlc/deps): set chrono minimum to 0.4.40 for arrow-arith compatibility
  prqlc/prqlc/Cargo.toml
Due: none

ci: pin go-task version to avoid intermittent setup failures (#5836)
  .github/actions/tend-setup/action.yaml
  .github/workflows/build-web.yaml
  .github/workflows/test-php.yaml
  .github/workflows/test-prqlc-c.yaml
Due: none

chore: re-enable workflows.weekly in tend config
  .config/tend.toml
Due: none

fix(prqlc/deps): set chrono minimum to 0.4.40 for arrow-arith compatibility (#5841)
  prqlc/prqlc/Cargo.toml
Due: none

ci: trigger nightly path filter on any Cargo.toml change
  .github/workflows/tests.yaml
Due: none

chore: Bump version to 0.13.13 for next development cycle (#5839)
  Cargo.lock
  Cargo.toml
  prqlc/bindings/elixir/native/prql/Cargo.toml
  prqlc/bindings/js/package-lock.json
  prqlc/bindings/js/package.json
  prqlc/packages/snap/snapcraft.yaml
  prqlc/prqlc-macros/Cargo.toml
  prqlc/prqlc/Cargo.toml
  prqlc/prqlc/src/cli/docs_generator.rs
  web/book/tests/documentation/snapshots/documentation__book__project__target__version__1.snap
  web/playground/package-lock.json
  web/playground/package.json
Due: no-dbg

ci: trigger nightly path filter on any Cargo.toml change (#5843)
  .github/workflows/tests.yaml
Due: none

chore: document weekly go-task version bump in running-tend (#5840)
  .claude/skills/running-tend/SKILL.md
Due: lychee

docs(running-tend): note tend-weekly is enabled
  .claude/skills/running-tend/SKILL.md
Due: lychee

chore: re-enable workflows.weekly in tend config (#5842)
  .claude/skills/running-tend/SKILL.md
  .config/tend.toml
Due: lychee

chore: add tend-weekly workflow
  .github/workflows/tend-weekly.yaml
Due: none

docs: fix typos in name-resolution.md and stale path comment in highlight-prql.js
  web/book/highlight-prql.js
  web/book/src/reference/spec/name-resolution.md
Due: lychee

internal: remove redundant bare `use chumsky;` self-import
  prqlc/prqlc-parser/src/parser/types.rs
Due: no-dbg

fix: correct .NET binding FFI marshalling and free native results
  CHANGELOG.md
  prqlc/bindings/dotnet/PrqlCompiler.Tests/CompilerTest.cs
  prqlc/bindings/dotnet/PrqlCompiler.Tests/Usings.cs
  prqlc/bindings/dotnet/PrqlCompiler/Message.cs
  prqlc/bindings/dotnet/PrqlCompiler/NativeMessage.cs
  prqlc/bindings/dotnet/PrqlCompiler/NativeResult.cs
  prqlc/bindings/dotnet/PrqlCompiler/NativeSourceLocation.cs
  prqlc/bindings/dotnet/PrqlCompiler/NativeSpan.cs
  prqlc/bindings/dotnet/PrqlCompiler/PrqlCompiler.cs
  prqlc/bindings/dotnet/PrqlCompiler/Result.cs
  prqlc/bindings/dotnet/PrqlCompiler/SourceLocation.cs
  prqlc/bindings/dotnet/PrqlCompiler/Span.cs
  prqlc/bindings/prqlc-c/src/lib.rs
Due: lychee, no-dbg, prql-codeblock

chore: add tend-weekly workflow (#5844)
  .github/workflows/tend-weekly.yaml
Due: none

docs: fix typos and stale comment path in book sources (#5845)
  web/book/highlight-prql.js
  web/book/src/reference/spec/name-resolution.md
Due: lychee

internal: remove redundant bare `use chumsky;` self-import (#5846)
  prqlc/prqlc-parser/src/parser/types.rs
Due: no-dbg

fix: correct .NET binding FFI marshalling and free native results (#5848)
  CHANGELOG.md
  prqlc/bindings/dotnet/PrqlCompiler.Tests/CompilerTest.cs
  prqlc/bindings/dotnet/PrqlCompiler.Tests/Usings.cs
  prqlc/bindings/dotnet/PrqlCompiler/Message.cs
  prqlc/bindings/dotnet/PrqlCompiler/NativeMessage.cs
  prqlc/bindings/dotnet/PrqlCompiler/NativeResult.cs
  prqlc/bindings/dotnet/PrqlCompiler/NativeSourceLocation.cs
  prqlc/bindings/dotnet/PrqlCompiler/NativeSpan.cs
  prqlc/bindings/dotnet/PrqlCompiler/PrqlCompiler.cs
  prqlc/bindings/dotnet/PrqlCompiler/Result.cs
  prqlc/bindings/dotnet/PrqlCompiler/SourceLocation.cs
  prqlc/bindings/dotnet/PrqlCompiler/Span.cs
  prqlc/bindings/prqlc-c/src/lib.rs
Due: lychee, no-dbg, prql-codeblock

refactor: modernize .NET binding to net10.0 with LibraryImport
  .github/workflows/test-dotnet.yaml
  prqlc/bindings/dotnet/PrqlCompiler.Tests/CompilerTest.cs
  prqlc/bindings/dotnet/PrqlCompiler.Tests/PrqlCompiler.Tests.csproj
  prqlc/bindings/dotnet/PrqlCompiler.Tests/Usings.cs
  prqlc/bindings/dotnet/PrqlCompiler/Message.cs
  prqlc/bindings/dotnet/PrqlCompiler/MessageKind.cs
  prqlc/bindings/dotnet/PrqlCompiler/NativeMessage.cs
  prqlc/bindings/dotnet/PrqlCompiler/NativePrqlCompilerOptions.cs
  prqlc/bindings/dotnet/PrqlCompiler/NativeResult.cs
  prqlc/bindings/dotnet/PrqlCompiler/NativeSourceLocation.cs
  prqlc/bindings/dotnet/PrqlCompiler/NativeSpan.cs
  prqlc/bindings/dotnet/PrqlCompiler/PrqlCompiler.cs
  prqlc/bindings/dotnet/PrqlCompiler/PrqlCompiler.csproj
  prqlc/bindings/dotnet/PrqlCompiler/PrqlCompilerOptions.cs
  prqlc/bindings/dotnet/PrqlCompiler/Result.cs
  prqlc/bindings/dotnet/PrqlCompiler/SourceLocation.cs
  prqlc/bindings/dotnet/PrqlCompiler/Span.cs
  prqlc/bindings/dotnet/README.md
Due: lychee

refactor: make Native* P/Invoke structs readonly
  prqlc/bindings/dotnet/PrqlCompiler.Tests/CompilerTest.cs
  prqlc/bindings/dotnet/PrqlCompiler/NativeMessage.cs
  prqlc/bindings/dotnet/PrqlCompiler/NativePrqlCompilerOptions.cs
  prqlc/bindings/dotnet/PrqlCompiler/NativeResult.cs
  prqlc/bindings/dotnet/PrqlCompiler/NativeSourceLocation.cs
  prqlc/bindings/dotnet/PrqlCompiler/NativeSpan.cs
Due: none

refactor: modernize .NET binding to net10.0 with LibraryImport (#5850)
  .github/workflows/test-dotnet.yaml
  prqlc/bindings/dotnet/PrqlCompiler.Tests/CompilerTest.cs
  prqlc/bindings/dotnet/PrqlCompiler.Tests/PrqlCompiler.Tests.csproj
  prqlc/bindings/dotnet/PrqlCompiler.Tests/Usings.cs
  prqlc/bindings/dotnet/PrqlCompiler/Message.cs
  prqlc/bindings/dotnet/PrqlCompiler/MessageKind.cs
  prqlc/bindings/dotnet/PrqlCompiler/NativeMessage.cs
  prqlc/bindings/dotnet/PrqlCompiler/NativePrqlCompilerOptions.cs
  prqlc/bindings/dotnet/PrqlCompiler/NativeResult.cs
  prqlc/bindings/dotnet/PrqlCompiler/NativeSourceLocation.cs
  prqlc/bindings/dotnet/PrqlCompiler/NativeSpan.cs
  prqlc/bindings/dotnet/PrqlCompiler/PrqlCompiler.cs
  prqlc/bindings/dotnet/PrqlCompiler/PrqlCompiler.csproj
  prqlc/bindings/dotnet/PrqlCompiler/PrqlCompilerOptions.cs
  prqlc/bindings/dotnet/PrqlCompiler/Result.cs
  prqlc/bindings/dotnet/PrqlCompiler/SourceLocation.cs
  prqlc/bindings/dotnet/PrqlCompiler/Span.cs
  prqlc/bindings/dotnet/README.md
Due: lychee

internal: remove stale jinja module doc comment
  prqlc/prqlc/src/cli/jinja.rs
Due: no-dbg

internal: remove stale jinja module doc comment (#5851)
  prqlc/prqlc/src/cli/jinja.rs
Due: no-dbg

docs: fix wrong column name in relations tutorial
  web/book/src/tutorial/relations.md
Due: lychee

Path conditions:
  lychee: any of: \.(md|rst)$, but not: ^web/website/themes/
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
