Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, prql-codeblock

lychee:
  name: lychee (local links only)
  entry: lychee
  language: rust
  additional_dependencies:
  - cli:lychee:0.20.1
  args:
  - --no-progress
  - --include=^(https://(github\.com/(PRQL|prql)|prql-lang\.org|raw\.githubusercontent\.com/(PRQL|prql))|file://)

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

skills(running-tend): name 600 s as the ceiling, not a floor
  .claude/skills/running-tend/SKILL.md
Due: lychee

ci: install pre-commit and the pinned rust toolchain into the tend sandbox (#6334)
  .config/tend.yaml
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

ci: remove tend-setup steps that don't reach the tend sandbox
  .github/actions/tend-setup/action.yaml
Due: none

ci: remove tend-setup steps that don't reach the tend sandbox (#6336)
  .github/actions/tend-setup/action.yaml
Due: none

docs: document `date.trunc`'s dialect forms and SQLite limitation (#6333)
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/reference/stdlib/date.md
Due: lychee, no-dbg

tend: point the overlay at the renamed bundled skills
  .claude/skills/running-tend/SKILL.md
Due: lychee

chore: update tend workflows (0.2.10 → 0.2.11)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention-relay.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

devops: name the poll script the QUEUED note means
  .claude/skills/running-tend/SKILL.md
Due: lychee

chore: update tend workflows (0.2.10 → 0.2.11) (#6338)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention-relay.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

devops: point the tend overlay at the renamed bundled skills (#6337)
  .claude/skills/running-tend/SKILL.md
Due: lychee

devops: name the bundled plugin in the tend overlay's description
  .claude/skills/running-tend/SKILL.md
Due: lychee

devops: name the bundled plugin in the tend overlay's description (#6339)
  .claude/skills/running-tend/SKILL.md
Due: lychee

ci: correct the release recovery message for immutable releases
  .github/workflows/release.yaml
Due: none

docs: correct the `loop` signature in the book
  web/book/src/reference/stdlib/transforms/loop.md
Due: lychee

docs: add changelog entry for #6342
  CHANGELOG.md
Due: lychee, prql-codeblock

docs: correct the .NET binding's documented API
  prqlc/bindings/dotnet/PrqlCompiler/PrqlCompiler.cs
  prqlc/bindings/dotnet/README.md
Due: lychee

docs: add changelog entry for #6344
  CHANGELOG.md
Due: lychee, prql-codeblock

docs: call loop's argument a pipeline in the remaining two places
  web/book/src/reference/stdlib/transforms/README.md
  web/book/src/reference/stdlib/transforms/loop.md
Due: lychee

docs: drop the FormatException the .NET binding never throws
  CHANGELOG.md
  prqlc/bindings/dotnet/PrqlCompiler/PrqlCompiler.cs
Due: lychee, prql-codeblock

ci: pick the recovery message from the release's immutability
  .github/workflows/release.yaml
Due: none

ci: keep the immutability read's failure distinct from a mutable release
  .github/workflows/release.yaml
Due: none

ci: make the .NET binding buildable from a tend session
  .claude/skills/running-tend/SKILL.md
  .claude/skills/running-tend/scripts/with-writable-tmp.sh
Due: lychee

ci: drop the /tmp wrapper; -m:1 is all the .NET build needs
  .claude/skills/running-tend/SKILL.md
  .claude/skills/running-tend/scripts/with-writable-tmp.sh
Due: lychee

ci: restore the /tmp wrapper; the EROFS constraint is real
  .claude/skills/running-tend/SKILL.md
  .claude/skills/running-tend/scripts/with-writable-tmp.sh
Due: lychee

ci: don't over-explain the contrary result
  .claude/skills/running-tend/SKILL.md
Due: lychee

ci: replace the /tmp wrapper with the NuGet migration marker
  .claude/skills/running-tend/SKILL.md
  .claude/skills/running-tend/scripts/with-writable-tmp.sh
  .config/tend.yaml
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: lychee

ci: scope the -m:1 guidance to the MSBuild-driven commands
  .claude/skills/running-tend/SKILL.md
Due: lychee

ci: pick the release recovery message from the release's immutability (#6341)
  .github/workflows/release.yaml
Due: none

docs: correct the .NET binding's documented API (#6344)
  CHANGELOG.md
  prqlc/bindings/dotnet/PrqlCompiler/PrqlCompiler.cs
  prqlc/bindings/dotnet/README.md
Due: lychee, prql-codeblock

docs: correct the `loop` signature in the book (#6342)
  CHANGELOG.md
  web/book/src/reference/stdlib/transforms/README.md
  web/book/src/reference/stdlib/transforms/loop.md
Due: lychee, prql-codeblock

fix: handle `take` bounds near the limits of i64
  prqlc/prqlc/src/sql/gen_expr.rs
Due: no-dbg

docs: add changelog entry for #6347
  CHANGELOG.md
Due: lychee, prql-codeblock

devops: read workspace crate names from cargo metadata --no-deps
  Taskfile.yaml
Due: none

fix: clamp an overflowing take end bound, and span the offending bound
  prqlc/prqlc/src/sql/gen_expr.rs
Due: no-dbg

fix: treat an overflowing take start as an empty range when the enclosing end is bounded
  prqlc/prqlc/src/sql/gen_expr.rs
Due: no-dbg

refine: name shift_bound's parameters and pass the bound first at both call sites
  prqlc/prqlc/src/sql/gen_expr.rs
Due: no-dbg

devops: read workspace crate names from `cargo metadata --no-deps` (#6348)
  Taskfile.yaml
Due: none

ci: install uv in the tend-setup composite
  .github/actions/tend-setup/action.yaml
Due: none

fix: name the unsupported specifier in `date.to_text` errors
  prqlc/prqlc/src/sql/dialect.rs
Due: no-dbg

chore: add CHANGELOG entry for #6351
  CHANGELOG.md
Due: lychee, prql-codeblock

Path conditions:
  lychee: any of: \.(md|rst)$, but not: ^web/website/themes/
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
