Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.rs$'
  - repo: https://github.com/crate-ci/typos
    rev: v1.16.1
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    # Upgrading to the bare `v3.0.0` seems to break the plugin; contributions welcome to fix.
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.278
    hooks:
      - id: ruff
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
      - id: clippy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
      - id: mypy
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.11.2
    hooks:
      - id: markdown-link-check
        name: markdown-link-check-local
        files: \.md$
        args: ["--config=.config/.markdown-link-check-local.json"]
        # To run across everything (see nightly.yaml for more details)
      - id: markdown-link-check
        name: markdown-link-check-all
        stages: [manual]
        files: \.md$
        args: ["--config=.config/.markdown-link-check-all.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote
ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, clippy, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

Revert "chore: bump actions/upload-artifact from 3 to 4 in /.github/actions/time-compilation (#3940)"
  .github/actions/time-compilation/action.yaml
Due: none

ci: Revert "chore: bump actions/upload-artifact from 3 to 4 in /.github/actions/build-prqlc" (#3944)
  .github/actions/build-prqlc/action.yaml
Due: none

ci: Revert "chore: bump actions/upload-artifact from 3 to 4 in /.github/actions/time-compilation" (#3945)
  .github/actions/time-compilation/action.yaml
Due: none

refactor: use chrono types
  prqlc/prql-compiler/Cargo.toml
  prqlc/prql-compiler/src/sql/dialect.rs
  prqlc/prql-compiler/src/sql/gen_expr.rs
  prqlc/prql-compiler/tests/integration/snapshots/integration__sql__date_to_string_glaredb.snap
  prqlc/prql-compiler/tests/integration/sql.rs
Due: no-dbg

Revert "chore: bump actions/upload-artifact from 3 to 4 in /.github/actions/time-compilation (#3946)"
  .github/actions/time-compilation/action.yaml
Due: none

Revert "chore: bump actions/upload-artifact from 3 to 4 in /.github/actions/build-prqlc (#3947)"
  .github/actions/build-prqlc/action.yaml
Due: none

revert: #3946 (#3948)
  .github/actions/time-compilation/action.yaml
Due: none

revert: #3947 (#3949)
  .github/actions/build-prqlc/action.yaml
Due: none

feat: more formats
  prqlc/prql-compiler/src/sql/dialect.rs
Due: no-dbg

feat: focus on duckdb, mysql, mssql and postgres
  prqlc/prql-compiler/src/sql/dialect.rs
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/queries/date.prql
  prqlc/prql-compiler/tests/integration/queries/date_to_string.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__date.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__date_to_string.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__date.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__date_to_string.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__sql__date_to_string_clickhouse.snap
Due: no-dbg

chore: cargo clippy --fix
  prqlc/prql-compiler/src/sql/dialect.rs
Due: no-dbg

build(deps): add chrono as dependency
  prqlc/prql-compiler/Cargo.toml
Due: none

feat: add basic date to string for duckdb
  prqlc/prql-compiler/src/semantic/std.prql
  prqlc/prql-compiler/src/sql/dialect.rs
  prqlc/prql-compiler/src/sql/gen_expr.rs
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/error_messages.rs
  prqlc/prql-compiler/tests/integration/queries.rs
  prqlc/prql-compiler/tests/integration/queries/date_to_string.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__date_to_string.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__date_to_string.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__sql__date_to_string_duckdb.snap
  prqlc/prql-compiler/tests/integration/sql.rs
Due: no-dbg

test: update other snapshots
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-2.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-3.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
Due: none

fix: is it a parsing error?
  prqlc/prql-compiler/tests/integration/queries/date_to_string.prql
Due: none

tests: Run in-process DB tests with `test-dbs-external`
  prqlc/prql-compiler/tests/integration/dbs/mod.rs
Due: no-dbg

test: Run in-process DB tests with `test-dbs-external` (#3952)
  prqlc/prql-compiler/tests/integration/dbs/mod.rs
  prqlc/prql-compiler/tests/integration/dbs/protocol/mod.rs
Due: no-dbg

feat: add basic date to string for duckdb (#3951)
  prqlc/prql-compiler/Cargo.toml
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-2.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names-3.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__test__frames_and_names.snap
  prqlc/prql-compiler/src/semantic/resolver/snapshots/prql_compiler__semantic__resolver__transforms__tests__aggregate_positional_arg-2.snap
  prqlc/prql-compiler/src/semantic/std.prql
  prqlc/prql-compiler/src/sql/dialect.rs
  prqlc/prql-compiler/src/sql/gen_expr.rs
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/error_messages.rs
  prqlc/prql-compiler/tests/integration/queries.rs
  prqlc/prql-compiler/tests/integration/queries/date_to_string.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__date_to_string.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__date_to_string.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__sql__date_to_string_duckdb.snap
  prqlc/prql-compiler/tests/integration/sql.rs
Due: no-dbg

fix: escape correctly literal for duckdb
  prqlc/prql-compiler/src/sql/dialect.rs
  prqlc/prql-compiler/tests/integration/queries/date_to_string.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__date_to_string.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__date_to_string.snap
Due: no-dbg

test: expected was in snapshot
  prqlc/prql-compiler/tests/integration/snapshots/integration__sql__date_to_string_duckdb.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__sql__like_concat_generic.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__sql__like_concat_sqlite.snap
  prqlc/prql-compiler/tests/integration/sql.rs
Due: no-dbg

chore: minute without leading zero is not common
  prqlc/prql-compiler/src/sql/dialect.rs
  prqlc/prql-compiler/tests/integration/queries/date_to_string.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__date_to_string.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__date_to_string.snap
Due: no-dbg

chore: timezone should always be UTC for a date
  prqlc/prql-compiler/src/sql/dialect.rs
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__date_to_string.snap
Due: no-dbg

chore: add proper error message for bad format
  prqlc/prql-compiler/src/sql/dialect.rs
  prqlc/prql-compiler/tests/integration/error_messages.rs
Due: no-dbg

refactor: more explicit
  prqlc/prql-compiler/src/sql/dialect.rs
  prqlc/prql-compiler/tests/integration/error_messages.rs
Due: no-dbg

feat: support percentage in duckdb
  prqlc/prql-compiler/src/sql/dialect.rs
  prqlc/prql-compiler/tests/integration/queries/date_to_string.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__date_to_string.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__date_to_string.snap
Due: no-dbg

refactor: bail at dialect level
  prqlc/prql-compiler/src/sql/dialect.rs
  prqlc/prql-compiler/tests/integration/error_messages.rs
  prqlc/prql-compiler/tests/integration/queries/date_to_string.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__date_to_string.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__date_to_string.snap
Due: no-dbg

fix: escape quotes and percentage in date to string for duckDB (#3954)
  prqlc/prql-compiler/src/sql/dialect.rs
  prqlc/prql-compiler/tests/integration/error_messages.rs
  prqlc/prql-compiler/tests/integration/queries/date_to_string.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__date_to_string.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__date_to_string.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__sql__date_to_string_duckdb.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__sql__like_concat_generic.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__sql__like_concat_sqlite.snap
  prqlc/prql-compiler/tests/integration/sql.rs
Due: no-dbg

feat: add date to string support for postgres
  prqlc/prql-compiler/src/sql/dialect.rs
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/queries/date_to_string.prql
  prqlc/prql-compiler/tests/integration/sql.rs
Due: no-dbg

feat: add date to string support for mysql
  prqlc/prql-compiler/src/sql/dialect.rs
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/queries/date_to_string.prql
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__fmt__date_to_string.snap
  prqlc/prql-compiler/tests/integration/snapshots/integration__queries__results__date_to_string.snap
  prqlc/prql-compiler/tests/integration/sql.rs
Due: no-dbg

feat: add date to string support for mssql
  prqlc/prql-compiler/src/sql/dialect.rs
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/queries/date_to_string.prql
  prqlc/prql-compiler/tests/integration/sql.rs
Due: no-dbg

docs: date to string
  web/book/src/SUMMARY.md
  web/book/src/reference/syntax/date-time/format-specifiers.md
  web/book/src/reference/syntax/date-time/index.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__date-time__index__date-and-time__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__date-time__index__date-and-time__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__date-time__index__date-and-time__2.snap
Due: none

fix: Micro / Nanoseconds
  prqlc/prql-compiler/src/sql/dialect.rs
Due: no-dbg

feat: add date to string support for clickhouse
  prqlc/prql-compiler/src/sql/dialect.rs
  prqlc/prql-compiler/src/sql/std.sql.prql
  prqlc/prql-compiler/tests/integration/queries/date_to_string.prql
  prqlc/prql-compiler/tests/integration/sql.rs
  web/book/src/reference/syntax/date-time/index.md
Due: no-dbg

docs: add changelog
  CHANGELOG.md
Due: prql-codeblock

Update CHANGELOG.md
  CHANGELOG.md
Due: prql-codeblock

Update web/book/src/reference/syntax/date-time/format-specifiers.md
  web/book/src/reference/syntax/date-time/format-specifiers.md
Due: none

fix: footnote
  web/book/src/reference/syntax/date-time/format-specifiers.md
Due: none

Implemented pl_to_prql for js bindings
  prqlc/bindings/js/src/lib.rs
Due: no-dbg

devops: Update ics file for new dev call time
  web/book/src/project/contributing/fortnightly-dev-call.ics
Due: none

devops: Update ics file for new dev call time (#3961)
  web/book/src/project/contributing/fortnightly-dev-call.ics
Due: none
