Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.(rs|snap)$'
  - repo: https://github.com/crate-ci/typos
    rev: v1
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          # TODO: This doesn't seem to work, would be great to fix.
          # https://github.com/PRQL/prql/issues/3078
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.5
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: clippy
        stages: [manual]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint
  # Link checker using local hooks with language: rust
  # Pre-commit will automatically install lychee via cargo
  - repo: local
    hooks:
      - id: lychee
        name: lychee (local links only)
        entry: lychee
        language: rust
        additional_dependencies: ["cli:lychee:0.20.1"]
        files: \.(md|rst)$
        exclude: ^web/website/themes/
        args:
          - --no-progress
          # For PRs: whitelist PRQL domains and local files only
          # Pattern matches:
          #   - github.com/PRQL/* and github.com/prql/*
          #   - prql-lang.org/*
          #   - raw.githubusercontent.com/PRQL/* and raw.githubusercontent.com/prql/*
          #   - file://* (local/relative links)
          # All other external links are skipped for faster PR checks
          - --include=^(https://(github\.com/(PRQL|prql)|prql-lang\.org|raw\.githubusercontent\.com/(PRQL|prql))|file://)
      - id: lychee-all
        name: lychee-all (all links)
        entry: lychee
        language: rust
        additional_dependencies: ["cli:lychee:0.20.1"]
        stages: [manual]
        files: \.(md|rst)$
        exclude: ^web/website/themes/
        args: ["--config=.config/lychee.toml", "--no-progress"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote

ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, lychee, lychee-all]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

fix: answer unsupported LSP requests with MethodNotFound (#6282)
  CHANGELOG.md
  prqlc/prqlc/src/cli/lsp.rs
Due: lychee, no-dbg, prql-codeblock

fix: declare a binding strength for the `text` pattern functions
  CHANGELOG.md
  prqlc/prqlc/src/sql/std.sql.prql
  prqlc/prqlc/tests/integration/sql.rs
Due: lychee, no-dbg, prql-codeblock

fix: declare the operator binding strength for `math.log` and `div_i`
  CHANGELOG.md
  prqlc/prqlc/src/sql/std.sql.prql
  prqlc/prqlc/tests/integration/sql.rs
Due: lychee, no-dbg, prql-codeblock

test: correct the DuckDB claim in the `div_i` test comment
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

fix: parenthesize `text` pattern results inside f-strings on `sql.sqlite` and `sql.redshift` (#6285)
  CHANGELOG.md
  prqlc/prqlc/src/sql/std.sql.prql
  prqlc/prqlc/tests/integration/sql.rs
Due: lychee, no-dbg, prql-codeblock

fix: declare the operator binding strength for `math.log` and `div_i` (#6286)
  CHANGELOG.md
  prqlc/prqlc/src/sql/std.sql.prql
  prqlc/prqlc/tests/integration/sql.rs
Due: lychee, no-dbg, prql-codeblock

chore: update tend workflows (0.1.24 → 0.2.0)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

fix: parse escaped quotes and quote characters in the raku grammar's strings
  CHANGELOG.md
  grammars/raku/lib/prql.rakumod
  grammars/raku/t/strings.rakutest
Due: lychee, prql-codeblock

test: cover escaped quotes in f-strings and s-strings
  CHANGELOG.md
  grammars/raku/t/strings.rakutest
Due: lychee, prql-codeblock

fix: parse escaped quotes and quote characters in the lezer grammar's strings
  CHANGELOG.md
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/strings.txt
Due: lychee, prql-codeblock

fix: keep backslashes as content in r-strings
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/strings.txt
Due: none

fix: handle escapes after quotes and lone braces in lezer strings
  CHANGELOG.md
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/strings.txt
Due: lychee, prql-codeblock

test: pin that a raw string cannot span a newline
  grammars/prql-lezer/test/strings.txt
Due: none

test: cover unrecognized escape sequences in the raku grammar
  grammars/raku/t/strings.rakutest
Due: none

fix: only tag recognized escape sequences as Escape in the lezer grammar
  CHANGELOG.md
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/strings.txt
Due: lychee, prql-codeblock

test: assert parse-tree shapes in the raku grammar's tests
  .gitignore
  grammars/raku/README.md
  grammars/raku/t/arithmetics.rakutest
  grammars/raku/t/arrays.rakutest
  grammars/raku/t/datetime.rakutest
  grammars/raku/t/full_queries.rakutest
  grammars/raku/t/identifiers.rakutest
  grammars/raku/t/lib/PRQLTest.rakumod
  grammars/raku/t/misc.rakutest
  grammars/raku/t/numbers.rakutest
  grammars/raku/t/operators.rakutest
  grammars/raku/t/strings.rakutest
  grammars/raku/t/tuples.rakutest
Due: lychee

fix: accept a backslash before a newline in lezer f- and s-strings
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/strings.txt
Due: none

test: assert the triple-quoted string rule consumes the whole literal
  grammars/raku/t/strings.rakutest
Due: none

test: carry matched text in raku shape assertions, indent the failure diagnostic
  .gitignore
  grammars/raku/README.md
  grammars/raku/t/arithmetics.rakutest
  grammars/raku/t/arrays.rakutest
  grammars/raku/t/datetime.rakutest
  grammars/raku/t/full_queries.rakutest
  grammars/raku/t/identifiers.rakutest
  grammars/raku/t/lib/PRQLTest.rakumod
  grammars/raku/t/misc.rakutest
  grammars/raku/t/numbers.rakutest
  grammars/raku/t/operators.rakutest
  grammars/raku/t/strings.rakutest
  grammars/raku/t/tuples.rakutest
Due: lychee

test: name the heredoc raku tests, note the uncaptured timezone suffix
  grammars/raku/t/arrays.rakutest
  grammars/raku/t/datetime.rakutest
  grammars/raku/t/full_queries.rakutest
  grammars/raku/t/lib/PRQLTest.rakumod
  grammars/raku/t/misc.rakutest
  grammars/raku/t/tuples.rakutest
Due: none

test: attribute raku parse failures to the failing test's line
  grammars/raku/t/lib/PRQLTest.rakumod
Due: none

fix: use OFFSET/FETCH rather than LIMIT on the sql.oracle target
  CHANGELOG.md
  prqlc/prqlc/src/sql/dialect.rs
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/project/target.md
Due: lychee, no-dbg, prql-codeblock

test: note the uncaptured raku unary operator
  grammars/raku/t/operators.rakutest
Due: none

fix: don't synthesise `ORDER BY (SELECT NULL)` for Oracle `FETCH`
  CHANGELOG.md
  prqlc/prqlc/src/sql/dialect.rs
  prqlc/prqlc/src/sql/gen_query.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: lychee, no-dbg, prql-codeblock

refactor: default `fetch_requires_order_by` to false, override on MSSQL
  prqlc/prqlc/src/sql/dialect.rs
  web/book/src/project/target.md
Due: lychee, no-dbg

chore: update tend workflows (0.1.24 → 0.2.0) (#6287)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

fix: use OFFSET/FETCH rather than LIMIT on the sql.oracle target (#6292)
  CHANGELOG.md
  prqlc/prqlc/src/sql/dialect.rs
  prqlc/prqlc/src/sql/gen_query.rs
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/project/target.md
Due: lychee, no-dbg, prql-codeblock

fix: parse escaped quotes and quote characters in the lezer grammar's strings (#6289)
  CHANGELOG.md
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/strings.txt
Due: lychee, prql-codeblock

test: assert parse-tree shapes in the raku grammar's tests (#6290)
  .gitignore
  grammars/raku/README.md
  grammars/raku/t/arithmetics.rakutest
  grammars/raku/t/arrays.rakutest
  grammars/raku/t/datetime.rakutest
  grammars/raku/t/full_queries.rakutest
  grammars/raku/t/identifiers.rakutest
  grammars/raku/t/lib/PRQLTest.rakumod
  grammars/raku/t/misc.rakutest
  grammars/raku/t/numbers.rakutest
  grammars/raku/t/operators.rakutest
  grammars/raku/t/strings.rakutest
  grammars/raku/t/tuples.rakutest
Due: lychee

test: cover the single-quoted string arms in the raku grammar's tests
  grammars/raku/t/strings.rakutest
Due: none

fix: parse escaped quotes and quote characters in the raku grammar's strings (#6288)
  CHANGELOG.md
  grammars/raku/lib/prql.rakumod
  grammars/raku/t/strings.rakutest
Due: lychee, prql-codeblock

chore: pin dompurify to a patched version in the playground
  web/playground/package-lock.json
  web/playground/package.json
Due: none

fix: keep the column order of a table s-string rather than sorting it
  CHANGELOG.md
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/tests/integration/sql.rs
Due: lychee, no-dbg, prql-codeblock

test: update the book's s-string snapshot for the new column order
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__s-strings__3.snap
Due: none

docs: note that the book's snapshots aren't covered by task prqlc:pull-request
  CLAUDE.md
Due: lychee

docs: widen the mdbook-prql note to prqlc's output generally
  CLAUDE.md
Due: lychee

chore: pin dompurify to a patched version in the playground (#6296)
  web/playground/package-lock.json
  web/playground/package.json
Due: none

docs: correct the MSSQL row-limiting claim in the website Dialects example
  web/website/data/examples/dialects.yaml
Due: none

chore: update tend workflows (0.2.0 → 0.2.5)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

chore: update tend workflows (0.2.0 → 0.2.5) (#6301)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none
