Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

fix: Fix Clippy lint (#3268)
  crates/prql-compiler/tests/integration/main.rs
Due: no-dbg

ci: Attempt to fix nightly workflow
  Taskfile.yml
Due: none

.
  .github/workflows/test-taskfile.yaml
  Taskfile.yml
Due: none

ci: Attempt to fix nightly workflow (#3269)
  .github/workflows/test-taskfile.yaml
Due: none

docs: Humble our confidence on bugs a bit
  README.md
Due: none

docs: Humble our confidence on bugs a bit (#3270)
  README.md
Due: none

ci: Tweak automerge to fix pre-commit check
  .github/workflows/pull-request.yaml
Due: none

ci: Tweak automerge to fix pre-commit check (#3273)
  .github/workflows/pull-request.yaml
Due: none

feat: Improve quote handling in lexer
  CHANGELOG.md
  crates/prql-parser/src/lexer.rs
  web/book/src/reference/syntax/literals.md
Due: no-dbg, prql-codeblock

docs: prqlc is now installable via winget
  crates/prqlc/README.md
  web/website/content/_index.md
Due: none

docs: prqlc is now installable via winget (#3275)
  crates/prqlc/README.md
  web/website/content/_index.md
Due: none

chore: Backport #3275 to `web` (#3276)
  crates/prqlc/README.md
  web/website/content/_index.md
Due: none

more tests, including a TODO
  crates/prql-parser/src/lexer.rs
Due: no-dbg

Handle an even number of quotes as an empty string
  crates/prql-parser/src/lexer.rs
Due: no-dbg

docs: Remove slightly confusing footnote
  web/book/src/project/contributing/development.md
Due: none

docs: Remove slightly confusing footnote (#3277)
  web/book/src/project/contributing/development.md
Due: none

chore: Backport #3277 to `web` (#3278)
  web/book/src/project/contributing/development.md
Due: none

feat: Allow s-strings to contain expressions
  crates/prql-parser/src/interpolation.rs
  crates/prql-parser/src/lib.rs
Due: no-dbg

docs: Re-write string docs
  web/book/src/reference/syntax/literals.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__quoting-quotations__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__quoting-quotations__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__quoting-quotations__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__quoting-quotations__3.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__r-strings__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__strings__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__strings__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__strings__2.snap
Due: none

.
  web/book/src/reference/syntax/literals.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__quoting-quotations__0.snap
Due: none

chore: Add recent changelog entries
  CHANGELOG.md
Due: prql-codeblock

docs: Re-write string docs (#3281)
  web/book/src/reference/syntax/literals.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__quoting-quotations__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__quoting-quotations__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__quoting-quotations__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__quoting-quotations__3.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__r-strings__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__strings__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__strings__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__strings__2.snap
Due: none

backport: #3281 (#3283)
  web/book/src/reference/syntax/literals.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__quoting-quotations__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__quoting-quotations__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__quoting-quotations__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__quoting-quotations__3.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__r-strings__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__strings__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__strings__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__strings__2.snap
Due: none

chore: Add recent changelog entries (#3282)
  CHANGELOG.md
Due: prql-codeblock

tweak: Fix typo
  CHANGELOG.md
Due: prql-codeblock

tweak: Fix typo (#3284)
  CHANGELOG.md
Due: prql-codeblock

ci: add winget releaser's step
  .github/workflows/release.yaml
Due: none

chore: Remove unreferenced snapshots
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__quoting-quotations__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__quoting-quotations__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__quoting-quotations__3.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__strings__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__strings__3.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__strings__4.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__strings__5.snap
Due: none

ci: Rename `prql-bot` token
  .github/workflows/pull-request-target.yaml
  .github/workflows/pull-request.yaml
Due: none

chore: Remove unreferenced snapshots (#3288)
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__quoting-quotations__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__quoting-quotations__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__quoting-quotations__3.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__strings__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__strings__3.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__strings__4.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__literals__strings__5.snap
Due: none

Update .github/workflows/release.yaml
  .github/workflows/release.yaml
Due: none

ci: Rename `prql-bot` token (#3289)
  .github/workflows/pull-request-target.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/release.yaml
Due: none

ci(release): add winget releaser's step (#3287)
  .github/workflows/release.yaml
Due: none

docs: Update from docs
  web/book/src/reference/stdlib/transforms/from.md
Due: none

ci: Consolidate `test-js`, restrict to ubuntu outside nightly
  .github/workflows/pull-request.yaml
  .github/workflows/test-all.yaml
  .github/workflows/test-dotnet.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-python.yaml
  .pre-commit-config.yaml
Due: none

chores: Update snapshots
  web/book/tests/documentation/snapshots/documentation__book__reference__stdlib__transforms__from__0.snap
Due: none

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
