Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.rs$'
  - repo: https://github.com/crate-ci/typos
    rev: v1.16.1
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    # Upgrading to the bare `v3.0.0` seems to break the plugin; contributions welcome to fix.
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.278
    hooks:
      - id: ruff
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
      - id: clippy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
      - id: mypy
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.11.2
    hooks:
      - id: markdown-link-check
        name: markdown-link-check-local
        files: \.md$
        args: ["--config=.config/.markdown-link-check-local.json"]
        # To run across everything (see nightly.yaml for more details)
      - id: markdown-link-check
        name: markdown-link-check-all
        stages: [manual]
        files: \.md$
        args: ["--config=.config/.markdown-link-check-all.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote
ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, clippy, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

build: Remove duplicate `similar` compilation (#3144)
  Cargo.lock
  crates/tests_misc/Cargo.toml
Due: none

chore: Add changelog template for next version
  CHANGELOG.md
  web/book/src/project/contributing/development.md
Due: prql-codeblock

chore: Add changelog template for next version (#3146)
  CHANGELOG.md
  web/book/src/project/contributing/development.md
Due: prql-codeblock

Update join.md
  web/book/src/reference/stdlib/transforms/join.md
Due: none

docs: Add docs on `this` & `that`
  web/book/src/reference/syntax/keywords.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__keywords__identifiers-&-keywords__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__keywords__identifiers-&-keywords__1.snap
Due: none

docs: Add docs on `this` & `that` (#3148)
  web/book/src/reference/syntax/keywords.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__keywords__identifiers-&-keywords__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__keywords__identifiers-&-keywords__1.snap
Due: none

docs: Add docs on `this.time`
  web/book/src/reference/syntax/keywords.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__keywords__identifiers-&-keywords__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__keywords__identifiers-&-keywords__3.snap
Due: none

tweak: Add notes on CI pipeline
  .github/workflows/pull-request.yaml
Due: none

devops: Move `clippy` to manual pre-commit
  .pre-commit-config.yaml
Due: none

docs: Add docs on `this.time` (#3152)
  web/book/src/reference/syntax/keywords.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__keywords__identifiers-&-keywords__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__keywords__identifiers-&-keywords__3.snap
Due: none

tweak: Add notes on CI pipeline (#3153)
  .github/workflows/pull-request.yaml
Due: none

devops: Move `clippy` to manual pre-commit (#3154)
  .pre-commit-config.yaml
Due: none

chore: Backport #3148 to `web` (#3155)
  web/book/src/reference/syntax/keywords.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__keywords__identifiers-&-keywords__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__keywords__identifiers-&-keywords__1.snap
Due: none

chore: Backport #3152 to `web` (#3156)
  web/book/src/reference/syntax/keywords.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__keywords__identifiers-&-keywords__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__keywords__identifiers-&-keywords__3.snap
Due: none

ci: Disable duckdb tests while caching has issues
  .github/workflows/pull-request.yaml
  .github/workflows/test-all.yaml
  .github/workflows/test-rust.yaml
Due: none

handle caches
  .github/actions/build-prqlc/action.yaml
  .github/workflows/test-rust.yaml
Due: none

prqlc cache coherence
  .github/workflows/pull-request.yaml
Due: none

ci: Disable duckdb tests while caching has issues (#3157)
  .github/actions/build-prqlc/action.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/test-all.yaml
  .github/workflows/test-rust.yaml
Due: none

build: Disable empty crate tests
  crates/prql-ast/Cargo.toml
  crates/prql-compiler/examples/compile-files/Cargo.toml
  crates/prql-parser/Cargo.toml
Due: none

ci: Confirm features are being passed through correctly
  .github/workflows/test-rust.yaml
Due: none

ci: Confirm features are being passed through correctly (#3159)
  .github/workflows/test-all.yaml
  .github/workflows/test-rust.yaml
Due: none

build: Disable empty crate tests (#3158)
  crates/prql-ast/Cargo.toml
  crates/prql-compiler/examples/compile-files/Cargo.toml
  crates/prql-parser/Cargo.toml
Due: none

test: Raise on errors in `prql-lib` tests
  bindings/prql-lib/examples/minimal-c/main.c
Due: none

test: prql-lib test runs on MacOS
  bindings/prql-lib/examples/minimal-c/Makefile
Due: none

test: prql-lib test runs on MacOS (#3162)
  bindings/prql-lib/examples/minimal-c/Makefile
Due: none

refactor: Should `prql-lib` use `char`?
  bindings/prql-lib/libprql_lib.h
Due: none

devops: Move PHP build to Taskfile
  .github/workflows/test-php.yaml
  Taskfile.yml
  bindings/prql-php/README.md
Due: none

devops: Move PHP build to Taskfile (#3164)
  .github/workflows/test-php.yaml
  Taskfile.yml
  bindings/prql-php/README.md
  bindings/prql-php/build.sh
Due: none

chore: Remove ignored test
  crates/prqlc/src/cli.rs
Due: no-dbg

chore: Remove ignored test (#3165)
  crates/prqlc/src/cli.rs
Due: no-dbg

refactor!: rename rq::Query to RelationalQuery
  crates/prql-compiler/src/ir/pl/mod.rs
  crates/prql-compiler/src/ir/rq/fold.rs
  crates/prql-compiler/src/ir/rq/mod.rs
  crates/prql-compiler/src/lib.rs
  crates/prql-compiler/src/semantic/lowering.rs
  crates/prql-compiler/src/semantic/mod.rs
  crates/prql-compiler/src/sql/gen_query.rs
  crates/prql-compiler/src/sql/mod.rs
  crates/prql-compiler/src/sql/srq/context.rs
  crates/prql-compiler/src/sql/srq/gen_query.rs
  crates/prql-compiler/src/utils/id_gen.rs
Due: no-dbg

refactor!: rename semantic::Context to RootModule
  crates/prql-compiler/src/semantic/context.rs
  crates/prql-compiler/src/semantic/lowering.rs
  crates/prql-compiler/src/semantic/mod.rs
  crates/prql-compiler/src/semantic/reporting.rs
  crates/prql-compiler/src/semantic/resolver/context_impl.rs
  crates/prql-compiler/src/semantic/resolver/mod.rs
  crates/prql-compiler/src/semantic/resolver/transforms.rs
Due: no-dbg

refactor: move RootModule to new submodule
  crates/prql-compiler/src/semantic/context.rs
  crates/prql-compiler/src/semantic/lowering.rs
  crates/prql-compiler/src/semantic/mod.rs
  crates/prql-compiler/src/semantic/resolver/mod.rs
  crates/prql-compiler/src/semantic/root_module.rs
Due: no-dbg

refactor: rename semantic::context module to semantic::decl
  crates/prql-compiler/src/semantic/decl.rs
  crates/prql-compiler/src/semantic/lowering.rs
  crates/prql-compiler/src/semantic/mod.rs
  crates/prql-compiler/src/semantic/module.rs
  crates/prql-compiler/src/semantic/reporting.rs
  crates/prql-compiler/src/semantic/resolver/context_impl.rs
  crates/prql-compiler/src/semantic/resolver/mod.rs
  crates/prql-compiler/src/semantic/resolver/transforms.rs
  crates/prql-compiler/src/semantic/root_module.rs
Due: no-dbg

refactor: rename context_impl to root_module_impl
  crates/prql-compiler/src/semantic/resolver/mod.rs
  crates/prql-compiler/src/semantic/resolver/root_module_impl.rs
Due: no-dbg
