Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, prql-codeblock

lychee:
  name: lychee (local links only)
  entry: lychee
  language: rust
  additional_dependencies:
  - cli:lychee:0.20.1
  args:
  - --no-progress
  - --include=^(https://(github\.com/(PRQL|prql)|prql-lang\.org|raw\.githubusercontent\.com/(PRQL|prql))|file://)

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

docs: fix backtick markup, duplicate timestamp bullet and missing preposition (#6183)
  grammars/GtkSourceView/README.md
  grammars/KSyntaxHighlighting/README.md
  web/book/src/reference/data/read-files.md
  web/book/src/reference/syntax/literals.md
Due: lychee

test: add lezer coverage for `>`, `<` and `in` comparison operators
  grammars/prql-lezer/test/operators.txt
Due: none

test: replace stale commented-out assertion with a group-by-expression test
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

internal: correct two stale comments in nextest config and parser tests
  .config/nextest.toml
  prqlc/prqlc-parser/src/parser/stmt.rs
Due: no-dbg

internal: say 'process' rather than 'compile' in query test comment
  .config/nextest.toml
Due: none

internal: order nextest query overrides specific-first
  .config/nextest.toml
Due: none

test: replace stale commented-out assertion with a group-by-expression test (#6186)
  prqlc/prqlc/tests/integration/sql.rs
Due: no-dbg

test: add lezer coverage for `>`, `<` and `in` comparison operators (#6185)
  grammars/prql-lezer/test/operators.txt
Due: none

fix: don't panic the LSP server on malformed client input (#6173)
  .github/workflows/tests.yaml
  prqlc/prqlc/src/cli/lsp.rs
  prqlc/prqlc/src/cli/test.rs
Due: no-dbg

ci: run the raku grammar tests (#6175)
  .github/workflows/tests.yaml
Due: none

internal: stop re-polling QUEUED checks during the Dependabot batch (#6141)
  .claude/skills/running-tend/SKILL.md
Due: lychee

docs: name the six snapshot kinds in the tests CLAUDE.md
  prqlc/prqlc/tests/CLAUDE.md
Due: lychee

internal: remove dead code from the SQL backend
  prqlc/prqlc/src/sql/dialect.rs
  prqlc/prqlc/src/sql/gen_query.rs
Due: no-dbg

chore: update tend workflows (0.1.14 → 0.1.15)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

internal: cite the PR number in the recursive-CTE pointer
  prqlc/prqlc/src/sql/gen_query.rs
Due: no-dbg

chore: update tend workflows (0.1.14 → 0.1.15) (#6191)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

internal: correct two stale comments in nextest config and parser tests (#6187)
  .config/nextest.toml
  prqlc/prqlc-parser/src/parser/stmt.rs
Due: no-dbg

docs: name the six snapshot kinds in the tests CLAUDE.md (#6189)
  prqlc/prqlc/tests/CLAUDE.md
Due: lychee

internal: remove dead code from the SQL backend (#6190)
  prqlc/prqlc/src/sql/dialect.rs
  prqlc/prqlc/src/sql/gen_query.rs
Due: no-dbg

chore: update tend workflows (0.1.15 → 0.1.16)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

ci: fail the rpm build on an unhandled matrix arch
  .github/workflows/release.yaml
Due: none

chore: update tend workflows (0.1.15 → 0.1.16) (#6192)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

chore: update tend workflows (0.1.16 → 0.1.17)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

docs: fix type-mismatched `case` default in the book
  web/book/src/reference/syntax/case.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__case__1.snap
Due: lychee

docs: drop the error-class claim from the case type note
  web/book/src/reference/syntax/case.md
Due: lychee

ci: let Dependabot scan the tend-setup and build-js composite actions (#6177)
  .github/actions/tend-setup/action.yaml
  .github/dependabot.yaml
Due: none

ci: fail the rpm build on an unhandled matrix arch (#6193)
  .github/workflows/release.yaml
Due: none

chore: update tend workflows (0.1.16 → 0.1.17) (#6194)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

docs: fix type-mismatched `case` default in the book (#6195)
  web/book/src/reference/syntax/case.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__case__1.snap
Due: lychee

chore: hold mdBook at 0.5.2 to keep the 1.81.0 MSRV
  Cargo.lock
Due: none

chore: update tend workflows (0.1.17 → 0.1.18)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

test: assert `fmt` is idempotent in the integration queries
  prqlc/prqlc/tests/integration/queries.rs
Due: no-dbg

fix: quote declaration names in `fmt` when they need backticks
  prqlc/prqlc/src/codegen/ast.rs
  prqlc/prqlc/src/codegen/types.rs
Due: no-dbg

docs: fix stale book build path and a typo in .gitattributes
  .gitattributes
  web/book/README.md
Due: lychee

fix: quote named-argument names in `fmt` too
  prqlc/prqlc/src/codegen/ast.rs
Due: no-dbg

docs: fix the `prqlc` CLI examples in CLAUDE.md
  CLAUDE.md
Due: lychee

docs: point the CLAUDE.md file example at a checked-in query
  CLAUDE.md
Due: lychee

chore: update tend workflows (0.1.17 → 0.1.18) (#6198)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

test: assert `fmt` is idempotent in the integration queries (#6199)
  prqlc/prqlc/tests/integration/queries.rs
Due: no-dbg

docs: fix stale references and broken CLI examples in contributor docs (#6201)
  .gitattributes
  CLAUDE.md
  web/book/README.md
Due: lychee

Path conditions:
  lychee: any of: \.(md|rst)$, but not: ^web/website/themes/
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
