Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html|head.hbs)'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in some snapshots we expect trailing spaces.
        exclude: '.*\.(rs|snap)$'
  - repo: https://github.com/crate-ci/typos
    rev: v1
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          # TODO: This doesn't seem to work, would be great to fix.
          # https://github.com/PRQL/prql/issues/3078
          - prettier-plugin-go-template
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.5
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: clippy
        stages: [manual]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint
  # Link checker using local hooks with language: rust
  # Pre-commit will automatically install lychee via cargo
  - repo: local
    hooks:
      - id: lychee
        name: lychee (local links only)
        entry: lychee
        language: rust
        additional_dependencies: ["cli:lychee:0.20.1"]
        files: \.(md|rst)$
        exclude: ^web/website/themes/
        args:
          - --no-progress
          # For PRs: whitelist PRQL domains and local files only
          # Pattern matches:
          #   - github.com/PRQL/* and github.com/prql/*
          #   - prql-lang.org/*
          #   - raw.githubusercontent.com/PRQL/* and raw.githubusercontent.com/prql/*
          #   - file://* (local/relative links)
          # All other external links are skipped for faster PR checks
          - --include=^(https://(github\.com/(PRQL|prql)|prql-lang\.org|raw\.githubusercontent\.com/(PRQL|prql))|file://)
      - id: lychee-all
        name: lychee-all (all links)
        entry: lychee
        language: rust
        additional_dependencies: ["cli:lychee:0.20.1"]
        stages: [manual]
        files: \.(md|rst)$
        exclude: ^web/website/themes/
        args: ["--config=.config/lychee.toml", "--no-progress"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote

ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, lychee, lychee-all]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

docs: scope the toolchain-bump clippy claim to the unit checked
  .claude/skills/running-tend/SKILL.md
Due: lychee

build: Update rust toolchain version (#6219)
  prqlc/prqlc/src/error_message.rs
  prqlc/prqlc/src/semantic/resolver/names.rs
  prqlc/prqlc/src/sql/pq/postprocess.rs
  prqlc/prqlc/tests/integration/dbs/runner.rs
  rust-toolchain.toml
Due: no-dbg

fix: preserve the `:format` suffix on interpolations in `fmt` (#6218)
  prqlc/prqlc/src/codegen/ast.rs
Due: no-dbg

docs: note the feature set to verify a toolchain bump against (#6220)
  .claude/skills/running-tend/SKILL.md
Due: lychee

fix: report the missing `lsp` feature instead of panicking
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/cli/test.rs
Due: no-dbg

docs: add changelog entry for the `lsp` feature fix
  CHANGELOG.md
Due: lychee, prql-codeblock

fix: return an error instead of panicking on an empty ident path
  prqlc/prqlc-parser/src/parser/pr/ident.rs
Due: no-dbg

ci: stop pinning an unused rust toolchain in the snap build
  prqlc/packages/snap/snapcraft.yaml
Due: none

ci: say `--default-toolchain none` in the comment, not "no flag"
  prqlc/packages/snap/snapcraft.yaml
Due: none

docs: add changelog entry for the empty ident path fix
  CHANGELOG.md
Due: lychee, prql-codeblock

build: require Python 3.10 for the prqlc Python package
  CHANGELOG.md
  prqlc/bindings/prqlc-python/pyproject.toml
  prqlc/bindings/prqlc-python/uv.lock
Due: lychee, prql-codeblock

chore: bump pinned `go-task/setup-task` to 3.53.1
  .github/actions/tend-setup/action.yaml
  .github/workflows/build-web.yaml
  .github/workflows/test-php.yaml
  .github/workflows/test-prqlc-c.yaml
Due: none

chore: bump go-task/setup-task pinned version 3.52.0 → 3.53.1 (#6226)
  .github/actions/tend-setup/action.yaml
  .github/workflows/build-web.yaml
  .github/workflows/test-php.yaml
  .github/workflows/test-prqlc-c.yaml
Due: none

build: require Python 3.10 for the prqlc Python package (#6225)
  CHANGELOG.md
  prqlc/bindings/prqlc-python/pyproject.toml
  prqlc/bindings/prqlc-python/uv.lock
Due: lychee, prql-codeblock

ci: stop pinning an unused rust toolchain in the snap build (#6224)
  prqlc/packages/snap/snapcraft.yaml
Due: none

fix: return an error instead of panicking on an empty ident path (#6223)
  CHANGELOG.md
  prqlc/prqlc-parser/src/parser/pr/ident.rs
Due: lychee, no-dbg, prql-codeblock

ci: dump database container logs when the DB wait times out (#6217)
  .github/workflows/test-rust.yaml
Due: none

ci: pin the mssql test container to the 2022 line
  prqlc/prqlc/tests/integration/dbs/docker-compose.yaml
Due: none

ci: point the mssql comment at the open upstream issue
  prqlc/prqlc/tests/integration/dbs/docker-compose.yaml
Due: none

fix: report the missing `lsp` feature instead of panicking (#6221)
  CHANGELOG.md
  prqlc/prqlc/src/cli/mod.rs
  prqlc/prqlc/src/cli/test.rs
Due: lychee, no-dbg, prql-codeblock

ci: pin the mssql test container to the 2022 line (#6227)
  prqlc/prqlc/tests/integration/dbs/docker-compose.yaml
Due: none

fix: preserve whitespace around `..` in `prqlc highlight`
  prqlc/prqlc/src/cli/highlight.rs
Due: no-dbg

fix: split surplus range whitespace evenly
  prqlc/prqlc/src/cli/highlight.rs
Due: no-dbg

docs: add changelog entry and pin the re-split range case
  CHANGELOG.md
  prqlc/prqlc/src/cli/highlight.rs
Due: lychee, no-dbg, prql-codeblock

fix: preserve whitespace around `..` in `prqlc highlight` (#6232)
  CHANGELOG.md
  prqlc/prqlc/src/cli/highlight.rs
Due: lychee, no-dbg, prql-codeblock

refine: remove no-op `reportWebVitals` from playground
  CHANGELOG.md
  web/playground/package-lock.json
  web/playground/package.json
  web/playground/src/main.jsx
  web/playground/src/reportWebVitals.js
Due: lychee, prql-codeblock

docs: fix "works at expected" typo in the operators page
  web/book/src/reference/syntax/operators.md
Due: lychee

docs: note that cargo-insta and cargo-nextest are unreachable from tend sessions
  .claude/skills/running-tend/SKILL.md
Due: lychee

docs: recommend the PATH prepend rather than calling the tools unreachable
  .claude/skills/running-tend/SKILL.md
Due: lychee

docs: scope the export's claim to prqlc:test and flag --accept's false green
  .claude/skills/running-tend/SKILL.md
Due: lychee

docs: name the runnable remainder of prqlc:pull-request
  .claude/skills/running-tend/SKILL.md
Due: lychee

refine: remove no-op `reportWebVitals` from playground (#6233)
  CHANGELOG.md
  web/playground/package-lock.json
  web/playground/package.json
  web/playground/src/main.jsx
  web/playground/src/reportWebVitals.js
Due: lychee, prql-codeblock

docs: fix "works at expected" typo in the operators page (#6234)
  web/book/src/reference/syntax/operators.md
Due: lychee

chore: update tend workflows (0.1.18 → 0.1.19)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

fix: report an error for an unknown target in the JS binding
  CHANGELOG.md
  prqlc/bindings/js/src/lib.rs
  prqlc/bindings/js/tests/test_all.mjs
Due: lychee, no-dbg, prql-codeblock

fix: use a target the typos hook doesn't rewrite
  CHANGELOG.md
  prqlc/bindings/js/src/lib.rs
  prqlc/bindings/js/tests/test_all.mjs
Due: lychee, no-dbg, prql-codeblock

docs: correct stale directory paths in the php and website READMEs
  prqlc/bindings/php/README.md
  web/website/README.md
Due: lychee

docs: correct stale directory paths in the php and website READMEs (#6239)
  prqlc/bindings/php/README.md
  web/website/README.md
Due: lychee
