Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, prql-codeblock

lychee:
  name: lychee (local links only)
  entry: lychee
  language: rust
  additional_dependencies:
  - cli:lychee:0.20.1
  args:
  - --no-progress
  - --include=^(https://(github\.com/(PRQL|prql)|prql-lang\.org|raw\.githubusercontent\.com/(PRQL|prql))|file://)

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

docs: add the changelog entry for the `$` quoting fix
  CHANGELOG.md
Due: lychee, prql-codeblock

fix: keep backticks on names containing `$` in `fmt` (#6322)
  CHANGELOG.md
  prqlc/prqlc/src/codegen/ast.rs
Due: lychee, no-dbg, prql-codeblock

fix: keep watching when a file in the tree fails to compile (#6313)
  CHANGELOG.md
  prqlc/prqlc/src/cli/watch.rs
Due: lychee, no-dbg, prql-codeblock

devops: scope the `-diff` gitattribute to the minified highlight.js (#6323)
  .gitattributes
Due: none

chore: update tend workflows (0.2.7 → 0.2.8)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention-relay.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

refine: share one fold function across the binary-operator precedence levels
  prqlc/prqlc-parser/src/parser/expr.rs
Due: no-dbg

chore: update tend workflows (0.2.7 → 0.2.8) (#6324)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention-relay.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

refine: share one fold function across the binary-operator precedence levels (#6325)
  prqlc/prqlc-parser/src/parser/expr.rs
Due: no-dbg

fix: keep the column order of a table s-string rather than sorting it (#6297)
  CHANGELOG.md
  prqlc/prqlc/src/semantic/lowering.rs
  prqlc/prqlc/tests/integration/sql.rs
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__s-strings__3.snap
Due: lychee, no-dbg, prql-codeblock

devops: run the book's tests in task prqlc:test-all
  CLAUDE.md
  prqlc/Taskfile.yaml
  web/book/src/project/contributing/development.md
Due: lychee

chore: update tend workflows (0.2.8 → 0.2.9)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention-relay.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

fix: escape HTML in generated documentation
  prqlc/prqlc/src/cli/docs_generator.rs
Due: no-dbg

test: cover quote escaping in the doc generator
  prqlc/prqlc/src/cli/docs_generator.rs
Due: no-dbg

test: cover name escaping and add changelog entry
  CHANGELOG.md
  prqlc/prqlc/src/cli/docs_generator.rs
Due: lychee, no-dbg, prql-codeblock

test: cover the named-parameters branch of the doc generator
  prqlc/prqlc/src/cli/docs_generator.rs
Due: no-dbg

docs: correct the `main` equivalence example for a pipeline
  web/book/src/reference/declarations/variables.md
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__variables__variables--__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__variables__variables--__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__variables__variables--__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__variables__variables--__3.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__variables__variables--__4.snap
Due: lychee

chore: update tend workflows (0.2.8 → 0.2.9) (#6326)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention-relay.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

docs: correct the `main` equivalence example for a pipeline (#6328)
  web/book/src/reference/declarations/variables.md
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__variables__variables--__0.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__variables__variables--__1.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__variables__variables--__2.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__variables__variables--__3.snap
  web/book/tests/documentation/snapshots/documentation__book__reference__declarations__variables__variables--__4.snap
Due: lychee

devops: run the book's tests in task prqlc:test-all (#6298)
  prqlc/Taskfile.yaml
  web/book/src/project/contributing/development.md
Due: lychee

refactor: share one `escape_html` between the doc generator and the debug renderer
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/src/debug/render_html.rs
  prqlc/prqlc/src/utils/mod.rs
Due: no-dbg

chore: record the CHANGELOG convention in the running-tend skill
  .claude/skills/running-tend/SKILL.md
Due: lychee

fix: escape HTML in the debug log page
  CHANGELOG.md
  prqlc/prqlc/src/debug/render_html.rs
Due: lychee, no-dbg, prql-codeblock

chore: move the CHANGELOG convention to CLAUDE.md
  .claude/skills/running-tend/SKILL.md
  CLAUDE.md
Due: lychee

fix: escape JSON object keys in the debug log page
  CHANGELOG.md
  prqlc/prqlc/src/debug/render_html.rs
Due: lychee, no-dbg, prql-codeblock

test: pin the escaping of declaration names in the debug page
  prqlc/prqlc/src/debug/render_html.rs
Due: no-dbg

fix: escape HTML in the pages prqlc generates (#6327)
  CHANGELOG.md
  prqlc/prqlc/src/cli/docs_generator.rs
  prqlc/prqlc/src/debug/render_html.rs
  prqlc/prqlc/src/utils/mod.rs
Due: lychee, no-dbg, prql-codeblock

chore: record the CHANGELOG convention in CLAUDE.md (#6329)
  CLAUDE.md
Due: lychee

chore: update tend workflows (0.2.9 → 0.2.10)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention-relay.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

chore: update tend workflows (0.2.9 → 0.2.10) (#6330)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention-relay.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

ci: upload release artifacts to a draft, then publish it
  .github/workflows/release.yaml
  web/book/src/project/contributing/development.md
Due: lychee

ci: refuse an already-published release, and gate the registries on the draft
  .github/workflows/release.yaml
Due: none

docs: the changelog heading carries the date too
  web/book/src/project/contributing/development.md
Due: lychee

ci: name recoveries that actually work in create-draft's errors
  .github/workflows/release.yaml
Due: none

ci: give the changelog error a route that needs no admin
  .github/workflows/release.yaml
Due: none

ci: upload release artifacts to a draft, then publish it (#6332)
  .github/workflows/release.yaml
  web/book/src/project/contributing/development.md
Due: lychee

docs: document `date.trunc`'s dialect forms and SQLite limitation
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/reference/stdlib/date.md
Due: lychee, no-dbg

docs: note that `date.trunc`'s unit must be a string literal
  prqlc/prqlc/tests/integration/sql.rs
  web/book/src/reference/stdlib/date.md
Due: lychee, no-dbg

ci: install pre-commit into the tend sandbox
  .config/tend.yaml
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

ci: warm the pinned rust toolchain in sandbox_setup
  .config/tend.yaml
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

skills(running-tend): give `task lint` a 10-minute timeout
  .claude/skills/running-tend/SKILL.md
Due: lychee

Path conditions:
  lychee: any of: \.(md|rst)$, but not: ^web/website/themes/
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
