Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html)'
      - id: check-yaml
      - id: mixed-line-ending
  - repo: https://github.com/crate-ci/typos
    rev: v1.14.8
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          - prettier-plugin-go-template
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.262
    hooks:
      - id: ruff
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
      - id: clippy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.2.0
    hooks:
      - id: mypy
        additional_dependencies: ["types-PyYAML==6.0.12.4"]
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.11.1
    hooks:
      - id: markdown-link-check
        files: \.md$
        args: ["--config=.github/.markdown-link-check.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        # A regex searching sql files for either `prj-` or 'tgs-'.
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote
ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, clippy, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

chore: Remove completed TODO (#2596)
  prql-compiler/prqlc/src/cli.rs
Due: no-dbg

docs: Add docs for `into`
  web/book/src/queries/variables.md
  web/book/tests/snapshots/snapshot__queries__variables-2.snap
Due: none

internal: Some cleanups from #2575
  prql-compiler/src/ast/pl/expr.rs
  prql-compiler/src/ast/pl/fold.rs
  prql-compiler/src/ast/pl/stmt.rs
  prql-compiler/src/parser/expr.rs
  prql-compiler/src/parser/lexer.rs
  prql-compiler/src/semantic/resolver.rs
  web/website/content/posts/2023-01-27-prql-query.md
  web/website/content/posts/2023-01-28-format-pretty-reports/_index.md
  web/website/content/posts/2023-02-02-one-year/_index.md
  web/website/content/posts/2023-03-14-pi-day.md
Due: no-dbg

ci(prql-python): add linux arm64 wheel and source wheel builds (#2582)
  .github/actions/build-prql-python/action.yaml
  .github/workflows/release.yaml
  .github/workflows/test-python.yaml
Due: none

Apply suggestions from code review
  prql-compiler/prqlc/README.md
Due: none

docs: move cli from bindings to integrations
  web/book/src/SUMMARY.md
  web/book/src/integrations/cli.md
Due: none

docs: fix memo of local installation
  prql-compiler/prqlc/README.md
Due: none

docs: use the csv in the repo
  prql-compiler/prqlc/README.md
Due: none

fix(prqlc): allow `prqlc compile | duckdb` (#2594)
  prql-compiler/prqlc/README.md
  prql-compiler/prqlc/src/cli.rs
  web/book/src/SUMMARY.md
  web/book/src/integrations/cli.md
Due: no-dbg

docs: website last updated at
  web/website/config.yml
  web/website/themes/prql-theme/layouts/_default/article.html
Due: none

docs: Add docs for `into` (#2597)
  web/book/src/queries/variables.md
  web/book/tests/snapshots/snapshot__queries__variables-2.snap
Due: none

fix(prqlc): Slightly better prompt
  prql-compiler/prqlc/src/cli.rs
Due: no-dbg

docs: website last updated at (#2600)
  web/website/config.yml
  web/website/themes/prql-theme/layouts/_default/article.html
Due: none

internal: Some cleanups from #2575 (#2598)
  prql-compiler/src/ast/pl/expr.rs
  prql-compiler/src/ast/pl/fold.rs
  prql-compiler/src/ast/pl/stmt.rs
  prql-compiler/src/parser/expr.rs
  prql-compiler/src/parser/lexer.rs
  prql-compiler/src/semantic/resolver.rs
  web/website/content/posts/2023-01-27-prql-query.md
  web/website/content/posts/2023-01-28-format-pretty-reports/_index.md
  web/website/content/posts/2023-02-02-one-year/_index.md
  web/website/content/posts/2023-03-14-pi-day.md
Due: no-dbg

test: Integration test failures easier to understand
  bacon.toml
  prql-compiler/tests/integration/main.rs
  prql-compiler/tests/integration/snapshots/integration__rdbms@loop.prql.snap
  prql-compiler/tests/integration/snapshots/integration__rdbms@set_ops_remove.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@cast.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@distinct.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@genre_counts.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@group_all.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@group_sort.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@invoice_totals.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@loop.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@pipelines.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@set_ops_remove.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@sort.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@switch.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@cast.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@distinct.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@genre_counts.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@group_all.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@group_sort.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@invoice_totals.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@loop.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@pipelines.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@set_ops_remove.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@sort.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@switch.prql.snap
Due: no-dbg

test: Integration test failures easier to understand (#2604)
  bacon.toml
  prql-compiler/tests/integration/main.rs
  prql-compiler/tests/integration/snapshots/integration__rdbms@loop.prql.snap
  prql-compiler/tests/integration/snapshots/integration__rdbms@set_ops_remove.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@cast.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@distinct.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@genre_counts.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@group_all.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@group_sort.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@invoice_totals.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@loop.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@pipelines.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@set_ops_remove.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@sort.prql.snap
  prql-compiler/tests/integration/snapshots/integration__results@switch.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@cast.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@distinct.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@genre_counts.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@group_all.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@group_sort.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@invoice_totals.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@loop.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@pipelines.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@set_ops_remove.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@sort.prql.snap
  prql-compiler/tests/integration/snapshots/integration__sql@switch.prql.snap
Due: no-dbg

fix(prqlc): Slightly better prompt (#2603)
  prql-compiler/prqlc/src/cli.rs
Due: no-dbg

docs: Add docs for "literal tables"
  web/book/src/SUMMARY.md
  web/book/src/language-features/literal-tables.md
  web/book/src/language-features/standard-library/from_text.md
  web/book/src/language-features/standard-library/reading-files.md
  web/book/tests/snapshots/snapshot__language-features__literal-tables-0.snap
  web/book/tests/snapshots/snapshot__language-features__literal-tables-1.snap
  web/book/tests/snapshots/snapshot__language-features__literal-tables-2.snap
  web/book/tests/snapshots/snapshot__language-features__literal-tables-3.snap
  web/book/tests/snapshots/snapshot__language-features__literal-tables-4.snap
Due: none

.
  web/book/src/SUMMARY.md
  web/book/src/language-features/relation-literals.md
  web/book/src/language-features/standard-library/reading-files.md
Due: none

.
  web/book/tests/snapshots/snapshot__language-features__relation-literals-0.snap
  web/book/tests/snapshots/snapshot__language-features__relation-literals-1.snap
  web/book/tests/snapshots/snapshot__language-features__relation-literals-2.snap
  web/book/tests/snapshots/snapshot__language-features__relation-literals-3.snap
  web/book/tests/snapshots/snapshot__language-features__relation-literals-4.snap
Due: none

chore: typo in workflow name
  .github/workflows/lint-megalinter.yaml
Due: none

chore: typo in workflow name (#2606)
  .github/workflows/lint-megalinter.yaml
Due: none

feat: Allow regex operators
  CHANGELOG.md
  prql-compiler/src/sql/dialect.rs
  prql-compiler/src/tests/test_error_messages.rs
  web/book/src/language-features/regex.md
  web/book/tests/snapshots/snapshot__language-features__regex-3.snap
  web/book/tests/snapshots/snapshot__language-features__regex-4.snap
  web/book/tests/snapshots/snapshot__language-features__regex-5.snap
Due: no-dbg, prql-codeblock

test: Assert failures fail
  web/book/src/language-features/target.md
  web/book/src/syntax/expressions-and-operators.md
  web/book/tests/snapshot.rs
  web/book/tests/snapshots/snapshot__syntax__expressions-and-operators-2.snap
  web/book/tests/snapshots/snapshot__syntax__expressions-and-operators-3.snap
Due: no-dbg

internal: Remove BQ special-case
  prql-compiler/src/sql/dialect.rs
  prql-compiler/src/sql/gen_expr.rs
  web/book/src/syntax/quoted-identifiers.md
Due: no-dbg

Update web/book/src/language-features/relation-literals.md
  web/book/src/language-features/relation-literals.md
Due: none

chore: Add comment re testing book snapshots
  web/book/tests/snapshot.rs
Due: no-dbg

chore: Add comment re testing book snapshots (#2610)
  web/book/tests/snapshot.rs
Due: no-dbg

feat(prqlc): add `prqlc shell-completion` to generate shell completions
  Cargo.lock
  prql-compiler/prqlc/Cargo.toml
  prql-compiler/prqlc/README.md
  prql-compiler/prqlc/src/cli.rs
  prql-compiler/prqlc/tests/test.rs
Due: no-dbg

Proposed CHANGELOG with one-line entries
  CHANGELOG.md
Due: prql-codeblock

tests for python
  bindings/prql-python/README.md
  bindings/prql-python/python/tests/test_all.py
  web/website/content/_index.md
Due: none

Update prql-compiler/examples/compile-files/queries/variables.prql
  prql-compiler/examples/compile-files/queries/variables.prql
Due: none

fix js tests
  bindings/prql-js/tests/test_all.js
Due: none

internal: Remove BQ special-case (#2609)
  prql-compiler/src/sql/dialect.rs
  prql-compiler/src/sql/gen_expr.rs
  web/book/src/syntax/quoted-identifiers.md
Due: no-dbg

feat: Enable regex as operator (#2607)
  CHANGELOG.md
  prql-compiler/src/sql/dialect.rs
  prql-compiler/src/tests/test_error_messages.rs
  web/book/src/language-features/regex.md
  web/book/tests/snapshots/snapshot__language-features__regex-3.snap
  web/book/tests/snapshots/snapshot__language-features__regex-4.snap
  web/book/tests/snapshots/snapshot__language-features__regex-5.snap
Due: no-dbg, prql-codeblock

test php
  bindings/prql-php/tests/CompilerTest.php
Due: none

docs(prqlc): installation tweak
  prql-compiler/prqlc/README.md
Due: none
