Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '(.*\.snap|.*render-link.html)'
      - id: check-yaml
      - id: mixed-line-ending
  - repo: https://github.com/crate-ci/typos
    rev: v1.14.8
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          - prettier-plugin-go-template
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.262
    hooks:
      - id: ruff
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
      - id: clippy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.2.0
    hooks:
      - id: mypy
        additional_dependencies: ["types-PyYAML==6.0.12.4"]
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.11.1
    hooks:
      - id: markdown-link-check
        files: \.md$
        args: ["--config=.github/.markdown-link-check.json"]
  - repo: local
    hooks:
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        # A regex searching sql files for either `prj-` or 'tgs-'.
        entry: "dbg!"
  - repo: local
    hooks:
      - id: prql-codeblock
        name: Prevent prql codeblocks evaluating in book
        description:
          prql code blocks are evaluated and replaced in the book; instead use
          `prql no-eval`
        language: pygrep
        entry: "```prql$"
        files: 'CHANGELOG\.md$'

  # This is quite strict, and doesn't fix a large enough share of the issues it
  # finds, so we don't include it. But it's reasonable to run every now & again
  # manually and take its fixes.
  #
  # - repo: https://github.com/DavidAnson/markdownlint-cli2
  #   rev: v0.5.1
  #   hooks:
  #     - id: markdownlint-cli2
  #       args: ["--fix"]
  #       additional_dependencies:
  #         - markdown-it-footnote
ci:
  # Currently network access isn't supported in the CI product.
  skip: [fmt, clippy, markdown-link-check]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

tweak: Readme typo (#2867)
  bindings/prql-elixir/README.md
Due: none

fix: rename list -> tuple
  grammars/prql-lezer/src/prql.grammar
Due: none

fix: [] -> {} for tuple
  grammars/prql-lezer/src/prql.grammar
Due: none

chore: add todo about array syntax
  grammars/prql-lezer/src/prql.grammar
Due: none

fix: update func def
  grammars/prql-lezer/src/prql.grammar
Due: none

fix: add `//`
  grammars/prql-lezer/src/prql.grammar
Due: none

docs: Add docs for Lezer development
  grammars/prql-lezer/README.md
Due: none

fix: and -> &&, or -> ||
  web/book/highlight-prql.js
Due: none

fix: no longer use `func` for keyword
  web/book/highlight-prql.js
Due: none

chore: also update website side
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: none

docs: Add docs for Lezer development (#2869)
  grammars/prql-lezer/README.md
Due: none

chore: todo
  grammars/prql-lezer/src/prql.grammar
Due: none

fix(grammars/handlebars): update syntax for 0.9.0 (#2871)
  web/book/highlight-prql.js
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: none

fix(grammars/lezer): update syntax for 0.9.0 (#2868)
  grammars/prql-lezer/src/prql.grammar
Due: none

docs: Correct line break details in book
  web/book/src/syntax/pipes.md
Due: none

docs(book): relocate target and version section
  web/book/src/language-features/target.md
Due: none

docs(book): fix footnote for sql.generic target (#2873)
  web/book/src/language-features/target.md
Due: none

fix: add `//`
  web/playground/src/workbench/prql-syntax.js
Due: none

fix: remove `func` keyword
  web/playground/src/workbench/prql-syntax.js
Due: none

feat: Add remaining 0.9.0 items for Lezer grammar
  grammars/prql-lezer/src/prql.grammar
Due: none

fix(grammars/monarch): update syntax for 0.9.0 (#2874)
  web/playground/src/workbench/prql-syntax.js
Due: none

feat: Add remaining 0.9.0 items for Lezer grammar (#2875)
  grammars/prql-lezer/src/prql.grammar
Due: none

Add a bad error msg to track list
  prql-compiler/src/tests/test_bad_error_messages.rs
Due: no-dbg

refactor: AST node sizes
  prql-compiler/prqlc/src/cli.rs
  prql-compiler/src/ast/pl/expr.rs
  prql-compiler/src/ast/pl/fold.rs
  prql-compiler/src/ast/pl/mod.rs
  prql-compiler/src/ast/pl/stmt.rs
  prql-compiler/src/error.rs
  prql-compiler/src/lib.rs
  prql-compiler/src/parser/expr.rs
  prql-compiler/src/parser/mod.rs
  prql-compiler/src/parser/stmt.rs
  prql-compiler/src/semantic/lowering.rs
  prql-compiler/src/semantic/resolver.rs
  prql-compiler/src/semantic/transforms.rs
  prql-compiler/src/semantic/type_resolver.rs
Due: no-dbg

fix
  prql-compiler/prqlc/tests/snapshots/test__shell_completion-2.snap
  prql-compiler/prqlc/tests/snapshots/test__shell_completion-3.snap
  prql-compiler/prqlc/tests/snapshots/test__shell_completion-4.snap
  prql-compiler/prqlc/tests/snapshots/test__shell_completion.snap
  prql-compiler/src/parser/mod.rs
  prql-compiler/src/parser/stmt.rs
Due: no-dbg

ci: Improve code coverage action
  .github/.codecov.yml
  .github/workflows/test-all.yaml
  .gitignore
Due: none

fix
  Cargo.lock
  Cargo.toml
  prql-compiler/prqlc/src/cli.rs
Due: no-dbg

devops: `run-playground` task
  Taskfile.yml
Due: none

docs: Correct line break details in book (#2872)
  web/book/src/syntax/pipes.md
  web/book/tests/documentation/snapshots/documentation__book__syntax__pipes__2.snap
Due: none

fix
  prql-compiler/prqlc/src/cli.rs
Due: no-dbg

devops: `run-playground` task (#2880)
  Taskfile.yml
Due: none

build: Replace `wasm-pack`
  Cargo.lock
  bindings/prql-js/Cargo.toml
  bindings/prql-js/build.rs
  bindings/prql-js/src/lib.rs
Due: no-dbg

fix
  prql-compiler/prqlc/tests/snapshots/test__shell_completion-2.snap
  prql-compiler/prqlc/tests/snapshots/test__shell_completion-3.snap
  prql-compiler/prqlc/tests/snapshots/test__shell_completion-4.snap
Due: none

build: Upgrade `wasm-bindgen`
  Cargo.lock
  bindings/prql-js/Cargo.toml
Due: none

build: Upgrade `wasm-bindgen` (#2882)
  Cargo.lock
  bindings/prql-js/Cargo.toml
Due: none

refactor: AST node sizes (#2878)
  Cargo.lock
  Cargo.toml
  prql-compiler/prqlc/src/cli.rs
  prql-compiler/prqlc/tests/snapshots/test__shell_completion-2.snap
  prql-compiler/prqlc/tests/snapshots/test__shell_completion-3.snap
  prql-compiler/prqlc/tests/snapshots/test__shell_completion-4.snap
  prql-compiler/prqlc/tests/snapshots/test__shell_completion.snap
  prql-compiler/src/ast/pl/expr.rs
  prql-compiler/src/ast/pl/fold.rs
  prql-compiler/src/ast/pl/mod.rs
  prql-compiler/src/ast/pl/stmt.rs
  prql-compiler/src/error.rs
  prql-compiler/src/lib.rs
  prql-compiler/src/parser/expr.rs
  prql-compiler/src/parser/mod.rs
  prql-compiler/src/parser/stmt.rs
  prql-compiler/src/semantic/lowering.rs
  prql-compiler/src/semantic/resolver.rs
  prql-compiler/src/semantic/transforms.rs
  prql-compiler/src/semantic/type_resolver.rs
Due: no-dbg

docs(changelog): fix link
  CHANGELOG.md
Due: prql-codeblock

docs(changelog): add some links
  CHANGELOG.md
Due: prql-codeblock

docs(changelog): some minor fixes (#2883)
  CHANGELOG.md
Due: prql-codeblock

ci: prqlc nightly build
  .github/workflows/nightly.yaml
Due: none
