Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

docs: Not everyone is in the northern hemisphere (#3557)
  README.md
Due: none

test: Fix Elixir test
  .github/workflows/pull-request-target.yaml
  bindings/prql-elixir/test/prql_test.exs
Due: none

Update strings.txt
  grammars/prql-lezer/test/strings.txt
Due: none

test(Lezer grammar): Add test for r-strings (#3559)
  grammars/prql-lezer/test/strings.txt
Due: none

test: Fix Elixir test (#3558)
  bindings/prql-elixir/test/prql_test.exs
Due: none

Add time units
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/numbers.txt
Due: none

feat(Lezer grammar): Add time units (#3560)
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/numbers.txt
Due: none

Add highlight.js
  grammars/prql-lezer/package.json
  grammars/prql-lezer/src/highlight.js
  grammars/prql-lezer/src/prql.grammar
Due: none

feat(Lezer grammar): Add highlight.js (#3562)
  grammars/prql-lezer/package.json
  grammars/prql-lezer/src/highlight.js
  grammars/prql-lezer/src/prql.grammar
Due: none

Add Pygments
  grammars/README.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: prql-codeblock

feat(Lezer grammar): Add TypeScript definitions (#3543)
  grammars/prql-lezer/dist/index.d.cts
  grammars/prql-lezer/dist/index.d.ts
  grammars/prql-lezer/package.json
Due: none

feat: Add Pygments to grammar README (#3564)
  CHANGELOG.md
  grammars/README.md
Due: prql-codeblock

build: Bump `wasm-react-scripts`
  web/playground/package-lock.json
  web/playground/package.json
Due: none

build: Bump `wasm-react-scripts` (#3565)
  web/playground/package-lock.json
  web/playground/package.json
Due: none

Add metadata
  web/book/highlight-prql.js
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: none

chore(highlightjs): Add metadata (#3566)
  web/book/highlight-prql.js
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: none

Split out number into Integer and Float
  grammars/prql-lezer/src/highlight.js
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/arithmetics.txt
  grammars/prql-lezer/test/numbers.txt
Due: none

feat: Add hex escape
  crates/prql-parser/src/lexer.rs
  web/book/highlight-prql.js
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: no-dbg

feat(Lezer grammar): Tokens for ints and floats (#3567)
  grammars/prql-lezer/src/highlight.js
  grammars/prql-lezer/src/prql.grammar
  grammars/prql-lezer/test/arithmetics.txt
  grammars/prql-lezer/test/numbers.txt
Due: none

Update lexer.rs
  crates/prql-parser/src/lexer.rs
Due: no-dbg

feat: Add hex escape (#3568)
  CHANGELOG.md
  crates/prql-parser/src/lexer.rs
  web/book/highlight-prql.js
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: no-dbg, prql-codeblock

Add Unicode escape sequence
  web/book/highlight-prql.js
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: none

feat: Long Unicode escape sequence (#3569)
  CHANGELOG.md
  crates/prql-parser/src/lexer.rs
  web/book/highlight-prql.js
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: no-dbg, prql-codeblock

Add hex and long Unicode escape
  web/book/highlight-prql.js
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: none

feat(highlightjs): Add hex and long Unicode escape (#3570)
  web/book/highlight-prql.js
  web/website/themes/prql-theme/static/plugins/highlight/prql.js
Due: none

Add example
  CHANGELOG.md
Due: prql-codeblock

Update strings.md
  web/book/src/reference/syntax/strings.md
Due: none

ci: Revert some of #3551
  .github/workflows/publish-web.yaml
  .github/workflows/pull-request-target.yaml
  .github/workflows/tests.yaml
Due: none

ci: Revert some of #3551 (#3575)
  .github/workflows/publish-web.yaml
  .github/workflows/pull-request-target.yaml
  .github/workflows/tests.yaml
Due: none

ci: Bump cache version
  .github/set_version.sh
Due: none

ci: Bump cache version (#3577)
  .github/set_version.sh
Due: none

Update snapshot test
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__strings__quoting-and-escape-characters__1.snap
Due: none

workaround codegen bug
  web/book/src/reference/syntax/strings.md
Due: none

docs: Example of hex escape sequences and long Unicode escape sequences (#3571)
  CHANGELOG.md
  web/book/src/reference/syntax/strings.md
  web/book/tests/documentation/snapshots/documentation__book__reference__syntax__strings__quoting-and-escape-characters__1.snap
Due: prql-codeblock

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
