Repository PRQL/prql: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-dbg, prql-codeblock

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

prql-codeblock:
  name: Prevent prql codeblocks evaluating in book
  description: prql code blocks are evaluated and replaced in the book; instead use `prql no-eval`
  language: pygrep
  entry: '```prql$'

feat: codegen for module, type and annotations
  prql-compiler/src/codegen.rs
  prql-compiler/tests/integration/snapshots/integration__fmt@genre_counts.prql.snap
  prql-compiler/tests/integration/snapshots/integration__fmt@invoice_totals.prql.snap
  prql-compiler/tests/integration/snapshots/integration__fmt@set_ops_remove.prql.snap
  prql-compiler/tests/integration/snapshots/integration__fmt@window.prql.snap
Due: no-dbg

docs: update changelog (#2948)
  CHANGELOG.md
Due: prql-codeblock

feat: codegen for module, type and annotations (#2949)
  prql-compiler/src/codegen.rs
  prql-compiler/tests/integration/snapshots/integration__fmt@genre_counts.prql.snap
  prql-compiler/tests/integration/snapshots/integration__fmt@invoice_totals.prql.snap
  prql-compiler/tests/integration/snapshots/integration__fmt@set_ops_remove.prql.snap
  prql-compiler/tests/integration/snapshots/integration__fmt@window.prql.snap
Due: no-dbg

fix
  prql-compiler/src/snapshots/prql_compiler__codegen__test__(short).snap
Due: none

feat: improve codegen
  prql-compiler/src/codegen.rs
  prql-compiler/src/snapshots/prql_compiler__codegen__test__(short).snap
  prql-compiler/tests/integration/snapshots/integration__fmt@distinct_on.prql.snap
  prql-compiler/tests/integration/snapshots/integration__fmt@invoice_totals.prql.snap
Due: no-dbg

feat: improve codegen (#2950)
  prql-compiler/src/codegen.rs
  prql-compiler/tests/integration/snapshots/integration__fmt@distinct_on.prql.snap
  prql-compiler/tests/integration/snapshots/integration__fmt@invoice_totals.prql.snap
Due: no-dbg

fix: conflicting names at splits
  prql-compiler/src/semantic/module.rs
  prql-compiler/src/semantic/resolver.rs
  prql-compiler/src/sql/srq/anchor.rs
  prql-compiler/src/tests/test.rs
Due: no-dbg

build: Bump duckdb-rs to 0.8.2
  prql-compiler/Cargo.toml
Due: none

devops: Fix release replace regex
  bindings/prql-js/Cargo.toml
Due: none

devops: Fix release replace regex (#2962)
  bindings/prql-js/Cargo.toml
Due: none

fix
  prql-compiler/src/semantic/module.rs
Due: no-dbg

fix: conflicting names at splits (#2960)
  prql-compiler/src/semantic/module.rs
  prql-compiler/src/semantic/resolver.rs
  prql-compiler/src/sql/srq/anchor.rs
  prql-compiler/src/tests/test.rs
Due: no-dbg

fix: expand set of quoted SQL keywords
  prql-compiler/src/sql/gen_expr.rs
  prql-compiler/src/sql/keywords.rs
  prql-compiler/src/sql/mod.rs
  prql-compiler/src/tests/test.rs
Due: no-dbg

fix
  prql-compiler/src/sql/keywords.rs
Due: no-dbg

fix: expand set of quoted SQL keywords (#2966)
  prql-compiler/src/sql/gen_expr.rs
  prql-compiler/src/sql/keywords.rs
  prql-compiler/src/sql/mod.rs
  prql-compiler/src/tests/test.rs
Due: no-dbg

fix: compile_help test from prqlc
  .pre-commit-config.yaml
  prql-compiler/prqlc/tests/test.rs
Due: no-dbg

refactor: move website testimonials into data file
  web/website/content/_index.md
  web/website/data/testimonials.yaml
  web/website/themes/prql-theme/layouts/partials/section-comments.html
Due: none

refactor: move website examples into data files
  web/book/tests/documentation/website.rs
  web/website/content/_index.md
  web/website/data/examples/basic.yaml
  web/website/data/examples/dialects.yaml
  web/website/data/examples/expressions.yaml
  web/website/data/examples/f-strings.yaml
  web/website/data/examples/friendly-syntax.yaml
  web/website/data/examples/functions.yaml
  web/website/data/examples/hero.yaml
  web/website/data/examples/joins.yaml
  web/website/data/examples/null-handling.yaml
  web/website/data/examples/orthogonal.yaml
  web/website/data/examples/s-strings.yaml
  web/website/data/examples/top-n.yaml
  web/website/data/examples/windows.yaml
  web/website/themes/prql-theme/layouts/_default/home.html
Due: no-dbg

fix: prqlc compile_help test (#2971)
  .pre-commit-config.yaml
  prql-compiler/prqlc/tests/test.rs
Due: no-dbg

refactor: move website testimonials into data file (#2973)
  web/website/content/_index.md
  web/website/data/testimonials.yaml
  web/website/themes/prql-theme/layouts/partials/section-comments.html
Due: none

Update s-strings.md to reflect single quotes around strings
  web/book/src/language-features/s-strings.md
Due: none

fix(website): download profile images
  web/website/themes/prql-theme/layouts/partials/section-comments.html
Due: none

Updates to Variables page, with attempt to introduce 'let" to make it more findable
  web/book/src/SUMMARY.md
  web/book/src/queries/variables.md
Due: none

feat: feature-gate serde_yaml dependency
  prql-compiler/Cargo.toml
  prql-compiler/prqlc/Cargo.toml
  prql-compiler/src/ast/rq/expr.rs
  prql-compiler/src/lib.rs
  prql-compiler/src/semantic/context.rs
Due: no-dbg

build: feature-gate serde_yaml dependency (#2976)
  prql-compiler/Cargo.toml
  prql-compiler/prqlc/Cargo.toml
  prql-compiler/src/ast/rq/expr.rs
  prql-compiler/src/lib.rs
  prql-compiler/src/semantic/context.rs
Due: no-dbg

fix(website): download profile images (#2975)
  web/website/themes/prql-theme/layouts/partials/section-comments.html
Due: none

refactor: impl Display for Reason
  prql-compiler/src/error.rs
Due: no-dbg

Update web/book/src/language-features/s-strings.md
  web/book/src/language-features/s-strings.md
Due: none

docs: Update s-strings.md to reflect single quotes around strings (#2974)
  web/book/src/language-features/s-strings.md
Due: none

refactor: impl Display for Reason (#2977)
  prql-compiler/src/error.rs
Due: no-dbg

chore: prevent minified files from cluttering `git grep` results
  .gitattributes
Due: none

refactor: change range in rq::Take to Range<i64>
  prql-compiler/src/ast/rq/transform.rs
  prql-compiler/src/semantic/lowering.rs
  prql-compiler/src/semantic/transforms.rs
  prql-compiler/src/sql/gen_expr.rs
  prql-compiler/src/sql/gen_query.rs
  prql-compiler/src/sql/srq/anchor.rs
  prql-compiler/src/sql/srq/preprocess.rs
Due: no-dbg

fix(book): fix illogical sentence
  web/book/src/language-features/s-strings.md
Due: none

fix(book): fix illogical sentence (#2982)
  web/book/src/language-features/s-strings.md
Due: none

tweak: prevent minified files from cluttering `git grep` results (#2978)
  .gitattributes
Due: none

fix: panic on empty string intepolations
  prql-compiler/src/parser/expr.rs
  prql-compiler/src/parser/interpolation.rs
  prql-compiler/src/tests/test_bad_error_messages.rs
Due: no-dbg

fix: panic on empty string intepolations (#2987)
  prql-compiler/src/parser/expr.rs
  prql-compiler/src/parser/interpolation.rs
  prql-compiler/src/tests/test_bad_error_messages.rs
Due: no-dbg

Update the Variables, Pipelines, and Functions pages
  web/book/src/queries/functions.md
  web/book/src/queries/pipelines.md
  web/book/src/queries/variables.md
Due: none

Add Array to the list of things that let works with
  web/book/src/queries/variables.md
Due: none

Update Language Features "index" pages to include all language features
  web/book/src/language-features/README.md
  web/book/src/queries/variables.md
Due: none

Path conditions:
  no-dbg: any of: \.rs$
  prql-codeblock: any of: CHANGELOG\.md$
